[2019-01-14 21:22] iv47 opened #245 "Android Support Annotation library not included in projects build.gradle"
This is an issue because now every developer has to manually update this library's build.gradle file to include the "support-annotations" dependency.

This seems to be the only way to fix this issue.

Changing my import back to
**import {WebView} from 'react-native';** pending when this issue is resolved.

[2019-01-14 23:36] Titozzz commented on #184
Can you provide a simple reproduction ? We do not want to force the users to have an extra step, however initializing a new react-native project works without any workaround so I'd like to understand where the issue is coming from

[2019-01-14 23:37] Titozzz commented on #245
Please provide a reproduction

[2019-01-15 04:30] caphun commented on #169
I had this issue when I first started on RN aswell. I finally got round to making an example to show my approach as it involves a bit of setup in order to properly support local SPA sites, such as CRA or AngularJS, here it is: https://github.com/caphun/react-native-webview-example

[2019-01-15 09:55] chenkaiC4 commented on #231
@Javascript-Ninja
does this code work at your project?

i have copy the diff code of yours, all the permission is allowed, but the camera video is not show.

i have set the permisson `AndroidManifest.xml` too.

the camera device property, such as label is empty.

[2019-01-15 13:57] renan5by5 opened #246 "Back to open session last visited"
Hello,

I call a url with chat in the webview, I send a body with the POST method to pass the registration data, but when I come back and enter the chat again I need to return the conversation that I was open last time.

Can anyone ever do this?

[2019-01-15 14:44] syrakozz opened #247 "is this lib butter than the normal react native webview"
i have a problem with the normal react native webview , if i open a https site , i see a blank screen but it`s load the iframe site that the site have on android 5 - lolipop , is that something that this library can solve

[2019-01-16 01:40] chenkaiC4 commented on #231
@Javascript-Ninja hi, i have got the video, 🥂 .

[2019-01-16 07:36] Javascript-Ninja commented on #231
@Titozzz @jamonholmgren Can you merge the PR?

[2019-01-16 08:08] chenkaiC4 commented on #231
@Titozzz @jamonholmgren this PR seems work well, hope to merge to master

[2019-01-16 14:53] zeekay18 commented on #184
I'm facing a similar issue and had to modify node_modules to fix it

[2019-01-16 16:08] timraybould commented on #139
Any ideas on how to access the "targetFrame" that is referred to in that stack overflow link? Doesn't seem to be a property on the event object that onNavigationStateChange spits out.

[2019-01-16 19:49] jamonholmgren commented on #247
@syrakozz Give it a shot! It's pretty easy. Just swap it out like this:

Instead of:

[code]

Do this:

[code]

And install it:

[code]

[2019-01-16 19:50] jamonholmgren opened #248 "Document NSAllowsArbitraryLoadsInWebContent"
There's a permission key in iOS called `NSAllowsArbitraryLoadsInWebContent` which generally speaking should be added to your iOS project if you're using RN WebView. Let's document that.

[2019-01-16 20:08] jamonholmgren commented on #248
Via @ryanlntn:

[code]

According to Apple’s docs this won’t trigger any issues with the App Store.

[2019-01-16 20:26] Andreyco commented on #246
I would pass state thru URL params, e.g `http://mychat.app.com/activeConversation={id}` and adjust web app to understand such state.

[2019-01-16 23:03] renan5by5 commented on #246
@Andreyco
the web app is not under my control, it's a production site that can not be changed for that need = \
I outlined this, leaving the screen always first in navigations

[2019-01-16 23:03] #246 closed

[2019-01-16 23:06] renan5by5 opened #249 "Click of the execute function object in the class"
Does anyone know if it is possible to inject a javascript that when the object I have captured is clicked, call a function that is in my class?

I have just managed to execute functions already in javascript as an example "alert ('test').

Thanks

[2019-01-17 05:53] #187 closed

[2019-01-17 09:48] dev-0x1 commented on #29
Let say my injectedscript function
`const injectedScript = function () {
	function waitForBridge() {
		if (window.postMessage.length !== 1) {
			setTimeout(waitForBridge, 200);
		} else {
			let height = Math.max(
				document.body.scrollHeight,
				document.documentElement.scrollHeight,
				document.body.offsetHeight,
				document.documentElement.offsetHeight,
				document.body.clientHeight,

[2019-01-17 15:41] sheva007 opened #251 "The Android Gradle plugin supports only Kotlin Gradle plugin version 1.3.0 and higher"
I am getting this error when building with gradle:

`* What went wrong:
The Android Gradle plugin supports only Kotlin Gradle plugin version 1.3.0 and higher.`

I had to solve it temporarily in my android build.gradle by adding this to the end to over write the original webview gradle file:
`subprojects {project ->
    if (project.name.contains('react-native-webview')) {
        buildscript {

[2019-01-17 16:42] #249 closed

[2019-01-18 12:18] nikilmethew commented on #8
Can confirm that this is still not working.
In some device WebView stopLoading() is working and in some of the device WebView stopLoading() is not working, Url keeps loading.

[2019-01-18 12:31] Overtorment commented on #229
I think I solved it by injecting while document is only partially loaded. Havent tested much yet, thats what Im gona do next hour. This is the essence:

[code]

thoughts..?

[2019-01-18 13:02] membla commented on #137
Was a longstanding iOS bug but fixed for iOS8+, should definitively be implemented here too:

https://stackoverflow.com/a/45536907/432990

[2019-01-18 13:33] paulxuca commented on #229
@overtorment see my fork above for a solution on the native side and let me know if it works for you! I’ve been keeping it up to date with the source repo so should be good to go!

[2019-01-18 14:12] steveccable commented on #8
@maxammann I was able to use the improvement from your linked PR to work around this same problem (after upgrading to a version that has your change, of course).
That said, it still isn't great that `stopLoading` does not, in fact, stop the page from loading.  There may also be use cases for when someone would want `onNavigationStateChange` rather than `shouldStartLoadWithRequest`, but I haven't r

[2019-01-18 15:41] #174 closed

[2019-01-18 15:41] #184 closed

[2019-01-18 15:41] #245 closed

[2019-01-18 15:43] Titozzz commented on #174
:tada: This issue has been resolved in version 3.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v3.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-18 15:43] Titozzz commented on #184
:tada: This issue has been resolved in version 3.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v3.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-18 15:43] Titozzz commented on #245
:tada: This issue has been resolved in version 3.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v3.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-18 15:46] MaheshNandam commented on #184
Great, thank you so much.

Will come back to you soon after using the new version.

On Fri, 18 Jan 2019 at 21:13, Thibault Malbranche <notifications@github.com>
wrote:

[2019-01-18 18:06] DovletAmanov opened #259 "https urls show blank screen in Android"
I'm having issue with calling some https urls in Android. Other urls works fine. Probably it stems from ssl issues. I have tried almost all solutions but unfortunately nothing changed. It shows white screen when WebView is activated. Is there any way to do something like "ignoreSslStuff"? Thanks in advance

- react: 16.6.3
- react-native: 0.57.8
- react-native-webview: 3.1.2

[2019-01-18 20:03] Overtorment commented on #229
@paulxuca will give it a try!

update on my solution: surprisingly works ok on android both emu and device, but on ios still unreliable...

[2019-01-19 03:51] Overtorment opened #261 "In webview, clicking links does nothing (wont navigate)"
Updated from 2.8.0 to latest, had to upgrade gradle along the way.
Getting this weird bug:

![a href bug - peek 2019-01-19 03-33](https://user-images.githubusercontent.com/1913337/51421841-ca09d180-1b9c-11e9-9d30-cca55d4a0772.gif)

Everything worked on 2.8.0
Tried everything I could: bare minimum of props to webview; no wrap component for webview. Nothng helps.

Things that might be relevant:

`Gr

[2019-01-19 14:00] Pingou opened #262 "[Feature Request] Do not automatically download files on Android"
Since 2.15.0 files are automatically downloaded when clicking file links.
It would be great to be able to disable this behavior.

[2019-01-19 14:41] kklkit commented on #137
Definitely could use this feature.

Similar implementation:
https://github.com/CRAlpha/react-native-wkwebview

`<WKWebView source={{ file: RNFS.MainBundlePath + '/data/index.html', allowingReadAccessToURL: RNFS.MainBundlePath }} />`

I think we could start from here if this interface looks good enough.

[2019-01-20 08:48] danprince opened #263 "postMessage causes web view to reload on iOS"
The mechanism used for sending a message from the Web View context to the React Native context on iOS seems to involve triggering a full page reload by setting `window.location`.

https://github.com/react-native-community/react-native-webview/blob/6c911952c553700f372520b314c9e715dae70af0/ios/RNCUIWebView.m#L310-L314

Is there any way to post a message up without losing all the state on the current

[2019-01-20 13:11] Pingou commented on #262
@Titozzz Do nothing, as was the case with the previous versions of Webview.
In my case for example I check the url, and internally download the file if necessary.
I am not saying it would be the optimal behavior for most people, but it would be nice to have a flag to disable to automated download.

[2019-01-20 13:15] zaqqaz opened #264 "<video> from assets-library doesn't work on ios"
👋Hey!

After migration from "legacy" (from react-native package) webview  to this one,
I've found that video's not working anymore.

And looks like it's no way to load local videos from assets-library in current webview.

WV example:
[code]

RN demo component:

[code]

[2019-01-20 13:40] danprince commented on #263
Thanks @Titozzz!

Sorry, I might not have explained clearly enough. The content inside the web view _is_ a single page application, with its own routing layer.

The problem is that whenever that single page app tries to post a message to the native side, the routing gets messed up, because the page reloads at a different url.

What I'm trying to figure out is whether that's intentional, or whether

[2019-01-20 13:44] danprince commented on #263
Here's an example:

* The development version of the embedded web app is running on `localhost:8080`
* Render a webview with `source: { uri: "http://localhost:8080" }`
* Use the web app to navigate to another view (e.g. `http://localhost:8080/profile`)
* Try to `postMessage` to the native app to log a specific interaction
* `postMessage` runs `window.location = "..."` and the page reloads
* The we

[2019-01-20 14:19] DovletAmanov commented on #259
Reason was ssl certificate configurations. Now it works without problem.

[2019-01-20 23:50] Titozzz commented on #262
sure, would it also need to be disabled on iOS ?

[2019-01-20 23:52] Titozzz commented on #263
I'm not aware of such behavior on my Single page app, however please note that there is a rewrite of postMessage ongoing so it might help with your issues ... I understand your example but could you provide a reproduction ?

[2019-01-21 10:18] Titozzz commented on #262
Please submit a Pull request then 😄

[2019-01-21 10:21] abendi commented on #221
Could it be that `if(postMessage.length === 1) { ... }` breaks on newer Chrome versions and that your real device and emulator have different Chrome versions?
see: https://github.com/facebook/react-native/issues/11594#issuecomment-436338661

[2019-01-21 11:59] udarts commented on #118
This seems to be the most likely reason why it is failing to show the image, no idea on how to fix this though.

[2019-01-21 13:49] m-ochyra opened #266 "Problem with file download on Android 9"
Hi,

I have problem with downloading files on physical Android 9 devices (eg. Motorola Moto One, on emulator everything works fine, and older Android devices also).

When I click on link to download file from web page, toast says that downloading is started, but after complete, this file is not visible in downloaded files on phone.

File downloading works well on pure Android implementation with W

[2019-01-21 15:48] Titozzz commented on #251
#267 Will solve that.

[2019-01-22 06:12] pablichjenkov commented on #4
It appears to be a bug in Android Webview recent implementations. By recent I mean Target sdk 24 and up.
Has anyone reported an issue in the Android bug tracking portal yet?
I am willing to.

[2019-01-22 09:18] Titozzz commented on #263
Are you using WKWebview or UIWebview?

[2019-01-22 09:57] danprince commented on #263
Using whichever one is exported as `WebView` (pretty sure it's `WKWebView`) with the latest versions of `react-native-webview` and whatever expo currently considers to be `react-native`.

[2019-01-22 09:59] Titozzz commented on #263
Are you using expo ?

[2019-01-22 12:11] danprince commented on #263
Yeah, but even after ejecting from Expo to use this library, it doesn't look like the `postMessage`/`processQueue` implementation changes at all.

[2019-01-22 15:11] sheva007 commented on #251
thanks, I saw a new version up, but they did not include #267  yet, waiting for it.

[2019-01-22 16:43] Titozzz commented on #263
Implementation changes with WKWebview so it might help. you can try directly on expo with useWebkit={true} (it's the default on this repository but not on react-native)

[2019-01-22 18:12] #263 closed

[2019-01-22 23:13] sluramod commented on #23
@Titozzz it's very unfortunate that you closed this issue in favor of a discussion (which is still ongoing). At the moment WebView is unusable if I want to have `onMessage()` defined and embed webview behind Okta login since Okta's implementation uses `postMessage()` on the page.

[2019-01-23 00:56] Titozzz commented on #23
Have you seen #243?

[2019-01-23 07:40] shukerullah commented on #190
`window.open` is working when `useWebKit` is set to false.

Here is example:
[code]

[2019-01-23 21:55] tapir commented on #221
tried with `postMessage.toString().includes('__REACT_WEB_VIEW_BRIDGE')` still doesn't work

[2019-01-24 01:02] abendi commented on #221
You can also try. This always waits for 2 seconds after the page has loaded.
[code]

[2019-01-24 07:51] fantasy525 opened #269 "IOS12.1: Error evaluating injectedJavaScript: This is possibly due to an unsupported return type. on simulator phone6"
on simulator iPhone6,I inject javascript string,but I got error:
[code]

[2019-01-24 07:57] benjosantony commented on #139
I tried adding the ios code in https://stackoverflow.com/a/25853806/204044 to the RNCWKWebView.m  in my node_modules just to explore the behaviour and it seems to have fixed the issue (Achieving the same behaviour as UIWebView).

[2019-01-24 09:18] AlexejKutsko opened #271 "Webview is adding an overlay over div contenteditable in android only"
**Description**

I am embedding div contenteditable in webview. I have problem in android. When div is focus, happens adding an overlay over div

**Environment**

"react": "16.6.1",
"react-native": "0.57.5",
"react-native-webview": "^3.2.1"

Platform: [Android]
Version: [7.1.0]
Operating System: [MacOS]

![genymotion for personal use - samsung galaxy s7 - 7 1 0 - api 25 - 1440x2560 1440x2560 640dp

[2019-01-24 11:38] tapir commented on #221
How does that help? Initial example waits as much as necessary. It's recursive.

[2019-01-24 12:15] guhungry commented on #251
@Titozzz this issue can be closed.

[2019-01-24 12:23] abendi commented on #221
They are not the same, because some Chrome versions might report `postMessage.length === 1` falsely. On those versions the callback in recursive example gets called immediately when in reality the postMessage bridge is not actually ready.
Last example waits a constant time and does not rely on versioning. Try it out to exclude that case.

[2019-01-24 12:48] tapir commented on #221
Didn't work unfortunately

[2019-01-24 13:40] linnett opened #272 "onMessage not triggering"
`onMessage` isn't triggering when I send a `window.postMessage` from the webview.

Code:
[code]

I am attempting to use this method of setting a `loaded` state due to a well spoken about issue with postMessage where the error `Setting onMessage on a WebView overrides existing values of window.postMessage, but a previous value was defined.` appears (as per https://github.com/facebook/react-native/i

[2019-01-24 17:55] smathson commented on #262
@Pingou What method are you using to check the URL? If you use `onShouldStartLoadWithRequest` to intercept the URL, handle the download yourself and return false, the download request will never hit the WebView and you won't have to worry about the default behavior.

[2019-01-24 18:15] Pingou commented on #262
@Titozzz Will do if I find some time, that should be a quick fix.

@smathson Good idea, but actually in my situation it's a bit more complicated than checking the url, I need to get the file type, so I actually start to download each url myself to check, and stop when I get the header. I have no way of knowing immediately if the webview should load the url or not, unless I can deduce the file type

[2019-01-25 00:18] jerolimov commented on #223
@Shivendra30 @hasgarAOT Can you test if #270 works for you?

[2019-01-25 04:58] panda0603 opened #276 "is it possible to search keyword within webview?"
Hello,
I have not a issue, but a question.
Is it possible to search for a user-defined keyword within the contents of the webview like the search functions in browser?

[2019-01-25 07:38] Cordazar commented on #223
@jerolimov 	#270 	fixes my issue with facebook login that opens a modal.

[2019-01-25 11:06] masako-yamada commented on #161
`react-native link react-native-webview` didn't work for Android in my case. (react-native-webview version is 3.2.1)

I needed to add `RNCWebViewPackage` to MainApplication by hand:

    protected List<ReactPackage> getPackages() {
        return Arrays.asList(
                ...,
                new RNCWebViewPackage(),
                ...
        );
    }

I don't use Expo and my React Native v

[2019-01-25 16:24] Titozzz commented on #276
You would need to add the functionality into the repo, as it is not doable right now. But pull requests are open :D

[2019-01-25 18:00] d-aleks commented on #169
Something weird happens to me too.
I'm loading a local website using the approach of @caphun ( Thanks a lot btw ! ). Everything loads fine, however when i try to load an additional asset ( again locally , but dynamically with XMLHttpRequest ), it gives me an error that only http is cross-domain:
`XMLHttpRequest cannot load file:///Users/drememy/Library/Developer/CoreSimulator/Devices/E07F646A-9E76

[2019-01-25 18:44] Tainan404 commented on #172
Hi all, I got this problem on my emulator, but worked well on a real mobile device, I think is something related to GPU acceleration.

[2019-01-25 22:36] alidcastano opened #278 "ability to focus webview"
I'm trying to embed an editor inside a webview, but clicking on the webview itself does not seem to focus it (so that the keyboard can open and user can edit). Is it possible to focus the webview?

*note: editing inside webview works on the simulator (where I can type via desktop keyboard).*

[2019-01-26 10:38] zmnv commented on #124
Is it a some critical thing or I can skip it for your updates?

[2019-01-26 16:40] hwth commented on #110
Same problem. Does anyone have the solution?

[2019-01-27 11:01] chaudhryjunaid commented on #215
@jamonholmgren any indication when the PR will get merged?

[2019-01-28 10:11] Titozzz opened #279 "Compatibility with 0.58"
Two fixes are needed:

- [ ] Update package.json

- [ ] Fix runtime warning about deprecation of UIManager config

[2019-01-28 10:15] udarts opened #280 "Open or download files in webview not possible"
Hey guys, I am trying to open files (for ex: pdf) in a webview on Android and iOS and possible download or open them in another app (like we can with chrome or safari). But this seems not possible.
Do we know if there is a way to do this?

Cheers,

[2019-01-28 11:21] Titozzz commented on #280
#203 As been added to Android so it should work. Are you up to date?

[2019-01-28 13:57] Sykomaniac opened #282 "react-native run-android fails to compile with dependency unresolved error"
I'm relatively certain that this isn't a react-native-webview issue per se. After adding it to my project the app no longer builds with the errors below (there are more errors this is just a snippet). Has anyone any idea?

[code]

[2019-01-28 13:59] Titozzz commented on #282
This is surprising.

What happens if you init a new project, and add webview to it, does it work?

[code]

thanks.

[2019-01-28 14:18] Sykomaniac commented on #282
That worked fine @Titozzz must be some of the changes required to build within my org (I just tried your suggestion on my personal laptop - should have done that first!)

I'll look through the changes and report back when I find out the cause!

[2019-01-28 14:37] Sykomaniac commented on #282
For anyone else - the issue is that my company hadn't added a new version of the android build-tools (last version was 2.3.0) to their internal repo (we have to use that as a clone of central etc). I've asked for the latest version to be added to resolve the issue 👍

[2019-01-28 14:37] #282 closed

[2019-01-28 17:46] cordosvictor opened #283 "Couldn't load big static html on Android"
I'm dealing with big static htmls and it doesn't load the content. The only thing it shows is a loading spinner (startInLoadingState being true)

[2019-01-28 22:32] aschenkel commented on #184
I'm having this issue on
[code]

didn't work by adding `implementation 'com.android.support:support-annotations:28.0.0'` on  `react-native-webview/build.gradle` either

had also tried overriting dependencies on `.gradle`
[code]

with

[code]

since my project has a diff `support_version`, and already tried changing my projects `support_version`, but nothing have worked

[2019-01-28 22:40] vladim0105 opened #284 "Any way to disable opening pages in external browser, e.g. popup ads?"
I know that it was possible to do so in electron by setting the "open new window/page" command to do nothing, is there a similar way in webview? Reason why I want this is that some embeds open a popup (or pop under) ad whenever the user clicks on it, which is really annoying.

[2019-01-29 02:12] Titozzz commented on #184
Please share your build.gradle and app/build.gradle

[2019-01-29 03:13] aschenkel commented on #184
sure, thanks for the @quick response.

**build.gradle**

[code]

**app/build.gradle**

[code]

[2019-01-29 05:06] smathson commented on #242
I believe this is a known issue with `react-native-loading-spinner-overlay`. See: https://github.com/joinspontaneous/react-native-loading-spinner-overlay/issues/30 for some potential fixes, although I wasn't able to get any of them to work. Ended up implementing my own download indicator that didn't rely on the spinner overlay.

[2019-01-29 07:48] jkustan commented on #172
I'm seeing this problem as well. Created brand new react-native project (doesn't matter 0.57 or 0.58), only code is in App.js:
[code]
and
[code]
Run in an emulator (brand new), shows youtube full screen (as expected). Click a video => audio starts but video is black.

Note when I create a new Android Studio project (also with just a single webview pointing to youtube), the video shows fine. So thi

[2019-01-29 09:05] #266 closed

[2019-01-29 09:06] Titozzz commented on #184
Can you send the error and the context around it ? When does it happen, etc .. 😄

[2019-01-29 09:07] Titozzz commented on #266
:tada: This issue has been resolved in version 3.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v3.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-29 09:58] Titozzz commented on #284
You can use : https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#onshouldstartloadwithrequest

[2019-01-29 10:05] ankur-sardar opened #286 "Implement Ad Block in webview"
Can you please suggest me any way to implement Ad Block feature for the webview

[2019-01-29 11:07] vladim0105 commented on #284
It is only for ios, and I have tried the android `onNavigationStateChange()` but it seems to only allow me to block redirects, but does not let me block opening the external browser and then loading a page there.

[2019-01-29 11:09] Titozzz commented on #284
It has been ported to android : #107 , Docs have not been updated, that's a mistake.

[2019-01-29 11:31] MaxMaes opened #287 "Script tag not being loaded?"
I'm trying to show some HTML from Embedly in the webview, but it only renders the anchor tag as plain HTML. The script tag contains a script which parses and displays everything as it should, but it seems like it isn't being loaded/executed.

Should it be possible for this component to render the Embedly HTML?

Example:
[code]

[2019-01-29 11:58] udarts commented on #280
@Titozzz, I updated to the last version and added

[code]

to the Info.plist, so far so good. But when I click on an link, for ex, a pdf link it does nothing. When I click and hold, it shows me a popup menu, when I try to open it, again nothing happens.

Any idea if something else needs to be added.

[2019-01-29 12:02] aschenkel commented on #184
Error is the one described in the issue
`Android Studio cannot find symbol class RNCWebViewPackage`

on
`import com.reactnativecommunity.webview.RNCWebViewPackage;` (`MainApplication.java`)

[2019-01-29 12:44] swarnsingh commented on #283
I am facing the same kind of issue while loading large content in Android.
In my case, I have two web views & based on the condition I need to switch between the web view. It's working fine for the first time but when switching to another web view, it's giving the below error. Working fine in ios.
Getting -
code: -15
description : "net::ERR_INSUFFICIENT_RESOURCES".

[2019-01-29 16:19] charliewynn commented on #184
Should your build.gradle have `project(':react-native-webview')` in its dependencies?

[2019-01-29 16:28] AE0011 commented on #184
@aschenkel
add `compile project(':react-native-webview')` to your app/build.gradle
and also add
[code]
to your settings.gradle

[2019-01-29 16:33] AE0011 commented on #184
Totally i think they should add a manual installation in doc's because sometime link command doesn't work properly

[2019-01-29 16:43] aschenkel commented on #184
@AE0011 @charliewynn thanks!

`compile project(':react-native-webview')` was missing in my `app/build.gradle`

For some reason `react-native-link` was not doing it, but it was writing correctly on `settings.gradle`

A manual installation in doc's would be useful

[2019-01-29 17:22] charliewynn commented on #184
Not to mention the doc seems a bit snarky about how you must have forgotten to run `link` when the same errors happen when link fails 👎

[2019-01-29 19:00] smathson commented on #280
@udarts Can you be more specific about the behavior you are expecting to see on each platform? To be clear, this project isn't intended to be a browser but rather a way to embed web content inside a native app which leaves a lot of flexibility up to the developer by design.

Both platforms will happily display any file content that it knows how to when linked (i.e. https://www.irs.gov/pub/irs-pdf/

[2019-01-29 19:09] jamonholmgren commented on #280
As a side note, it would be interesting to have someone create a browser that uses RN WebView and published it as a package. It looks like @mfkp created one called `react-native-browser` a while back but hasn't touched it since. https://github.com/PrestoDoctor/react-native-browser

[2019-01-29 20:54] vladim0105 commented on #284
Thanks, it works! I hope `onNavigationStateChange()` will be ported to windows, once the windows compatibility is ready :)

[2019-01-29 22:23] blackinitial commented on #242
@smathson oh, i see it. They solve the problem with a tricky setTimeout.

Ok, i will to try reproduce it.

Thanks, dude...

[2019-01-30 04:14] ralesiupgrade commented on #272
you may want to see https://github.com/react-native-community/react-native-webview/pull/243

Im having similar problem with no solution as well. Looks like its only a dev mode problem though so you may want to check your app in release mode and see if it works

[2019-01-30 04:52] flyinghawker opened #288 "injectedJavaScript only work for last webview, unable to support multiple webview instance"
I am try to add webview instance in message ( IM chat page), if there are multiple webview messages, injectedJavaScript only works for the last one.

My question is that how to support multiple webview instance and
**for each one, injectedJavaScript can work independently**.

As I observe,  the communication bridge between RN and webview seems only one and overwrite others defined earlier.

[2019-01-30 13:15] Titozzz commented on #242
Closing for now. Please update this issue if needed

[2019-01-30 13:15] #242 closed

[2019-01-30 13:56] jkustan opened #290 "All videos show as black screen, audio only, on Android"
Created brand new react-native project (doesn't matter 0.57 or 0.58), only code is in App.js:
[code]
and
[code]
Run in an emulator (brand new), shows youtube full screen (as expected). Click a video => audio starts but video is black.

Note when I create a new Android Studio project (also with just a single webview pointing to youtube), the video shows fine. So this is something with the react-nat

[2019-01-30 14:35] DaniAkash opened #291 "onNavigationStateChange doesn't get executed when the webpage is using pushstate routing"
I have been using `onNavigationStateChange` method to handle back action for the webpages rendered inside the webview. It works fine for normal pages.

However, for websites using `history.pushState()` or React Router's [`BrowserRouter`](https://reacttraining.com/react-router/web/api/BrowserRouter) the `onNavigationStateChange` doesn't get called, as a result I'm unable to handle back action (goin

[2019-01-30 18:57] oguzhandemiroz opened #292 "This happens when calling android.applicationVariants, android.libraryVariants or android.testVariants"
Error:

This happens when calling android.applicationVariants,
android.libraryVariants or android.testVariants.
Once these methods are called, it is not possible to
continue configuring the model.

------------------------------------------------------

**There is no problem with iOS.** On Android is constantly failed Gradle Sync. The latest version is installed but still not. I updated React-Nati

[2019-01-30 21:01] Momazo7u7 commented on #286
You can use onShouldStartLoadWithRequest wich is supported on ios and android(Finally :"U) , you can have a "blacklist" or whitelist of domains and compare it to the redirection url and abort// continue using regex.  As an alternative you could inject some javascript that shoul override the function of window.open and alert(), and href.location, to the webview, the downside is that some websites d

[2019-01-30 21:03] Momazo7u7 commented on #290
might be device-related  , i have a phone with lineage os , the videos also returns audio but no video , unless i put the phone in landscape mode and use fullscreen. Try using other device

[2019-01-30 22:30] Titozzz commented on #284
So about that, I'll edit the readme, windows is on standby right now so if you want to submit a pull request to add support I'd love to help merging it

[2019-01-30 22:30] #284 closed

[2019-01-30 22:32] Titozzz commented on #288
Interesting. We are rewriting the current implementation, so once it is merged we can iterate and fix this #104

[2019-01-30 22:34] Titozzz commented on #291
Yes we are aware, I'm using postmessage to communicate my current state to react native from the Webview .
Closing as duplicate of #24

[2019-01-30 22:34] #291 closed

[2019-01-30 23:22] #286 closed

[2019-01-31 02:02] smathson commented on #280
@MalcolmScruggs That’s a good point. In our case we are able to use an auth token that we already have saved on the native side. Credential management is just another thing you need to deal with all over the place if you are going with a hybrid native/web approach in your app.

[2019-01-31 02:10] smathson commented on #290
@jkustan Thanks for creating a new issue about this and including a detailed report. So far I’ve been unable to reproduce this on anything but an emulator and just chalked it up to emulator issues since those things are pretty flaky to begin with. Could you include some more detail about the physical devices you are seeing this on? Anything that looks related in the logs on that device when the vi

[2019-01-31 02:10] Titozzz commented on #291
Using react-router, whenever the current url changes, I do window.postMessage(data, '*') with the new URL inside my data. Complete implementation is ofc a bit different but I think you can get it working with that 💪

[2019-01-31 02:14] smathson commented on #172
@jkustan Thanks for the detailed report. So far I’ve been unable to reproduce this on anything but an emulator and just chalked it up to emulator issues since those things are pretty flaky to begin with. Could you include some more detail about the physical devices you are seeing this on? Anything that looks related in the logs on that device when the video starts playing?

[2019-01-31 02:16] #290 closed

[2019-01-31 02:16] Titozzz commented on #290
@smathson Thanks, you are right

[2019-01-31 02:20] smathson opened #294 "Android needs full screen video support"
Currently videos playing inline on Android cannot be opened fullscreen. This issue was brought up in #172 which is an unrelated bug, although it might be a good alternative to a fix for that issue if we can’t figure out the underlying cause.

This needs to be implemented in a similar way to these projects:
https://github.com/teamairship/react-native-android-fullscreen-webview-video
https://github.

[2019-01-31 02:21] smathson commented on #172
Created a separate issue for adding fullscreen video support  in #294 so we can keep discussion in here about the inline video bug.

[2019-01-31 02:22] Titozzz commented on #294
#265 Might be related?

[2019-01-31 06:17] mahavirvataliya commented on #62
@sebk Thanks its working

[2019-01-31 07:17] jkustan commented on #172
Thanks @smathson for looking into this.

I'm able to reproduce this on a Nexus 5X, but only in our actual application. The test app I uploaded shows the same behavior in the emulator but works on my device. Very strange. The video plays, I can drag the ball back & forth to rewind/fast-forward, I get audio, but no video (black screen). This is NOT full screen (although when I added the fullscreen n

[2019-01-31 10:07] carlmagumpara commented on #269
same problem here

[2019-01-31 10:09] oguzhandemiroz commented on #292
@Titozzz

[2019-01-31 10:12] Titozzz commented on #292
Try invalidating cache

[2019-01-31 10:17] flyinghawker commented on #288
Sound cool, will try with it once updated. Thanks.

[2019-01-31 11:32] chaudhryjunaid opened #295 "Downloading a URI starting with blob:http://... on android crashes the app"
I have a webview on Android that attempts to download an embedded pdf file via a blob URL. However, the app crashes on such attempt.

[2019-01-31 15:35] Titozzz commented on #140
https://github.com/react-native-community/react-native-webview/blob/master/docs/Getting-Started.md#2-link-native-dependencies has been updated

[2019-01-31 15:36] Titozzz commented on #161
I've updated https://github.com/react-native-community/react-native-webview/blob/master/docs/Getting-Started.md#2-link-native-dependencies

[2019-01-31 15:38] Titozzz commented on #39
I've updated https://github.com/react-native-community/react-native-webview/blob/master/docs/Getting-Started.md#2-link-native-dependencies

[2019-01-31 15:38] #39 closed

[2019-01-31 16:01] jamonholmgren commented on #295
Hi @chaudhryjunaid , can you provide a minimal reproduceable repo so we can see this happening?

[2019-01-31 16:05] jamonholmgren commented on #269
Try appending `true` to the end of your string.

[code]

We should probably automatically append `true` to the end of injected JavaScript for people.

[2019-01-31 16:06] jamonholmgren commented on #269
Related to #200.

[2019-01-31 17:10] Momazo7u7 opened #297 "yellow warning in android"
steps to reproduce
in the webview load www.google.com
 <WebView
        source={{ uri: 'https://www.google.com' }}/>

click on the google logo

It displays:

[code]

[code]

after looking at the report, it seems that it's pointing at node_modules/react-native-webview/js/WebView.android.js line 314 "UIManager.RNCWebView.Commands.loadUrl" , it needs a change at all "UIManager.RNCWebView" calls

[2019-01-31 18:13] timraybould opened #298 "Chrome 72 for Android breaks webview when source is HTML"
Not sure if there's anything that can be done by react-native-webview team, but, yesterday's update to Chrome for Android causes webview to render a blank screen when the source is html.

[2019-02-01 01:16] Titozzz commented on #297
Closing as duplicate of #279

[2019-02-01 01:16] #297 closed

[2019-02-01 01:20] Titozzz commented on #139
:tada: This issue has been resolved in version 4.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v4.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-01 02:19] shrekuu opened #299 "Could not resolve org.jetbrains.kotlin:kotlin-gradle-plugin:1.3.11."
I initialized a react-native app with `react-native init xxx` and installed the latest(v4.1.0).  Android Studio could not complete sync. it says:

![image](https://user-images.githubusercontent.com/3136026/52098439-f34d4780-2609-11e9-87a2-58c47aa74607.png)

When I run `react-antive run-android` from console, it says something similar.

![image](https://user-images.githubusercontent.com/3136026/520

[2019-02-01 03:54] zivester commented on #298
Also experienced this issue when Chrome updated today and effectively made all internal images in our application disappear.  We're utilizing https://github.com/seekshiva/react-native-remote-svg which is effectively useless with this bug.  We're using react-native `v0.55.0`.

[2019-02-01 04:07] stoneWeb opened #300 "onMessage does not trigger"
html can receive the message, but app.js can't receive the message, why?

"react-native": "0.57.8"
"react-native-webview": "^4.1.0"

code:
[code]

[2019-02-01 06:44] #300 closed

[2019-02-01 08:05] #299 closed

[2019-02-01 13:58] sahil290791 commented on #298
There is one more change with the chrome webview update that HEX color codes don't work any more, it makes the whole HTML file render as blank page. If we use RGB format, it works fine.

[2019-02-01 14:07] llostris opened #301 "Android: WebView in loading state takes all the screen (can't set height or position)"
We're trying to render a WebView on the screen, leaving a little space at the top for app action bar. However the loading screen from the WebView takes the whole screen, covering the top bar. The same thing happens if we use a custom loading screen (using `renderLoading` prop) or the default one.

I was looking at react-native-community/react-native-webview#216 thinking as it might be related, how

[2019-02-01 14:12] Titozzz commented on #298
Is there anything we can do? 😄

[2019-02-01 14:13] Titozzz commented on #301
There is a bug since RN 0.57 that makes webview loading overlay everything, just wrap you webview inside a view with overflow: 'hidden'

[2019-02-01 14:13] #301 closed

[2019-02-01 14:15] sahil290791 commented on #298
May be this thread could be put somewhere else as information block, but all those who use webview in react native will search for this in this repository.

[2019-02-01 14:44] Titozzz commented on #298
I'd like to get a better idea of what's happening before warning in the docs

[2019-02-01 15:21] zivester commented on #298
@sahil290791 's fix of switching from hex colors to `rgb(x,x,x)` syntax for our remote assets is a quick solution for our apps.

[2019-02-01 17:21] #29 closed

[2019-02-01 17:21] #66 closed

[2019-02-01 17:21] #105 closed

[2019-02-01 17:21] #221 closed

[2019-02-01 17:21] #272 closed

[2019-02-01 17:22] linnett commented on #272
Nice one :)

[2019-02-01 17:23] Titozzz commented on #29
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-01 17:23] Titozzz commented on #272
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-01 17:23] Titozzz commented on #221
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-01 17:23] Titozzz commented on #105
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-01 17:23] Titozzz commented on #66
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-01 17:24] fungilation commented on #66
Wow, thanks @Titozzz for making this happen! 🎉

[2019-02-01 17:39] Titozzz commented on #29
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-01 17:39] Titozzz commented on #272
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-01 17:39] Titozzz commented on #221
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-01 17:39] Titozzz commented on #105
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-01 17:39] Titozzz commented on #66
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-01 19:25] abendi opened #304 "[5.0.0] PostMessage - discrepancy between release notes and source files"
I was super excited to try out this new postMessage implementation, to see if I could finally reach messages sent from the html side. Unfortunately I could not.
Then I checked the committed files and noticed that in the release notes it says:
`Instead of using window.postMessage(data, *), please now use window.ReactNativeWebView.postMessage(data).`

But in source files it says `JAVASCRIPT_INTERFAC

[2019-02-01 19:45] Titozzz commented on #304
Thanks I'll check

[2019-02-01 20:53] abendi commented on #304
I'm glad I could contribute, my first open-source contribution after all. :stuck_out_tongue:

Too bad the new postMessage implementation didn't fix the problem for me. For some reason I never receive the messages using the new API, but still receive messages using the old way e.g. `setTimeout(function () { window.postMessage(data, "*") }, 1000)`.

[2019-02-01 20:55] Titozzz commented on #304
Are you sure you re-built native ?

[2019-02-01 20:55] tapir commented on #221
Is there a way to send message from RN to WebView though? I don't see it in the documentations

[2019-02-01 20:58] Titozzz commented on #304
@koofka I'm going to release a new version to fix the lower case issue, let's keep WebView everywhere.

[2019-02-01 21:04] #304 closed

[2019-02-01 21:05] abendi commented on #304
Haha, now that I think about it, no, I only upgraded the node_modules package, but didn't re-install the app on the device. Classic Friday evening.
I'll try your suggestion and get back to you. Thanks. :100:

[2019-02-01 21:06] Titozzz commented on #304
:tada: This issue has been resolved in version 5.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v5.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-01 21:08] Titozzz commented on #304
@abendi Yeah that Friday was really hard on me too haha. Released the fix. Thank you all for fast reporting

[2019-02-01 21:56] tapir commented on #221
Works like a charm!

[2019-02-01 21:56] abendi commented on #304
After rebuilding the app, everything worked as intended! 💐 Finally we can rip out the hacky postMessage workarounds. Thank you for the suggestion and a quick fix.

[2019-02-01 22:59] koofka commented on #221
@tapir Any chance you could share your generateMessage function?  We are currently running into the same issue where it works perfectly in the simulator but not on the phone deploys.

[2019-02-01 23:06] tapir commented on #221
@koofka I'm directly using the `window.ReactNativeWebview.postMessage(strData)` method. Nothing else. No timeouts nothing.
Are you sure you're on version 5.0.0? Also notice the small letter 'v' in 'Webview'. It's been wrongly documented as `window.ReactNativeWebView.postMessage` but later was fixed.

[2019-02-01 23:09] koofka commented on #221
@tapir Yep we added those fixes, Im wondering about the other direction for messaging into the webview.  The only code that has worked for that so far for us has been :
[code]
and then a corresponding window listener in the webview

[2019-02-01 23:14] tapir commented on #221
Ah sorry, I've used it like this in my app
[code]

and like below in the html served by webview
[code]

[2019-02-01 23:15] koofka commented on #221
interesting.  Thanks for the help will give it a shot.

[2019-02-02 11:52] ArturShoba commented on #298
I had also white screen in the webview, but after adding `oveflow:hidden` to parent element and replacing `id` selectors with `class` selectors in `<style>...</style>` everything looks fine.

[2019-02-02 12:45] andrewazevedo commented on #298
Thanks @ArturShoba . This works for me :)

[2019-02-02 19:08] oteboul commented on #298
BTW, it also breaks MathJax for me.

[2019-02-02 19:16] fredbt commented on #298
Apparently this Chrome update broke the onMessage={} callback. Anyone experienced that?

[2019-02-02 23:16] Titozzz commented on #298
@fredbt are you sure you did not just updated to 5.0.1 without reading the changelog..?

[2019-02-03 03:22] ASteinheiser opened #306 "Webview on Android does not recognize window event 'blur' or 'focus'"
I created a react native app that loads a WebView of this game I made, react-rpg.com. I added an event listener for 'blur' and 'focus' but they do not seem to be running their functions. It is supposed to stop playing the sound when the user loses focus with the app.

I have tested the web page on chrome and it works. It also works on the iOS version of this WebView package. Because it works on th

[2019-02-03 12:19] Titozzz commented on #298
Alright, I'm out of office this weekend, so I can only follow from my mobile...

[2019-02-03 16:15] johnnylc opened #307 "v5.0.1 ios webview cannot receive message from RN"
On iOS platform, using document.addEventListener("message",e => {}) cannot catch the data passing to the webview through postMessage. On android, it works fine.

[2019-02-03 16:18] Titozzz commented on #307
This part is not not documented so not ever people ever used it, I would not be surprised if it's not working properly. To send messages from react native to Webview, I personally use injectJavascript.

If you want to submit a fix however, feel free 😊

[2019-02-03 20:06] in4core opened #309 "Components are hidden on real-android-device with WebView"
[code]
There is sample - text not shown after WV was loaded.  Some times - text shown.  Also if we use "html" instead of uri - text never show.
RN 0.58.3 , WV latest

[2019-02-03 20:19] in4core commented on #309
Also : if we rotate the device - text will shown

[2019-02-04 08:43] jaulz commented on #278
I might look for something similar... on iPhone I need to tap the WebView first to gain focus and only the second tap is actually triggering a tap in the WebView. Though on iPad the very first tap is handled by the WebView.

[2019-02-04 10:46] Zaporozhec7 opened #310 ""kotlin_version" does not read from react-native-webview gradle.properties"
Today updating to version **5.0.2** I got next exception:

[code]
There was "null" instead kotlin version. By some reason kotlin version was not read from property `ReactNativeWebView_kotlinVersion` from library **gradle.properties** file.

 Adding line `kotlinVersion=1.3.11` to my project **gradle.properties** have solved issue for me. After successful compilation I tried to remove that line, but

[2019-02-04 10:55] Titozzz commented on #310
Hello, I'd need a reproduction, as add webview to a new project works fine:

[code]

[2019-02-04 10:58] yhanssens commented on #228
Dialogs like alert and confirm do not work on the WKWebview by default. Solution: https://stackoverflow.com/questions/26898941/ios-wkwebview-not-showing-javascript-alert-dialog. Would be nice if this solution is going to be implemented.

[2019-02-04 17:31] Titozzz opened #312 "[TODO] After Removing UIWebView. (ITMS-90809)"
UIWebView is going to be removed as it has been deprecated forever: https://developer.apple.com/documentation/uikit/uiwebview?language=objc

If there are missing features, please comment on this thread and I'll update this comment.
Unless there are real reasons to keep it alive a bit more it will be dropped soon.

EDIT: 29/08/2019 - https://github.com/react-native-community/react-native-webview/is

[2019-02-04 18:26] PratibhaSomashekhara opened #314 "Webview with useWebKit={true} session ends cookies are not passed to the Webview."
Environment
React Native Environment Info:
System:
OS: macOS High Sierra 10.13.6
CPU: (8) x64 Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
Memory: 108.45 MB / 16.00 GB
Shell: 3.2.57 - /bin/bash
Binaries:
Node: 11.4.0 - ~/.nvm/versions/node/v11.4.0/bin/node
Yarn: 1.13.0 - /usr/local/bin/yarn
npm: 6.4.1 - ~/.nvm/versions/node/v11.4.0/bin/npm
SDKs:
iOS SDK:
Platforms: iOS 11.4, macOS 10.13, tvOS 11.4, w

[2019-02-04 18:56] hippotz commented on #312
For users with devices on iOS 9 and 10 we are stuck using UIWebView because we don't have full control of WKWebView cookies until iOS 11.

[2019-02-04 19:06] jerolimov commented on #312
Same here. Our current scenario is to login into an API with `fetch` which sets a cookie. This cookies are also (automatically) available within the UIWebView, not in WKWebView. I played already a little bit with `WKCookieStore`. But this iOS API is only available on iOS 11+.

[2019-02-04 19:22] Zaporozhec7 commented on #310
@Titozzz sorry, just now can not do that because very limited time, since my project very customized (react-native-navigation, etc.) and seems need spend at least few hours to make that reproduction. I will try do that in week or so, if someone will not find cause earlier.

[2019-02-04 21:19] Titozzz commented on #314
Please keep UIWebView remarks to #312

[2019-02-04 21:19] Titozzz commented on #314
Please keep UIWebView remarks to #312

[2019-02-04 21:19] #314 closed

[2019-02-04 21:31] PratibhaSomashekhara commented on #312
Even I have same issue. The authentication works with a fetch call and the server sets a cookie with a http response header. This cookie is then automatically available within the UIWebView, but not in WKWebView.  I want to use WKWebView not UIWebView. I am using iOS 11.4
#314 . If someone could help me on this then it would be great help

[2019-02-04 21:44] PratibhaSomashekhara commented on #312
I am using IOS 11.4 but still cookie is not available in WKWebView.

[2019-02-04 21:46] xuaninbox commented on #298
After many retries, it seems **loadDataWithBaseURL()** still works for 72

[2019-02-04 22:30] jamonholmgren commented on #307
@johnnylc Would you mind providing some code so someone can copy & paste it into an app to see this issue easily?

[2019-02-04 22:49] ASteinheiser commented on #306
@jamonholmgren Sure!

So for the React Native code, it is just the normal WebView, but here is my complete source anyways:
[code]

And the part of my React app that has the 'focus' and 'blur' listeners looks like this:
[code]

[2019-02-04 23:37] PratibhaSomashekhara commented on #312
My concern is not about UIWebView. I am using WKWebView and cookie is not available inside the WKWebView. I could have used UIWebView but e.nativeEvent.data is coming as  "Object object"  as WebView accepts only string.
However  to resolve this issue,  I started using  WKWebView by making useWebKit={true} and then my e.nativeEvent.data  comings as expected. example data={name:xyz}
but problem is t

[2019-02-05 00:01] Titozzz commented on #312
We need to work on cookies ✅

[2019-02-05 00:05] gary-arkade opened #315 "Source.headers is not supported when using POST"
<img width="248" alt="screen shot 2019-02-05 at 10 58 28 am" src="https://user-images.githubusercontent.com/43562690/52245418-a03f0180-2935-11e9-97d8-96eddf0afba5.png">

In android emulator, I tried to post to a url, I got the error above. It works fine in ios emulator. Not sure how to fix it, any idea?

Here is part of the code.

[code]

[2019-02-05 05:08] reschke commented on #298
If this actually "breaks" it, it's because the code in react incorrectly assumed that a "#" in a data URI does not need to be percent-escaped.

[2019-02-05 09:14] Zaporozhec7 commented on #310
Between versions **5.0.0** and **5.0.2** was rename "**Webview**" to "**WebView**":

[code]

Maybe reason in some caching in Gradle?

[2019-02-05 09:22] Titozzz commented on #310
Sorry, will fix asap you are 100% right 😍 that's a side effect of 5.0.1

[2019-02-05 11:14] Titozzz commented on #312
Would something like https://github.com/react-native-community/react-native-webview/pull/175 help @PratibhaSomashekhara @jerolimov @hippotz?

[2019-02-05 12:22] maxkordiyak opened #316 "getViewManagerConfig is not a function in ejected expo project"
i created new project using `expo init` then immediately `expo eject` following the second option `ExpoKit: I'll create or log in with an Expo account to use React Native and the Expo SDK`
i'm getting this error after any interaction with the webview

has anyone ever encountered the same issue before?
![error](https://user-images.githubusercontent.com/17858349/52273099-6b40a800-2951-11e9-8a07-8a5c

[2019-02-05 13:17] Titozzz commented on #316
What is your react-native version?

[2019-02-05 13:19] maxkordiyak commented on #316
react-native version was the one specified by expo:
` "react-native": "https://github.com/expo/react-native/archive/sdk-31.0.0.tar.gz"`
but after i came across [this solution](https://github.com/wix/react-native-navigation/issues/314#issuecomment-426770444) i changed it to `"react-native": "~0.55.2"`

[2019-02-05 13:21] Titozzz commented on #316
this webview only support 0.57 and higher so it is probably related, any reason not to upgrade?

[2019-02-05 13:40] maxkordiyak commented on #316
i tried initializing project and ejecting again, ran `react-native link react-native-webview` and after clicking webview ui element i get this error
![error1](https://user-images.githubusercontent.com/17858349/52277032-66cdbc80-295c-11e9-8da6-21524ae0ebb5.png)

[2019-02-05 14:10] Titozzz commented on #316
You are right, From 5.0.3, react-native 0.58 is needed 🤔 . I not sure what would be the best approach

[2019-02-05 14:16] Titozzz commented on #316
In the meantime, I'll at least update readme and package.json.

[2019-02-05 14:43] Titozzz commented on #316
I'll fix soon

[2019-02-05 15:00] Titozzz commented on #316
Released 5.0.5

[2019-02-05 15:00] #316 closed

[2019-02-05 15:24] timraybould commented on #298
Nice, that does seem to work! This gets it to work on Android with Chrome 72:
    html = html.replace(/#/g, "%23")

Viewing source on the resulting HTML gets you colors such as `%23FFFFFF` however Android seems to be rendering that correctly. iOS for the most part is too, however now within the `bgcolor` property which is still sometimes used in html tables. I've found it safe to simply remove the

[2019-02-05 17:54] Titozzz commented on #298
Please note that I've tried chrome canary on web and some of these bugs are fixed, so fingers crossed.

[2019-02-05 18:23] imelos opened #318 "ios webview backgroundColor is always white"
`style={{ backgroundColor: '#000' }}` or `style={{ backgroundColor: 'black' }}`  doesn't  work in ios. WebView still remains the white.

[2019-02-05 19:31] hippotz commented on #312
It looks like that PR would help with adding cookies into WKWebView by setting them through JS, but my use case is the reverse of that. I have to read & delete cookies from the WKWebView that are marked HttpOnly so a javascript solution won't work. I don't know if any solution is possible according to apple's docs.

I just looked and we have like 0.1% sessions on iOS < 11. I don't think my use cas

[2019-02-05 19:36] Mukul-Sharma opened #319 "Not allowed to load local resource when using source: htmlString"
Web page is located in DocumentDir and tries to access files with absolute path but in the same folder, it works when using source with uri parameter but failed when using source html: htmlString, Could someone point me in the right direction for this? Already spent two hours looking :(

[2019-02-05 19:47] Mukul-Sharma commented on #319
Solve by using baseUrl

[2019-02-05 19:47] #319 closed

[2019-02-05 20:12] jamonholmgren commented on #312
In my opinion, anyone who needs to support UIWebView can use the latest version of this library that still includes it and lock to that version.

[2019-02-05 20:17] jamonholmgren commented on #318
Can you provide a reproduction app so we can easily see this happening?

[2019-02-05 21:20] jamonholmgren commented on #306
Awesome. I'll mark this as a bug and hopefully someone can take a crack at figuring out a solution!

[2019-02-05 21:32] ASteinheiser commented on #306
@jamonholmgren Great, thank you!

I might try to take a look at it soon. If you, or anyone, has any potential pointers, please share!

[2019-02-05 21:35] jamonholmgren opened #320 "Add examples to API Reference Documentation"
I'd love to have examples of every single API in the reference documentation:

https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md

For example, here's one for `onShouldStartLoadWithRequest`:

[code]

I think these would be very valuable to developers, even the simple ones.

I may take a stab at this later on, but feel free to contribute, even if it's only

[2019-02-06 08:55] imelos commented on #318
https://snack.expo.io/rkXyxQdVE
I omitted WebView's `source` prop for demonstration purposes

[2019-02-06 11:34] ivan0013 commented on #298
Hi, I'm in the same situation.
The solution is encoding to url  string the data loaded by loadData on the webview.

Problem is with the encoding of "#". Here you can see the bug: https://bugs.chromium.org/p/chromium/issues/detail?id=123004#c107

and I let you here my own stackoverflow question, just in case, someone post something more useful:
https://stackoverflow.com/q/54550328/2127296

[2019-02-06 13:37] jmheik commented on #312
We fall back to UIWebView for iOS9 users because of [this bug](https://github.com/react-native-community/react-native-webview/issues/150).

[2019-02-06 14:19] export-mike opened #322 "Hash character stops rendering on Android SDK 22."
I'm using
[code]
whilst I cannot install this package on snack I've replicated the issue there using the core WebView.
https://snack.expo.io/HyHBdPO4E

I've also created an example project from react-native init.
https://github.com/export-mike/Android-22-Hash-Webview-Bug

Basically the Hash/Pound/Number Symbol whatever its called. Is stopping the webview from rendering any further elements.

In my

[2019-02-06 16:18] AlexejKutsko commented on #309
Try this.

[code]

 But you need calculate height webview

[2019-02-06 17:21] nfischer commented on #298
Hi all, I'm a member of the Android WebView team.

**First off:** you've indeed found the root cause ("#" in data URIs). Although https://github.com/react-native-community/react-native-webview/issues/298#issuecomment-460992248 is correct that [crbug/123004](https://bugs.chromium.org/p/chromium/issues/detail?id=123004) tracks the behavior change, our team filed [crbug/929083](https://bugs.chromium.

[2019-02-06 19:01] PratibhaSomashekhara commented on #312
I tried with PR  #175. still cookies are not available inside the WKWebView. My use case is very simple. my authentication works with a fetch call and the server sets a cookie with a http response header and returns url.
 I m passing  same  url  into the WKWebView Component and here cookie is not available inside my WKWebView and getting session expired .

[2019-02-06 20:48] in4core commented on #309
Алексей -  это баг все же, а не фича. Планируете править?

[2019-02-06 22:16] MaximusHaximus commented on #322
We're getting reports just starting this week from users impacted by this issue.

**Interestingly, we cannot reproduce this problem on all android devices, even on the same OS version.**

For example, my Galaxy S8 running Android 8.0 renders the content correctly, but another android device also running Android 8.0 is not rendering the content correctly.  For the same content, we're seeing 3 out o

[2019-02-06 22:32] lukebaker commented on #322
This has been our experience as well.

[2019-02-06 22:38] lukebaker commented on #322
Ah, this appears to be a duplicate of this issue: https://github.com/react-native-community/react-native-webview/issues/298

[2019-02-07 01:58] johnnylc commented on #307
Sorry, I use injectJavascript as Titozzz suggested.

<WebView
        ref={ref => {this.WebView = ref}}
        source={source}
        useWebKit={true}
        javaScriptEnabled={true}
        domStorageEnabled={true}
        startInLoadingState
 />

[2019-02-07 07:20] dvicory commented on #279
Closed by https://github.com/react-native-community/react-native-webview/pull/311?

[2019-02-07 07:49] #279 closed

[2019-02-07 08:07] RobinUS2 opened #323 "Android window.ReactNativeWebView.postMessage issue"
Hi there,

We implemented version 5.0.5 of the library with #243 incorporated into it using `window.ReactNativeWebView.postMessage` for bidirectional communication. We use both iOS and Android with "react-native": "0.57.0".

The problem we see is the following:
iOS => web view => ✅  (use `injectJavaScript` to send a message)
web view => iOS => ✅  (use `window.ReactNativeWebView.postMessage` to sen

[2019-02-07 08:21] Titozzz commented on #307
I'll deprecate and remove postMessage, as you can replace it by injectJavascript and it offers way less possibilities

[2019-02-07 08:21] #307 closed

[2019-02-07 08:34] hxiongg opened #324 "Setting onMessage on a WebView overrides existing values of window.postMessage"
Using v5.0.6 with RN 0.57.29
I get the above titled error whenever the webview opens. Changing the uri to https://www.google.com doesn't post a problem. Is it because the current uri is being redirected?

[code]

[2019-02-07 09:23] NovikovRoman commented on #298
Not working
[code]

[2019-02-07 10:08] punksta opened #326 "Using assets fonts in webview css on ios"
Hello
I am trying to load a font from app assets

[code]

[code]
it's working fine on android, but not on ios.
I am getting the error `Not allowed to load local resource: file:///assets/fonts/fontName.otf`
the font is linked and available in react-native styles.

I tried using this css:
`src: local('${fontFamily}'),url('${fontFamily}.${fileFormat}');`
I didn't have error in this case, but font did

[2019-02-07 10:39] AlexejKutsko commented on #309
Да, это баг. Мне надо было закрыть проблему. Если это правильное решение проблемы то достаточно в WebViev.android.js в `styles.container` добавить `overflow: 'hidden'`

[2019-02-07 13:00] Titozzz commented on #322
Closing in favor of #298

[2019-02-07 13:00] #322 closed

[2019-02-07 13:02] Titozzz commented on #323
Can you dig more? Same scenario is working fine on my own app :)

[2019-02-07 13:03] Titozzz commented on #324
You sure you rebuilt native after updating?

[2019-02-07 13:20] in4core commented on #309
[code]
In this case - webView not shown, but other components are shown

[2019-02-07 13:33] RobinUS2 commented on #323
Been digging a lot. We've found that a downgrade to 4.1.0 works.

Are there known issues with certain Android versions maybe?

[2019-02-07 13:34] Titozzz commented on #323
Not that I'm aware of 🤔 . Did you rebuild the native side of the app after upgrade?

[2019-02-07 14:02] afilp commented on #161
The problem still exists, I have linked the project in Android, etc.

Used to work, not it does not. Something changed, maybe the updated firebase?

[2019-02-07 14:53] jeluard commented on #229
@Titozzz Would @paulxuca patch be considered for merge? I am interested in that feature too.

[2019-02-07 14:56] Titozzz commented on #229
It is considered, I'm still trying to get a clear picture of the perfect plan

[2019-02-07 16:04] jeluard commented on #229
Nice! FYI we came up with a similar solution in an [old bridge fork](https://github.com/status-im/react-native-webview-bridge). Only difference is that we are using an `InputStream` on Android, not loading the whole body before hand.

[2019-02-07 16:10] scarlz commented on #137
It seems as though agreeing an interface from the RN side is all that would prevent a pull request here, given that this is quite easily supported through `loadFileURL` and `allowingReadAccessToURL` on the native side.

[2019-02-07 19:00] ralesiupgrade commented on #312
When we use `WKWebView` it doesn't seem to persist any `httponly cookie` so auth doesn't work for us. We have a api that sets the cookie and that is persisted for the life of the session.

[2019-02-07 19:07] PratibhaSomashekhara commented on #312
@ralesiupgrade do you have any idea how it could be  resolved ??

[2019-02-07 19:13] ralesiupgrade commented on #312
Well `UIWebView` works so whatever thats doing lol. I assume `UIWebView` is just passing all cookies along. Ill take a look at the code and try to see what i find

[2019-02-07 23:36] ralesiupgrade commented on #312
hey @PratibhaSomashekhara so https://github.com/react-native-community/react-native-webview/pull/175 did work but only after i tweaked it, I think its the prop for `sharedCookiesEnabled` not being set?

[2019-02-08 00:38] trustfall commented on #310
Hey, just a heads up, I found I had to switch the following around in build.gradle inside the node module, as it was causing this same error for me:

[code]

[2019-02-08 03:26] hwth commented on #110
I found the solution to solve this error. I edited the source code in [RNCUIWebView.m](https://github.com/react-native-community/react-native-webview/blob/master/ios/RNCUIWebView.m#L47) to change the scroll view insets setting from **UIScrollViewContentInsetAdjustmentNever** to **UIScrollViewContentInsetAdjustmentAutomatic**.
If you use WKWebView, you have to change the same. I don't ensure that t

[2019-02-08 11:29] Titozzz commented on #279
:tada: This issue has been resolved in version 5.0.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v5.0.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-08 11:58] andrewazevedo commented on #298
The solution I found was simply encode the HTML with `encodeURIComponent` like this:
[code]

[2019-02-08 14:55] aryojamousi commented on #298
This fixed the problem on Android. But if your app is cross platform, you might have problems showing special characters on IOS (like ä ü etc...)

[2019-02-08 18:42] ASteinheiser opened #330 "WebRTC Permissions on iOS"
This issue is kind of related to #231 , for Android WebRTC permissions.

Is it even possible to get webRTC permissions on iOS?
Specifically, has anyone been able to access a webcam from inside the WebView on iOS?

After doing some research, I've found a few dated comments stating that iOS does not allow for the `getUserMedia` function to be called, which is necessary for WebRTC.

EDIT: Found this

[2019-02-08 21:32] matthewfbenjamin commented on #235
Hi! I manually linked the library and I'm facing an error that is due to that. The error I'm getting is:

` -1: linker command failed with exit code 1 (use -v to see invocation) `

With this message above it:

[code]

Any advice would be amazing!

[2019-02-09 00:23] ASteinheiser commented on #231
@Javascript-Ninja I tried out your forked branch, and it seemed to work at first. However, after closing the app and re-opening, the page with the webcam just fails silently. Before it was at least giving me an error: "Permission not granted" or something.

[2019-02-09 10:17] in4core commented on #309
any suggestions ?

[2019-02-09 18:31] Titozzz commented on #330
This is 100% doable. Feel free to submit a PR 😊

[2019-02-09 18:35] Titozzz commented on #231
Please add this comment in the PR so that I can keep track 😊

[2019-02-10 21:02] pepya2 opened #331 "onLongPress?"
have looked everywhere how to implement onLongPress in react-native-webview, unfortunately no one has posted a solution on how to do it.. i would like to trigger custom context menu (just a modal) on link long press since currently, onLongPress even on links nothing happens, doesn't navigate to that link. In short, onLongPress doesn't do click event nor show any context menus.

I have even wrapped

[2019-02-10 21:19] marexv commented on #140
Hi! Will we ever be able to use this with expo? :)

[2019-02-10 21:25] cyb3rsalih commented on #224
Still have same issue

[code]

[2019-02-10 22:03] cyb3rsalih commented on #207
Looking forward this feature!

[2019-02-11 04:03] nonotest commented on #184
all good for me too now , thnks

[2019-02-11 09:57] Titozzz commented on #140
Once expo decides to pull this code inside their new version yes, but the work has to be done on their side

[2019-02-11 10:32] otusweb opened #332 "Playing youtube video fails all the time after loading once in airplane mode"
I'm running into a weird behavior in my app where if I try to display a youtube video by setting the source:html of a webview to the youtube API reference code while the phone is in airplane mode (or with a bad network connection causing the request to fail), any attempt to load any youtube video with the same code on that phone will be failing. (restarting, uninstall/reinstall do not fix the issu

[2019-02-11 11:30] jqn commented on #269
@jamonholmgren I think this could be improved in terms of better documentation. I ran into this issue and it took me about an hour to figure out what the documentation meant by "Make sure the string evaluates to a valid type (`true` works) and doesn't otherwise throw an exception".

Perhaps an example would be better for clarity.

In my case this is what I was doing wrong:

[code]
and I continued

[2019-02-11 11:57] tapir commented on #324
It's `window.ReactNativeWebview.postMessage` not `window.ReactNativeWebView.postMessage`

[2019-02-11 11:58] tapir commented on #323
It's `window.ReactNativeWebview.postMessage` not `window.ReactNativeWebView.postMessage`

[2019-02-11 12:15] tapir opened #333 "Project stopped building after 5.0.7 error (requires kotlin?)"
I've updated my working project to 5.0.7 and it doesn't build for android anymore
[code]

[2019-02-11 12:29] tapir commented on #333
To be precise it looks like whatever happened happened in 5.0.1. 5.0.0 works as it should but 5.0.1+ gives error above

[2019-02-11 12:37] tapir opened #334 "Request for maintainers to not break backward compatibility in ways that are impossible by developers to debug"
With version 5.0.1 `window.ReactNativeWebview` is renamed to `window.ReactNativeWebView`.
I understand that the first one is a mistake but it doesn't make it right for developers to just change it.

Think for a second from the perspective of the developers. It's such a small change that it's almost impossible to notice. If I haven't looked at commits I wouldn't notice it at all and I've spent hour

[2019-02-11 22:50] zivester commented on #298
For those not following along, the Chrome team just fixed this in `72.0.3626.105` https://bugs.chromium.org/p/chromium/issues/detail?id=929083#c34

Can confirm that svg's loaded into webviews that were not working this morning now load again.

[2019-02-11 23:48] Titozzz commented on #334
Literally, 5.0.0 has been up for 2 hours. I fixed it during the night to make sure no one would have these issues hopefully. I even deprecated 5.0.0 from NPM so you would get a warning by using it. I'm sorry for any inconvenience caused but the changelog mentioned the right way to spell it from the start. I even have detailed patch notes for everything...

I guess next time I'll do 6.0.0 😞

[2019-02-11 23:48] #334 closed

[2019-02-11 23:52] Titozzz commented on #333
Closing as duplicate of #310

[2019-02-11 23:52] #333 closed

[2019-02-11 23:54] Titozzz commented on #269
Feel free to submit a PR for the docs

[2019-02-11 23:54] #269 closed

[2019-02-11 23:58] Titozzz commented on #324
@tapir I was only ReactNativeWebview by mistake in 5.0.0 and was fixed instantly to ReactNativeWebview as specified in the patch notes.

Please also avoid this kind of messages. I maintain this in my free time without any remuneration, calling my work ridiculous is just... w/e

[2019-02-11 23:58] #324 closed

[2019-02-11 23:59] Titozzz commented on #323
@tapir cf #324

[2019-02-12 09:02] tapir commented on #324
Definitely didn't want to call your *work* ridiculous. I'm sorry it sounded that way. I do appreciate your work. It's just that I value compatibility above everything else and was surprised to notice it by *chance*.

[2019-02-12 09:05] tapir commented on #334
Understood. I was waiting for postMessage fix for a very long time so It was an instant update to 5.0.0 for me. Possibly I'm the only one affected by this :)

[2019-02-12 09:25] marconett commented on #101
the overflow workaround should be in the readme imo

[2019-02-12 10:46] blueturtle13g opened #337 "Encountered an error loading page {description: "net::ERR_INTERNET_DISCONNECTED"}"
I'm handling the failure of loading the webview with `onError`  like this:
[code]
so why should I get warning about internet disconnection?!

[2019-02-12 12:58] RobinUS2 commented on #323
The reference is correct, it also works on iOS but not in Android. We rebuilt de app multiple times from scratch removing all intermediate files, still no succes. The downgrade does work to 4.1.0 but that's kind a odd as you say that the latest should work as well.

[2019-02-12 13:17] Titozzz commented on #323
@RobinUS2 I'm using latest in production, so it is working. There must be something we are missing here.

[2019-02-12 13:41] Titozzz commented on #337
More details could help... I guess that you have internet... Maybe some missing permissions in android manifest?

[2019-02-12 14:38] weepy opened #339 "determine if bridge is ready"
Sorry if a duplicate, but can't make sense of the other issues. I have iOS RN app with a webview and recently I was using the `postMessage.length == 1` trick to determine if the bridge was ready, but now it doesn't work (i.e. it always returns 2) ...

Did something change ? ...

[2019-02-12 18:05] brunoti opened #340 "Large html strings on WebView get's empty on android devices"
## 🐛 Bug Report (using RN Repo issue template)

First I want to say that I already posted this issue on Stack Overflow and got no responses, which made me believe it could be a bug in React Native itself.

When I use a large HTML on a WebView through source on (some) Android devices it doesn't renders my html, instead it renders an empty body.

## To Reproduce

Use the code next and adapt for your

[2019-02-12 18:30] brunoti commented on #340
Solved with #298

[2019-02-12 18:30] #340 closed

[2019-02-12 18:34] Titozzz commented on #339
Yes. We no longer override window.postMessage to keep thing clean. You can watch window.ReactNativeWebView(.postMessage). Please see https://github.com/react-native-community/react-native-webview/releases/tag/v5.0.0

[2019-02-12 18:34] #339 closed

[2019-02-12 19:19] otusweb commented on #332
So the repro steps are not correct as I can't repro it anymore but we still have an android phone that is suffering from those symptoms.
Essentially the webview is just showing up white, looks like no html is ended up being loaded

[2019-02-12 19:45] otusweb commented on #332
I did some more digging and I think this is a dup of #298

[2019-02-12 19:45] #332 closed

[2019-02-13 01:47] HarikaSabbella commented on #312
I'm also noticing that when I remove `useWebKit={false}` the custom font family that I'm passing into the HTML is not being used to render the content in WebView:
[code]

[2019-02-13 01:49] HarikaSabbella commented on #326
Seeing same issue as above--is there a fix for this?

[2019-02-13 05:36] punksta commented on #326
@HarikaSabbella when you use "useWebKit={true}` are they rendered? Is `SourceSansPro-SemiBold` a font you added using "react-native link"?

[2019-02-13 06:55] blueturtle13g commented on #337
yes, you right but how can I ignore it in the yellow box?

[2019-02-13 08:03] Jimmy-YMJ commented on #318
Here is my code
react native version 0.58.4
react-native-webview version 5.2.0

[code]
Set the View(direct container of WebView), WebView and html background color to #23577E, background color should not change when toggle the WebView element, but it changed.

[2019-02-13 08:11] EgidioCaprino opened #341 "Error evaluating injectedJavaScript: This is possibly due to an unsupported return type. Try adding true to the end of your injectedJavaScript string."
Hello,

We're trying to migrate from `react-native` `WebView`. Replacing `import { WebView } from 'react-native'` with `import { WebView } from 'react-native-webview'` gives us this error when the component is mounted:

[code]

I've tried to add `; true` or `; return true` at the end of the injected script but we still get the same error.

Do you know how we can fix it or identify the underlying p

[2019-02-13 12:19] RobinUS2 commented on #341
What worked for us was this:
[code]

[2019-02-13 12:24] RobinUS2 commented on #323
@Titozzz I agree, it must be something very subtle. Could you share a skeleton project or something where you implement this so we can review line by line, character (and case 😉 ) to see what's going on?

[2019-02-13 13:08] priteshpoddar commented on #137
+1

[2019-02-13 13:58] EgidioCaprino commented on #341
Thank you so much @RobinUS2 ❤️

[2019-02-13 14:06] EgidioCaprino commented on #341
I've noticed that if I stop pause between one call to `webView.injectJavaScript` and the next one with the debugger it does not throw any error

[2019-02-13 14:42] EgidioCaprino commented on #341
Throttling the calls to `injectJavaScript` seems to have fixed the problem.

[code]

[2019-02-13 17:48] jerolimov commented on #150
I tested it with different versions. This crash happen also on iOS 9.3 with react-native-webview 2.0.0 - and also with the original React Native (included) WebView if I enable webkit rendering there. 🧐

[2019-02-13 18:14] jerolimov commented on #150
The crashs on iOS 9.x happen when the static function `dynamicallyLoadWebKitIfAvailable` was called.

https://github.com/react-native-community/react-native-webview/blob/833d4d6c6242c7ef96265c9f323726c354f2f353/ios/RNCWKWebView.m#L48-L64

I didn't see any reason for this "load WebKit.framework" dynamic function. If an app could crash without the WebKit.framework I think it's enough to explain that

[2019-02-13 19:26] jerolimov commented on #150
@hieuvanlai @biduone @AndrewJack @malonguwa I created PR #342 to fix this issue.

You can change your local RNCWKWebView.m file yourself and remove the `dynamicallyLoadWebKitIfAvailable` file there. On the other side it would be also cool if you can test and verify the PR. Thanks.

[2019-02-13 19:28] HarikaSabbella commented on #326
@punksta The screen is still rendered, however, in iOS, it is rendered using some other font instead of the specified `SourceSansPro-SemiBold` font.  In Android, content is rendered correctly with the `SourceSansPro-SemiBold` font.

[2019-02-13 21:45] tehOPEologist commented on #6
would really like to hear the status of this bug, as it's fragmenting my new react-native app being deployed, since my critical pages with select elements won't work on android tablet

[2019-02-13 21:52] jerolimov commented on #213
@malonguwa @NeilChan I created PR #342 to fix this and another iOS 9 issue.

If would be also easy and great if you can test and verify my PR. You find some instructions to test my branch in your project in the PR #342. Thank you.

[2019-02-14 10:26] notlose commented on #323
same here, android lollipop 5.0.2

[2019-02-14 11:09] Titozzz commented on #323
@RobinUS2 Can you instead submit a small reproduction of the bug?

[2019-02-14 11:36] notlose commented on #323
Sorry, my faults, upgraded from 2.x. missed the breaking change note in 5.0

[2019-02-14 18:10] mtt87 opened #343 "Loading state different behaviour iOS / Android"
We noticed the loading activity indicator when `startInLoadingState` is set to `true` was behaving differently
- with iOS it stays there correctly until the page is fully loaded
- with Android it stays for just a few milliseconds then disappears

I've added `console.log(this.state.viewState)` on the render of `WebView.android.js` and `WebView.ios.js` and basically there is a different behaviour

T

[2019-02-14 18:56] tehOPEologist commented on #6
in the interim until this issue is resolved from this package itself, i went ahead and applied a hacky fix so i can deploy my app to android tablets.  an outline for others to use in the short-term is below:

the main problem is that the dropdown is rendering behind the webview, which doesn't tell the webview to relayout and show the dropdown on top of the webview when a select is tapped.  to get

[2019-02-14 19:03] matthewfbenjamin commented on #269
@jqn What did you set your `onMessage` prop to?

[2019-02-14 19:27] matthewfbenjamin commented on #341
@EgidioCaprino's solution worked for me. I had to stop using the `injectedJavaScript` prop and used the method instead to inject the same string.

[2019-02-14 20:04] Muheez opened #344 "popup not allowed to show on android"
platform: android
react-native version: 0.57.7
react-native-webview version: 4.1.0

the code does not throw any error but the payment API i'm using in the webview tries to open another window like a popup then show an error saying "enable popup in your browser".

[code]

[2019-02-15 00:10] Titozzz commented on #343
Hello, thanks for the detailed issue. If you wish to contribute even more, feel free to submit a pull request, or maybe someone else can do it 😊

[2019-02-15 00:16] mtt87 commented on #343
Sure, this was what we found out today after some investigation.

The only downside is that both me and my colleague are JS devs with almost zero knowledge of native Android platform so we got a bit scared this might be outside our skills, but surely we will have a look and see if we can spot the issue.

Any tips on where to investigate further or read specific Android documentation would be great

[2019-02-15 00:39] nfischer commented on #298
@timraybould I think you should re-open the issue, as react-native team needs to provide a proper fix.

We (chromium team) added a targetSdk quirk; that means libraries like react-native are **still expected** to fix this bug, following the guidance I've mentioned above. Without a proper fix, react-native will block any apps using react-native from targeting the latest Android release.

[2019-02-15 01:50] SamSaffron opened #345 "SafariViewController replacement component"
SafariViewController is a giant problem, Apple have been working on it for years yet basics like this are still broken:

https://stackoverflow.com/questions/52848408/are-there-any-workaround-to-avoid-sfsafariviewcontroller-from-hiding-fixed-posit

Additionally there are cookie issues and more that make SVC a pretty rough ride for embedders.

Replacing SVC with webview is not a drop-in thing, cause

[2019-02-15 08:46] Titozzz commented on #345
Hello I think this belongs into another repository as this is a different native component to achieve a different goal..

[2019-02-15 08:46] #345 closed

[2019-02-15 08:55] EgidioCaprino commented on #341
This problem still occurs for us 😢

[2019-02-15 10:10] jeluard opened #346 "Improve extensibility on Android"
It would be nice to make sure the default `RNCWebViewManager` can be extended in a deeper and cleaner way.

Some suggestions:

* relax visibility of internal static classes to allow extension by public classes (e.g. `RNCWebViewManager.RNCWebView`)
* rely on generics to reduce the need of casts

[2019-02-15 11:17] Return-1 opened #349 "Viewport width is not respected"
### Platform: Android

The viewport meta tag does not seem to be supported in its entirety. While zooming is properly disabled, changing the width property makes a difference on a webview on android developed natively but not through this component

```<meta name=“viewport” content=“width=405 user-scalable=no”/>```

PS : The idea behind the fixed 405 is that its an appropriate width on which the U

[2019-02-15 14:29] cjcheshire commented on #343
Hey @Titozzz (colleague of @mtt87 here).

I have found if we introduce a setState in the start method it fixes our issue.

[code]
Whilst this fixes the issue (and sort of makes sense) an alarm bell is ringing in my head that something outside of JS is triggering the idle state. Especially as iOS doesn't require the state setup like the above.

Happy to PR if you think the above is okay.

[2019-02-15 15:10] Return-1 commented on #349
It seems like `scalesPageToFit` set to false resolves the issue on Android. Im still unsure as to what it does under the hood but im leaving this here for future reference

[2019-02-15 19:03] Titozzz commented on #343
Well I think we would need to better understand why the state changes only on Android instead of patching. I'll try to dig a bit.

By the way the navigation state is managed purely JS side even if it is triggered from the native side so you should be able to debug by logging everywhere the state changes

[2019-02-15 19:04] Titozzz commented on #349
Does #275  help fixing your bug ?

[2019-02-15 19:23] Return-1 commented on #349
i'd consider the issue to be fixed. im unsure as to why though. i'll mark the issue as closed

[2019-02-15 19:24] #349 closed

[2019-02-15 19:53] expressiveco opened #350 "Reload by changing source"
It is possible to get webview reloaded by changing an unrelated property of source. Even it is refreshed for same url.
[code]
So, how could this be possible? Changing some other property of webview does not trigger refresh.

Component renders always but it does not re-create the native webview always but just when that unrelated property of source changes I think. I am just curious about internals

[2019-02-15 21:58] cjcheshire commented on #343
Yea I figured it didn’t really solve the real issue. @mtt87 console output attachment shows IDLE but no load after a new request. IDLE is set on finish or error so something is telling it it’s done but once a new page is triggered to load it doesn’t set the LOADING again.

[2019-02-15 22:32] Titozzz commented on #350
Sorry, I'm not sure about what you are trying to achieve 🤔

[2019-02-16 11:00] expressiveco commented on #350
Actually, i understand what is happening. I was toggling the value of WebView.bounces to get WebView refreshed but it has no effect on Android because it is only available for IOS Android WebView.
So, it does not change the rendered Native WebView so nothing is updated.

So, when i try with some other property like geolocationEnabled, it worked.

Thus, i think, similarly, changing some property on

[2019-02-17 18:35] enahum commented on #194
With the latest version of react-native-webview and RN 0.58.4 and even after wrapping the WebView in an `overflow: 'hidden'` I still get a white screen attempting to load an url. it works fine in iOS with and without the overflow trick.

I falled back to the WebView component of RN only for Android for the time being. Sadly I do not know much about Android to try and fix this myself and submit a P

[2019-02-17 20:00] Rob2k9 opened #351 "Mouse Support For WebView ??"
I have the webview installed in my android TV application witch i have tested on the amazon fire stick and nvidia shield but its almost impossible to navigate

I have looked at other browsers avalable for both platforms and i can see that on the shield the right joystick can be moved to create a mouse pointer on screen for selecting eliments and the same can happen on firestick with the use of the

[2019-02-18 00:40] osvald0 commented on #110
Hi, @hwth , thank for your comment but the workaround didn't work for me :(

[2019-02-18 01:45] bang88 commented on #24
Its very important for web apps please add this feature 😭

Please.

[2019-02-18 09:12] Titozzz commented on #194
If your bug was due to overflow, you would also need it with the core webview so your issue lies somewhere else

[2019-02-18 10:36] expressiveco commented on #350
@Titozzz could you please check [https://stackoverflow.com/questions/54738360/how-does-react-native-props-diffing-work](https://stackoverflow.com/questions/54738360/how-does-react-native-props-diffing-work)

[2019-02-18 12:32] enahum commented on #194
Well it is working with the core webview, so I guess there is something weird going on with the library then?

here is the code that displays the webview https://github.com/mattermost/mattermost-mobile/blob/release-1.16/app/screens/sso/sso.js and I must say that release is using `react-native-webview@2.5.0` and `react-native@0.57.4` and was working just fine.

[2019-02-18 14:15] Titozzz commented on #194
No error messages in logcat or anything?

[2019-02-18 14:45] ahmadqwer opened #352 "Change contextual action bar with a custom one"
Hello

I want to change the Action bar that appear after i select a text on the Webview (the one that contain copy/cut/select all) and i want to make a new one.

![untitled](https://user-images.githubusercontent.com/9438475/52958302-7efdfc80-339c-11e9-8662-3924db3c41b4.png)

Can i achieve this with react-native?if i can't,can i hide it at least?

Thank you.

[2019-02-18 15:16] enahum commented on #194
Nothing in logcat...  I reverted back to use `2.5.0` and is working again.. will look into it further and I'll report back if I find something

[2019-02-18 17:01] stammbach opened #353 "Experiencing issues when using the NetInfo api of react-native"
Hey, I've added some connection change listeners on the root component of my app to show an offline screen / overlay when the user is disconnected. Once I start using the NetInfo api the webview does not load anymore. Debugging is also weird because once I enable remote debugging everything loads fine.

I'm using the required AppContainer and StackNavigator of react-navigation between my root and

[2019-02-18 17:44] stammbach commented on #353
Okay, seems that the listeners did not like the auto binded callback function I used. Initialising the function inside of componentWillMount fixed it. Weird, but at least it's working. Closed.

[2019-02-18 17:44] #353 closed

[2019-02-18 19:12] legion-zver commented on #341
See your JS code carefully, this error is due to the fact that WebView can not execute JS code!

[2019-02-19 05:36] kwoktung commented on #299
怎么解决这个问题的啊？

[2019-02-19 07:16] wzt1119 commented on #169
@Shan7anu Did you find any solution? I am facing the same issue.

[2019-02-19 08:04] EgidioCaprino commented on #341
The same code was working with `WebView` imported from `react-native` 😕

[2019-02-19 08:56] Titozzz commented on #341
Android or iOS ?

[2019-02-19 12:01] chaudhryjunaid opened #354 "onNavigationStateChange not called when programmatically calling webviewRef.goBack()"
Consequently I cannot maintain an updated value for canGoBack for backHandler.

[2019-02-19 12:20] chaudhryjunaid commented on #354
This happens for some urls and not for others. I'm investigating what specifics cause this.

[2019-02-19 13:18] Titozzz commented on #354
related to #291? or to #24?

[2019-02-19 13:39] chaudhryjunaid commented on #354
it's definitely not #24. May be it is #291 but not sure since not sure what's happening inside the browser. I think the urls are distinct. goBack() doesn't fire for some of the cases.

[2019-02-19 13:41] chaudhryjunaid commented on #354
What's pushstate routing @Titozzz ? I'll try to get back to you if you explain what's in #291?

[2019-02-20 06:48] jpodpro commented on #4
still no solution? i found a work-around for android only, but isn't setting headers a fundamentally important mechanism for mobile apps?
[code]

[2019-02-20 07:03] chaudhryjunaid commented on #354
Yes, it's push state routing. It's actually Pjax! @Titozzz is there no option other than `postMessage`?

[2019-02-20 12:04] johman10 commented on #184
If you're still running into this it might want to check your `app/build.gradle`. If you are using `implementation project(':react-native-webview')` you will have to switch to `api project(':react-native-webview')` for it to work as expected.

Hope this helps some of you! :)

[2019-02-20 13:28] shrekuu commented on #299
@kwoktung  我移除了配置在 android studio 里的所有关于代理的东西后就好了。

[2019-02-20 14:11] xavieramoros commented on #198
I'm still having the "nullPointerException error" despite using: java 1.8 and gradle 4.7.
Downgrading to react-native-webview 2.8.0 fixes the issue but it's like a temporary fix.

I'm using:
react-native 0.58.3
react-native-webview 5.2.1

android studio 3.1.1

java -version:
[code]

Things I tried without success:
-update android studio from 3.1.1 to 3.3.1
-specify jdk location in gradle.propertie

[2019-02-20 15:55] MickaelNeves commented on #124
Same here, can I ignore those warnings? I try to found more info about them but no success.

RN: 0.57.8
RN Webview: 5.2.1

![captura de ecra 2019-02-20 as 15 51 26](https://user-images.githubusercontent.com/20476271/53104719-cd8bd200-3527-11e9-9e35-d23d50741323.png)

[2019-02-20 16:28] meshaabi commented on #341
just upgraded from 2.10 to the current latest and started running into this. The injection seems a wee bit more unreliable in general after the upgrade.

[2019-02-20 16:30] Titozzz commented on #341
This seems to happen when you inject code too early before webview is loaded, but I'm not sure

[2019-02-20 16:30] zmnv commented on #124
I can ignore it if there are 3-4 warnings like that.
But... more code = more warning messages..

[2019-02-20 17:41] Joao-Leite commented on #174
Hi,

Im having the same problem running on react 0,57,1. after ejecting from expo

"....
 None of the following functions can be called with the arguments supplied:
protected/*protected and package*/ constructor Event<T : Event<(raw) Event<*>>!>() defined in com.facebook.react.uimanager.events.Event
protected/*protected and package*/ constructor Event<T : Event<(raw) Event<*>>!>(p0: Int, p1: Long)

[2019-02-20 17:56] Titozzz commented on #124
If you have chrome debugger on it's 'normal' cause it's too slow

[2019-02-20 20:00] NestedLooper commented on #269
If you want to get a better idea of what is happening when the JS is evaluated, you can modify the evaluateJS method of RNCWKWebView.m with some logs:

[code]
In my case, I got back 'Error: A JavaScript exception occurred'.
I think it is most likely due to me using jQuery in my js, which can't be evaluated properly.

[2019-02-21 00:18] junjun16818 opened #355 "Android webview crash when playing youtube embed video"
When playing a video, playing a music app will crash.

Prompt SMS or phone sound will also crash

Looks like any system sound will cause a crash

React Native 0.58.5
Android

[2019-02-21 00:52] pablichjenkov commented on #4
Not sure if is the same issue you are having. This is the problem I was having with headers not being sent. It was a bug in chrome version 71. Apparently got fixed in version 72.
https://bugs.chromium.org/p/chromium/issues/detail?id=925559#c7

[2019-02-21 05:41] sultanularefin commented on #309
@in4core Which mobile phone are you using?

[2019-02-21 08:03] sultanularefin commented on #309
I have the same problem when running one my phone (Xiaomi), I tried newer react-native packages but it didn't work on my phone. later I saw this link and performed accordingly and the problem is gone.
https://github.com/react-native-community/react-native-webview#troubleshooting

[2019-02-21 09:58] Titozzz commented on #198
I think with android studio 3.2 and more you need kotlin_version > 1.3

[2019-02-21 10:18] laukaichung commented on #323
The RN webview needs to communicate to a remote page of my website that uses ReactJS.

On the webpage, I see that the `window.ReactNativeWebView` exists, but the `postMessage()` method doesn't exist under it. I have to use
[code]
as indicated in the release notes to get it working. May I know why the `postMessage()` doesn't exist when the Webview communicates to a remote web page?

[2019-02-21 10:21] Titozzz commented on #323
because overriding an existing postMessage function was a bad practice, and instead we decided to scope it inside an object. Since you have control over your react app directly I would advise against doing that and calling `window.ReactNativeWebView.postMessage(data);` directly

[2019-02-21 10:23] laukaichung commented on #323
@Titozzz
Yes, but the odd thing is that `window.ReactNativeWebView` exist, but it is just the method postMessage() doesn't exist. I will test it more to figure it out.

[2019-02-21 10:29] lapto commented on #198
@[xavieramoros](/xavieramoros) Unless your using kotlin in your project I dont think you need to include:
[code]
In my case I have kotlin code that used an older version that caused a conflict when adding this package.

[2019-02-21 10:35] Titozzz commented on #323
please test more because the method does exists 😄

[2019-02-21 12:39] johman10 commented on #261
I'm experiencing the same problem on React Native Webview 5.2.1. After some debugging I found that assigning to the `window.location` doesn't do anything, which could be the source of this issue. I found this by following the [Debugging docs](https://github.com/react-native-community/react-native-webview/blob/master/docs/Debugging.md) and then running something like: `window.location = 'https://go

[2019-02-21 16:11] laukaichung commented on #323
@Titozzz
I didn't realize that the `targetOrigin` argument must be omitted in `window.ReactNativeWebView.postMessage()`.

If the `targetOrigin`(*) is added, it will throw the `method does not exist error`!

[code]

[2019-02-21 18:21] Titozzz commented on #323
Yeah, this is the second reason we moved it actually because using '*' was a security issue 👍

[2019-02-21 18:51] laukaichung commented on #307
@johnnylc , @Titozzz
What do you add to injectJavaScript prop for it to work. I'm getting the same issue on IOS. Unable to communicate with IOS from RN Webview. Do you mean to move `document.addEventListener("message", function(evt) { alert('receive message') })` from the webpage script to the injectJavaScript prop in RN Webview ?

This is an example of my webpage script. It worked well in WebView

[2019-02-21 18:59] Titozzz commented on #307
https://github.com/react-native-community/react-native-webview/issues/66#issuecomment-425753877 see this for more info.

[2019-02-22 02:52] laukaichung commented on #307
@Titozzz Thanks for the tips in #66 .

I  put the content of `injectJavascript`  to `componentDidMount` on the webpage instead. I don't need the `document.removeEventListener('message', this._onMessageReceived);` anymore.

Here's my solution:

In react native:
[code]

In ReactJS

[code]

[2019-02-22 08:41] Titozzz commented on #307
Glad it helped

[2019-02-22 13:24] peymancyb opened #356 "Android postMessage does not working"
Hello, i am sending message from webview to react native , but from react native the message does not send to the webview

[2019-02-22 14:11] marexv commented on #295
I have the same issue. Need some help with that repo @jamonholmgren?

[2019-02-22 18:00] cristianomesquita commented on #356
send like that: window.ReactNativeWebView.postMessage

[2019-02-22 19:39] #350 closed

[2019-02-22 21:02] NestedLooper commented on #24
Here is a solution that seems to work for me on iOS:

Inject JS onto the page that sets the initial url and then continuously checks the current url against the initial one. If the user has navigated to a new page, the url will be different. When that happens you can send a postMessage back to your React Native code to handle the change and then set the current url to be checked again.

Example:

[2019-02-22 21:41] in4core commented on #309
<View style={{overflow: 'hidden', flex : 1}}>  - full fix.  But if u using only <View style={{overflow: 'hidden'}}>  as developer say, - it doesnt work.

[2019-02-23 07:34] peymancyb commented on #356
@cristianomesquita  thank you for the response, I have use `window.ReactNativeWebView.postMessage` for sending messages from webview to react native, but from the react native part i can not send messages to the webview.

[2019-02-23 08:12] lifan-github commented on #356
The same problem

[2019-02-23 09:25] Domingowen commented on #161
you probably did not add it inside the MainApplication.java

import com.reactnativecommunity.webview.RNCWebViewPackage;

and add new RNCWebViewPackage() to the packages list.

This often fail if you change MainApplication too much (using wix native navigation for example)
this is other person answer

[2019-02-23 10:33] sillysachin commented on #341
Facing it with some form submission .
**Working -**
`            const jsCodeHello = 'alert("hello")';
`
**Not Working -**
[code]

[2019-02-23 11:17] sillysachin commented on #341
[code]

[2019-02-23 13:26] atilaqi opened #358 "downloading for the same apk file only does once on Android"
downloading an same apk file , it can only do once on Android. when refreshing the file link, nothing happens. I need go to "Download Manager" on my Android phone to delete the downloaded file , then it can be downloaded again.

please help me on this issue, thank you.

[2019-02-23 13:59] Overtorment commented on #261
@johman10 I switched to other webview package long time ago

[2019-02-24 14:12] johman10 commented on #261
In that case I think this issue should be closed @Titozzz. ;)

[2019-02-24 21:26] xavieramoros commented on #198
Thanks for the kotlin clarification.

I fixed my issue. I am using a "staging" buildType, I needed to add a matchingFallbacks in order to build correctly the app with assembleStaging.

Something like:
in android/app/build.gradle:
[code]

[2019-02-25 02:43] reneses commented on #8
+1 for this bug, looking forward to the fix!

In the meanwhile, I was able to simulate the behavior of `stopLoading()` (at least for my use case, inside the `onLoadStart` handler) using `goBack` (yup, quite hacky):

[code]

[2019-02-25 11:20] tbenr commented on #356
same here

[2019-02-25 11:29] sadvit commented on #356
I have the same issue for iOS

Call webView.postMessage don't lead to fire 'message' event inside webView

Version:
react-native-webview@5.2.0
react-native@0.58.4

[2019-02-25 11:50] sadvit commented on #356
I've got the solution

Inside webView we need to use:

this.window.addEventListener('message', ....) ----- It's worked for me right now
instead of
this.document.addEventListener('message', ....) ---- it's worked in older version for me

Good luck!

[2019-02-25 14:54] NestedLooper commented on #291
@DaniAkash @Titozzz Example implementation using the latest version of postMessage [here](https://github.com/react-native-community/react-native-webview/issues/24#issuecomment-466546563)

[2019-02-25 17:54] iddan commented on #356
`window` works for me as well. This is a breaking change from past implementation!!!

[2019-02-25 18:48] export-mike opened #360 "DataDetectorTypes in WebKit Mode doesn't work"
I'm using the WKWebView and finding telephone numbers are not autodetected in the WKWebView but are working fine in the UIWebView.
```useWebKit```

https://facebook.github.io/react-native/docs/webview#datadetectortypes

This stack overflow issue seems to be relevant:
https://stackoverflow.com/questions/25977764/wkwebkit-no-datadetectortypes-parameter

UIWebView works fine
https://snack.expo.io/ByL

[2019-02-26 04:43] SuGod commented on #356
I have the same problem. `onMessage` cannot receive messages. Switch to the webview on react-native and it should work.

"react-native-webview": "^5.2.1",
"react": "16.6.3",
"react-native": "0.58.4",

[2019-02-26 13:05] iddan commented on #356
For people coming here: `document` for Android, `window` for iOS

[2019-02-26 18:59] fauno commented on #356
Hi, I'm trying to send messages from the WebView to Android but onMessage isn't triggered.  I can see the initial "Hi!" and the view is filled with "hi" every second to test js inside the WebView, but the console doesn't show anything.  I'm using RN 0.57.7 with WV 5.2.1, also tried `document` as @iddan says but it doesn't work either...

[code]

[2019-02-26 19:17] fauno commented on #356
nevermind, got it to work with `onMessage={event => console.log(event.nativeEvent.data)}` :)

[2019-02-27 03:19] firehand33 opened #363 "postMessage does not work in iOS but in Android after switching from react native core to react-native-webview"
i just switched the webview in my app from react native core to react-native-webview, but after that, the postMessage is not working in iOS but Android is working fine.

[code]

"react-native": "^0.58.5",
"react-native-webview": "^5.2.1"

[2019-02-27 05:37] lizcross commented on #363
The message is now being posted to `window` rather than `document` for iOS. https://github.com/react-native-community/react-native-webview/blob/f27f13e93164c6668360bf18f02a86f388c6063c/ios/RNCWKWebView.m#L362 I have tested on `5.2.1` and `window` works for iOS.

On Android I see the event is being posted to `document` https://github.com/react-native-community/react-native-webview/blob/master/andro

[2019-02-27 06:17] danferd commented on #363
Any idea how to amend my code to make it work on iOS? Or do you have any sample code for postMessage?

[2019-02-27 07:00] gberg1 commented on #161
Hi I'm having the same issue on iOS used npm to install react-native-webview and did the link command as well. I see what people are talking about in terms of dragging the node_modules/react-native-webview/RCNWebView.xcodeproj to the Libraries folder in XCode and then Go to Build Phases tab (on Xcode) in the section "Link binary With libraries" add the `libRNCWebView.a` (inside Libraries/RNCWebVie

[2019-02-27 07:11] indapublic commented on #337
I have same issue

```"react-native-webview": "^5.2.1"```

[code]

`onError` event not fired, I see standard Android warning about net::ERR_INTERNET_DISCONNECTED

[2019-02-27 08:22] victor-ca commented on #323
#363
hello, for this to work now it looks like it has to be smth like this
[code]
however it looks like disparity is not intentional and will be ironed out.

to push it furtherer since we have a separate bridge to communicate to sent messages RN  why not re-use it to send events down to WebView too... smth like
[code]
maybe it would also make sense to use a different name for postMessage to avoid

[2019-02-27 09:11] 18898691244 commented on #323
Thanks!  It works really well.

[2019-02-27 16:54] losheredos commented on #224
Facing the same issue.. I thought its cuz of wix navigation, changed it to router-flux still same problem.. It feels like so strange, now I'm trying to downgrade the RN version.....

[2019-02-28 00:45] bernardmma commented on #6
Any update on this? I tried the interim solution that @tehOPEologist provided, but didn't end up working out for me.

[2019-02-28 02:45] gberg1 commented on #161
Doing a manual pod install after linking the react-native-webview worked for me. i did run into this issue after running pod install though. resolved it with the top suggestion in the SO. https://stackoverflow.com/questions/50805753/duplicate-module-name-react-native

[2019-02-28 08:11] mehmetnyarar opened #364 "postMessage from React web app to react-native-webview"
Hi,

I have a React web application which I load into the WebView.

In the web app, there's a `<LanguageSwitcher />` component. When the user changes the language, I would like to send information to the RN application, so that it can store the language in `AsyncStorage`.

Here is what I do:

[code]

And here is my `WebView`:

[code]

I'd appreciate for your help.

[2019-02-28 10:21] nakinthorn commented on #231
Yep, I found like you
at the first time after install it work
but after clear app and open again it not work anymore

[2019-02-28 11:46] nakinthorn commented on #231
at the first time after install it work
but after clear app and open again it not work anymore

[2019-02-28 12:14] ionut-movila commented on #363
@firehand33 You just need to use proper call for post message: window.ReactNativeWebView.postMessage()

It is described [here](https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#onmessage)

[2019-02-28 13:47] mydesweb opened #365 "Auto focus & zoom in - iOS issue"
1. open the URL in the webview (OK)
2. close the app
3. reopen the app from background (THE PROBLEM HERE) - the webview will automatically open the keyboard, the first input get focus and zoom in is made

`      <WebView
                    useWebKit={true}
                    style={{flex: 1, backgroundColor: '#fff'}}
                    source={{uri: 'https://www.mydavy.ie'}}

[2019-02-28 15:17] romreed commented on #356
@fauno not work for me
can you show me please full example
 "react-native-webview": "^5.2.1"
 "react-native": "0.58.4",
`<WebView
                                    mixedContentMode='always'
                                    source={{
                                        uri: this.state.chosenCityUrl,
                                        "Accept-Language": navigator.language,

[2019-02-28 16:06] alimyhamed opened #366 "Important functionality for TV aplications"
Hello, currently I develop app for android TV and faced problem with WebView, cause there is no way to trigger focus on element. By surfing in internet, I've found solution.
__________
In file: RNCWebViewManager.java
After: view.loadUrl(url, headerMap);
Add:  view.requestFocus();
__________
Then trigger .focus() on html component and it will trigger focus on WebView component too, which will allow

[2019-02-28 18:00] iagorm opened #367 "onMessage function doesn't call but calls from default RN"
## Description
I tried to call onMessage function and it doesn't trigger, the sample in front end:
```window.postMessage(JSON.stringify({ loading: true }));```

In this package the onMessage doesn't call but when I import the WebView from 'react-native' it works, also `onShouldStartLoadWithRequest` doesn't work.

## Version
Package version: 5.2.1
React Native version: 0.58.0

## Reproduce problem:

[2019-02-28 19:36] iagorm commented on #367
if call ```["ReactNativeWebView"]postMessage(JSON.stringify({ loading: true }));``` instead, it will work.

[2019-02-28 19:36] #367 closed

[2019-02-28 20:57] Titozzz commented on #309
See #2 here : https://github.com/react-native-community/react-native-webview#troubleshooting

[2019-02-28 20:57] #309 closed

[2019-02-28 21:02] #113 closed

[2019-02-28 21:08] #261 closed

[2019-02-28 21:09] Titozzz commented on #8
Thanks for the workaround 👍 . However this is still a hack and should be fixed haha

[2019-02-28 21:31] Titozzz commented on #323
@victor-ca webview.postMessage is not documented and I would advise against using it, I personally use injectJavascript, it allows better flexibility. See here for a demo of what you could do https://github.com/react-native-community/react-native-webview/issues/66#issuecomment-425753877

[2019-02-28 21:31] #323 closed

[2019-02-28 21:34] #161 closed

[2019-02-28 21:37] Titozzz commented on #364
Have you read 5.0 breaking changes patch notes? Window.postMessage has been deprecated. Please use the namespaced version instead.

[2019-02-28 21:37] #364 closed

[2019-02-28 21:38] Titozzz commented on #231
@Javascript-Ninja Any idea?

[2019-02-28 21:41] Titozzz commented on #363
using postMessage on the webview ref is not documented and will be removed in favor of injectJavascript that provides a more flexible API, see https://github.com/react-native-community/react-native-webview/issues/66#issuecomment-425753877

[2019-02-28 21:41] #363 closed

[2019-03-01 00:10] indapublic commented on #105
Hello. I'm using `react-native-wkwebview` in my project and once thing because I can't replace it with `react-native-webview` is not possible to share cookies between `fetch`/`react-native-cookies` and `react-native-webview` (look at `sendCookies` property). Was it done? Probably I do something wrong?

[2019-03-01 00:32] jamonholmgren commented on #105
@indapublic We are working on it in https://github.com/react-native-community/react-native-webview/pull/175 -- once we release that, you should be able to share cookies between the two.

[2019-03-01 00:57] indapublic commented on #105
@jamonholmgren Oh, glad to hear it! Thanks

[2019-03-01 01:04] Slapbox commented on #278
This would be such an enormous deal for usability, I can't overstate it. Webviews are often used to wrap editors and if you can't focus the Webview for the user things just feel terrible.

[2019-03-01 05:04] wangxu724 opened #369 "Webview.postMessage has inconsistent behavior on android and ios"
Trying to post message from react native to webview and the behavior is inconsistent.
Looking at the code found the cause:
on iOS, in RNCWKWebView.m, function 'postMessage', it's
window.dispatchEvent

on Android, in RNCWebViewManager.java, function 'receiveCommand', it's
document.dispatchEvent

Please make it consistent.

[2019-03-01 07:52] Titozzz commented on #369
I'm going to remove postMessage in favor of injectJavascript postMessage is not even documented and offer less customization

[2019-03-01 07:52] #369 closed

[2019-03-01 09:08] thanhcuong1990 opened #371 "iOS app cannot scrolling after upgrade to react-native-webview v5.2.3"
Hi,
I cannot scrolling webview after upgrade to the last version 5.2.3.
My app using react-native 0.58.6
I've to rollback to version 5.2.1 to make it works.

[2019-03-01 09:12] Titozzz commented on #371
Thanks for the report, let me test, might be because of https://github.com/react-native-community/react-native-webview/pull/158

[2019-03-01 09:46] #371 closed

[2019-03-01 10:44] legion-zver commented on #365
@mydesweb You can track the transition to the background mode and lock (or unmount) WebView

[2019-03-01 11:08] legion-zver opened #373 "Tried to register two views with the same name RNCWebView"
- react-native-webview 5.2.4
- RN 0.58.6

On the 5.2.1 version everything works well

[2019-03-01 11:33] romreed opened #374 "react-native-webview onScroll Listener"
I'm try to set handler onscroll but nothing happend.
*  "react-native-webview": "^5.2.1"
*  "react-native": "0.57.7"

                                        source={{
                                            uri: this.state.chosenCityUrl,
                                            "Accept-Language": navigator.language,
                                            "User-Agent": Platform.OS,

[2019-03-01 11:54] mydesweb commented on #365
@legion-zver I agree with you, I can do this as a workaround for the moment but I think that is a issue with the webview that should be fixed in feature

[2019-03-01 12:53] dccarmo opened #375 "Compiling Android Issue: "Unable to resolve dependency""
When running the app on the emulator it works fine, but when compiling a new build (or when opening the app on Android Studio), I get:

[code]

So `staging` is a new `buildType` we created ourselves, and we haven't had any troubles with other third party libs.

Any idea what we're doing wrong?

[2019-03-01 14:02] Titozzz commented on #373
I think it's just a cache issue, clean / rebuild maybe?

[2019-03-01 14:02] Titozzz commented on #375
Not really, but maybe someone else will :)

[2019-03-01 15:27] jaspervanbrian opened #376 "scalesPageToFit makes text tiny"
Okay, I have installed `react-native-webview@5.2.1` a while back and I loaded Twitter Widget inside it, and it feels "mobile-like".

After I updated to `react-native-webview@5.2.4`, it made the texts in the webview tiny and it looked like you're on a desktop.

I read PR #275. Do we have the capability to set `setUseWideViewPort: true` or `setLoadWithOverviewMode: true` in React Native? It would be

[2019-03-01 23:05] jamonholmgren commented on #376
Hey @jaspervanbrian , those two methods will follow the `scalesPageToFit` prop. See here:

https://github.com/react-native-community/react-native-webview/blob/a661df1ffcfdd4b2eb1b82dd05005541897b784e/android/src/main/java/com/reactnativecommunity/webview/RNCWebViewManager.java#L565-L566

[2019-03-02 01:32] worldhugo opened #378 "File upload, HTML capture attribute not working"
Hi,

using capture="camera" not working properly on Android (not tested on iOS). Normally, the camera app should automatically start, but with the react-native-webview I have to "choose an action" (between "camera app" and "my files").

Thanks,

Hugo

[2019-03-03 00:34] guhungry commented on #374
injectedJavaScript="window.onscroll=function(){alert("Not WORK");};true;"

Please add `;true;` because `injectedJavaScript` need to eval as true

[2019-03-03 06:00] hellohaidev opened #379 "file upload cannot working"
upload file button cannot working in webview can help?
@andreipfeiffer @DanielMSchmidt @marconett

[2019-03-03 09:20] andreipfeiffer commented on #379
@hellohaidev can you please provide more information?

RN version, compileSdkVersion, buildToolsVersion, etc

[2019-03-03 09:45] hellohaidev commented on #379
web.js

[code]

[2019-03-03 09:45] hellohaidev commented on #379
package.json
[code]

[2019-03-03 09:46] hellohaidev commented on #379
build.gradle

[code]

[2019-03-03 09:47] hellohaidev commented on #379
build.gradle

[code]

[2019-03-03 09:47] hellohaidev commented on #379
androidmanifest.xml

<```
manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diskominfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
     <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permiss

[2019-03-03 09:48] hellohaidev commented on #379
@andreipfeiffer this file im use

[2019-03-03 09:50] hellohaidev commented on #379
procces build failed and error here :

[code]

[2019-03-03 09:54] hellohaidev commented on #379
@andreipfeiffer if im use `react-native-webview`  do i have change my code??

[2019-03-03 09:58] andreipfeiffer commented on #379
@hellohaidev you have 2 different packages included there:
`:react-native-webview-file-upload-android`
`:react-native-webview-android-file-upload`

Please remove both of them:
1. `react-native unlink <package>`
2. `npm uninstall <package>`

Then install `react-native-webview` as described the [Getting Started](https://github.com/react-native-community/react-native-webview/blob/master/docs/Getting-

[2019-03-03 10:02] hellohaidev commented on #379
ok im already for uninstall this package,and im install react-native-webview, and my question is for upload image,do i have change my code??

[2019-03-03 10:10] andreipfeiffer commented on #379
One of the packages that you've used is released by me `react-native-webview-android-file-upload`.
That package was included into this official package `react-native-webview`.

They both support File Upload.
Please checkout the [File Upload Guide](https://github.com/react-native-community/react-native-webview/blob/master/docs/Guide.md#add-support-for-file-upload).

Code changes should be minimal:

[2019-03-03 10:11] romreed commented on #374
@guhungry Thank you for answer but nothing change.

`  <WebView
                                        source={{
                                            uri: this.state.chosenCityUrl,
                                        }}
                                        javaScriptEnabled={true}
                                        ref={(b) => this._bridge = b}

[2019-03-03 10:16] hellohaidev commented on #379
ok im try

On Sun, Mar 3, 2019 at 5:10 PM Andrei Pfeiffer <notifications@github.com>
wrote:

[2019-03-03 10:17] xuho commented on #379
I have same issue, any solution please?

[2019-03-03 10:22] andreipfeiffer commented on #379
@hellohaidev first of all, your problem is that you cannot build for release? Or what exactly is the issue?

@xuho what "same issue" do you have exactly? The example @hellohaidev pasted here uses a different Custom WebView package.

[2019-03-03 15:05] tallpants commented on #365
@mydesweb does this happen on Android too? Or just iOS?

[2019-03-03 15:26] andreipfeiffer commented on #378
I see this as being a nice enhancement.

The `capture` attribute has 3 possible values, as described in the standard https://www.w3.org/TR/html-media-capture/#the-capture-attribute:

[code]

Also, the `capture` attribute is not very well supported at the moment:
https://caniuse.com/#feat=html-media-capture

[2019-03-04 06:50] punksta opened #380 "android webview's clear api are missing"
I find these methods useful, but they are missing in the rn webview.

- `clearFormData` Removes the autocomplete popup from the currently focused form field, if present.  https://developer.android.com/reference/android/webkit/WebView.html#clearFormData()
- `clearFormData` Clears any saved data for web forms. https://developer.android.com/reference/android/webkit/WebViewDatabase.html#clearFormData(

[2019-03-04 09:28] c1ngular opened #381 "onShouldStartLoadWithRequest not working consistently across different platforms"
`   "react": "16.6.3",
    "react-native": "0.58.5",
    "react-native-webview": "^5.2.1"`

**on iOS :** onShouldStartLoadWithRequest event fires 3 TIMEs with 3 different URLs
**on Android:** onShouldStartLoadWithRequest event fires 1 TIME with 1 URL

async requests/iframe  ignored on android ?

**UPDATE:**
i did a little research , found this [https://stackoverflow.com/questions/26651586/differen

[2019-03-04 12:59] marconett commented on #312
missing feature for me would be #137.

loading images with wkwebview doesn't work if the image is located in the local file-system (the apps "Documents" directory).
i can only reproduce the problem on device, it works on simulator. loading images from bundle-assets works as well.

[2019-03-04 13:29] xuho commented on #379
In my website, user can pick multiple file to upload, but in webview, user can only pick 1 file, any option to pick multiple file to upload?
Thank you.

[2019-03-04 13:36] andreipfeiffer commented on #379
@xuho this package supports multiple file upload. Just specify the [`multiple`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#multiple) attribute to your `input` element:

[code]

Doing so, should allow you to select multiple files from your device.

[2019-03-04 13:37] hellohaidev commented on #379
I want disabled fiture camera or hiden camera??why

On Mon, Mar 4, 2019, 8:36 PM Andrei Pfeiffer <notifications@github.com>
wrote:

[2019-03-04 13:38] hellohaidev commented on #379
Can i hiden or disabled camera fiture?

On Mon, Mar 4, 2019, 8:37 PM hello dev <hello.devapps@gmail.com> wrote:

[2019-03-04 13:41] andreipfeiffer commented on #379
@hellohaidev please explain more clearly your use case. I don't understand what you are asking.
Also, if your question is not related to this Issue, please open another Issue.
Thank you.

[2019-03-04 13:46] hellohaidev commented on #379
Sory,when I use the file upload feature, it displays the camera and sotrage
file options, the features I use are only uploading files from storage, how
can the file upload feature be clicked, the camera feature cannot be used,
as in library react native webview upload android previous

On Mon, Mar 4, 2019, 8:41 PM Andrei Pfeiffer <notifications@github.com>
wrote:

[2019-03-04 13:52] shukerullah opened #383 "Custom Fonts not working on iOS when useWebKit={true}"

[2019-03-04 14:19] andreipfeiffer commented on #379
@hellohaidev to disable photo/video capture, and allow only existing file selection, try this "hack" (not sure if it works):

[code]

[2019-03-04 14:35] ziomanlio opened #384 "testID not propagated on iOS?"
Unlike the Android's _WebView.android.js_ class, the iOS's _WebView.ios.js_ class does not propagate `testID` to `NativeWebView`. So I can't select WebView when running my tests in iOS.
Any solution?
Thank you

-----------
RN v0.58.3
react-native-webview v4.0.0

[2019-03-04 14:36] Titozzz commented on #384
#206 related maybe

[2019-03-04 14:42] jeluard commented on #229
@Titozzz Can we help somehow? Willing to help/implement this :D

[2019-03-04 16:34] punksta commented on #356
https://github.com/react-native-community/react-native-webview/blob/master/docs/Guide.md#communicating-between-js-and-native
you can find `injectJavaScript` useful. @peymancyb

[2019-03-04 16:38] alexanderby commented on #229
@jeluard Looking forward to see your implementation.

[2019-03-04 21:00] mydesweb commented on #365
@tallpants on Android is working just fine, the first field input get focus but no zoom in and the keyboard is shown only if I click on the field

[2019-03-04 23:08] jeluard commented on #229
@alexanderby It's available [there](https://github.com/status-im/react-native-webview-bridge/blob/master/android/src/main/java/com/github/alinz/reactnativewebviewbridge/WebViewBridgeManager.java#L253)

[2019-03-05 05:41] peymancyb commented on #356
Thank you @punksta but what i need is postMessage feature and still this feature does not work on android devices

[2019-03-05 07:06] PayalDinc opened #386 "In iOS, while render using HTML , there are too tiny fonts."
Here is my code :
`import { WebView } from "react-native-webview";`

[code]

[2019-03-05 07:44] daoan1412 commented on #386
Using the viewport meta tag to control layout on mobile browsers
```<meta name="viewport" content="width=device-width, initial-scale=1">```

[2019-03-05 07:53] PayalDinc commented on #386
@daoan1412  Thanks a lot. It works.

[2019-03-05 07:54] #386 closed

[2019-03-05 09:30] Titozzz commented on #356
You can literally replicate the undocumented postMessage functionality by following the guide above. 🤔 If you want to receive a message on the window you can inject a function that does just that.

[2019-03-05 09:30] #356 closed

[2019-03-05 09:38] Titozzz commented on #381
Feel free to submit a PR cc @maxammann

[2019-03-05 09:41] Titozzz commented on #312
But is it working with UIWebView?

[2019-03-05 09:42] marconett commented on #312
yes

[2019-03-05 12:21] geekazoid-at commented on #376
I can confirm the behaviour described by @jaspervanbrian and actually I don't understand the comment. I downgraded to work around the issue for now.

[2019-03-05 12:31] cem2ran commented on #193
A temporary fix/hack worth mentioning in case others run into this problem:
https://github.com/apache/cordova-ios/issues/417#issuecomment-467690772

Question is if this temporary fix should be shipped with `react-native-webview` until it's fixed natively or at least documented? @jamonholmgren

[2019-03-05 13:14] emannick commented on #224
Just avoid the nested view. If webview is placed in nested view then it will appear as a blank or white screen.

[2019-03-05 13:59] fauno commented on #356
romreed <notifications@github.com> writes:

just 2 extra cents.  i spent a few hours wondering why this wasn't
working and for some reason `console.log(event)` doesn't log anything,
but `console.log(event.nativeEvent.data)` does.

[2019-03-05 14:15] romreed commented on #356
@fauno Thank you. I not check your idea but all begin work. I am not understand reason.

"react": "16.6.3",
    "react-native": "0.57.7",
    "react-native-webview": "^5.2.1"
`
<WebView
                                    source={{
                                        uri: HOME_URL,
                                        "Accept-Language": navigator.language,

[2019-03-05 17:29] Titozzz commented on #356
@romreed "topconteiner" seems like a typo, could this be the issue?

[2019-03-05 17:41] c1ngular commented on #381
@Titozzz  willingly , i tried couple of times, but i could not make it work , i walked thought this repo and followed the implementation of shouldOverrideUrlLoading ,no avail.  for most of the steps , i was justing shooting in the dark , i have zero experience of mobile development . sorry~

[2019-03-05 22:47] zackzachariah opened #387 "[Feature Request] API to set cookies on webview"
Currently, both platforms offer the ability to set custom cookies on their webviews.
* iOS 2-11: [`NSHTTPCookieStorage`](https://developer.apple.com/documentation/foundation/nshttpcookiestorage) for `UIWebView`
* iOS 11+: [`WKHTTPCookieStore`](https://developer.apple.com/documentation/webkit/wkhttpcookiestore) for `WKWebView`
* Android: [`CookieManager`](https://developer.android.com/reference/and

[2019-03-06 07:29] keenubee commented on #376
For 5.2.4 on Android i used `scalesPageToFit={false}` as a workaround.
But for iOS with WKWebKit enabled it doesn't work so i'm using `useWebKit={false}` additionally.
I think it is something that should be fixed.

[2019-03-06 09:08] el-lsan opened #390 "Request object is missing properties on Android"
Based on https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#onshouldstartloadwithrequest I should get following properties inside request object:

[code]

However on Android, it only includes `navigationType` and `url`.

Here's my debug output in IOS:
[code]

And here's on Android for the exact same code and action:

[code]

So in case you want to limit `o

[2019-03-06 09:32] romreed commented on #356
@Titozzz It's just for my site. You can use
[code]

[2019-03-06 11:09] nagaokashi opened #391 "window.ReactNativeWebView.postMessage causes error on webview side"
##VERSION
[code]
I'm using laravel php framework for Webview side which is located on localhost.
The communication between react native side and webview are all fine.
But I got this error when opened website with PC browser.
`ReactNativeWebViewBridge.js:91 rnBridge send failed Cannot read property 'postMessage' of undefined`

This is source code on webview side
[code]

Source for native side
[code

[2019-03-06 11:12] Titozzz commented on #391
You get the error when running the website with no react-native app, right?
React-native is the one responsible for injecting window with the ReactNativeWebView object, so if you need your website to run all by itself, just add security check by checking if ReactNativeWebView exists on window

[2019-03-06 11:25] nagaokashi commented on #391
Oh yeah. I understood.
Thanks.

[2019-03-06 11:25] #391 closed

[2019-03-06 15:45] a1lu opened #392 "Load local html file"
Hi,
I try to load my html page:

[code]

But it does not render the content as html, but as text.

Thats my html file:
[code]

Any tips how to render the content?

[2019-03-06 17:23] alexanderby commented on #229
@jeluard I mean your fork of `react-native-webview` :) My project is stuck because this feature is missing.

[2019-03-06 18:09] paulxuca commented on #229
@alexanderby My fork available at https://github.com/paulxuca/react-native-webview is kept up-to-date and implements this behavior.

[2019-03-06 19:04] daoan1412 commented on #392
convert foobar.html to foobar.js
[code]

[2019-03-06 19:40] Bernabe-Felix commented on #319
@Mukul-Sharma Could you put a screenshot of the solution? Thanks!

[2019-03-06 20:25] punksta commented on #381
Ios and android methods don't work in a same way. Ios methods are asynchronous, android are synchronous. So I believe that `shouldInterceptRequest` can't be used until we get sync calls from java to js in react-native core. It can be used with white lists only(without async calls to js). Maybe that can help.

Unfortunately that's not only bad news. `shouldOverrideUrlLoading` and other webview meth

[2019-03-06 21:00] GokulDharumar commented on #312
Any updates on the wkwebview sessions issue? We are still not seeing the session not getting carried over the webview.. We are using flag set to false as below

<WebView
                useWebKit={false}/>

[2019-03-06 22:48] jimerino opened #396 "kCFErrorDomainCFNetwork (error code 1) in real device but no in simulator"
When I try to obtain a local html file from device, I obtain an kCFErrorDomainCFNetwork (error code 1)

[code]

That error only happens in real devices (in the emulator works fine).

This error disappears if:

i) I navigate to a http:// page (the error happen only when I read a html file from local)
ii) If I use useWebKit={false}

This is my WebView:

[code]

Regards,
Jose I. Merino

[2019-03-07 03:05] elyngved commented on #318
I found a possible workaround for this when using a URI. I render a WebView component, hiding it with styling, but it's still mounted so it can load the web page. I inject JS code that posts a message back to the React handler, which then unhides webview. This JS is executed on window.onLoad (I think?).

This way I can configure my desired background color on the container which is shown before pa

[2019-03-07 03:38] c1ngular commented on #381
@punksta  thanks, i added the **shouldInterceptRequest** to Android side, and was able to intercept and dispatch the event to React Native side , but i found it's quiet different from **shouldOverrideUrlLoading** , it intercepts every request(css/js/font/....)，so there will be a lot frequent data communication between the Native side and React Side , does it raise performance concern ?  when nativ

[2019-03-07 05:04] jamonholmgren commented on #396
Thanks for reporting, @jimerino ! If you get a chance to submit a PR to fix this issue, we would be happy to test it.

[2019-03-07 05:31] jamonholmgren commented on #318
Thanks for the repro! I'd love to see a PR helping us fix this. Happy to test when you do.

[2019-03-07 05:37] jamonholmgren commented on #137
That interface looks fine to me, @Gary-KK / @scarlz . I'd be happy to review a PR that implements it.

[2019-03-07 05:46] jamonholmgren commented on #312
@GokulDharumar Do #175 and #181 address the issue you're having, or is it something else?

[2019-03-07 05:53] jamonholmgren commented on #319
I'd really like it if you wanted to write up a guide and send a PR to our docs!

[2019-03-07 06:05] jamonholmgren commented on #229
@paulxuca What is the API for your implementation? It might be worth merging in if it's a thoughtful API.

[2019-03-07 06:15] jamonholmgren commented on #390
@el-lsan You're right. The documentation should be updated to reflect that. Would you want to do that and submit a PR?

If someone wants to work on making these properties more consistent across iOS and Android, here's the relevant code:

https://github.com/react-native-community/react-native-webview/blob/6e059e9c55cf3a8ab6870f137920c2997b901b07/android/src/main/java/com/reactnativecommunity/webvi

[2019-03-07 06:18] paulxuca commented on #229
On android:
`shouldInterceptRequest` + identifying GET requests and injecting the javascript in a script tag

On IOS:
`WKUserScript`

[2019-03-07 06:18] jamonholmgren commented on #376
Could someone post a minimal repro we can copy & paste to see the behavior? Or, better yet, a PR fixing the issue with a test plan so we can test & release it?

With only a couple of part-time maintainers, it becomes difficult to keep up with the dozens of issues we get filed every week, so anything you can do to make our lives easier is greatly appreciated.

[2019-03-07 06:23] jamonholmgren commented on #387
Hey @zackzachariah , thanks for the issue. Does [react-native-cookies](https://github.com/joeferraro/react-native-cookies) do what you're looking to do, or is it insufficient?

[2019-03-07 06:26] jamonholmgren commented on #201
This has been fixed in #296.

[2019-03-07 06:26] jamonholmgren commented on #193
@cem2ran This should be fixed in #296.

[2019-03-07 06:28] JasonXiang2014 commented on #73
I am looking for an answer for this question, and got a  library https://github.com/wootwoot1234/react-native-webkit-localstorage-reader, it's main thought is to find the data that  stored in file System directly, unfortunately it can't work in both android and IOS. @fernandomatheus Can you share the alternative way too?

[2019-03-07 06:28] jamonholmgren commented on #390
Actually, I just saw #385, which is addressing this issue.

[2019-03-07 06:32] jamonholmgren commented on #384
We would love a PR that fixes this, @ziomanlio !

[2019-03-07 06:33] jamonholmgren commented on #365
Thanks @mydesweb ; any ideas on how this might be fixed?

[2019-03-07 06:37] jamonholmgren commented on #229
@paulxuca Thanks!

I don't mind this at all. I don't particularly care for the `injectJavaScript` prop name, as we already have a prop named `injectedJavaScript` and a method `injectJavaScript`. That would be pretty confusing.

Perhaps the prop could be named `injectedJavaScriptBeforeLoad`? That way we have:

* `injectedJavaScriptBeforeLoad` -- prior to load
* `injectedJavaScript` -- after load

T

[2019-03-07 06:41] jamonholmgren commented on #380
Hey @punksta, thanks for submitting this issue. I'm okay with you creating a PR that implements these methods for use only on Android. (If people need it on iOS, they can implement that and submit a PR.)

[2019-03-07 06:41] jamonholmgren commented on #383
Hi @shukerullah , can you provide a minimal reproducible app where we can see the issue?

[2019-03-07 06:42] jamonholmgren commented on #378
This would be nice, for sure.

[2019-03-07 06:48] #373 closed

[2019-03-07 06:53] paulxuca commented on #229
Sure! That makes a lot more sense. Will make a seperate PR for this feature. Thanks for chiming in!

[2019-03-07 06:57] jamonholmgren commented on #374
@romreed I confirmed that your code did indeed work. (I used a different website, of course.)

![image](https://user-images.githubusercontent.com/1479215/53937830-23ea2c00-4063-11e9-9d97-0d30e0dfba60.png)

[2019-03-07 06:59] jamonholmgren commented on #278
We would love someone to take the initiative on this and make a PR! ❤️

[2019-03-07 07:02] jamonholmgren commented on #229
If you can include the information in the `docs/Reference.md` and `docs/Guide.md` ([this section](https://github.com/react-native-community/react-native-webview/blob/master/docs/Guide.md#communicating-between-js-and-native)) that would be epic. Thank you!

[2019-03-07 07:26] punksta commented on #390
@jamonholmgren yes, I've fixed exactly this issue in the pl

[2019-03-07 07:55] punksta commented on #380
@jamonholmgren
I am not sure what is best strategy for platform specific api implementation. I think we shouldn't generalize them for both platforms. We can ended up with multiple methods which does nothing at one platform and  something at others. Util classes `WebviewAndroidUtil.js` and `WebviewIosUtil.js` looks much better for me.

[2019-03-07 08:02] a1lu commented on #392
@daoan1412
thanks alot, though this did does not work for me.

But I got this working:

[code]

I need to add `html` for the source.

[2019-03-07 08:31] psamd opened #398 "Building for android "staging" buildType error: java.lang.NullPointerException (no error message)"
Hi, I am getting the following error when I try to generate APK using `./gradlew assembleStaging` or `./gradlew assembleRelease`:

[code]

I am using the following versions:
[code]

I use a staging buildType for my android builds.
[code]

[2019-03-07 08:41] romreed commented on #374
@jamonholmgren I don't know why but this work for me
[code]

[2019-03-07 08:41] #374 closed

[2019-03-07 09:31] psamd commented on #398
Solved!

In the buildType config, changing `matchingFallbacks = ['release', 'debug']` to `matchingFallbacks = ['release']` resolved the error.

The buildType config now looks like:
[code]
I still have no idea why its not taking multiple elements in the `matchingFallbacks` array.

[2019-03-07 09:39] #392 closed

[2019-03-07 13:11] dj-hedgehog opened #401 "File download does not work with PrimeFaces based websites"
I put the WebView in an app and have a website where the users need to be able to download files from.

After following https://github.com/react-native-community/react-native-webview/blob/master/docs/Guide.md#add-support-for-file-download downloading files worked for example on Github Releases pages.

However it still does not work with the (PrimeFaces based) web application inside my WebView. If

[2019-03-07 13:14] Arjan-Zuidema commented on #396
The issue is also present on Android, but with a different error: `net::ERR_ACCESS_DENIED`

Works on a simulator, but not on a real device

[2019-03-07 13:28] jimerino commented on #396
@Arjan-Zuidema I've have this problem in Android and solved with:

i) Make sure the props in WebView originWithilist and allowFileAccess are proper

        originWhitelist={['*']}
        allowFileAccess={true}

ii) If the local file is in a directory outside from the assigned app directories, you must give read access to external storage:

https://developer.android.com/reference/android/Manifest

[2019-03-07 14:15] Arjan-Zuidema commented on #396
@jimerino I don't have this issue in version 4.1.0 but in any versions above I get `net::ERR_ACCESS_DENIED`

I already have set the props

[code]

My source props are
[code]

`<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />` is set in `AndroidManifest.xml`
I also tried asking for permissions on the fly, but that does not seem to fix the problem.

[2019-03-07 14:19] cem2ran commented on #193
@jamonholmgren That's great! Is there a reason why this issue is still open then?

[2019-03-07 14:28] jimerino commented on #396
@Arjan-Zuidema

/data/user/<userId>/... Not completly sure but and userId = 0 gives me a clue that you're trying access to user root folder

Have you try to read an html file from cache folder?

[2019-03-07 14:35] Arjan-Zuidema commented on #396
@jimerino /data/user/0/ is what RNFS.CachesDirectoryPath gives me, I just solved it by using RNFS.ExternalCachesDirectoryPath. Thanks for your input!

[2019-03-07 16:23] zackzachariah commented on #387
Hey @jamonholmgren,

Unfortunately `react-native-cookies` has a few issues:
1. It doesn't have support for adding arbitrary cookies on Android. (It only supports that feature on iOS.)
2. Its Issues indicate that there are various issues on `master`, including crashes and outdated versions of gradle and npm.
3. Its README indicates that it's been abandoned and so I shouldn't expect fixes for 1 and

[2019-03-07 17:35] gzzo commented on #387
I'm also looking for this feature, and I also find `react-native-cookies` insufficient.

Another point is that since that project is abandoned, `master` is way ahead of the release on npm, which doesn't support WKWebView.

[2019-03-07 18:43] jimerino commented on #396
@jamonholmgren

I've made a PR. Be gentle, it's my first PR :)

This post gives me the clue:

https://stackoverflow.com/questions/35847493/loading-local-file-works-fine-in-simulator-but-crash-on-device

The only thing I do is check if there's a host in the URL and call to loadRequest if true and the new method loadFileURL if not (but, please, check it. Don't know if there's a collateral damage in

[2019-03-07 18:47] zackzachariah commented on #387
Oh good spot @gzzo - I didn't even think to check the diff between github and npm...

[2019-03-07 20:36] Taym95 commented on #358
Hello, I would like to work on this issue, can someone give a piece of advice where I should start?

[2019-03-07 21:15] acollazomayer opened #404 "When keyboard opens scrolls to the bottom of the page"
Hi I have a webview with a form in it when I click one of the inputs the keyboard opens. However the webview scrolls to the end of the page instead of centering the input in the view

[2019-03-07 21:25] GokulDharumar commented on #312
@jamonholmgren Yes in our web project we are checking for httpession. Looks like when we use useWebKit={false} httpsession getting transferred from our login page to home page. But when we  don't use the flag... the httpsession is not getting transferred to the webview from login screen. I even updated to 5.30 version but with no luck.

Thanks

[2019-03-08 02:31] andrewchae commented on #224
Is there really no way to get this working with a nested view?

[2019-03-08 03:03] CubeSugar commented on #384
- about original view props

In my opinion, the way to set original view props by using

```testID={this.props.testID}```(like pr #402 )

or

```someProp={this.props.someProp}```

is not the best practice.

@ziomanlio needs `testID` this time, someone may need more other props somewhen.

#206 may be one of the ways to solve problems.

- workaround

U can set `testID` by using prop [NativeConfig](h

[2019-03-08 05:50] JasonXiang2014 commented on #73
I find an alternative way 。It seems like this :
<WebView
        ref={ref => this.webView = ref}
        source={{ uri }}
        javaScriptEnabled={true}
        domStorageEnabled={true}
        allowFileAccess={true}
        ref={(r) => { this.webview = r }}
        onLoadEnd={() => this.onLoadEnd()}
        injectedJavaScript={patchPostMessageJsCode}
        onMessage={(e) => this.handleMessage

[2019-03-08 05:59] imdadhussain004 opened #405 "if debugger is off, onMessage does not trigger."
I have migrated from code Webview to react-native-webview.
followed the guide, now i need to communicate from webview to react-native. for that
`<WebView
.......
 onMessage={event => {
                    alert("hiiiiii"+event)
                    this._onMessage(event)
                }}
`
but i does not trigger.

[2019-03-08 08:43] Titozzz commented on #312
@marconett does #403 fixes your issue?

[2019-03-08 10:20] indapublic commented on #405
Probably, I have same issue.
[code]

[code]

I see alert but **onMessage** not fired

[2019-03-08 10:22] imdadhussain004 commented on #405
I have resolved it. Please let me see you onMessage function @indapublic

[2019-03-08 10:28] indapublic commented on #405
[code]

[2019-03-08 10:39] CubeSugar commented on #365
I notice that at the bottom of [login page](https://www.mydavy.ie/login.htm) source codes, there is a line:

  `$("#username").focus(); `

This may be the reason webview auto focus & zoom.

---

Steps to reproduce:

1. touch a __index.html__ file, and append codes below:

[code]

2. start a file server, by using `python -m SimpleHTTPServer 30001` or other ways u prefer.

3. open iOS Safari

  - ch

[2019-03-08 10:58] imdadhussain004 commented on #405
`onMessage={event => {
alert("calling onMessage"+event)
                    //this._onMessage(event)
                }}`

check if you are getting this alert

[2019-03-08 13:07] marconett commented on #312
@Titozzz just tested it, doesn't fix my problem. the html file itself loads fine, it's images references in html (`<img src="...">`) that aren't.

[2019-03-08 13:40] Titozzz commented on #312
@marconett Alright thanks for testing :)

[2019-03-08 15:35] MayeuldP opened #407 "NSURLErrorDomain - 1202 (Certificate)"
Good afternoon,
just saw this library today, I'm still and originally using `Webview from "react-native"`, then I saw your repo, so I wanted to give it a try.
However, I'm stuck with this error when the Webview try to launch ⏬

<img width="200" alt="capture d ecran 2019-03-08 a 16 20 33" src="https://user-images.githubusercontent.com/15033774/54037397-5bb9b680-41be-11e9-9966-ed9ed76f1de2.png">

It

[2019-03-08 16:10] RangerMauve opened #408 "`getModule()` throws exception with Custom Webview on Android"
React-Native: ^0.58.5
React: 16.6.3
React-Native-WebView: ^5.2.3

I'm working on making a [custom webview](https://github.com/RangerMauve/datmobile/tree/master/android/app/src/main/java/com/datmobile/webview) based on the guide [in the docs](https://github.com/react-native-community/react-native-webview/blob/master/docs/Custom-Android.md).

It's working well in that it's loading my native code and

[2019-03-08 16:22] RangerMauve commented on #408
I'm not sure why the downloadManager is even being invoked since I'm intercepting the request

[2019-03-08 18:34] lucidtheory commented on #292
running into this same issue

[code]

will keep tinkering but already tried invalidating and restarting with no success

[2019-03-08 18:40] Titozzz commented on #292
@salakar have you ever since this issue on your repo ?

[2019-03-08 18:40] Titozzz commented on #292
@salakar have you ever seen this issue on your repo ?

[2019-03-08 19:45] RangerMauve commented on #408
I've made some progress by removing the RNCWebView package from `MainApplication.java` and having `RNCWebViewManager` initiated within the package for my plugin.

Here's what it looks like:

[code]

Not sure if there's a better approach I could take here. 😅

[2019-03-08 19:48] lucidtheory commented on #292
https://github.com/lucidtheory/webviewTest

This repo recreates the issue I'm having.

Steps:
-init new react native project
-install this lib
-add
[code]
to app level `build.gradle`
-run `cd android && ./gradlew assembleRelease`

and the above crash happens

[2019-03-08 20:37] lucidtheory commented on #292
Update:

[code]

so I was able to get the build to run by essentially skipping the subprojects conditional for react-native-webview.

This seems a bit hacky. I'm curious if there is something in the repo that isn't allowing it to run this script the same way all the other repos we are using do. So it's not a fix but a workaround.

[2019-03-09 00:46] Titozzz commented on #224
Just use overflow hidden as specified in the docs on the container view

[2019-03-09 00:46] Titozzz commented on #193
Nope

[2019-03-09 00:46] #193 closed

[2019-03-09 02:49] Salakar commented on #292
There's some issues on mine with grade 4.7+ - so maybe related if the grade version being used here is higher than RNs default of 4.6 @Titozzz

I've not looked into the issues any further yet 🙈

[2019-03-09 06:11] indapublic commented on #405
As I said before onMessage not fired

[2019-03-09 11:38] ifiokjr commented on #405
@imdadhussain004 how did you resolve it?

I'm having the same issue in my app. Works fine when in debug - but hangs and eventually crashes the app without debug.

[2019-03-09 11:46] imdadhussain004 commented on #405
@ifiokjr please share you onMessage() function.
I was checking if json I'm getting from webview is valid or not, i commented that section and it started working

[2019-03-09 11:57] ifiokjr commented on #405
Okay, I just figured it out.

The app seems to crash when you try to log the event.

[code]

[2019-03-09 16:09] ifiokjr commented on #405
@indapublic Looking at your code I believe the reason it isn't working is that you're using `window.postMessage` instead of `window.ReactNativeWebView.postMessage` within the `injectedJavascript` prop.

If you change it you should at least see the `onMessage` handler fire.

Also, it seems that logging the `event` causes the app to freeze as my message above suggests.

[2019-03-10 10:33] shukerullah commented on #383
Fonts are working fine on Android and iOS when `useWebkit` is set to `false`.

Here is my code:
[code]

[2019-03-10 15:12] CubeSugar commented on #318
# about @elyngved 's workaround:

General Speaking, there is no need to set webview invisible during loading by using `{flex: 0}` yourself. WebView handles visibility by itself, see these [lines](https://github.com/react-native-community/react-native-webview/blob/455e22e3b3b4d4751e4f114409a7e89416e1cfdd/js/WebView.ios.js#L214-L221) at __js/WebView.ios.js__:

[code]

# a simple solution to change w

[2019-03-10 23:37] indapublic commented on #405
@ifiokjr Yeah, i fixed it already. Thanks!

[2019-03-11 06:29] nahidmbstu opened #409 "react native webview is not importing scripts tag libraraies in html template"
[code]

the script tag should initiate a Modal but nothing is showing ....

[2019-03-11 07:06] Diwei-Chen commented on #298
Hi, the chrome version we are on is 72.0.3626.121 but we are still having the blank screen problem. The code we are using that doesn't work is:
[code]

It works fine for a url use case like:
[code]

"react-native": "0.58.5",
"react-native-webview": "5.3.0"

[2019-03-11 11:34] legion-zver commented on #365
@mydesweb If you set useWebkit = {false} The problem remains?

[2019-03-11 11:34] musicode opened #410 "Keyboard can't show after input some special characters"
RN version: 0.58.0
RNW version: 5.3.0

![image](https://user-images.githubusercontent.com/2732303/54120834-c0317b80-4433-11e9-952b-87b13ff2c198.png)

I want to write a rich text editor, so I put a `<div contentEditable="true"></div>`.

when I click the div, editor become the first responder, then keyboard is shown.

But, after I input some special characters(as above screenshot) and then click div

[2019-03-11 20:36] tmaly1980 commented on #4
@jpodpro Your solution works only for GET requests, not POST requests in case there are form submissions within the WebView.

[2019-03-11 23:19] sgtpepper43 opened #411 "postMessage instance method not documented"
I noticed there's a `postMessage` instance method on the component [here](https://github.com/react-native-community/react-native-webview/blob/master/js/WebView.ios.js#L369). It's not documented anywhere, so, is it officially supported or is it some sort of deprecated function? If it's supported, I'd be happy to write docs for it. If it's not, I'd also be happy to mark it as deprecated in the sourc

[2019-03-12 06:22] puyangdev opened #412 "originWhitelist={['https://*', 'http://*']} 不起作用"
<WebView
          style={{ flex: 1 }}
          ref={'webView'}
          source={{ uri: this.props.url }}
          onLoad={this._onLoad}
          // onShouldStartLoadWithRequest={this._onShouldStartLoadWithRequest}
          onNavigationStateChange={this._onNavigationStateChange}
          useWebKit={true}
          originWhitelist={['https://*', 'http://*']}
        />

[2019-03-12 06:39] MSSPL-PiyaleeMaiti commented on #140
@Titozzz you should add manual liking documentation in package document. It will help to developer to recheck manually that is it linking properly or not. I am facing the problem, and find the solution from here.
Thanks for solution.

[2019-03-12 08:07] ManigandanRaamanathan commented on #224
I'm still facing this issue. Any fix? This works fine on iOS. But on android the entire screen become white

[2019-03-12 08:13] ManigandanRaamanathan commented on #259
any other solution?

[2019-03-12 11:31] PayalDinc opened #413 "Dynamic height for html text"
While using `WebView` we have to provide height. Is there any way such that `WebView` will be rendered based on HTML content for it?

Here are my lines of code :

[code]

[2019-03-12 17:37] maxammann commented on #381
shouldOverrideUrlLoading and shouldInterceptRequest are doing different things which should be handled in react-native. shouldInterceptRequest is working on individual http requests which is currently not implemented in react-native.

shouldOverrideUrlLoading kind of handles "clicks". The behaviour of onShouldStartLoadWithRequest is inconsitent during the loading of the webview. I'm currently usin

[2019-03-12 17:42] maxammann commented on #192
Also releated to https://github.com/react-native-community/react-native-webview/issues/8#issuecomment-468439323

[2019-03-12 18:17] drbarto commented on #294
The "good first issue" label looks inviting to me ;-) but I'm not an Android dev, so any hint where to start with fixing this issue would be appreciated.

[2019-03-12 18:30] andrewchae commented on #224
@Titozzz setting overflow: hidden makes the screen the background color of the app but content still does not load on screen.

[2019-03-13 11:39] tallpants commented on #411
I think it's due to be removed: https://github.com/react-native-community/react-native-webview/blob/4cbfc811958644469a354488a7e0028cec7b3266/README.md

But I'd actually argue that we document this and maintain it instead of removing it. The argument is that it's less flexible than `injectJavaScript`, but there is one major use case that `injectJavaScript` can't handle, and only `postMessage` can -

[2019-03-13 11:42] tallpants commented on #411
@Titozzz @jamonholmgren  -- what do you guys think?

[2019-03-13 11:55] tallpants commented on #411
It's due to be removed @sgtpepper43  -- I think it's due to be removed: https://github.com/react-native-community/react-native-webview/blob/4cbfc811958644469a354488a7e0028cec7b3266/README.md#versioning

[2019-03-13 13:26] #411 closed

[2019-03-13 13:28] Titozzz commented on #411
injectJavascript offers way more flexibility. What could be done is create helpers to help people use it if it's too complicated :)

[2019-03-13 13:29] #412 closed

[2019-03-13 13:35] Titozzz commented on #360
Can you confirm you are using iOS 10+? this is only available then?

[2019-03-13 13:51] matthieupinte opened #415 "HTTP Redirect 302 generate Error"
Hi,
Don't know why, but got some issue when WebView call an URL that do a redirect.

- **React** ^16.3.0-alpha.1
- **React Native** 0.53.3
- **React Native Webview** ^5.3.0

Android :
[code]

Here with a **redirect** status **302**, not working:

[code]

Red screen :

<img width="352" alt="Screenshot 2019-03-13 at 2 45 53 PM" src="https://user-images.githubusercontent.com/2217014/54283658-c5f7a000

[2019-03-13 15:53] sgtpepper43 commented on #411
It's not necessarily too complicated, just a little _too_ flexible. In any other instance when asked the question "should we just pass strings down to this function and let it `eval` the code, or should we define an api?" the answer would always be to define an api. I'm not even sure how it's more flexible, I can't think of anything you can do with `injectJavascript` that you couldn't do with `pos

[2019-03-13 15:56] Titozzz commented on #411
Many people actually inject / execute code inside the webview with this, and it would not be doable with postMessage.

[2019-03-13 15:58] sgtpepper43 commented on #411
The only reason you wouldn't be able to do it with `postMessage` is if you didn't own the source of the webview. If you own the source of the webview, you just move the code you're going to inject over to the html, and then execute it via postMessage, passing any data you need.

[2019-03-13 16:02] Titozzz commented on #411
Once again, there is no reason to limit possibilities... 🤔 With your logic we could also remove injectedJavascript.

You would be surprised what people are doing with the webView 😆

[2019-03-13 16:10] sgtpepper43 commented on #411
Fair point, though it seems like there might be a good reason they don't let you inject javascript into iframes in browsers anymore 😉

I guess my main concern is people at my own company needing to use a webview, interfacing with it poorly (since there isn't really an established pattern for doing so), and then later our app runs into problems that are hard to fix because of it. I don't know all t

[2019-03-13 16:38] sgtpepper43 commented on #411
Ohhh, yeah yeah. That would be nice.

[2019-03-13 16:44] tallpants commented on #411
@Titozzz the only thing I can think of is having a way to pass arbitrary strings like access tokens from RN to the webview, that might be harder with inject because the token could have arbitrary characters in the string. Is there any reason in particular you're opposed to documenting and maintaining `postMessage`?

[2019-03-13 17:54] cva-volt commented on #411
i agree with sir @tallpants  and sir @sgtpepper43; and i'm also confused about the bridge removal.

for our use case we would like to keep the usage of the webview as transparent as possible to the ones who host it (in our case a 3rd party Card Processor) and js injection is kind of a "shady business" there

besides, all the bridge logic goes through static code analysis;  which would have to be i

[2019-03-13 19:59] lunarraid commented on #375
I just started running into this after upgrading to react native 0.5.9, which requires a gradle upgrade.

[2019-03-14 06:49] stoneWeb opened #416 "TypeError: Not enough arguments"
I used window.postMessage, but I got a TypeError: Not enough arguments,
why?

[2019-03-14 07:21] Shivani12345 opened #417 "Pdf view can't load"
How to show pdf in "react-native-webview ?. I put pdf file url in source but it shows me downloading toast and can't load pdf.Help me

[2019-03-14 08:13] Titozzz commented on #411
PostMessage litteraly injects JS containing the code so that you receive an event on the window object. It's a duplicate and this is the reason it was never documented.

All the feedbacks are noted and when I remove it I'll create helpers.

[2019-03-14 08:20] Titozzz commented on #390
Fixed in 5.3.1

[2019-03-14 08:20] #390 closed

[2019-03-14 08:21] #398 closed

[2019-03-14 08:23] Titozzz commented on #401
To be honest I don't know!

[2019-03-14 08:25] Titozzz commented on #358
@smathson maybe ?

[2019-03-14 08:27] Titozzz commented on #407
There is no reason it would be any different from the original component 🤔

[2019-03-14 08:28] Titozzz commented on #292
I'm in the process of updating my own project to use SDK 28 so I guess I'll know soon

[2019-03-14 08:30] Titozzz commented on #383
Duplicate of #137 you cannot load local file with WKWebView for now.

[2019-03-14 08:30] #383 closed

[2019-03-14 08:31] #318 closed

[2019-03-14 08:32] #405 closed

[2019-03-14 08:33] Titozzz commented on #409
Can you inspect the page and see if everything loaded? Check the docs for how-to

[2019-03-14 08:35] Titozzz commented on #140
There is a linking section in the readme :disappointed:

[2019-03-14 08:35] Titozzz commented on #413
No it is not possible

[2019-03-14 08:37] Titozzz commented on #415
This repo only works with react native 0.57 and above

[2019-03-14 08:37] #415 closed

[2019-03-14 10:11] tallpants commented on #411
Good to hear, thank you @Titozzz 🎉

[2019-03-14 10:15] CubeSugar commented on #416
Pls read this [Guide: Communicating between JS and Native](https://github.com/react-native-community/react-native-webview/blob/master/docs/Guide.md#communicating-between-js-and-native) first.

[2019-03-14 18:07] el-lsan commented on #390
@Titozzz `navigationType` is still inconsistent.
On IOS I get `click` but on Android is `other`.

[2019-03-14 18:16] punksta commented on #390
@el-lsan that's another problem: https://github.com/react-native-community/react-native-webview/issues/381

as far I know it's impossible to distinguish clicks from other request events on android.
I'm using
[code]
it works in most of my cases.

[2019-03-14 19:14] el-lsan commented on #390
@punksta I see.
Thanks for the info. 🙌

[2019-03-15 03:01] hezhii opened #419 "Digest authorization failure"
I want to play MJPEG video with WebView and video streams require digest authentication. I added the automatic digest authentication code.
[code]

However, I still get  code `401`. But if I use the WebView from react native, It works well.

I also write a [digest authentication server](https://github.com/hezhii/http-auth) to test. I request a protected image with the same code, the image can be di

[2019-03-15 05:14] ddinggu opened #420 "[Android]Build failed withd error: react-native-webview:reactNativeAndroidRoot"
I having trouble with build android apps, after build release apk for google play console test.
I can't expect why occur this error, because anything edit my codes not.

## Detail Error

[code]
--------
## Android settings

- android/app/build.gradle
[code]

- android/build.gradle

[code]

------
## Environment
[code]

[2019-03-15 05:14] ddinggu opened #421 "[Android ]Build failed withd error: react-native-webview:reactNativeAndroidRoot"
## Detail Error

[code]

## Environment
[code]

[2019-03-15 05:15] #421 closed

[2019-03-15 05:34] ddinggu commented on #421
I don't know why upload this article and don't know how to remove this.
So, I closed this issue.
Please comment if anyone remove github issue.

[2019-03-15 05:57] mydesweb commented on #365
@legion-zver I noticed that only if I explicitly set useWebKit={false} (which is weird) auto focus & zoom will not happen, but on click on any input it is the same behavior. I had a chance to test the same scenario on a native implementation (actually I rewrite the app on react native) and it is working well, but I can't say how they did the implementation because I am not an iOS dev

[2019-03-15 10:30] ashokadichill opened #422 "WebView `onMessage` is not working in Android."
Package json:

-  "react": "16.6.3",
-  "react-native": "^0.58.5"
-  "react-native-webview": "^5.3.1"

Description :

WebView onMessage doesn't work on Android.

`

export default class TestContainer extends Component {

    sendPostMessage = () => setTimeout(() => {
        this.webView.postMessage('🤑 loaded')
    }, 100)

    render() {
        return (
            <SafeAreaView forceInset={{ to

[2019-03-15 12:16] chgsilva commented on #30
any news regarding this issue? same problem here

[2019-03-15 12:34] Titozzz commented on #422
In your injectedJavascript you are using window.postMessage, it has been removed: https://github.com/react-native-community/react-native-webview/releases/tag/v5.0.0

[2019-03-15 12:34] #422 closed

[2019-03-15 12:34] ashokadichill commented on #422
It was my bad I am running HTML inside the app once it's published on the server. if I access via URI it works as expected.

[2019-03-15 12:34] Titozzz commented on #422
Alright

[2019-03-15 12:35] #416 closed

[2019-03-15 14:17] el-lsan commented on #390
@punksta I just tried to use your solution but I don't see any `event.progress`.
FYI i'm using:
[code]
These are the properties I get:
[code]

[2019-03-15 16:13] punksta commented on #390
@el-lsan `loading !== false`

[2019-03-16 05:50] lixiaopeng168 commented on #251
你需要更改为 "org.jetbrains.kotlin:kotlin-stdlib-jdk7$kotlin_version"  注意是 jdk7 不是jre7

[2019-03-16 07:23] iamdhj commented on #413
You can using ```postMessage``` and ```onMessage```
[code]

[2019-03-16 11:26] mhmtsrfglu opened #426 "hardwareBackPress is not working in Webview"
I have a webview app. I want to active harwarebackpress on my webview. But my codes are not working.

`  webView = {
    canGoBack: false,
    ref: null,
  }

  onAndroidBackPress = () => {
    if (this.webView.canGoBack && this.webView.ref) {
      this.webView.ref.goBack();
      return true;
    }
    return false;
  }

  componentWillMount() {
    if (Platform.OS === 'android') {
      BackHan

[2019-03-16 17:07] c1ngular commented on #381
@maxammann  I am using shouldInterceptRequest method to filter specific request on Android now,  cuz my use case does not really need to intercept any request, just need to inform the react side which request is being made , the current shouldOverrideUrlLoading method on Android is not able to capture iframe(verified) and Ajax request .

 I do hope shouldInterceptRequest method could be implemente

[2019-03-17 15:21] lpikora commented on #101
I just found that this approach can cause crash on some Android devices (tested on Pixel 1, Android Pie)

Same issue can be fixed by setting 0.99 opacity to WebView component `<WebView style={{ opacity: 0.99 }} />`

I tested it on Pixel 1, Android Pie.

https://stackoverflow.com/questions/54131875/screen-blinks-once-when-rendering-a-webview-on-android/54719378#54719378

[2019-03-17 23:02] jamonholmgren commented on #224
We're going to have to rely on the community to help us fix this one, as it's not top of our priority list right now. Hope y'all can help find a solution soon -- happy to review and test when you do!

[2019-03-17 23:19] jamonholmgren commented on #408
Hey @RangerMauve, I'm not much help here and it's probably beyond the scope of this repo's issues, so I'll close this issue. I hope you're able to accomplish what you're looking to do though!

[2019-03-17 23:19] #408 closed

[2019-03-18 09:00] ashokadichill commented on #409
Hi @Titozzz ,
It just an information need 
I am redirecting to foodon.tst.com it will redirect to webon.tst.com for some reasons once user operation finished. 
will this work if I send data from webon.tst.com using
window.ReactNativeWebView.postMessage('get your data')

[2019-03-18 09:02] ashokadichill commented on #422
@Titozzz
Hi,
It just an information need
I am redirecting to foodon.tst.com it will redirect to webon.tst.com for some reasons once user operation finished.
will this work if I send data from webon.tst.com using
window.ReactNativeWebView.postMessage('get your data')

[2019-03-18 09:38] ashokadichill opened #427 "React Native WebView getting response from different source"
I am loading a React Native's WebView component like so

`<WebView
  source={{uri: 'http://www.example-one.com'}}
  onMessage = {(event) => console.log(event.nativeEvent.data)}
/>`

And inside my www.example-one.com I add this javascript code
`window.ReactNativeWebView.postMessage('it will work)`

This works great and I am able to the message from www.example-one.com in my React Native's console.

[2019-03-18 12:55] Salakar commented on #292
I've updated to SDK 28 locally and have had no build issues; @lucidtheory you should use `beforeEvaluate` instead of `afterEvaluate` - which will successfully build.

On a side note / off topic, specifying the `buildToolsVersion` is not really needed and will generally be ignored and default to the one bundled with gradle; e.g. gradle `4.10.0` comes with `28.0.3`

[2019-03-18 13:22] #292 closed

[2019-03-18 13:39] Salakar commented on #420
Hey @ddinggu,

As far as I can tell I don't think this is an issue with webview specifically; what's happening here is your build is retrieving React Native from the remote Maven repository (React Native stopped publish to this a few years ago (hence version 20) - this should instead be reading from your local Maven that you defined (`maven { url "..etc.." }`).

If you still feel this is an issue

[2019-03-18 13:39] #420 closed

[2019-03-18 14:00] ddinggu commented on #420
Thanks for your reply @Salakar.

I resolved this problem and should be cafeful open issue. It just compile version issue, not react-native-webview issue.

[2019-03-18 14:19] filiptdz opened #428 "[Android] Opening local HTML file as text"
When I use `source={require('./filePath.html')}`, the iOS WebView loads the file correctly, but Android renders it as text instead:

![WhatsApp Image 2019-03-18 at 11 15 59](https://user-images.githubusercontent.com/20490694/54536487-91556100-496f-11e9-93ef-ad0be76b1b16.jpeg)

[2019-03-18 16:47] dlindstrm opened #429 "[ANDROID] Crashes appeared around March 13th (Chrome 73)"
We have encountered an issue when using Android 9 in combination with Chrome 73. When wrapping a WebView within a View styled with `overflow: hidden` the entire app crashes. I solved it by setting `opacity: 0.99` on the WebView, and keep the `overflow: hidden` style on the wrapper. I found the solution [here](https://stackoverflow.com/questions/54131875/screen-blinks-once-when-rendering-a-webview-

[2019-03-18 16:59] Titozzz commented on #429
Can you either provide a clear repro // or tell me what's happening inside the device logs (using logcat or pidcat)?

[2019-03-18 20:24] lukebaker opened #430 "WebView recently started crashing on Android on some devices"
Starting on March 14, our app started seeing crash reports from users that have this backtrace:

[code]

Our last release was on February 7, so we haven't introduced any changes. Additionally, it doesn't appear to be related to the content that we're showing as all the content we've been showing for the past month also shows the problem.

I was able to duplicate it on the following:
* Android 5.1.

[2019-03-18 21:08] christianbach commented on #430
@lukebaker I can confirm that the crash is related. we where seeing the `Fatal signal 11 (SIGSEGV)` in our production app. Our solution to fixing the problem was setting `opacity: 0.99` on the actual webview and keeping `overflow: hidden` on the container.

[2019-03-18 21:47] dlindstrm commented on #429
@Titozzz The device logs didn't give us that much:
[code]

To reproduce it you have to:
1. Have an Android 9 device.
2. Use Chrome 73.0.3683.75. I installed Chrome Beta from Play Store and switched webview implementation in android dev settings.
3. Render this:
[code]

[2019-03-18 23:17] svetlanakaida opened #431 "Failing with This is possibly due to an unsupported return type. Try adding true to the end of your injectedJavaScript string."
Failing with "This is possibly due to an unsupported return type. Try adding true to the end of your injectedJavaScript string." then trying to send data from RN to WebView.

 call = (webview: ?Function) => (data: string) =>
    webview && webview.injectJavaScript('getData(data)');

<WebView
        ref={webview => {
          props.passProps.props = props.call(webview);
        }}
    onLoad={()

[2019-03-19 00:45] #431 closed

[2019-03-19 03:00] malonguwa commented on #430
@christianbach @lukebaker this crash also happens on Samsung S8 when I try to navigate back from any screen included WebView, and I tried @christianbach 's fix, it is working.

[2019-03-19 05:15] ateymoori commented on #428
same problem

[2019-03-19 07:43] dlindstrm commented on #430
@malonguwa do you really need to wrap the webview with `overflow: hidden` if you have a single webview covering the entire screen?

[2019-03-19 08:03] Ankarrr commented on #48
I also encounter this issue. So I should rename RCTWKWebView to RNCWKWebView in all files?

[2019-03-19 08:40] malonguwa commented on #430
@dlindstrm cos when I navigate to my webViewScreen and then click the back button on the left top l, the app crash..... and I guess it is related to the webView component, cos this only happens when navigate back from the WebViewScreen, if no webView everything works well

[2019-03-19 10:23] Titozzz commented on #430
Let's keep all discussion to #429! This will probably help get this solved faster 💯

[2019-03-19 11:06] Salakar commented on #429
@lukebaker: @Titozzz and I tried to reproduce with a Samsung S10+ with Chrome version `73.0.3683.75` and couldn't reproduce this with the following snippet:

[code]

Please could you help/advise more on how to reproduce?

Thanks

[2019-03-19 12:28] cpojer opened #432 "React Native Android app that uses websockets is crashing as webview is not loaded"
* * *
  This issue was originally created by @bakkiraju as facebook/react-native#21822.
  * * *

## Environment
Run `react-native info` in your terminal and paste its contents here.
 React Native Environment Info:
    System:
      OS: Windows 10
      CPU: x64 Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz
      Memory: 8.46 GB / 31.81 GB
    Binaries:
      Yarn: 1.9.4 - C:\Program Files (x86)\Yarn\b

[2019-03-19 14:41] lukebaker commented on #429
@Salakar @Titozzz I've created a sample app that crashes on the following device: Android 9; Nokia 6.1 with Chrome 73.0.3683.75.

https://github.com/lukebaker/WebViewScrollBug

Steps to reproduce should be:
1. clone repo
2. yarn install
3. react-native run-android
4. scroll past WebView content (the white area).

[2019-03-19 16:32] Titozzz commented on #429
FYI: Does not crash on chrome 73.0.3683.75 android 8.0 Oneplus 3T

[2019-03-19 16:58] Titozzz commented on #429
@nfischer would you have an idea about what's happening? Looks like webview crashes on android P when it gets out of screen and probably unmounted.

` Fatal signal 6 (SIGABRT), code -6 (SI_TKILL) in tid 11172 (RenderThread)` is not very explicit

[2019-03-19 20:17] GokulDharumar commented on #312
@jamonholmgren Hi any updates on the httpsession issue. We are blocked on iOS for now. Android its working fine

[2019-03-20 03:55] nfischer commented on #429
Could someone file a report at https://goo.gl/9qkbdn? If you can include a compiled APK (and a link to source code), my teammate and I can repro (and can likely get some more information).

[2019-03-20 08:27] Titozzz commented on #429
I'll do that asap.

[2019-03-20 08:43] florian-lemiere commented on #101
@lpikora : Thanks a lot for this one, overflow:'hidden' crash my app since few days and opacity:0.99 work perfectly !!!

[2019-03-20 08:57] Titozzz commented on #101
CC #429 .

[2019-03-20 10:24] cpojer opened #436 "Webview inside Flatlist does not scroll smoothly"
* * *
  This issue was originally created by @KevinLoc as facebook/react-native#22550.
  * * *

  ## Environment
React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
      Memory: 6.28 GB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 8.11.4 - /usr/local/bin/node
      npm: 5.6.0 - /usr/loc

[2019-03-20 10:24] cpojer opened #437 "WebView's Sibling Views does not render until user interaction"
* * *
  This issue was originally created by @Rinkuk1993 as facebook/react-native#22940.
  * * *

  - [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
React Native Environment Info:

[2019-03-20 10:33] Titozzz commented on #429
https://bugs.chromium.org/p/chromium/issues/detail?id=944020 @nfischer

[2019-03-20 10:54] ziomanlio commented on #384
Thank you @CubeSugar ! I will temporarily fix my issue using this workaround.

[2019-03-20 11:38] ionut-movila commented on #137
We would also need this feature: trying to load in webview a local cached image using react-native-fetch-blob

[2019-03-20 11:44] Titozzz commented on #384
This will be fixed very soon actually, doing lasts checks before release

[2019-03-20 12:20] rpuls commented on #140
Not sure this will help anyone. But i was having this issue as well, (just react native NO expo). I tried manully adding `import com.reactnativecommunity.webview.RNCWebViewPackage;` in MainApplication.java
Didn't do the trick. But decided to run `react-native unlink react-native-webview` and i noticed that it removed the import com.reactnativecommunity.webview.RNCWebViewPackage; which i manually a

[2019-03-20 12:35] #384 closed

[2019-03-20 12:58] MSSPL-PiyaleeMaiti commented on #140
@Titozzz There is react-native-link for automatic linking. But there should be explain about manual linking. In our project automatic linking not working always(in Android), so I was needed the manual linking in MainApplication.java. That's why I am telling. The manual linking should be in readme.

[2019-03-20 13:58] Titozzz commented on #140
@MSSPL-PiyaleeMaiti https://github.com/react-native-community/react-native-webview/blob/master/docs/Getting-Started.md#2-link-native-dependencies

Did you see that part?

[2019-03-20 14:05] MSSPL-PiyaleeMaiti commented on #140
No, not seeing this part. Sorry. :upside_down_face: it's my mistake.

[2019-03-20 14:06] Titozzz commented on #140
What should we update so that everyone sees it?

[2019-03-20 14:09] MSSPL-PiyaleeMaiti commented on #140
You can update the brief details in readme instead of article link, then
give article link to follow details.

Piyalee Maiti
Thanks & Regards

On Wed, 20 Mar 2019, 7:36 pm Thibault Malbranche, <notifications@github.com>
wrote:

[2019-03-20 15:26] Titozzz opened #438 "[WIP] Clean code // Remove unnecessary props -- PART 1"
Over time, WebView has evolved a lot and has gone through many updates, resulting today in a hard and messy code to maintain.

In order to keep the webview API as clean as possible, we are going to remove some props and do some code refactoring. But keep in mind that this will not affect what you can achieve with WebView.

### Affected props:
* **originWhitelist**: this prop is used to limit the U

[2019-03-20 16:25] maxschmeling commented on #428
I'm having an issue on Android also, but it's actually crashing with this error:
```TypeError: source is not an Object. (evaluating "method' in source')```

It is working if I use a URI source to a local asset (which is what I do when `__DEV__` isn't truthy) but this breaks dev reloading:
```{ uri: "file:///android_asset/overlay.html" }```

[2019-03-20 17:09] maxschmeling commented on #224
I'm having this same issue. I can set the background color of the webview and that will show, but no content will ever load (tried from uri source, html source, local android asset source, and a module/require source).

[2019-03-20 20:43] Salakar commented on #420
@ddinggu good to hear you solved it 🙃

[2019-03-20 23:58] Titozzz commented on #48
What version are you using @ankarrr

[2019-03-21 01:36] jamonholmgren commented on #438
I agree with this removal. If people want to emulate it, they could provide a subclass of the WebView that implements `onShouldStartLoadWithRequest` and emulate the `originWhitelist` behavior.

👍

[2019-03-21 02:12] jamonholmgren commented on #437
I tried to replicate this problem but was unable to. If you can provide a minimal repro that would really help!

[2019-03-21 02:14] #131 closed

[2019-03-21 02:14] jamonholmgren commented on #131
Looks like this has been resolved. Feel free to open a new issue if you're still experiencing issues.

[2019-03-21 02:31] jamonholmgren commented on #436
@KevinLoc Can you try adding the following prop to your WebView and see if it helps?

`windowSize={3}`

If you're finding it doesn't render quickly enough as you scroll, experiment with `windowSize={5}`.

[2019-03-21 02:48] jamonholmgren commented on #312
@GokulDharumar Did you test with the branch in #181?

[2019-03-21 02:56] jamonholmgren commented on #224
Actually, please submit a new issue with a clear minimal repro so we can copy it into a fresh test app and see the behavior.

[2019-03-21 02:56] #224 closed

[2019-03-21 07:54] ThibautGeriz opened #440 "[Android] Webview becoming blank when scrolling"
First of all big thank for the lib.
I had the issue with the  [chrome update](https://github.com/react-native-community/react-native-webview/issues/429) So I updated my as suggested:

[code]

Since the release, I had some report saying that when scrolling the webview, it is becoming blank. I could not reproduced the error, I am still gathering infos.
Anyone has any idea on what is happening here?

[2019-03-21 11:45] tijs commented on #429
Just to add some more context; we too experienced this issue once Chrome 73 started rolling out last thursday. We had about 150.000 crashes before we applied the opacity: 0.99 hack which fixed it in most cases. We did however run into an issue with that fix where it prevents the webview content from rendering correctly (scroll actions behave erratically, taps are registered in different location f

[2019-03-21 12:43] TheGuy68 opened #441 "window.postMessage"
Sometimes this works and others it doesn't. event when on line 5 it doesn't 6 is does.
Is there any reason for this or is it just that this functionality is unreliable?

[2019-03-21 13:28] Titozzz commented on #429
@tijs this is so sad to read. Sadly this is out of my hands and we are waiting for more info from the Chromium team. You can read here all the comments https://bugs.chromium.org/p/chromium/issues/detail?id=944020#c11 until it went moved to internal threads we can't see. This also affects my app in production 😠.
Fingers crossed

[2019-03-21 13:38] Salakar commented on #438
Discussed this yesterday with you but for public visibility, I also agree with this removal. There's no point in having 2 features where one can also provide what the other does anyway.

[2019-03-21 13:49] tijs commented on #429
@Titozzz don't be sad. I think this package has seen some great improvement since it has been extracted from react-native. Love where it's going and this sort of bug is not something you can prepare for.

Since webviews do not crash when loaded inside a race-native Modal component on Android 9 with Chrom 73 i still have some hope there is a fix beyond waiting for Chromium to do something though. I

[2019-03-21 14:38] Titozzz commented on #429
@tijs Thanks, you made my day. 😃

[2019-03-21 14:47] maxschmeling opened #444 "[Android] No content will load when the WebView is not the root view"
As per [this comment](https://github.com/react-native-community/react-native-webview/issues/224#issuecomment-475098688) on #224 I'm creating this issue with simple reproduction steps for the Android `WebView` display issue.

**STEPS**
1. Render a `WebView` as anything but the root view.
2. Set the source to anything valid that should load a visible page.

**EXPECTED**

The `WebView` should display

[2019-03-21 14:48] Titozzz commented on #444
Well if your view does not have a height it won't be displayed 🤔 , add flex:1 to the view containing or a fixed height to the webview?

[2019-03-21 15:00] maxschmeling commented on #444
Ah, good point. The reproduction attempt appeared to match what I was seeing in my real-world case so I assumed it was correct. But you're right, this wouldn't be visible either way. Working on a better reproduction.

[2019-03-21 15:02] Titozzz commented on #444
Thanks 👍

[2019-03-21 15:07] maxschmeling commented on #444
This isn't a reproduction of my issue, but I do find this odd and *possibly* could be related... when I set the width and height to be 200, the `WebView` is twice as tall as it is wide and appears to lose the background color on the bottom half (notice the scroll bar on the WebView)...

![image](https://user-images.githubusercontent.com/112691/54761941-197e7500-4bc1-11e9-8987-6cb61dd26ef2.png)

[2019-03-21 15:17] Titozzz commented on #444
So there is this issue that since 0.56/0.57 don't remember they changed the way overflow works and it broke webview on android. Best way to use it actually is to leave it to it's default flex 1 and wrap inside a view with overflow:'hidden', and then you size that view however you need.

[2019-03-21 15:32] maxschmeling commented on #444
I'm having difficulty reproducing this in a simple case. So now I'm not sure what's causing my issue. Maybe it's something about being inside `react-navigation` containers that's causing the issue. I'll keep playing with different configs and see if I can figure out what causes it.

I do know for sure though that it simply doesn't display the web content in my case even when the `WebView` itself i

[2019-03-21 15:36] Titozzz commented on #444
I'm using it with react-navigation without any problems but please if you have a repro, I'll try to give it a look

[2019-03-21 15:47] maxschmeling commented on #444
In my real-world case, I did what you suggested above and wrapped the `WebView` in a correctly sized `View` and then set `flexGrow: 1` on the `WebView` and it seems to be working now. I'm going to play around a bit more and make sure that's actually the only thing that I did that caused it to start working. But I think this can be closed if that's the "correct" fix.

[2019-03-21 15:49] Titozzz commented on #444
Alright, glad to hear. flexGrow on the webview should not be needed as it's already default.

[2019-03-21 15:49] #444 closed

[2019-03-21 15:54] jamonholmgren commented on #438
Could we provide a warning if that prop is used? And say something like "`originWhitelist` has been removed; use `onShouldStartLoadWithRequest` instead".

[2019-03-21 16:38] cdn34 commented on #375
I'm also having a similar issue: `Unable to resolve dependency for ':app@releaseStaging/compileClasspath': Could not resolve project :react-native-webview.`

[2019-03-21 16:39] Ankarrr commented on #48
@Titozzz I upgrade RN from 0.55.4 to 0.58.6, and then I encounter this issue.

[2019-03-21 16:50] Titozzz commented on #438
this is planned actually 👍

[2019-03-21 16:51] Titozzz commented on #375
@Salakar? Any idea?

Could you give provide a complete reproduction?

[2019-03-21 16:52] Titozzz commented on #48
Please send here your package.json

[2019-03-21 19:20] lunarraid commented on #375
The only way I was able to get around this was by not including `debug` as a fallback in my staging build type in `android/app/build.gradle`. It now looks like this:
[code]

[2019-03-21 21:58] nfischer commented on #429
We aren't trying to hide the fix from you. We merged this into an auto-reported crash report, which we hide from the public by default to protect user security (the report has detailed crash stacks, which might potentially help a malicious actor trigger crashes or exploit user security). Fixes are landing ([commit](https://chromium-review.googlesource.com/c/chromium/src/+/1529925), [commit](https:

[2019-03-22 01:33] flynnch commented on #441
https://github.com/react-native-community/react-native-webview/releases/tag/v5.0.0

[2019-03-22 01:45] GreatAuk opened #445 "When I use "inline html", can not load js file"

[2019-03-22 01:46] GreatAuk commented on #445
[code]

[2019-03-22 03:03] smathson commented on #358
Hi @Taym95! Thanks for your interest in this issue.

My guess is that the Android DownloadManager refuses to download a file with the same filename as one that already exists. I'm not sure exactly what behavior we'd like to have here. We could follow the example of browsers and try to append a (#) to the end of the filename, or we could just show the user an error message instead of doing nothing.

[2019-03-22 03:20] Ankarrr commented on #48
https://gist.github.com/Ankarrr/226ff3f1b8862373c1b8b283e3e87f48 Thanks.

[2019-03-22 04:13] lizcross opened #446 "RNCWKWebView.webView(_:didReceive:completionHandler:) to allow for further customizations"
Currently [`webView(_:didReceive:completionHandler:)`](https://github.com/react-native-community/react-native-webview/blob/master/ios/RNCWKWebView.m#L408) allows for customization of its response when the authentication method is `NSURLAuthenticationMethodClientCertificate`.

I have a use case where I would like to allow sites (localhost) without valid SSL certs to load while I am debug mode (in m

[2019-03-22 08:14] Titozzz commented on #429
@nfischer I did not mean anything bad, just described the current situation so that users don't panic. I well aware you guys are probably handling this right now 💪.

@salakar this made me think, would it be possible to write a test for detox with different chrome versions?

[2019-03-22 08:28] Taym95 commented on #358
Thanks a lot for the explanation 🙏

[2019-03-22 10:43] fdobre opened #447 "[IOS] When useWebKit={true} all IOS styles based on dimensions are inconsistent comparing to Android and to useWebKit={false}"
**React** Native Environment Info:
[code]

[code]

Similar issues I have when I calculate the height of the webview like this:

[code]

For IOS I don't have to do adjustments using PixelRatio if `useWebKit={false}`

If I do not apply these adjustments the result is very inconsistent and looks similar to the attached print screen:

![Screen Shot 2019-03-22 at 12 30 56 PM](https://user-images.github

[2019-03-22 13:04] Salakar commented on #429
I like the thought of this but I don't think we can 😞 not sure how we could control changing which webview to use in dev settings for example as detox only has apis to control the app

[2019-03-22 13:06] Salakar commented on #375
@dccarmo @lunarraid any chance you could provide a reproduction repo that I could clone and take a look at? Hard to triage without this

[2019-03-22 13:48] Titozzz commented on #447
This is expo, so you cannot use react-native-webview (they are updating it but not yet). Are you sure this issue is reproducible on this repo ?

[2019-03-22 13:49] alexlevy0 commented on #341
Same issue when i'm using template string even with a big timer :/

[2019-03-22 14:22] fdobre commented on #447
I am not using expo, I only provided a reproducible demo based on expo.

This issue shows up if I enable webkit for IOS and it seems the PixelRatio workaround for calculations doesn't work on real device, it works only in simulators....

[2019-03-22 15:18] fdobre commented on #447
So using PixelRatio.get() doesn't seem a solution for scaling. I have to use adjustmentRatio = 3 to keep proportions between IOS and android for when using webkit={true}

[2019-03-22 16:25] MayoudP commented on #407
Sorry, I actually lost the access to my original account (@MayeuldP ), so here I am again (sorry for the delay) :

I tried with the very basic example :
[code]

It's actually working well for Android, on Simulator and Real devices (both)
However on iOS, I get the same error with the screen that I added in the first post.
[code]

This is the kind of errors that I get in the log of the simulator :
[

[2019-03-22 17:54] AdamZaczek opened #448 "Overflow: hidden on Webview's container causes Android 9 to crash"
When webview is being loaded inside an item from FlatList there is an issue where it overflows from its container effectively covering the whole screen.
There seems to be a popular fix for this - using overflow: hidden on webview's container.
Sadly, this solution causes the app to crash on a physical device: Samsung Galaxy S9+ with Android 9.
It works perfectly well on other devices and simulators

[2019-03-22 17:56] Titozzz commented on #448
duplicate of #429.

TLDR: https://bugs.chromium.org/p/chromium/issues/detail?id=944020#c17 will fix it

[2019-03-22 17:56] #448 closed

[2019-03-22 18:02] AdamZaczek commented on #429
Just a piece of though - we did find a workaround but it's the hackiest thing I've seen in a while and it's extremely error-prone. You can implement special Android Chrome 72+ dedicated screens which will route to new stacks after Webviews are loaded and come back right after to have everything work without overflow: hidden.
Don't implement it in your codebases tho! I mean it, it will work but you

[2019-03-22 22:13] mpochron opened #449 "[iOS] Unable to resolve module"
![image](https://user-images.githubusercontent.com/7736131/54855777-f3a7bc00-4cf7-11e9-9708-2238784159b3.png)

This issue sill exists on 5.4 or newer.

RN: 0.59
Platform: iOS

Downgrade to 5.3.1 works.

[2019-03-23 00:34] Titozzz commented on #429
FYI it appears to be fixed on chromium team side so we are now just wait for the release 😍

[2019-03-23 00:37] Titozzz commented on #449
This looks like a cache issue. Have you tried --reset-cache?

[2019-03-23 12:43] vadimshvetsov commented on #310
I can't as build as `./gradlew clean`, has the same error:
[code]

[2019-03-23 14:42] dylancompanjen commented on #194
This issue still exists. Switched back to WebView from RN for the time being.