[2018-09-09 23:13] jamonholmgren opened #2 "Drop support for UIWebView"
@Titozzz asked me if we could drop support for UIWebView in this package, and I had already [mentioned this](https://github.com/react-native-community/discussions-and-proposals/pull/3#issuecomment-419610408) in the RFC. When testing this package, there are several issues with UIWebView, so it makes sense to drop support for it.

My proposal is to leave UIWebView in (for now) but not put engineerin

[2018-09-09 23:46] jamonholmgren opened #4 "MIGRATED: WebView does not send custom request header after the first initial page load (#8693)"
Migrated from React Native core: https://github.com/facebook/react-native/issues/8693

@chiraggshah says:

---

The source prop for WebView allows for passing request headers. When the webview renders for the first time, the request headers are sent.

But when the links within that page are clicked, the headers are not sent to the server in the request header.
Similarly, when the goBack() method i

[2018-09-09 23:56] jamonholmgren opened #5 "MIGRATED: react native html postMessage can not reach to WebView (#11594)"
Migrated from React Native core: facebook/react-native#11594

@raiderrobert says:

---

I use React Native webview to show index.html, and HTML will post messge to the app. The app will then receive the message and write it to console. The problem is the app cannot receive messages, when postMessage is immediately run on head. I think it maybe related to HTML not finished loading. I then used a de

[2018-09-09 23:58] jamonholmgren opened #6 "MIGRATED: html select element not working in WebView on android tablets (#12070)"
Migrated from: https://github.com/facebook/react-native/issues/12070

@miestr says:

---
Description
The select element with regular ng-options is not working correctly on Android tablets: the options are not displayed on click/touch.
My react-native app contains a simple WebView which loads a simple url, for example http://www.w3schools.com/bootstrap/bootstrap_forms_inputs.asp
The webpage contain

[2018-09-10 00:00] jamonholmgren opened #7 "MIGRATED: Webview is not executing my JavaScript from the web page on Android? (#14754)"
MIgrated from https://github.com/facebook/react-native/issues/14754

@andrisole92 says:

---

Description
When I open WebView on Android emulator or real device it does not execute JavaScript. I have run simple Android App in Android Studio and it worked there.

Reproduction Steps
Just create a new app and add this WebView to it

Sample Code

[code]

Solution
Can you please check it and say what i

[2018-09-10 00:03] jamonholmgren opened #8 "MIGRATED: WebView stopLoading no longer working in onNavigationStateChange on Android (#15679)"
Migrated from https://github.com/facebook/react-native/issues/15679.

@tss101 says:

---

Environment
Environment:
OS: macOS Sierra 10.12.6
Node: 6.11.2
Yarn: 0.15.1
npm: 3.10.10
Watchman: 4.9.0
Xcode: Xcode 8.2 Build version 8C38
Android Studio: 2.2 AI-145.3537739

Packages: (wanted => installed)
react: 16.2.0 => 16.2.0
react-native: 0.53.3 => 0.53.3 (reproduced in react-native: 0.54.2, 0.55.4)

[2018-09-10 00:06] jamonholmgren opened #9 "MIGRATED: The use of postMessage will lead to WebView onLoadStart run Twice (#16547)"
Migrated from https://github.com/facebook/react-native/issues/16547.

@TrustTheBoy says:

---

Environment
OS: macOS Sierra 10.12.6
Node: v7.10.0
Yarn: 0.27.5
npm: 4.2.0
Watchman: 4.7.0
Xcode: Xcode Version 9.1 beta (9B37)
Android Studio: 2.3
react-native: 0.48.4
react: 16.0.0-alpha.12
Target Platform: iOS (8-11.1) android(4.4.4-8.0)

Steps to Reproduce
messtest = e => {
  const message = e.native

[2018-09-10 00:06] Titozzz opened #10 "MIGRATED: Android WebView don't apply CSS filter properly. (#20979)"
Migrated from facebook/react-native#20979.

@kevinNejad says:

---
Review the documentation: facebook.github.io/react-native
Search for existing issues: facebook/react-native/issues
React Native Environment Info:
System:
OS: Linux 4.15 Ubuntu 18.04.1 LTS (Bionic Beaver)
CPU: x64 Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz
Memory: 322.83 MB / 15.39 GB
Shell: 4.4.19 - /bin/bash
Binaries:
Node: 8.11.4 -

[2018-09-10 00:08] jamonholmgren opened #11 "MIGRATED: Input type="file" doesn't work in WebView Android (#16869)"
Migrated from https://github.com/facebook/react-native/issues/16869.

@FelipeBohnertPaetzold says:

---

Environment
Steps to Reproduce
Add a component with WebView pointing to a page that contains a file type input.

Access the component of an Android device.

Expected Behavior
The photo gallery of Android is expected to open to select the desired file.

Actual Behavior
Nothing happens, as if it

[2018-09-10 00:11] jamonholmgren opened #12 "MIGRATED: Pinch-to-Zoom doesn't work without setting scalesPageToFit={true} explicitly on WebView component. (#17005)"
Migrated from https://github.com/facebook/react-native/issues/17005.

@ewhitebloom says:

---

Environment
Steps to Reproduce
(Write your steps here:)

Make a WebView Component
Set the source attribute to have a uri value of a PDF.
You'll notice that you can't pinch-to-zoom without explicitly setting scalesPageToFit={true}. Even though the docs say that it is set to true by default, it appears it

[2018-09-10 00:11] Titozzz opened #13 "MIGRATED: WebView ScrollEnabled={false} Bug w/ Keyboard iOS Only (#20793)"
Migrated from facebook/react-native#20793.

@PvanHengel says:

---

When using a WebView with the scrollEnabled prop set to false, the scrolling is disabled as expected, however, if the user focus a text area within the webview, and the keyboard displays, the scroll view automatically scrolls up to offset for the keyboard, there is no way for the user to scroll back down to see the content at the

[2018-09-10 00:14] jamonholmgren opened #14 "MIGRATED: App crashes on startup on select environments (Samsung + Android 7 + outdated system WebView) (#18322)"
MIgrated from https://github.com/facebook/react-native/issues/18322

@SeMeKh says:

---

We were seeing a notable amount of crashes on Samsung devices, and after getting hold of a device that kept crashing, we realized that even a freshly react-native inited project crashes on startup.

Environment
Environment:
  OS: Linux 4.15
  Node: 9.8.0
  Yarn: 1.5.1
  npm: 5.7.1
  Watchman: Not Found
  Xcode

[2018-09-10 00:16] jamonholmgren opened #15 "MIGRATED: It is no longer possible (0.49-0.54) to retrieve Google AMP urls (#18442)"
Migrated from https://github.com/facebook/react-native/issues/18442.

@ksegla says:

---

 I have reviewed the documentation
  I have searched existing issues
  I am using the latest React Native version
Google AMP is now how most news articles are loaded when someone makes a query on Google. Up to 0.48.4, it was possible to detect and manage (bookmark, etc.) page changes in that setting. I was on

[2018-09-10 00:18] Titozzz opened #16 "MIGRATED: Some of webpages are not properly scaled when startInLoadingState is set to true (#20616)"
Migrated from facebook/react-native#20616.

@kyo504 says:

---

If startInLoadingState is set to true in WebView component, layout is broken for some web pages.

---

_More info in original thread_

[2018-09-10 00:22] jamonholmgren opened #17 "MIGRATED: Android performance issue when using large webviews (#19112)"
Migrated from https://github.com/facebook/react-native/issues/19112.

@Athaphian says:

---

When using a webview that has a large height, for example 5000, the performance is drastically reduced. Scrolling in the webview or a surrounding ScrollView becomes unbearably slow.

When the webview has a height of 100%, the scrolling occurs within the webview itself and everything works fine. It's just w

[2018-09-10 00:28] jamonholmgren opened #18 "MIGRATED: The WebView has no support for Basic Authentication (or custom headers). (#19200)"
Migrated from https://github.com/facebook/react-native/issues/19200.

@mausworks says:

---

 I have reviewed the documentation
  I have searched existing issues
  I am using the latest React Native version
This is kind of a duplicate of issue #8693, an almost two year issue outlining the same problem. I have left a comment there regarding this. But just to make it clear:

Given how common hybrid

[2018-09-10 00:30] jamonholmgren opened #19 "MIGRATED: App is reloaded when include Webview (#19799)"
MIgrated from https://github.com/facebook/react-native/issues/19799.

@hadassaChemouni says:

---

Environment
Environment:
OS: macOS High Sierra 10.13.5
Node: 8.11.3
Yarn: 1.7.0
npm: 5.6.0
Watchman: 4.7.0
Xcode: Xcode 9.2 Build version 9C40b
Android Studio: 3.0 AI-171.4443003

Packages: (wanted => installed)
react: 16.3.1 => 16.3.1
react-native: 0.55.4 => 0.55.4

Description
I create app that is

[2018-09-10 00:31] jamonholmgren opened #20 "MIGRATED: onMessage listener conflict with window.postMessage to iFrame (#19866)"
Migrated from https://github.com/facebook/react-native/issues/19866

@danielang says:

---

Environment
Environment:
OS: macOS Sierra 10.12.6
Node: 8.11.3
Yarn: 1.7.0
npm: 5.6.0
Watchman: 4.9.0
Xcode: Xcode 9.2 Build version 9C40b
Android Studio: 3.1 AI-173.4670197

Packages: (wanted => installed)
react: 16.3.2 => 16.3.2
react-native: 0.55.4 => 0.55.4

Description
This issue affects both iOS and A

[2018-09-10 00:33] jamonholmgren opened #21 "MIGRATED: unable to load local assets or from CDNs along with window.postMessage not working in iOS release build (#20226)"
Migrated from https://github.com/facebook/react-native/issues/20226.

@sja1n says:

---

Environment
React Native Environment Info:
System:
OS: macOS High Sierra 10.13.5
CPU: x64 Intel(R) Core(TM) i5-5350U CPU @ 1.80GHz
Memory: 310.16 MB / 8.00 GB
Shell: 5.3 - /bin/zsh
Binaries:
Node: 8.11.1 - /usr/local/bin/node
Yarn: 1.5.1 - /usr/local/bin/yarn
npm: 5.6.0 - /usr/local/bin/npm
Watchman: 4.9.0 - /

[2018-09-10 00:35] jamonholmgren opened #22 "MIGRATED: WebView not scrollable when under ScrollView"
Migrated from https://github.com/facebook/react-native/issues/20347.

@mehulmpt says:

---

Environment
React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.3
      CPU: x64 Intel(R) Core(TM) i5-5250U CPU @ 1.60GHz
      Memory: 29.76 MB / 8.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 8.1.4 - /usr/local/bin/node
      npm: 4.6.1 - /usr/local/bin/npm
      Wa

[2018-09-10 00:36] jamonholmgren opened #23 "MIGRATED: postMessage doesn't follow the spec (#20400)"
Migrated from https://github.com/facebook/react-native/issues/20400.

@brunobar79 says:

---

Environment
Run react-native info in your terminal and paste its contents here.
React Native Environment Info:
System:
OS: macOS High Sierra 10.13.6
CPU: x64 Intel(R) Core(TM) i7-7567U CPU @ 3.50GHz
Memory: 29.69 MB / 16.00 GB
Shell: 5.3 - /bin/zsh
Binaries:
Node: 9.9.0 - ~/.nvm/versions/node/v9.9.0/bin/n

[2018-09-10 00:37] jamonholmgren commented on #23
@brunobar79 I'm happy to review & accept a pull request with the solution you referred to in your issue. Are you interested in helping with this?

[2018-09-10 00:38] jamonholmgren opened #24 "MIGRATED: iOS WebView doesn't support hash url change. The onNavigationStateChange listener will not be called when url hash changes. (#20447)"
Migrated from https://github.com/facebook/react-native/issues/20447.

@ll929 says:

---
Environment
React Native Environment Info:
System:
OS: macOS High Sierra 10.13.3
CPU: x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
Memory: 109.62 MB / 8.00 GB
Shell: 5.3 - /bin/zsh
Binaries:
Node: 9.11.1 - ~/.nvm/versions/node/v9.11.1/bin/node
Yarn: 1.7.0 - /usr/local/bin/yarn
npm: 5.6.0 - ~/.nvm/versions/node/

[2018-09-10 00:40] jamonholmgren opened #25 "MIGRATED: Cookie not working with Payment Geteway. (#20470)"
Migrated from https://github.com/facebook/react-native/issues/20470

@abdelhakimkotti says:

---

Environment
React Native Environment Info:
System:
OS: macOS High Sierra
CPU: 2,53 GHz Intel Core i5
Memory: 8 Go 1067 MHz DDR3
IDEs:
Android Studio: Version 3.0
Xcode: Version 9.2

Description
Am implementing party payment gateway in a webview And when the user got redirected to the result page, i go

[2018-09-10 00:41] jamonholmgren opened #26 "MIGRATED: WebView's source prop should not require whitelist for static HTML. (#20527)"
Migrated from https://github.com/facebook/react-native/issues/20527.

@squirly

[2018-09-10 01:08] jamonholmgren opened #27 "MIGRATED: WebView doesn't support `width: 100%` and `alignSelf: stretch` (#20551)"
Migrated from https://github.com/facebook/react-native/issues/20551

@sesm says:

---

Environment
Environment:
OS: macOS High Sierra 10.13.4
Node: 8.11.3
Yarn: 1.7.0
npm: 5.6.0
Watchman: 4.9.0
Xcode: Xcode 9.2 Build version 9C40b
Android Studio: 3.0 AI-171.4443003

Packages: (wanted => installed)
react: 16.3.2 => 16.3.2
react-native: 0.55.4 => 0.55.4

Also reproducible on latest version of react-

[2018-09-10 01:09] jamonholmgren opened #28 "MIGRATED: WebView in RN 0.56 does not allow geolocation requests on Android with proper app permissions & geolocationEnabled={true} prop (#20570)"
Migrated from https://github.com/facebook/react-native/issues/20570.

@levi-beers says:

---

Environment
React Native Environment Info:
System:
OS: macOS High Sierra 10.13.5
CPU: x64 Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
Memory: 676.74 MB / 16.00 GB
Shell: 3.2.57 - /bin/bash
Binaries:
Node: 10.8.0 - ~/.nvm/versions/node/v10.8.0/bin/node
Yarn: 1.9.4 - ~/.yarn/bin/yarn
npm: 6.2.0 - ~/.nvm/versi

[2018-09-10 01:11] jamonholmgren opened #29 "MIGRATED: Issue with window.postmessage on Android webview only when debug is not turned on. (#20714)"
Migrated from https://github.com/facebook/react-native/issues/20714.

@mattdwardle says:

---

Environment
React Native Environment Info:
System:
OS: macOS High Sierra 10.13.6
CPU: x64 Intel(R) Core(TM) i7-4870HQ CPU @ 2.50GHz
Memory: 944.55 MB / 16.00 GB
Shell: 3.2.57 - /bin/bash
Binaries:
Node: 10.6.0 - /usr/local/bin/node
npm: 6.3.0 - /usr/local/bin/npm
Watchman: 4.9.0 - /usr/local/bin/watchman

[2018-09-10 01:14] jamonholmgren opened #30 "MIGRATED: allowFontScaling is not working in webview for Android. (#20960)"
Migrated from https://github.com/facebook/react-native/issues/20960.

@manoj2166 says:

---

Environment
Environment:
OS: macOS High Sierra 10.13.5
Node: 6.9.4
Yarn: Not Found
npm: 3.10.10
Watchman: 4.9.0
Xcode: Xcode 9.4 Build version 9F1027a
Android Studio: 2.2 AI-145.3537739

Packages: (wanted => installed)
react: ^16.3.1 => 16.4.1
react-native: ^0.55.0 => 0.55.4

Description
allowFontScaling i

[2018-09-10 05:26] squirly commented on #26
Copied from https://github.com/facebook/react-native/issues/20527 with formatting:

## Description
Due to how HTML is opened in iOS, it seems that using `source` as `{html: string}` no longer works, without white-listing `about:blank`.

This is a possible regression/side effect of https://github.com/facebook/react-native/commit/634e7e11e3ad39e0b13bf20cc7722c0cfd3c3e28.

## Solutions
There are two

[2018-09-10 16:59] jamonholmgren commented on #26
Thanks @squirly , I couldn't seem to copy the formatting and was in a hurry. 😁

[2018-09-10 17:58] brunobar79 commented on #23
@jamonholmgren  Sure. Happy to hear that webview is gonna be moved as a separate package. Hopefully this will benefit the entire community!

[2018-09-10 21:40] santiago commented on #18
You may just do http://username:password@host/what/ever

[2018-09-10 21:59] jamonholmgren commented on #2
This package now uses WKWebView by default instead of UIWebView (per #3). I'll leave this issue open, as we'll want to fully drop support for UIWebView at some point.

[2018-09-10 22:00] jamonholmgren commented on #18
@santiago Thank you! Is that the recommended workaround for this issue? If so, we'll probably want to document that somewhere.

[2018-09-10 22:03] Titozzz commented on #2
Great 🎉

[2018-09-10 22:18] Titozzz commented on #18
I know there is restriction for this on older ios versions. So we should double check @santiago

[2018-09-10 22:46] Titozzz opened #33 "Support Android file upload"
There are already a lot of forks of the official webview to support that feature, there is no reason not to add it to that repo.

Let review all of them and we can discuss about implementation here.

[2018-09-10 22:53] jamonholmgren commented on #18
React Native only supports back to iOS 9, so prior to that we won't have to support either.

[2018-09-11 08:06] Titozzz commented on #18
I'll make some test today and let you guys know.

[2018-09-11 10:55] mausworks commented on #18
Hello! Thanks for migrating the issue. 👍

As most of you have pointed out, `username:password@host.tld` only works on some iOS devices, I've not gotten it to work on any Android device.

Also, while I've argued from a point of view that "basic authentication does not work", but a more fundamental problem is that *custom headers cannot be sent*. The best solution (in my opinion), would be to add su

[2018-09-11 11:01] Titozzz commented on #18
For me auth works on android using the URL

I agree that we definitely need to handle custom headers properly.
If you thank to participate in that feature feel free to :)

I'll keep this issue open til I make so tests

[2018-09-11 19:16] jamonholmgren commented on #33
One reference is `react-native-webview-android`: https://github.com/lucasferreira/react-native-webview-android#note-about-html-file-input-files-upload

[2018-09-11 19:19] jamonholmgren opened #36 "Migrate Documentation"
Documentation is currently contained here:

https://facebook.github.io/react-native/docs/webview

We should migrate all existing WebView documentation to this repository soon.

My personal preference is that we create a folder (`./docs`) of markdown documents so that pull requests can contain documentation updates as well. I'm happy to discuss other alternatives, though. This is an example of anot

[2018-09-11 19:47] Titozzz commented on #36
I think we should use some tool to have a nice looking documentation instead of just some MD files, I know there are plenty out there, I'm thinking we could use gitbook, as it's free for oss

[2018-09-12 12:47] ErrorPro commented on #4
I would also like to have those headers being sent to all the internal resources as well. For example, a page has some static resources(images/css/js) and when those resources are being fetched from the server we might want to pass those headers along with those requests.

[2018-09-13 02:54] musicode opened #38 "WKWebView has no hideKeyboardAccessoryView prop"
react-native-wkwebview-reborn has the `hideKeyboardAccessoryView` prop, so that i can hide it, it's so useful.

[2018-09-13 08:25] laukaichung opened #39 "Manual Installation"
`react-native link` doesn't always work on `MainActivity.java` after installing `react-native-navigation`.

Can you provide documentation for manual installation? I want to make sure there's nothing missing after running `react-native link react-native-webview`.

By the way, I can confirm that [this issue](https://github.com/facebook/react-native/issues/10865) is resolved with this repository on I

[2018-09-13 09:29] Titozzz commented on #38
Feel free to submit a PR, we would  be glad to add more features into this repo, else we will add it to the TODO list when we create it :)

[2018-09-13 09:30] Titozzz commented on #39
Can you extend what you mean by doesn't always work ?
It would be interesting to know what is you react-native version too, as 0.57 shipped with some gradle changes

[2018-09-13 13:39] stonecold123 commented on #39
`react-native link` doesn't add `RCTWebViewPackage` to `MainActivity.java`. I have to add it manually. The second version of `react-native-navigation` ([Document](https://wix.github.io/react-native-navigation/v2/#/docs/Installing)) changes a lot of stuff in  `MainActivity.java` so running `react-native link` may not work as expected.

[code]

[2018-09-13 13:47] Titozzz commented on #39
Oh yeah, of course I remember this from when I was using react native navigation, but that is the same with all the packages, you need to edit MainActivity manually. Please submit an issue with react-native directly to see for a proposal to make the cli compatible with more setups such as react-native-navigation, even tho it seems hard to do.

We will document manual link steps in a near future. I

[2018-09-13 17:24] retyui opened #40 "[Android][WebView] injectedJavaScript don't work"
When I [debug `WebView`](https://bamtech.gitbook.io/dev-standards/react-native/debugging/debug-webviews.mo)
I understand that after serialize (on andoid) from the script, delete all the line breaks, because of what you have to be very careful.

## Example:
[code]

[code]
### As a result, the  webview will get this code: (SyntaxError: Unexpected end of input)
[code]

And another problem may arise b

[2018-09-13 20:28] jamonholmgren commented on #39
@stonecold123 This would be a great opportunity for you to help out the community and document the steps you're taking to get this working! We would really appreciate the help. This is a community-driven repo and everybody pitching in is what will make it awesome. <3

[2018-09-13 21:01] jamonholmgren commented on #40
@retyui Thanks for the report! Do you have suggestions on how this might be fixed?

[2018-09-13 21:02] jamonholmgren commented on #36
I've used tools like that before (including gitbook). They're pretty nice, but in my opinion we should hold off until we see a real need for it, and stay with a simple docs folder until then.

[2018-09-13 21:12] jamonholmgren commented on #4
@ErrorPro Do you have some time to dig into this and see what it might take to implement?  There are other webview implementations out there that might have already solved this issue.

[2018-09-13 22:01] retyui commented on #40
No

[2018-09-13 22:43] Titozzz commented on #40
Should be fixed by #41

[2018-09-13 22:48] #40 closed

[2018-09-14 14:28] ErrorPro commented on #4
@jamonholmgren Ok, I'll try to dig into it :)

[2018-09-14 15:01] jamonholmgren commented on #4
Yay @ErrorPro !!

[2018-09-16 14:55] f0rr0 opened #43 "Question: How will the iOS WebView differ from react-native-wkwebview"
In my understanding, this repository has been created to extract the WebView related source code from the main `react-native` repo in an effort to make it (`react-native` repo) leaner. Also, the `UIWebView` based implementation seems to have been deprecated in favour of `WKWebView` for iOS specifically. AFAIK, the android implementation has not been altered.

If indeed my understanding is correct,

[2018-09-16 15:32] satya164 commented on #43
AFAIK React Native's WebView supported WKWebView when this was extracted, so it wasn't needed to look at other WkWebView implementations.

I think it's better to keep this implementation under `react-native-community`. It'll also be nice if the maintainers of `react-native-wkwebview` want to merge these projects into `react-native-community/react-native-webview` so that the work isn't split.

[2018-09-16 16:09] Titozzz commented on #43
FYI we did contact the authors to ask them if they wanted to contribute as we feel we would all benefit from one package instead of so many: https://github.com/CRAlpha/react-native-wkwebview/issues/191. I will spend some time later to understand if there is still any benefits with using their package, and if so I'll try to implement it in the community package.

WebView being extracted from core d

[2018-09-16 16:27] f0rr0 commented on #43
@satya164 @Titozzz thanks for replying so quickly (that too on a Sunday).

I am not worried about the support about the support being dropped. Moving this out of the core seems a step in the right direction.

This is great. I hope the authors agree.

IMO their package is more feature rich. There seem to be issues here already referring to that other repo:
https://github.com/react-native-community/

[2018-09-16 16:31] Titozzz commented on #43
I think porting individually we will the chosen solution, have you read https://facebook.github.io/react-native/blog/2018/08/27/wkwebview ? There has been a lot merged in 0.57 for the webview, which explains sticking to the react native original implementation. A lot of bug might a been fixed by the new implem, and our work initially here we be to review all the issues IMPORTED and make sure bugs

[2018-09-16 16:42] f0rr0 commented on #43
Cool seems like the ball's in their court now. Hope they agree. I will close this thread.

[2018-09-16 16:42] #43 closed

[2018-09-17 07:39] 2534290808 opened #45 "Can you add the ability to get web page loading progress?"
Can you add the ability to get web page loading progress?

[2018-09-17 15:31] maxammann opened #47 "Build fails for iOS on RN 0.57.0"
# What does not work correctly?
The build fails for me with this error:
[code]

# package.json
https://github.com/Integreat/integreat-react-native-app/blob/develop/package.json

# react-native info
[code]

[2018-09-18 12:50] Titozzz commented on #47
Okay, I'm able to reproduce this and will fix ASAP

[2018-09-18 12:57] Titozzz commented on #47
I've pushed a fix onto master

[2018-09-18 12:57] #47 closed

[2018-09-18 15:20] Titozzz opened #48 "Duplicate symbol for WKWebView with react native 0.57"
Due to the presence of WKWebView class with the same names in both repos, build fails with:

[code]

[2018-09-18 15:20] Titozzz commented on #47
(Now the build fails due to #48

[2018-09-18 15:59] jamonholmgren commented on #48
This was an issue with `RCTWebView` as well, which is why I changed it to `RCTUIWebView` in this repository.

Now that 0.57 includes `RCTWKWebView` we'll have the same issue there.

One idea I had was to change the `RCT` prefix to `RNC` (React Native Community) instead. It'll minimize conflicts going forward, and we can make this a standard thing across the RN Community. Thoughts?

[2018-09-18 16:02] jamonholmgren commented on #48
It's a pretty easy fix, although you have to be really careful about renaming the iOS native modules. I do it in Xcode and then follow up with a search and replace in the code base. Xcode does the best job of it but also leaves some of the old ones untouched.

[2018-09-18 16:07] kelset commented on #48
Sounds like an awesome idea overall, and it's worth linking it back to the main issue so that we can use it as a standard for other extractions!

[2018-09-18 16:13] Titozzz commented on #48
Alright I'll do it :)

[2018-09-18 16:46] grabbou commented on #48
Good idea for the name - we should have our prefix, in this case, `RNC` to avoid collisions with other modules. `RCT` is unfortunate for some reason because many 3rd party packages took it as a standard naming pattern anyway.

[2018-09-18 17:56] jamonholmgren commented on #45
Yeah, you should be able to do that.

iOS: https://developer.apple.com/documentation/webkit/wkwebview/1415007-estimatedprogress
Android: onProgressChanged https://developer.android.com/reference/android/webkit/WebChromeClient

[2018-09-18 18:03] jamonholmgren commented on #43
@f0rr0 Just FYI:

https://github.com/CRAlpha/react-native-wkwebview/issues/191#issuecomment-422146121

[2018-09-20 01:16] 2534290808 opened #55 "It is recommended not to use React. createRef (), as the React version of many projects is still below 16.3.0"
It is recommended not to use React. createRef (), as the React version of many projects is still below 16.3.0

[2018-09-20 08:08] Titozzz commented on #55
Hello @2534290808 , thanks for you concerns ! As the webView is still part of the core (even for 0.57), it is easier for us to recommend you to use the one included in react-native if you do not target 0.57, as it allows us to make theses kind of changes

[2018-09-20 12:15] maxammann commented on #48
Thanks for fixing this so fast :) react-native-community rocks! :rocket:

[2018-09-20 15:31] #36 closed

[2018-09-21 07:47] viv3kk commented on #6
do we have any solution or work around for this?

[2018-09-23 18:46] Titozzz commented on #6
Not yet, if you find anything, feel free to open a pull request, we'd love that

[2018-09-24 07:42] KoenLav opened #58 "Calling Node.js from React Native WebView"
I was wondering whether it would be possible to communicate with Node directly from a WebView in React Native.

This should be possible if the WebView has some way of sending messages to another process (not necessarily being the React Native process).

I understand WebView => React Native => Node.js is already possible, but would love to see WebView => Node.js at some point.

I realize this won't

[2018-09-24 09:06] maxammann commented on #8
Can confirm that this is still not working on react-native 0.57.0.

I tested this by clicking on an image.

[2018-09-24 17:00] andreipfeiffer commented on #33
@Titozzz do you have any good development workflow on how to use react-native-webview package in an example RN project, but from an external folder?

[2018-09-25 13:13] andreipfeiffer commented on #11
Duplicate of #33, addressed in https://github.com/react-native-community/react-native-webview/pull/60

[2018-09-25 21:07] gabceb opened #61 "Release package to npm"
This ticket will allow lurkers (like myself) to be notified when the module is released and we can pull it down from npm.

[2018-09-25 21:15] Titozzz commented on #61
Sure :smile:

[2018-09-26 22:16] mausworks commented on #4
Related: #18

[2018-09-27 07:29] sebk opened #62 "Youtube video in WebView: StatusBar is gone after fullscreen (iOS 12)"
- [ x] Review the documentation: https://facebook.github.io/react-native
  - [ x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x ] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: x64 Intel(R) Core(TM) i5-7500 CPU @ 3.

[2018-09-27 09:00] schnika commented on #18
@mausworks I had no issue to get the PROTOCOL://USERNAME:PASSOWRD@host.tld working on andoid and ios.
This is our implementation.

[code]

[2018-09-27 09:01] Titozzz commented on #18
Yeah. Have you tried iOS 9 and 10 ?

[2018-09-27 14:02] mausworks commented on #18
@schnika @Titozzz this is not a viable solution, it's a work-around.

[2018-09-28 02:47] ru88s opened #63 "Can not saved images on Webview."
Can not saved images on Webview.
Long tap does not display the menu.
Please fix this.

I asked a question here.
https://github.com/expo/expo/issues/2236

[2018-09-29 22:43] fungilation opened #66 "[DISCUSS] Cross platform API for RN<>WebView 2-way RPC/message passing"
Referencing (my) prior discussions regarding this, for context and so we don't repeat here. In reverse chronological order:

- https://github.com/alinz/react-native-webview-bridge/issues/109#issuecomment-425669058
- https://github.com/react-native-community/discussions-and-proposals/pull/3#issuecomment-414858049
- https://github.com/facebook/react-native/pull/9762#issuecomment-260583009

This cons

[2018-09-30 00:34] jamonholmgren commented on #66
Thanks @fungilation !

One other interesting API I found when perusing Github was this one:

https://github.com/pinqy520/react-native-webview-invoke

It exposes an API where you can call an async function directly, as long as you control both the web and mobile side of the connection. Under the hood, it still uses `postMessage`, but I thought I'd bring this up in case it was interesting as a poten

[2018-09-30 02:19] jamonholmgren commented on #63
Hey @ru88s, it appears that it works on my machine with a bare React Native install.

![image](https://user-images.githubusercontent.com/1479215/46252340-783a1180-c41c-11e8-8700-5c052f21760f.png)

I haven't tried Android yet, though.

[2018-09-30 02:33] fungilation commented on #66
Interesting. Although requiring below on the Web side is no good. New API should support any WebView src, not only local js:

[code]

[2018-09-30 09:46] Titozzz commented on #63
Probably does not work on Android for the same kind of reasons than upload is not working...yet

[2018-09-30 21:34] Titozzz commented on #66
@fungilation So I was using a fork of alinz/react-native-webview-bridge until I started using this package. I wrote a simple piece of code that allowed me to be 100% non breaking with what was there before. This does not mean it's safe regarding postMessage naming and such but I'll just post it here in case anyone needs it.

[code]

Then you just need to use onMessage prop to listen and sendMessag

[2018-10-01 10:08] ru88s commented on #63
@Titozzz Oh, I understand. Thank you.

[2018-10-01 10:09] #63 closed

[2018-10-01 15:19] feliperaul commented on #4
We need this so badly! The suggestion of using a handler for each request would be nice, since it accommodates both needs (the ones that need headers only on initial load and the ones that need it on every request). Also, maybe you need different headers on first request (auth token) and other headers on subsequent requests.

[2018-10-02 07:40] epiceros opened #68 "Cookies/localStorage is not shared across WKWebView:s"
I opened an issue here:
https://github.com/facebook/react-native/issues/21450

Is this something that needs to be addressed here as well?

[2018-10-02 11:11] KoenLav commented on #66
I totally agree this is a requirement for even considering React Native, with a WebView, as a suitable replacement for Cordova (without using the native components, rather than their web counterparts).

I created the following schematic and we will be investing some time in working up an example, any advice on improving this implementation strategy would be appreciated!

Also some idea of whether

[2018-10-02 11:59] Titozzz commented on #66
Well that is what I'm doing already (excepted for the callback array, as I'm more in the just dispatching actions without waiting for answers mind)

[2018-10-02 16:44] felixmeziere commented on #68
This is blocking us too :/

[2018-10-03 06:17] hanssonfredrik commented on #48
Was this fixed in 0.57.1?

[2018-10-03 08:32] epiceros commented on #68
Hi! Some more info. We have an app with one main webview where, the user logs in. Then at times we overlay that webview with another webview, where the user needs to be logged in (so they are both open at the same time, and they are on the same domain). The webview displays fine, but the user is not logged in, in the overlaying webview. This is only the case for WKWebView, in UIWebView, and on And

[2018-10-03 08:34] Titozzz commented on #68
Ok, thanks for the details. I you want to start working on it I can review / merge pull requests 🚀

[2018-10-03 14:15] Titozzz commented on #68
Good insight, thanks

[2018-10-04 22:25] jamonholmgren opened #69 "Document how to debug webview JavaScript in iOS using Safari Developer Menu"
We should document how to use Safari to debug the webview's JavaScript as described here:

https://stackoverflow.com/a/20233054

[code]

[2018-10-04 22:38] ryanlntn commented on #69
It might be cool if we provided a script to quickly open that. Similar to Ray’s https://github.com/rhdeck/react-native-xcode

Looks like you just need to add:
[code]

To the package.json to add scripts to react-native-cli.

[2018-10-04 22:39] jamonholmgren commented on #69
Something like `react-native webview-debug` ?

[2018-10-04 22:40] ryanlntn commented on #69
Yeah exactly. Not sure if we have a similar capability for Android or not. I would have to investigate.

[2018-10-04 22:43] jamonholmgren commented on #69
Love that idea.

[2018-10-05 07:36] Titozzz commented on #69
Oh on android there's a line to add in your MainApplication.java and you can then debug using remote devices in chrome.

[code]

[2018-10-07 17:41] qubitron commented on #4
For those who need a quick solution they can use right now, I've created something that works for ios by patching the RCTWebView.m control in react-native:

Here's a diff from RN 0.56.0 (this is the version I'm currently using):
https://github.com/qubitron/react-native/commit/d4df41b771b7edb9221da7c6873d1f56abefe8fc

I realized as I was implementing this that I don't want auth headers to be arbitr

[2018-10-09 13:02] viv3kk opened #72 "React native iOS webview app reload on photo upload through camera or gallery useWebKit={true}"
Environment
React Native Environment Info:
System:
OS: macOS High Sierra 10.13.6
CPU: x64 Intel(R) Core(TM) i5-6500 CPU @ 3.20GHz
Memory: 1.61 GB / 16.00 GB
Shell: 3.2.57 - /bin/bash
Binaries:
Node: 10.6.0 - /usr/local/bin/node
npm: 6.4.1 - /usr/local/bin/npm
Watchman: 4.9.0 - /usr/local/bin/watchman
SDKs:
iOS SDK:
Platforms: iOS 11.4, macOS 10.13, tvOS 11.4, watchOS 4.3
IDEs:
Android Studio: 2.3

[2018-10-09 14:07] Titozzz commented on #72
Hello, If you want to submit a pull request, i'd be happy to review

[2018-10-10 10:12] fangasvsass commented on #72
WKWebview only

[2018-10-10 10:13] fangasvsass commented on #72
on WKWebview screen alert react-native modal  WKWebview will reload

[2018-10-10 16:23] fernandomatheus opened #73 "Get LocalStorage from WebView"
Is there any way to get localStorage/sessionStorage itens from `<WebView />` loaded site ?

[2018-10-10 22:06] garrettm commented on #72
I'm also seeing this issue

[2018-10-11 21:07] #73 closed

[2018-10-12 18:03] garrettm commented on #72
Sometimes it even appears that the webview content is rendered twice

[2018-10-12 23:29] Titozzz commented on #61
https://www.npmjs.com/package/react-native-webview 🎉

[2018-10-12 23:29] #61 closed

[2018-10-13 14:55] necolas opened #76 "Add web support"
Include a `*.web.js` export to provide an implementation for React Native for Web. There's an existing community attempt here https://github.com/react-native-web-community/react-native-web-webview

[2018-10-13 16:09] Titozzz commented on #76
Please open a pull request ❤️

[2018-10-13 17:06] piranna commented on #76
Do you find it better to have it with the actual code in this repo, or using the `react-native-web-webview` as a dependency?

[2018-10-13 17:08] piranna commented on #76
Also, maybe support for `react-native-dom` should be added?

[2018-10-13 17:55] necolas commented on #76
Please put actual code in the repo so other people can help maintain it as the API evolves.

[2018-10-14 14:06] Titozzz commented on #76
I'd love to see support for web and Dom. Code should be on this repo tho.

[2018-10-15 06:24] leoyb opened #77 "webview load some page is incomplete"
i used webview to open a url like "https://m.pandafun.io", the page can not display complete.

# Environment
[code]

## Steps to Reproduce

1.WebView opens https://m.pandafun.io.

## Expected Behavior
the page can display complete.

## Actual Behavior
the page can not display complete.

## Reproducible Demo
[code]

[2018-10-15 11:58] cyb3rsalih opened #78 "Injected Javascript works only with the initial page of Webview"
## Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
      Memory: 30.01 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 8.11.4 - /usr/local/bin/node
      npm: 5.6.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:
        Platforms: iOS 12.0, ma

[2018-10-15 13:16] Titozzz commented on #78
Well from docs:
InjectedJavscript: Set this to provide JavaScript that will be injected into the web page when the view loads.

But I'm not sure we want to change tu current behaviour or if it respects that.
In the meantime, you can use onLoadEnd() and with a ref do webView.injectJavascript(''), right ?

[2018-10-16 00:19] axe-fb opened #79 "Add support for `origin` when sending messages"
As described in the [reference document](https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md), `postMessage` and `onMessage` need to be able to specify the `origin`.

- When a message is received by React Native and then sent to the JS stack, that message should also indicate the URL in the webview where this message came from
- When a message is received b

[2018-10-16 03:00] ankur-sardar opened #80 "Can not download or open any file from HTML download Attribute in android webview"
If we go to this link - https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_a_download
And Click on the image (which is a download attribute HTML tag) , It does not download anything.

[2018-10-16 03:05] ankur-sardar commented on #80
Should we support this feature in android webview? Create some Download listener in native side.
We can use `android.webkit.DownloadListener`

[2018-10-16 03:50] NeilChan opened #81 "Always recreate WKWebView in iOS when the view move to window"
I found the code in 'React/Core/Views/RCTWKWebView.m'
[code]
It seems always recreate the webView when it move to window.
I don't know why should it code this way?
I have a root page include three webViews. And this code would result to some situations like, I push a new native controller, and when I back to origin page, it would recreate three webViews and add above the origin webView. So memory

[2018-10-16 03:55] NeilChan commented on #72
I think it is the same problem with this.
https://github.com/react-native-community/react-native-webview/issues/81#issue-370428707

[2018-10-16 10:36] maxammann opened #82 "Add section about cocoapods in 'Gettings started'"
Currently there is only the link command documented. It should also be noted that cocoapods is supported.

[2018-10-16 11:58] Titozzz commented on #81
Hello I agree that the current implementation is weird. It was pulled from react-native repository as is. Can you please submit a pull request with your changes so we can discuss and review it ?

[2018-10-16 12:07] Titozzz commented on #79
I think it is effectively a good time to think about a breaking change with a new API, as it has already been done in some libraries. react-native-webview-bridge comes to mind. Relying on post message has many drawbacks and no advantages (that I'm aware of..?).

We need a proper discussion, then we can ask if anyone from the community is willing to implement this.

What do you think ?

[2018-10-16 12:16] NeilChan commented on #81
@Titozzz Hi,
Many thanks for your reply.
I will submit a pull request soon.

[2018-10-16 12:41] Titozzz commented on #72
I agree @NeilChan

[2018-10-16 13:28] maxammann commented on #82
@Titozzz thanks :) Maybe also will do it myself. Always good that its documented.

btw. the setup worked flawlessly with cocoapods :)

[2018-10-16 15:48] finalquest commented on #81
I've seen this too.
And, for example, if you use in the Webview an input upload, when the user finish selecting the file/image, the webview will reload the original url.
If @NeilChan cant make the PR, I will gladly doit.

regards

[2018-10-16 18:37] jamonholmgren commented on #79
I agree, we should have a solid discussion around this to find a good API.

[2018-10-16 18:40] jamonholmgren commented on #80
@ankur-sardar Could you edit your original issue body and provide an example of what you're trying to do that isn't working?

[2018-10-16 19:29] ryanlntn commented on #77
@jamonholmgren It looks like it might be. @leoyb can you try adding `useWebKit={false}` to props?

[2018-10-16 19:37] jamonholmgren commented on #77
Seems like it worked on my machine:

![image](https://user-images.githubusercontent.com/1479215/47042490-3c06f080-d140-11e8-9007-0463cd07c0b8.png)

[2018-10-16 20:15] jamonholmgren commented on #76
![2k99zm](https://user-images.githubusercontent.com/1479215/47044612-89399100-d145-11e8-88bb-f1d2ea950023.jpg)

[2018-10-16 20:28] necolas commented on #76
Yes, they do.

[2018-10-16 20:38] jamonholmgren commented on #73
@fernandomatheus Got what you needed here?

[2018-10-16 21:06] jamonholmgren commented on #19
@xiaoyongchen It appears the repro code works on the latest, if you use `react-native-webview`.

![image](https://user-images.githubusercontent.com/1479215/47047520-a2920b80-d14c-11e8-920a-de4b933652e6.png)

![image](https://user-images.githubusercontent.com/1479215/47047533-a9208300-d14c-11e8-8661-830336e43d4a.png)

[2018-10-16 21:06] jamonholmgren commented on #19
[code]

[2018-10-16 21:39] Titozzz commented on #78
Yeah if you want to

[2018-10-17 01:46] leoyb commented on #77
@jamonholmgren  Thank you very much for getting your reply, I found out because I used the “startInLoadingState={true}” attribute.
<img width="496" alt="wechatimg36" src="https://user-images.githubusercontent.com/10185166/47057002-68c71080-d1f1-11e8-9bda-a511f8cd5e0b.png">
I deleted this attribute, it works for me.

[2018-10-17 01:59] ryanlntn commented on #77
That was the same case for me. Have you tried with `startInLoadingState={true}` and `useWebKit={false}`?

[2018-10-17 02:35] ankur-sardar opened #83 "Can not play Netflix videos in Android Webview"
Go to Netflix and try to play any video. when you touch any video, it is not redirecting to the video player page.
Try this link for test - https://www.netflix.com/jp-en/originals

Does anyone know why is this happening?

[2018-10-17 02:37] leoyb commented on #77
i tried with startInLoadingState={true} and useWebKit={false}, it dose not work for me.

[2018-10-17 04:37] hadassaChemouni commented on #19
@jamonholmgren on Android 7.1.2 (Redmi 5A) the application always reloads.

[2018-10-17 07:56] hadassaChemouni commented on #19
@Titozzz Yes, The website actually load over and over (each ~ 5min)

[2018-10-17 07:59] Titozzz commented on #19
Android only ? If so can you check logcat to see if there are any errors ?

[2018-10-17 08:14] hadassaChemouni commented on #19
Yes only in Android,
The logcat is always the same -> https://github.com/react-native-community/react-native-webview/issues/19#issue-358428845

[code]

[2018-10-17 11:42] cyb3rsalih commented on #78
Thanks.

[2018-10-17 11:42] #78 closed

[2018-10-17 13:01] fernandomatheus commented on #73
@jamonholmgren Not actually. I'm using an alternative way for getting the WebView data...

[2018-10-17 14:59] #38 closed

[2018-10-17 15:01] Titozzz commented on #38
:tada: This issue has been resolved in version 2.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v2.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-17 16:47] ryanlntn commented on #77
Interesting. I was able to get `startInLoadingState` working with webView but not webKit. When I opened Safari to inspect it looked like a bing tracking pixel was failing to resolve and that was causing the whole request to hang. I'm wondering if there might be something similar happening with that page?

[2018-10-17 20:35] finalquest commented on #29
Hi.
We have to inject this jscode on the webview to get the postMessage works on the web side.

[code]

[2018-10-18 01:59] jamonholmgren commented on #29
@finalquest Interesting, thanks for sharing that code snippet!

[2018-10-18 02:01] jamonholmgren commented on #79
Related: https://github.com/react-native-community/react-native-webview/issues/29#issuecomment-430779411

[2018-10-18 02:13] leoyb commented on #77
Well, maybe as you said

[2018-10-18 02:28] jamonholmgren commented on #77
For now, I'm going to close this, but if you run into other problems please feel free to file another issue.

[2018-10-18 02:28] #77 closed

[2018-10-18 03:00] #11 closed

[2018-10-18 03:10] jamonholmgren commented on #58
@KoenLav Apologies for the late response here. I don't think I can add any insights here, although what you're proposing sounds quite interesting. Have you figured anything out in the past few weeks regarding this?

[2018-10-18 03:12] jamonholmgren commented on #19
@hadassaChemouni Does it only happen on that one version of Android?

[2018-10-18 03:32] jamonholmgren commented on #83
I tried this out and it's true, the videos don't play. I don't really know why not, though.

One way to potentially debug is to follow @ryanlntn's new [debugging guide](https://github.com/react-native-community/react-native-webview/blob/master/docs/Debugging.md).

[2018-10-18 05:18] ankur-sardar commented on #83
Yes, I followed that, But could not understand what is the issue.
I got this error message when I open Netflix
![image](https://user-images.githubusercontent.com/14098612/47132787-b5d5e000-d2e0-11e8-8fe0-be2dce6eba7f.png)

[2018-10-18 06:02] ankur-sardar commented on #83
@jamonholmgren
 after investigation, I found that, when we click on Netflix video, it load url with `intent://` scheme, and it is not loading that url scheme. So may be we can handle this in `shouldOverrideUrlLoading` method. I got one solution for this issue in my forked version.
Do you have any solution for this? Or should I make a PR for this solution?

[2018-10-18 06:03] hadassaChemouni commented on #19
@jamonholmgren It was not tested in all version of android but in version 5.1, 6.0, 8.1 it's work fine and only in version 7.1.2 the app is reloaded.

[2018-10-18 06:34] #81 closed

[2018-10-18 06:34] #72 closed

[2018-10-18 06:36] Titozzz commented on #81
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-18 06:36] Titozzz commented on #72
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-18 06:46] Titozzz commented on #83
We should have that functionality however be careful there is already someone working with that method https://github.com/react-native-community/react-native-webview/pull/59

[2018-10-18 07:48] Elbis opened #99 "Android File Upload Camera/Video isn't working properly"
On every phone i've tested after PR#60, i can see options Camera/Video/Documents for upload type
On my own phone, (Galaxy A3 - 5.0.2) camera is opening properly,but on Android 7 and 8(Other phones) it's not.

With Galaxy A3 5.0.2(Camera/Video/Docs option working) i can't take photo. When i take a photo, react native app is restarting.

By the way, upload documents is working properly.

My codes
**

[2018-10-18 08:35] pizza-r0b opened #100 "Invariant Violation: Native component for "RNCWKWebView does not exist""
Not sure why I am getting the error `Invariant Violation: Native component for "RNCWKWebView does not exist"`.

[2018-10-18 08:36] Titozzz commented on #100
I think you did not link the library properly

[2018-10-18 08:39] Titozzz commented on #99
Are you sure you did the complete setup and you are not using CAMERA without authorization ?

[2018-10-18 08:42] pizza-r0b commented on #100
Got it - I am using expo and linking is not supported without detaching from expo.

[2018-10-18 08:42] #100 closed

[2018-10-18 09:02] Titozzz commented on #100
oh yes sorry about that. Hopefully expo will pull that repository and their next release

[2018-10-18 09:50] #69 closed

[2018-10-18 10:07] andreipfeiffer commented on #99
@Elbis can you provide the native error from Android Studio?

Did you setup the FileProvider properly? IE: create the `file_provider_paths.xml` in your `/res/xml/` folder?

[2018-10-18 10:16] fdobre opened #101 "Rendering webview on android device overlaps previous siblings from same parent"
Android React native 0.57
Version 2.4.0

[code]

On  simulator all siblings are rendered (text component 1 - 3)
On real device webview overlaps previous siblings and they are not renderd.

![screen shot 2018-10-18 at 1 26 22 pm](https://user-images.githubusercontent.com/3833179/47148453-6dff8a80-d2d9-11e8-8c0e-3a98045afc77.png)

Stackoverflow question:
https://stackoverflow.com/questions/52872045/

[2018-10-18 11:09] finalquest commented on #99
I will try on our project to see if is also failing

[2018-10-18 11:21] finalquest commented on #99
OK. I tested on an Samsung J7Neo, running android 7.0.
Everything is working fine.
@Elbis take into account, that for Android 6.0 and up, the request for camera permissions must be done on runtime. Is not sufficient with the ones in the manifest.xml.
You can use react-native-permissions if you want.

Regarding problem 2, I dont have a phone with android 5.x

[2018-10-18 11:28] finalquest commented on #68
Me again.
We have been strugling with cookies errors on wkwebview from the start.
The way wkwebview handles cookies on iOS is pretty rare.
In the old UIWebview, the cookies are shared between all the network requests of the application.
So, for example, I logged to a server using fetch on RN, the webview can keep a session without login, because the cookie session is already setted by the first fe

[2018-10-18 12:10] Titozzz commented on #101
This is something I noticed too which is due to new overflow implementation. Maybe we could fix it on our end, but in the meantime, use overflow: 'hidden' on the view that's around your webview.

FUN SAD FACT: I will still work on some devices but not all, and some emulators, but not all

[2018-10-18 12:38] Elbis commented on #99
I fixed Problem 1, thank you @Titozzz & @finalquest .
Problem 2 is still appears at Android 6.0< devices. (5.0.2)

[2018-10-18 12:41] Elbis commented on #99
I completed setup properly by the way. It's running on Android 6.0> devices and i also have file_provider_paths.xml

[2018-10-18 12:42] finalquest commented on #99
@Elbis can you upload an stacktrace of the native code?.
I cant find any device < 6.0 here. I will try to repro on emulator, but is not ideal.

regards

[2018-10-18 12:47] Elbis commented on #99
I requesting permission at ComponentDidMount. At logs (react-native log-android) "Camera permission denied" what i have got. (Nothing appearing about permission ACCEPT/DECLINE etc.) I will try stacktrace now. Thank you for quick reply

[2018-10-18 13:09] NetPumi2 commented on #101
@Titozzz Thank you! You save our lifes :D ....

[2018-10-18 13:12] andreipfeiffer commented on #99
@Elbis Are you using the CAMERA permission for another feature?

[2018-10-18 13:14] fdobre commented on #101
`overflow: 'hidden'` seems to work perfect in my case. I will come with an update after tests on several devices are done.

[2018-10-18 13:29] #101 closed

[2018-10-18 13:31] Elbis commented on #99
@andreipfeiffer No, it's already works on >6.0
On 5.0.2, After take a photo and click "OKAY", app is restarting.
On >6.0 it's working as expected

By the way, i can't reach stacktrace of the native code.
Is there a way to get Stacktrace? I tried gradlew.bat installDebug --stacktrace but it's not what i want

[2018-10-18 13:38] andreipfeiffer commented on #99
If you don't use the CAMERA for something else, why do you have it in your manifest?
You don't need it for using this package.

[2018-10-18 13:39] andreipfeiffer commented on #99
If you want to get the StackTrace, start the app using Android Studio, and it will output the error/exception.

[2018-10-18 20:54] garrettm opened #102 "Podfile React dependency?"
When I install this using cocoapods, I see:
`Using React (0.11.0)`

This is an old version of React, and the Cocoapod is deprecated https://cocoapods.org/pods/React
The old version appears to cause native build errors (types and function signatures/names have changed).

Should React be removed as a dependency in the `.podspec`?

[2018-10-19 03:01] ankur-sardar opened #103 "Pull To Refresh feature in Webview"
Is there any good way to support something like `refreshControl`?
I saw one discussion regarding this - https://github.com/facebook/react-native/issues/7870

[2018-10-19 06:42] Elbis commented on #99
May be there is a solution like[ this](https://github.com/jamesmontemagno/MediaPlugin/issues/418#issuecomment-351874857) for API 21?

[2018-10-19 07:50] Titozzz commented on #102
It should not be removed, you cannot use cocoapods only for some dependecies and build react the way you used to. When you build react-native using cocoapods, you redirect it to your node_modules so that it takes the correct version. I'll write an article about that since many people are confused !

In the meantime please
 remove the line containing react-native-webview from your profile.
 Rename

[2018-10-19 07:52] Titozzz commented on #103
Maybe it would be possible but I'm not sure you want to do that now as there are some issue of stuff that only happens on first render such as injectedJS and headers sent and stuff

[2018-10-19 08:10] maxammann commented on #83
@ankur-sardar would it be enough to cancel the loading and doint the intend stuff in react-native? That way you do not need to write a lot of native code.

[2018-10-19 08:32] andreipfeiffer commented on #99
Hmmm I don't see any Error, Exception, or a reason why the App crashes.
The only thing that looks weird is `W/ContextImpl: Failed to ensure directory: /storage/extSdCard/Android/data/com.sefamerve.xtedarik/files`, which might have something to do with the image storage, but it's only a Warning, not a crash Error.

I will try to find an Android 5.0 phone, to replicate this myself.
On my emulator, i

[2018-10-19 08:40] Elbis commented on #99
I am going crazy. When i researching this [error](https://github.com/react-native-community/react-native-webview/issues/99#issuecomment-431287573) i found a 'solution' what "reboot your phone". I don't know why but after reboot my phone, its working well. I'm sorry for this issue.

PS: I found another Android 5.0.1 device and its working well on that phone too.

You can #close this issue...

[2018-10-19 08:41] #99 closed

[2018-10-19 08:42] andreipfeiffer commented on #99
OMG, really? WTF? :)
These scenarios are frikin' unbelievable.

Glad it works and thanks for the feedback :)

[2018-10-19 12:51] Elbis commented on #99
By the way, whenever i build app to my device(A3) with react-native run-android this error appears and i have to restart my phone.

It could be it appears due to cache or storage station.
May be a control statement need to prevent the application from destroying. I know i have to restart my phone(5.0), but users aren't 👎

[2018-10-19 12:56] andreipfeiffer commented on #99
@Elbis could you try to build it for production?

[2018-10-19 22:32] garrettm commented on #102
This worked, thanks!

[2018-10-20 02:33] #102 closed

[2018-10-20 09:43] KoenLav commented on #66
@Titozz my end goal is to allow calling any react-native package directly from the WebView as if we didn't even have to cross the boundary between the two.

I have a simple (in a good way) working example of a Bridge which does the following; ReactNativeBridge.call('functionName', arg1, arg2, arg..., callback) where you can pass as many arguments as you want and callback is of the form (err, res).

[2018-10-20 10:02] KoenLav commented on #79
I'm 100% for implementing a breaking change (we could keep a 'backwards compatible' solution by allowing users to enable it with a flag).

[2018-10-20 10:04] KoenLav commented on #58
@jamonholmgrem I'll start working on an implementation of a properly supported bridge from the webview to native code first and then revisit this.

[2018-10-20 12:47] fungilation commented on #79
I'm for a breaking change in API. Especially if that means sidestepping entirely security issues with `origin`. As a user, it doesn't matter as long as it's documented and works. I've  [advocated for renaming](https://github.com/react-native-community/react-native-webview/issues/66#issue-365173029) so postMessage / onMessage equivalent APIs can work independent of what the WebView's original site

[2018-10-21 02:51] congnd commented on #62
same with me. any update?

[2018-10-21 10:36] KoenLav opened #105 "Consider replacing iOS WKWebView with react-native-wbkwebview"
It doesn't seem like a good idea to redo all the work that has already been done here:

https://github.com/CRAlpha/react-native-wkwebview

We should probably get in touch with the author and see if they want to merge their efforts into this repository (or provide it as a submodule).

They have already implemented some of the changes I proposed in another PR (notably removing window.postMessage int

[2018-10-21 10:39] KoenLav commented on #68
This should already be fixed here:

https://github.com/CRAlpha/react-native-wkwebview/commit/3e0162987ac7bf4175f94625edc44565d107fe2d

Please consider replacing WKWebView with this better maintained version, per my suggestion here: https://github.com/react-native-community/react-native-webview/issues/105

[2018-10-21 20:34] Titozzz commented on #105
We already got in touch with them:
https://github.com/CRAlpha/react-native-wkwebview/issues/191

I think it is also good to note this:
https://facebook.github.io/react-native/blog/2018/08/27/wkwebview

I think it's better to keep the whole code in one place. This package has been designed with the community participating in mind.

However, I would not want to force everyone to use a new version of

[2018-10-21 20:36] Titozzz commented on #62
This project mostly depends on community to address the issues, we are trying to help to precess and review as fast as possible everything, however we can't be full time on this! I hope someone can submit a PR, and I'll be happy to get it merged

[2018-10-21 20:57] Titozzz commented on #79
I'm closing this issue in favor of https://github.com/react-native-community/react-native-webview/issues/66 as it gets super hard to follow more than one thread

[2018-10-21 20:57] #79 closed

[2018-10-21 20:59] Titozzz commented on #23
Closing in favor of https://github.com/react-native-community/react-native-webview/issues/23

[2018-10-21 20:59] #23 closed

[2018-10-21 21:01] Titozzz commented on #9
Will probably need to be closed once #66 is solved

[2018-10-21 21:02] Titozzz commented on #20
Closing in favor of #66

[2018-10-21 21:02] #20 closed

[2018-10-21 21:02] Titozzz commented on #5
Closing in favor of #66

[2018-10-21 21:02] #5 closed

[2018-10-21 21:03] Titozzz commented on #29
Will probably need to be closed once #66 is solved

[2018-10-21 21:09] Titozzz commented on #66
Okay I've updated all the repository issues regarding postMessage 😄 .

Let's keep the discussion focused in this thread only, or we will get lost! 😢

I think everyone agrees that using postMessage I not a good idea for several reasons!

Listing what we need:

- [ ] More stability on setup
- [ ] Stop using postMessage
- [ ] 2 way communications

Nice to have ..?

- [ ] Async / Callback return value

[2018-10-21 21:20] KoenLav commented on #66
@Titozzz for our use-case async/callback return values are a must-have.

The BridgedWebview repository (https://github.com/KoenLav/bridged-webview) I created already fulfills the first two checks on your list and covers async/callback returns values.

I'm not sure however how you interpret two-way communication? The approach I took is pretty much centered around the WebView having the 'lead' (dict

[2018-10-21 21:29] KoenLav commented on #105
@Titozzz good to see! I didn't catch that.

I agree it would ideally be kept in one place, and it seems the author of the old package is willing to make that happen, so that's great!

With regard to the new iOS WebView; I assumed this repository would already be up to date with the new WKWebView from React Native?

It definitely seems sensible to extract the WKWebView from React Native first and t

[2018-10-21 21:31] Titozzz commented on #66
So I've read your code (super fast, sorry it's late here 😴). I'm however not sure that we want to implement something that is THAT specific. What I mean is that you defined a 'RFC' to communicate and do function calls and all that, but in the end what I think this repo should provid is a solid communication (eg: just posting JSON payload) both ways and then leave the implementation back to the use

[2018-10-21 21:34] Titozzz commented on #105
Okay sorry I was not clear, webview HAS BEEN extracted! Nothing will probably be merged on react-native side. (or would need to be it critical and would get pulled here too). I like the idea of adding the comment to check other packages to our non existing template (we really need one) ❤️ .

I'll keep this issue opened as a reminder !

[2018-10-21 21:57] KoenLav commented on #66
I see (with regards to the use-case).

The reason I didn't invest any time into Native => WebView yet is also because it's pretty easy to solve once WebView => Native works. For example: injectJavascript(const result = doSomethingInWebview(); ReactNativeBridge.call('anyNativeFunction', result, someOtherVariables...);

=====

Given the use-case you are describing (just sending data from one side an

[2018-10-22 02:18] fungilation commented on #66
Meteor/Cordova! I tried and failed with my last mobile app project using it, good to see another migrant to RN.

I'm copying over my comment from the [other issue](https://github.com/react-native-community/react-native-webview/issues/79#issuecomment-431577146) as I think it's useful for discussion of what 2-way communication means to me, and what I think a good API looks like based on the tried an

[2018-10-22 02:20] fungilation commented on #66
Is it just me, or is Github busted right now? Commenting keep coming back with error "You can't comment at this time."

[2018-10-22 02:23] fungilation commented on #66
WTH is with Github commenting. Database issue, keep saying I can't comment at this time so this is a mic test.

[2018-10-22 05:07] fungilation commented on #66
Meteor/Cordova! I tried and failed with my last mobile app project using it, good to see another migrant to RN.

I'm copying over my comment from the [other issue](https://github.com/react-native-community/react-native-webview/issues/79#issuecomment-431577146) as I think it's useful for discussion of what 2-way communication means to me, and what I think a good API looks like based on the tried an

[2018-10-22 10:19] alebedev opened #106 "Support onShouldStartLoadWithRequest on Android"
Please add `onShouldStartLoadWithRequest` support on Android.  react-native-webview-android has it, but built-in webview never had.  This causes developers to use different WebView libraries on different platforms

**Context**
I use WebView to display some static resources like license agreement, documentation, etc.  It's desirable to open links from those files in system browser rather than insid

[2018-10-22 11:23] Elbis commented on #99
Sorry, i'm late. Yes i tried your suggestion today and it works without any error/exception or crash. Thank you for all @andreipfeiffer  🥇

[2018-10-22 13:52] Titozzz commented on #106
You mean https://github.com/react-native-community/react-native-webview/pull/59 ..?

[2018-10-22 14:39] maxammann commented on #106
Ok shit.. I really have to fix this soon :)

[2018-10-23 09:31] spaceye opened #108 "WebView on Android 4.3 fails to execute any injected Javascript"
### Environment

React Native Environment Info:
System:
OS: macOS High Sierra 10.13.6
CPU: x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
Memory: 26.41 MB / 16.00 GB
Shell: 3.2.57 - /bin/bash
Binaries:
Node: 10.7.0 - /usr/local/bin/node
Yarn: 1.7.0 - /usr/local/bin/yarn
npm: 6.2.0 - /usr/local/bin/npm
Watchman: 4.9.0 - /usr/local/bin/watchman
SDKs:
iOS SDK:
Platforms: iOS 12.0, macOS 10.14, tvOS 12

[2018-10-23 16:09] KoenLav commented on #66
@fungilation I read your comments to most issues before I started working on this and I think the package linked in my latest PR, and the API it suggests, will suit your use case.

Any comments are much appreciated!

[2018-10-24 12:37] KoenLav commented on #66
@Titozzz I looked into the implementation of react-native-webview-bridge and I don't think it is much/any safer than the currently implemented solution here.

Can you identify where their implementation is better and/or what is not 'strong' about the current implementation in this repository?

[2018-10-24 12:41] Titozzz commented on #66
Sure I gave the example only because they are not using `window.postMessage`.

Issue with the current implem as stated in the docs:

Plus when you instanciate the webview it messes with window.postMessage that was previously defined.

This is why we will probably define something else

[2018-10-24 12:47] KoenLav commented on #66
@Titozzz my PR already resolves the second issue.

The cross site scripting one I think is a more difficult one, but I could also take a look at that.

Do you have any suggestions?

[2018-10-24 12:48] Titozzz commented on #66
Yeah, we need to stop using postMessage behind the scenes !

[2018-10-24 13:07] KoenLav commented on #66
I'm not sure I understand you correctly: in my opinion we need to stop using window.postMessage, but a <AnyGlobal>.postMessage function would be fine, agreed?

The AnyGlobal.postMessage function is simply a function which is inserted into the window and enables us to send messages to the React Native side.

We could name the function anyhow we wanted as it simply makes use of a JavascriptInterface

[2018-10-24 13:12] KoenLav commented on #108
I've noticed the same; using injectJavascript in the onLoad event works though!

[2018-10-24 14:06] Titozzz commented on #66
yeah sure when I say stop using post message I'm talking about the one inside the window 😛 .

[2018-10-24 14:09] KoenLav commented on #66
Which requires a breaking change, which is the only thing holding my PR back in your eyes?

What do you think of my suggestion of implementing a switch called something like "overWriteWindowPostmessage" to re-enable the old behavior?

[2018-10-24 14:11] Titozzz commented on #66
oh, I need to re-read that PR. Will do soon !

[2018-10-24 14:33] spaceye commented on #108
I'm not sure how you were able to achieve that since:

1. JS side code dispatches command in _injectJavaScript_ method.

[code]

2. Command is processed in Java side and `evaluateJavascriptWithFallback` is executed.

[code]

3. It will still encode the passed string and mess any special chars, so even simple test like `window.document.body.innerHTML=null` will be turned into `window.document.body.

[2018-10-24 14:46] KoenLav commented on #108
Ah, I'm sorry, I was definitely not testing on Android 4.3 (but it worked find in Android 8).

How is this issue specific to Android 4.3 though? I believe the code executed in 4.3 should be the same as in 8?

[2018-10-24 15:17] satya164 commented on #66
One thing I didn't understand is why is this necessary? You have control over the website's code, so why can't you prevent the JS in the website from overriding `postMessage`?

[2018-10-24 15:45] jamonholmgren commented on #66
@satya164 I think the problem comes in when someone accidentally (or otherwise) navigates to an untrusted website, which can _also_ use the `window.postMessage` protocol to send messages to native. By injecting the custom `MyModule.postMessage`, you control which web pages have a pathway to communicating _back_ to React Native. Does that help?

[2018-10-24 16:00] satya164 commented on #66
@jamonholmgren so it's when you're injecting JS to a website you don't control?

I guess in that case, using `__REACT_WEB_VIEW_BRIDGE.postMessage` should work as expected. Though `__REACT_WEB_VIEW_BRIDGE` doesn't look like a public API, so probably the simplest change we have to make it rename `__REACT_WEB_VIEW_BRIDGE` to something like `ReactNativeBridge` or `REACT_NATIVE_BRIDGE` and document it.

[2018-10-24 16:40] punksta commented on #17
Any toughs how it can be fixed?

[2018-10-24 16:44] Titozzz commented on #17
Not that I know of :(

[2018-10-24 17:00] punksta commented on #17
interesting remark: the auto-resizing webview inside scrollview scrolls much faster then fixed height webview with it's own scrollbar for me. Maybe the reason of the performance problems is scrolling events.

[2018-10-24 19:01] KoenLav commented on #108
@spaceye I see, sorry for jumping to conclusions. I'm familiar with the javascript: scheme.

So I guess before 4.4 directly inserting Javascript into the WebView wasn't possible yet? Maybe worth confirming.

Your suggestion would be changing:

`loadUrl("javascript:" + URLEncoder.encode(script, "UTF-8"));`

to

`loadUrl("javascript:" + script);`

then?

[2018-10-24 19:31] spaceye commented on #108
@KoenLav It's fine! I'm no expert in the question but as I see it prior to 4.4 scheme was the only way and so it was implemented as such. 4.4+ brought implementation change in `loadUrl` where it performed decoding so encoded string was expected and people had [issues.](https://github.com/facebook/react-native/commit/e6b305b722a8f52fad8ac8bf9f95204fa2192944). By the time it was [addressed](https://

[2018-10-24 21:03] fungilation commented on #66
@satya164, Yes it's for injecting JS into **ANY** website, not just local JS. And backward compat with `window.postMessage` is not what any RN user should want. Let websites' JS not interfere with the RN<>WebView bridge or vice versa.

`window.postMessage` is for the Web and websites in the wild. Let's not touch it anymore.

[2018-10-24 21:20] satya164 commented on #66
I'm not talking about compatibility with `window.postMessage`, I'm talking about **backward compatibility** with previous versions. Breaking existing code which relies on this API without any warning and deprecation cycle is very irresponsible, especially when a lot of people could be using this.

Yeah, the current implementation isn't very nice. It should've been something like this to not break

[2018-10-24 21:29] fungilation commented on #66
I thought the point of spinning WebView out of RN core into this repo, is so there can be clean improvements that break backward compat. I'm not sure you know how many times I've argued against using `window.postMessage` in RN core, at least renaming postMessage to something else. And I've repeatedly been ignored in the name of compatibility.

People who depends on old behavior can easily stick wi

[2018-10-24 21:34] KoenLav commented on #66
@fungilation totally agreed.

Adding a property which would reinstate the old, deprecated behavior (overwriting window.postMessage) would be nice though, I'll work on that tomorrow.

I think if/when we settle that issue we can start to think about what more the bridge should do; because IMO simply providing the developer with an API where strings can be passed from WebView to RN seems like doing h

[2018-10-24 21:37] fungilation commented on #66
`this.webview.evaluateJavaScript()` like I [mentioned](https://github.com/react-native-community/react-native-webview/issues/66#issuecomment-431741486), borrowing from react-native-wkwebview?

[2018-10-24 21:39] KoenLav commented on #66
@fungilation I'm talking about Web => RN, you're talking about RN => Web, I think?

For me injectJavascript does the job just fine there, why would you want to add evaluateJavascript and what would be the difference?

[2018-10-24 21:47] fungilation commented on #66
I'm always talking about both ways. "RN<>WebView 2-way RPC/message passing".

injectJavascript is only half of the story (a quarter?). Message passing from RN to WebView in order to get WebView to do something, or evaluateJavascript would be a direct RPC.

[2018-10-24 21:53] KoenLav commented on #66
I understand, but as far as my requirements go I think everything is possible already, so I'm trying to find what you are missing.

If you want to call someFunction within the webview from RN simply injectJavascript("someFunction()").

If you want to call someNativeFunction from the webview you can use the API presented in the package I created (BridgedWebview), using ReactNativeBridge.call('someN

[2018-10-24 22:22] fungilation commented on #66
Ok we are not talking about the same kind of injectJavascript. I'm referring to one that's a prop that takes a static `string` as JS to inject, once on WebView component init.

[2018-10-25 08:03] Titozzz commented on #66
@satya164 This repository is using semver versioning, so would it be that bad to do breaking changes 🤔 ? To me as long as you do a major release and document how to upgrade it should be fine, right ?

[2018-10-25 08:15] Titozzz commented on #66
If we want a smoother transition, we can add the new interface and let the old one for ~one month. However I don't like maintaining old code for too long as it hurts more than it helps most of the time. Same reason I'll probably get rid of the UIWebview soon-ish.

[2018-10-25 19:30] osvald0 opened #110 "iOS - I can't zoom out view after click on input inside webview."
I have a react-native app that render a webchat (Microsoft webchat). It was working fine until the last apple iOS update. I've changed the WebView component and now I'm using react-native-webview but issues persists. When I click on input the view zoom in to insert the text but the zoom persist after sent the content. Also after the keyboard hide a blank space is show.
(Please check screenshot)

O

[2018-10-25 19:44] osvald0 opened #111 "iOS - Buttons don't work."
Buttons inside a webview don't work. This functionality was working fine using react-native Webview.

Webview code:

[code]

OSX
node: v8.11.3
react: 16.6.0-alpha.8af6728
react-native: 0.57.3
react-native-webview: 2.5.0

Thanks!

[2018-10-26 07:48] krishan1kamal commented on #110
Same problem any body please help on that

[2018-10-26 08:10] Titozzz commented on #110
https://stackoverflow.com/questions/26295277/wkwebview-equivalent-for-uiwebviews-scalespagetofit would that help ?

[2018-10-26 08:17] Titozzz commented on #111
What button are you talking about ?

Are you sure just changing the import to `import { WebView } from 'react-native'` changes how the code above works ?

[2018-10-26 13:38] osvald0 commented on #111
I'm talking about any button inside the webview.
I open any web using Linking in a new browser instance instead of the webview if the url in not the first url rendered.

[2018-10-26 13:42] Titozzz commented on #111
Have you tried with the original import ?

[2018-10-26 13:50] osvald0 commented on #111
Yes, It works with the original import but I have another issue with that. When click on input to insert a text the current text that I'm writing is not show. Its occurs with each inputs.

[2018-10-26 17:58] jarredt opened #113 "No support for accessing setLoadWithOverviewMode on Android"
Android's native Webkit has a method `setLoadWithOverviewMode` ([documentation](https://developer.android.com/reference/android/webkit/WebSettings.html#setLoadWithOverviewMode(boolean))) that controls whether a webpage whose content exceeds the window width will be scaled out to fit all the content in the viewport when the page loads. It is defaulted to false. (The iOS implementation appears to be

[2018-10-27 07:07] KoenLav commented on #24
Should it change?

It should definitely be consistent between Android and iOS, but should it change when the URL hash changes?

The URL hash typically refers to some portion of the document; clicking an anchor link will fast forward through the document to that portion.

But is the behavior really any different from scrolling? Scrolling also moves the viewport to a different portion of the documen

[2018-10-27 13:54] satya164 commented on #66
@Titozzz You're the maintainer, so it's up to you. I always add a deprecation warning first and remove it after few releases. Because even if you follow semver, not everyone understands it and many people update their deps blindly. When someone updates to a new version, you can suddenly break their code or provide a helpful warning to migrate to the new API. React and React Native do the same when

[2018-10-27 16:18] fungilation commented on #66
This repo is a spinoff, experimental and brand new.

[2018-10-27 17:02] satya164 commented on #66
Where does it say it's experimental? My coworkers are already using it in production. Why are you so against a deprecation warning anyway?

[2018-10-27 17:12] fungilation commented on #66
Why do I have to keep repeating myself as to why? Because you can go back to using RN core WebView in the meantime while it's bleeding edge, and the point of this repo is to implement the breaking changes that core wouldn't.

I'm done talking to you on this point since this is getting toxic.

[2018-10-28 06:48] KoenLav commented on #66
@fungilation disagreements generally lead to new insights. Everyone here has the best intentions.

@satya164 while I understand your point I totally agree with @fungilation; there should be some breaking changes to fix the mistakes which were made before.

Providing a prop to restore the old behavior, in my opinion, is sufficient.

People should understand that this repository, at this point, isn'

[2018-10-29 12:58] opolo opened #115 "Proxy logic in a Webview"
Hi,

I do not believe this feature is added yet, therefore I post this in the proposal board here. So please consider it a proposal too for something that would be neat if it is not existing yet.

Anyway,

I have not been able to find any way, by which I can achieve this in the webview (or in React Native in general). And there does not seem to be any post on it yet, so I hope it is okay that I as

[2018-10-29 14:58] vitorreis commented on #80
Hello there, I am not using this package yet (waiting for https://github.com/react-native-community/react-native-webview/pull/60 be merged), however I have the problem with the default webview in react-native, that nothing happens when the user clicks in any download link in the webview, nothing happens...

It seems that the same behaviour happens with this project as reported by @ankur-sardar ...

[2018-10-29 21:13] jamonholmgren commented on #111
@osvald0 Would you be able to publish a minimal app recreating this issue, so we can clone it down and see for ourselves?

[2018-10-30 09:26] banli17 opened #116 "i make a webview html5 wechat pay,but error"
on ios : the bug report

[code]

[2018-10-30 12:40] johanforssell opened #117 "It should be possible to set `UserAgent` on iOS WKWebView"
[iOS WKWebView supports setting your own user agent](https://developer.apple.com/documentation/webkit/wkwebview/1414950-customuseragent), as Android also does.

This should be exposed. I suggest that the feature fails silently when you use UIWebView.

[2018-10-30 12:50] udarts opened #118 "Image in webview on Android not shown"
I am using a webview to display custom html taken from Cloud FireStore. In some cases there is an image in that html. On iOS the image shows, but on Android the image is not shown. I just get the alt text.

This is the image tag inside the html:
`<img src="https://firebasestorage.googleapis.com/v0/b/sjaloom-connect.appspot.com/o/images%2Fdcf8ab78-e98f-46db-bdae-eab7b18ded1a.jpg?alt=media&token=e65

[2018-10-30 13:36] Titozzz commented on #24
I think it would be useful to give more info to the users? I have use cases where I want to monitor when the url changes and I have to use postMessage inside react-router to notify react-native of the change (to update navigation title for example)

[2018-10-30 13:44] Titozzz commented on #80
This is a duplicate of #33 , will be fixed soon hopefully !

[2018-10-30 13:48] Titozzz commented on #116
Hello, can you give a little more details about this :) ?

[2018-10-30 13:49] Titozzz commented on #117
#112 Is addressing that I think ?

[2018-10-30 13:51] johanforssell commented on #117
Yes, for sure. I had forgotten about that PR :)

[2018-10-30 13:51] Titozzz commented on #118
I actually have no idea, does this work when you import WebView directly from react-native or is that a regression on this repo ?

[2018-10-30 13:53] Titozzz commented on #117
I'll keep this issue open to track the PR status !

[2018-10-30 14:17] udarts commented on #118
@Titozzz, nope same issue. Are there some characters in the img code above that webview doesn't like?

[2018-10-30 14:42] Titozzz commented on #118
No. You can access the chrome debugger inside the webview and check if there are any error ? https://github.com/react-native-community/react-native-webview/blob/master/docs/Debugging.md

[2018-10-30 15:36] udarts commented on #118
No error shown.

[2018-10-30 15:46] Titozzz commented on #118
And is the HTML loaded?

[2018-10-30 15:50] jl9404 opened #119 "WebView `onMessage` behaviour is not same in both OS"
- [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
System:
OS: macOS 10.13.1
CPU: x64 Intel(R) Core(TM) i7-4980HQ CPU @ 2.80GHz
Memory: 500.23 MB / 16.00 GB
Shell: 3.2.57 - /bin/zsh
Bi

[2018-10-30 16:22] TheAlmightyBob commented on #113
Simply exposing `setLoadWithOverviewMode` directly as an Android-only property is probably the "easy" fix for this...

But `scalesPageToFit` should probably be considered as well. This maps to the inverse of Android's `setUseWideViewport`. What is the intended behavior of `scalesPageToFit` on Android? The behavior it _describes_ sounds very much like the behavior that is achieved by setting it to

[2018-10-30 16:29] Titozzz commented on #113
@TheAlmightyBob The easy fix is not always the best, considering react-native, cause it would be painful to have duplicate props for everything 😛 . Which is why we always try to find a common interface when possible ! However this does not mean we do not implement platform specific props.

We can always do breaking changes as we use semver and if we document everything well it's ok.

[2018-10-30 19:28] udarts commented on #118
I did some more digging and found the follow in Android Studo:

Cannot call determinedVisibility() - never saw a connection for the pid

This message appears together with the html, so I guess it has something to do with the issue.

[2018-10-31 01:38] banli17 commented on #116
@Titozzz , ios and android is same, maybe the reason is the protocol： `weixin://`, but how to resolve it ,thanks

[code]

[2018-10-31 02:02] ankur-sardar commented on #80
@Titozzz This issue is regarding the "Downloading" option for android webview (Not Upload as you referred the issue)
Are you going to support Downloading events also in #33 ?

[2018-10-31 08:57] Titozzz commented on #80
Oh my bad, sorry, reopening, however we should wait for #33 to land before starting this I think. It will probably be way easier to implement than upload (I hope 😮)

[2018-10-31 08:58] Titozzz commented on #116
I've not yet used a custom protocol like than with the webview but I might be the reason, I'm not sure how this should work

[2018-10-31 09:31] banli17 commented on #116
@Titozzz  this will open wechat app to pay。

[2018-10-31 09:32] banli17 commented on #116
o , add a item call 'weixin'  to LSApplicationQueriesSchemes it's ok

[2018-10-31 09:32] banli17 commented on #116
but android not work

[2018-10-31 09:32] #116 closed

[2018-11-01 06:56] krishan1kamal opened #122 "Application frige"
When keyword is closed webview get fridge
1) when you click on done button and keyword is closed and complete webview is fridge
2) when input lose focus keyword is closed and complete webview is fridge
3) when you click out side input keyword is closed and complete webview is fridge

I am using ios 12.1 and react-native 0.57.4 and xcode 10.1
note:- when i  scroll on webview body its again start wo

[2018-11-01 07:52] udarts commented on #118
Is there an idea on how to fix this?

[2018-11-01 09:53] codezz commented on #103
Hi, I managed to get it working using  Refresh Control on a wrapping ScrollView and calling webview.relod() when doing refresh like suggested here:
https://github.com/facebook/react-native/issues/7870#issuecomment-292767858

[2018-11-01 10:14] ankur-sardar commented on #103
@codezz  This solution has some demerits, also this solution is not good for android webview.

[2018-11-01 21:27] dlferro opened #124 "Did not receive response to shouldStartLoad in time, defaulting to YES"
Can someone give me a bit more details on why I would get the above warning?

[2018-11-02 00:19] malonguwa commented on #106
@maxammann @Titozzz hi guys~ thanks for looking after the project! Just want to ask when we can get the PR merged~~~ really need this feature~~

[2018-11-02 01:48] chenyao6134 opened #125 "v2.5.0 injectedJavaScript dost not work on ios"
react-native-webview  injectedJavaScript dost not work on ios

[2018-11-02 05:15] jamonholmgren commented on #122
Hi @krishan1kamal! I’d be happy to take a look at this. Please create, publish, and link here a minimal app that reproduces this issue and I’ll take a look.

[2018-11-02 09:16] Titozzz commented on #125
Please tell me more info about that, I'm using it without any issue

[2018-11-02 09:17] Titozzz commented on #106
I've reviewed the PR!

[2018-11-02 09:17] Titozzz commented on #124
I've never seen that before, can you give us a way to repro this ?

[2018-11-02 09:18] Titozzz commented on #103
Yeah I don't think using a component around would be a good idea. We might want to detect gestures ourselves or something

[2018-11-02 09:19] Titozzz commented on #118
Have you tried this:
https://stackoverflow.com/questions/33083066/android-webview-cannot-call-determinedvisibility-never-saw-a-connection-for

[2018-11-02 09:33] chenyao6134 commented on #125
I found it does not work on iOS Simulator,and it work fine on iPhone8 physics device.

[2018-11-02 09:33] chenyao6134 commented on #125
I found it does not work on iOS Simulator,and it work fine on iPhone8 physical device.

[2018-11-02 12:04] udarts commented on #118
Thanks for your reply, I have tried it, but still the image is not showing inside the website, it still only shows the alt text.

[2018-11-02 13:50] dlferro commented on #124
It appears to exist in the core Webview as well.

https://github.com/react-native-community/react-native-webview/blob/7f3534463291893154bd41dc560c092a7b9bf746/ios/RNCWKWebViewManager.m#L157

My component presenting it is just
[code]

[2018-11-02 15:22] osvald0 commented on #111
Sorry, I can reproduce the issue only if I use the JS code commented in the following post: https://github.com/react-native-community/react-native-webview/issues/110.
I'll close the issue. Thanks!

[2018-11-02 15:22] #111 closed

[2018-11-02 20:35] maxammann opened #126 "Fix type for events which are emited from the WebView"
The documentation about the emited events is wrong: https://github.com/react-native-community/react-native-webview/pull/107/files/879fbdccf56ea89aad27df07a93e1d9c8cd31d93#diff-186a7fa0ea29d9ede1ed98c48d63340fL82

So either fix the documentation or take a look at the types of the events and set the missing values.
Currently the documentation is not correct for TopMessageEvent and TopShouldStartLoad

[2018-11-03 14:37] Titozzz commented on #124
We have a current PR https://github.com/react-native-community/react-native-webview/pull/107 trying to implement this on android and fix iOS, hopefuly it will help

[2018-11-05 09:11] ankur-sardar commented on #103
May be we can use `SwipeRefreshLayout` for Android and `UIRefreshControl` for ios. I am able to add the solution for iOS, but I can not make any solution for the android webview. (I don't have that much Android experience). I can not understand how can I add SwipeRefreshLayout in webview manager.

[2018-11-05 13:31] oliverdolgener opened #127 "Stop opening Image Links"
Hey Guys, I have the following problem:

I'm showing a website inside the WebView and I want to handle all links by myself. I'm calling `this.webView.stopLoading()`, so I'll be able to handle to link. This is going well for all kind of links that lead to a website. But if the link leads to an image (e.g https://example.com/image.jpg) then the image will be opened inside the WebView no matter what

[2018-11-06 01:37] Titozzz commented on #127
Can you tell me if you are using android or iOS ? we have a PR that might help you achieve what you need : #107

[2018-11-06 07:44] jkustan opened #128 "Performance worse than browser: Is caching the problem?"
I am using react-native-webview to navigate to a site, and it is taking noticeably more time than it does in the native browser. The problem is worse on Android than on iOS.

* Is this a known problem with a known solution that I'm missing somehow?
* Is the caching the problem? When I go to a site and then return in Safari, it loads instantly, but the webview always takes the same 5-10 seconds to

[2018-11-06 09:41] oliverdolgener commented on #127
Oh sorry, I'm using Android

[2018-11-06 12:08] Titozzz commented on #127
Would the PR allow you to fix that issue ?

[2018-11-06 14:16] oliverdolgener commented on #127
That actually looks very promising. I'll have to test it but from the discussing it seems to be pretty much what I need.

[2018-11-06 15:09] TuckerWhitehouse opened #130 "Support for KeyboardAvoidingView behaviors?"
Current Behavior
- When an input is focused in a WebView, the keyboard forces the view to move up (so the top of the view is off of the screen), and there isn't a documented way of changing this.

Expected Behavior
- A method for customizing the behavior (similar to the `behavior` attribute of a `KeyboardAvoidingView`).

Attempted Solution
- Wrapping the `WebView` in a `KeyboardAvoidingView`, this

[2018-11-07 10:18] PrasannaLearnyst opened #131 "multiple webview hangs the app"
[code]
I have list of discussions, where all the discussion data in html, if i loop through discussions > 20,
then the app crashes.

[2018-11-07 10:42] Titozzz commented on #131
Hello, android or iOS ?

[2018-11-07 10:54] PrasannaLearnyst commented on #131
@Titozzz  its Android

[2018-11-07 14:36] Titozzz commented on #131
I'm not sure what would work the best for your use case

[2018-11-07 17:49] jamonholmgren commented on #115
From what I can tell, this isn't possible with WKWebView:

https://stackoverflow.com/a/41268348/204044

nor Android WebView, although there's a hacky workaround:

https://stackoverflow.com/questions/4488338/webview-android-proxy

I'll close this issue, but please feel free to follow up with any additional information. Thank you!

[2018-11-07 17:49] #115 closed

[2018-11-07 17:50] jamonholmgren commented on #118
@udarts Can you publish a minimal app that reproduces this issue so we can clone and look at it? Thank you!

[2018-11-07 17:56] jamonholmgren commented on #125
@chenyao6134 Can you publish a minimal app or [Snack](https://snack.expo.io/) that demonstrates this behavior so we can clone it and take a look?

[2018-11-07 17:57] jamonholmgren commented on #126
Thanks for reporting, @maxammann. I'd love a pull request to our docs!

[2018-11-07 17:58] jamonholmgren commented on #127
@oliverdolgener We'd love your help testing it!

[2018-11-07 18:02] jamonholmgren commented on #128
Hey @jkustan, I'm not sure what the issue might be. I did see a reference to `suppressesIncrementalRendering` [here](https://stackoverflow.com/a/49793817/204044). You can hook it up to Mac Safari dev tools to do some debugging -- see here: https://github.com/react-native-community/react-native-webview/blob/master/docs/Debugging.md.

[2018-11-07 18:05] jamonholmgren commented on #130
Hey @TuckerWhitehouse, we don't currently have support for this. Is that something you'd want to take a shot at adding? We'd be happy to discuss any ideas you have. Bonus points for thinking cross-platform.

[2018-11-07 18:07] jamonholmgren commented on #131
@PrasannaLearnyst Can you post a minimal app that reproduces this behavior and link it here? That will let us see what's happening easier. Thanks!

[2018-11-07 23:10] jkustan commented on #128
Thanks @jamonholmgren. How would I set the suppressesIncrementalRendering flag? Although it looks like suppress is false by default.

No matter how many times the webview loads, it always takes the same time. It seems clear that nothing is being cached. Does no one else have this issue? I can try the debugger as well...

[2018-11-08 01:57] rifrayugo commented on #28
is this issue solve? i have the same issue on RN 0.57.4.

[2018-11-08 03:54] osvald0 commented on #110
@krishan1kamal Where did you use this code? I couldn't found any workaround yet 😭

[2018-11-08 08:19] jkustan commented on #128
I did try debugging (thanks for the tip) but since I'm trying to record load times it's not really helpful. Once the page loads I can attach to it and debug, but I can't get load times since by the time I see it in the Safari debug menu it's already loaded.

Any other thoughts / ideas?

[2018-11-08 09:31] xupengkun commented on #24
I think there are a lot of single-page applications (via hashes) that change, I think it's useful to be able to listen for hash changes.

[2018-11-08 10:09] jkustan commented on #128
I turned off the startInLoadingState in the hopes that it would show sooner. But it still seems to be waiting until the entire page is loaded until it goes from blank to fully rendered (with no intermediate / progressive load), and it also doesn't seem to be caching anything. Things are much faster (and cached) in safari.

[2018-11-08 15:01] oliverdolgener commented on #127
I just checked out https://github.com/maxammann/react-native-webview/tree/android-onShouldStartLoadWithRequest and noticed some changes in the behaviour of links compared to version 2.5.0. Now all links are opened in a browser and my internal link handling is getting ignored completely. What exactly has changed since 2.5.0? Do I need to set a certain prop?

[2018-11-08 15:42] oliverdolgener commented on #127
I just checked the commits since 2.5.0 and in this one https://github.com/maxammann/react-native-webview/commit/2cc89718585407d732004f0eb9c7b7252a587dd7 all navigation events are getting dispatched. How can I catch them? I thought this should happen in `onShouldStartLoadWithRequest` but that's not getting called.

[2018-11-08 16:32] oliverdolgener commented on #127
Forget everything I said! I just forget to rebuild the native code :-/
Now it works like a charm and it is exactly what I was looking for!
Thank you! I'm looking forward to it getting merged soon!

[2018-11-08 16:32] #127 closed

[2018-11-08 17:00] Titozzz commented on #24
@xupengkun my use case, exactly

[2018-11-10 09:36] KoenLav commented on #66
@fungilation @satya164 I think we covered the most significant points of view in this discussion.

Let's work towards implementing something?

Could you review my PR here and/or provide an alternative implementation?

https://github.com/react-native-community/react-native-webview/pull/104

[2018-11-10 10:07] fungilation commented on #66
I'm not sure I'm qualified to review this as my knowledge of native iOS/Android code is quite limited. In #104, @Titozzz last commented that it cannot be merged as is, so it's his call?

My 2c is if #104 only offers 1 way call from WebView to Native, without building a foundation for calling from the other way around as well, then it's not a good path forward.

Also, I'm not sure what you meant wh

[2018-11-10 10:13] KoenLav commented on #66
Please take a look at the code, you'll understand what's done from the diff :)

This PR does not (yet) offer a way to call functions from WebView to ReactNative. The package I am working on here does: https://github.com/KoenLav/bridged-webview

Titozzz mentioned he doesn't feel like this should be included in this repository (you and me disagree with him, and think it should), so I left it out of

[2018-11-11 00:01] iddan commented on #66
Two questions:
 - Can the API be Promise based? I don't see a reason why using old node callback style for a React Native API
 - How does it handle event listener functions?

[2018-11-11 00:10] satya164 commented on #66
@KoenLav will review!

@iddan which API should be promise based?

[2018-11-11 00:16] iddan commented on #66
[code]
Should actually be:
[code]

[2018-11-11 17:49] Titozzz commented on #66
Thank you @KoenLav , I still believe that this code does not really have to be here, but if everyone thinks it should be I will merge it in. Separating the the functionalities is a great way to get things moving, so good move.

As commented in the PR, I'll try to review tomorrow.

(+1 promises 👍 > callbacks )

[2018-11-11 21:09] KoenLav commented on #66
@Titozzz I have been thinking about a more 'low-level' approach. While doing so it occurred to me that we can call any function inside the WebView from outside of it, but not the other way around. This is also what @fungilation is asking for, I believe.

The approach I took with the BridgedWebview allows specifying functions on the Native side which may then be called from the WebView, but it does

[2018-11-12 08:52] Titozzz commented on #66
Once again, leaving the implementation as is (after merging that PR) allow you to build whatever code you want and if your desire is to call 'eval()' on what's sent to you through JSON, this is 100% fine. All the different use cases are the reason why I don't want to build a specific one inside the webview

[2018-11-13 02:29] ccorcos opened #135 "NSURLSchemeHandler prop for handling custom url schemes"
Since UIWebview is now deprecated, an alternative to NSURLProtocol for WKWebview is to use NSURLSchemeHandler. This lets you override the behavior of the webview and serve your own files. It would be awesome if this component had an API to use this feature.

[2018-11-13 05:32] krishan1kamal commented on #110
Hey @osvald0 you can update to 0.57.4 and it's removed

[2018-11-13 07:19] udarts commented on #118
@jamonholmgren I will try to provide it this week.

[2018-11-13 10:01] krishan1kamal commented on #122
Hi @jamonholmgren Soory for the late response my app link is
https://testflight.apple.com/join/1pVTpTgX
and login credential is
Username : - mobileTest@yopmail.com
Password:- kk@123
Device require
:- any apple mobile phone with operating system IOS 12.1
Step to setup:-
1. Login with given credential
2. Set your pin for future easy login
3. Biometric authentication if available on device (Optional)

[2018-11-13 10:10] musicode opened #136 "WKWebView webkit property become to undefined"
RN version: 0.57.4

RNW version: 2.5.0

iOS WKWebView

After init, window has `webkit`property.

![image](https://user-images.githubusercontent.com/2732303/48406069-8941a680-e76e-11e8-923a-e29111c2c0cd.png)

then I open an image picker(react-native-image-picker) to select an image, the `webkit` property is undefined.

![image](https://user-images.githubusercontent.com/2732303/48406109-a7a7a200-e76

[2018-11-13 10:17] musicode commented on #136
@Titozzz

[2018-11-13 12:12] gisellezeitoune opened #137 "Support loading local files on WebKitWebView iOS"
Current Behavior

When I leave `useWebKit={true}` and use as `source={uri: <path to local pdf file>}` the pdf is never loaded. I've set originWhitelist to `{['*']}` but as far as I can tell there's no support for local files for the new webview yet.

Expected Behavior

Load and show the pdf on the webview (even if it's a local file and not an url)

Please add support for these. It is working with

[2018-11-14 09:11] petlys commented on #136
I also experience the same issue after opening a browser tab and closing it again (https://github.com/naoufal/react-native-safari-view)

[2018-11-14 11:43] spaceye commented on #108
@Titozzz, @KoenLav any progress on this one? Thanks!

[2018-11-14 23:29] Titozzz commented on #136
That is super weird.

[2018-11-14 23:35] Titozzz commented on #45
Closed by #53

[2018-11-14 23:35] #45 closed

[2018-11-15 06:10] R10burning commented on #24
so have u fixed this hash url change state guys?

[2018-11-15 07:27] cuibeihong opened #139 "target = "_blank" href can't open"

[2018-11-15 10:42] bruteforcecat commented on #128
It seems the caching for webview is not working. and the interesting thing is the httpCache size keep increasing even for the same url. I added the beblow code inside `visitSource`
[code]

[2018-11-15 15:18] Titozzz commented on #24
Not yet, feel free to send a PR

[2018-11-16 10:31] jason102 opened #140 "Invariant Violation: requireNativeComponent: "RNCWebView" was not found in the UIManager."
Hi all, I'm new to React Native and I'm getting the error in the title.

Perhaps this is related to another previous post made 1 month ago:
" Invariant Violation: Native component for "RNCWKWebView does not exist"  "

[2018-11-16 10:32] jason102 commented on #140
I'm using Expo as well. Are they the same issue? If it is, how do I use the new webview component without Expo?

[2018-11-16 10:43] jason102 commented on #140
If I can't use Expo with this component, maybe I can just go ahead and use the old webview component assuming that Expo will eventually support it and then later switch to this one before RN removes the old one? I really would prefer not to have to do all the complicated Android Studio/Xcode setup work. I have Expo working just fine for everything else and think it's quite convenient....

[2018-11-16 12:29] osvald0 commented on #110
I've updated to 0.57.5 and the issue persist 😔

[2018-11-16 21:30] lunarraid commented on #140
I am not using expo and am running into this.

[2018-11-16 21:32] viperfx opened #142 "Is it possible to load a page once and then injectJavascript?"
I would like to embed webview in other react components, but they are inside of a router.

There, its causing a page load. I would like to avoid a page load, and load a url once, and then use injectJavascript to interact with that page.

[2018-11-19 01:34] jamonholmgren commented on #142
Hi @viperfx, I'm not aware of a way to do this offhand. If you do figure it out please do update this issue with your solution!

[2018-11-19 01:36] jamonholmgren commented on #140
Hey folks, you won't be able to use this with Expo [unless you eject](https://docs.expo.io/versions/latest/expokit/eject).

If you are not using Expo or you have already ejected and you're still getting this issue, it may be because you forgot to run `react-native link react-native-webview`.

If you're still having trouble, feel free to file another issue or update this one. Thanks!

[2018-11-19 01:57] lunarraid commented on #140
Closing the issue on the assumption that we're simply not following instructions is a bit premature. As I stated, I am not using Expo, and as I am capable of both understanding and following instructions, I did indeed run `react-native link react-native webview`. The link command stated it was successful, but failed to link the binaries to the project, which I had to do manually to make this work.

[2018-11-19 01:58] jamonholmgren commented on #139
Hi @cuibeihong, thanks for the issue, please provide a minimal reproducible demo so we can test this. Thank you!

[2018-11-19 02:21] #7 closed, assigned to nobody

[2018-11-19 02:32] jamonholmgren commented on #16
This is confirmed on latest. PR's welcome! @kyo504

![image](https://user-images.githubusercontent.com/1479215/48683083-4b72c280-eb60-11e8-9198-11725c3d0eb2.png)

[2018-11-19 02:35] Salakar commented on #128
As far as I can tell, on iOS, `WKWebViewConfiguration` should be set with a `WKWebsiteDataStore` instance for caching to work, can't see it being set anywhere though in the code base?

Can someone try adding the following after this line and try it out; https://github.com/react-native-community/react-native-webview/blob/master/ios/RNCWKWebView.m#L87

[code]

References:
https://developer.apple.com

[2018-11-19 02:58] jamonholmgren commented on #128
I get this when I do that:

![image](https://user-images.githubusercontent.com/1479215/48683836-dd2fff00-eb63-11e8-9478-6b238bf6da15.png)

[2018-11-19 03:03] jamonholmgren commented on #128
I don't think `allWebsiteDataTypes` is what we want ... I'm trying to figure out what we _do_ want, though.

[2018-11-19 03:06] jamonholmgren commented on #128
So doing this works great:

[code]

[2018-11-19 03:16] jamonholmgren commented on #128
I can confirm that adding the above line _does_ improve page loads immensely. Looks like @Salakar found the issue.

Will this conflict with #138 at all? I'm not familiar enough with process pools vs data stores to know.

[2018-11-19 03:18] jamonholmgren commented on #140
@lunarraid Apologies, did not intend to insinuate you're not following instructions. I closed the issue because the OP is using Expo and thus this particular issue is not relevant to your issue despite the similar error message.

If you can provide a minimal reproduction of this problem please do file a new issue.

[2018-11-19 08:51] Salakar commented on #128
Sorry this was my bad, I did update my comment shortly after to indicate the correct change, the default datastore as you pointed out

[2018-11-19 12:57] Titozzz commented on #142
I'm doing that within my app, so yeah that is perfectly doable. What you will end up doing is exposing some function to the window and calling it using injectJavascript.

Look at how I implemented a simple bridge here: https://github.com/react-native-community/react-native-webview/issues/66#issuecomment-425753877

[2018-11-19 16:44] #142 closed

[2018-11-19 19:44] kevinNejad commented on #10
@jamonholmgren I will look into when I get some spare time.
doesn't seem that anyone else having this issue though. I'm not quite sure if it is a valid issue at all.

[2018-11-19 23:16] jamonholmgren commented on #10
@kevinNejad If you want, I can close this issue. If it's a persistent issue then someone else will almost certainly file an issue and we can address it then. Thanks!

[2018-11-20 00:03] lunarraid commented on #136
I am running into this issue as well. The message passing works perfectly until I trigger a google sign in (which I believe may pop up a webview in its implementation). After that, there is no longer a `webkit` property on `window` in the WebView.

[2018-11-20 00:15] kevinNejad commented on #10
@jamonholmgren agreed, in case if someone else faces the same issue, I'll be more than happy to contribute on this.

[2018-11-20 00:32] Titozzz commented on #136
Does #143 help ?

[2018-11-20 00:39] Titozzz commented on #140
@lunarraid I'm indeed interested in understanding what went wrong so please open an issue if you can provide a reproduction.

[2018-11-20 00:41] Titozzz commented on #128
Can someone provide a PR ? This definitely should land on the repo

[2018-11-20 00:42] lunarraid commented on #136
Yes, that does seem to resolve the issue.

[2018-11-20 00:43] Titozzz commented on #136
Alright I'll merge it now then.

[2018-11-20 00:49] #136 closed

[2018-11-20 01:04] lunarraid commented on #140
If I can find some time I'll see if I can reproduce it in a blank project. If it helps, my project is using pods, and the initial install link failed. I was able to get the link step to not fail by adding the `# Add new pods below this line` comment to my podfile, but even with the link 'succeeding' and the podfile addition, the library code was still not found at runtime. I had to remove the podf

[2018-11-20 02:30] ccorcos opened #149 "Resizing webview doesnt fire window resize event inside the webview."
I'm resizing the webview when the keyboard appears:

[code]

However, `window.addEventListener("resize", () => console.log("resize!"))` never fires... Any ideas?

[2018-11-20 06:03] hieuvanlai opened #150 "[WKWebview] iOS 9 - Crash on unmounting"
it works perfectly with ios 10.x.x and greater, but in ios 9.1, it makes app crash when Webview unmount

[2018-11-20 07:41] Titozzz commented on #140
Ok, are you linking react with the pods or manually ?

[2018-11-20 07:41] #140 closed

[2018-11-20 08:44] Titozzz commented on #150
If you start the app in a simulator you should see the line that crashes. Could help us track the bug down

[2018-11-20 08:51] hieuvanlai commented on #150
i am running in iPhone 6S.

[2018-11-20 08:55] hieuvanlai commented on #150
<img width="1601" alt="screen shot 2018-11-20 at 3 54 46 pm" src="https://user-images.githubusercontent.com/27544529/48762032-b21ceb00-ecdc-11e8-985e-a4a4e8cdffa2.png">

[2018-11-20 08:56] hieuvanlai commented on #150
when it crashes, it shows this message. is it useful for you?

[2018-11-20 09:19] Titozzz commented on #150
That's what I asked, but that one is not helping me 😢

[2018-11-20 09:42] petlys opened #151 "[iOS] WebView pauses XHR requests when in background"
**iOS WKWebView only!**

When having a React Native `<Dialog>` or anything else (a Safari browser tab for instance) in the foreground, the WebView halts/stops/pauses XHR requests on the webpage being displayed.
The request is sent when the WebView returns to the foreground again.

This breaks some core functionality in our app, since we trigger a request in the webpage through a native action in a

[2018-11-20 10:46] Salakar commented on #128
@Titozzz the reason I've not PR'd is I'm wondering if this should be configurable like all the other props, as it could, in theory, be a breaking change if we turn it on by default now.

[2018-11-20 10:48] Titozzz commented on #128
let's add a prop enableCache={true} by default ?

[2018-11-20 11:01] Salakar commented on #128
Ok will send a PR up shortly 👍

[2018-11-20 14:00] wiscat opened #153 "pagingEnabled option?"
Any plans to support such option on _webView.scrollView?

[2018-11-20 14:31] AndreevskiAleksandar commented on #140
Same thing is happening here. I have ejected the project from expo, did the `react-native link react-native-webview` and I get the "Invariant Violation: requireNativeComponent: "RNCWebView" was not found in the UIManager." error. Reverting to the old webview until this is fixed.

[2018-11-20 14:38] Titozzz commented on #140
Are you using cocoapods @AndreevskiAleksandar ?

[2018-11-20 14:49] Titozzz commented on #140
Wait a minute RNCWebView does not exists, it's either RNCUIWebView or RNCWKWebView. There must be a bug 🤔

[2018-11-20 17:14] lunarraid commented on #140
@Titozzz I have entries in my podfile for the react code, since `react-native-webview` refuses to build without them. They look like this:
[code]

Annoyingly enough, I cannot reproduce this on a fresh project, though getting CocoaPods in general to work with react native (even on a fresh install) is such a pain in the rear. At the very least, using
[code]
was a requirement to get this working prop

[2018-11-20 19:18] #149 closed

[2018-11-20 19:20] meshaabi commented on #139
I have the same issue, _blank does nothing.

[code]

Clicking the link within the Webview does nothing.
onLoadStart fires, onNavigationStateChange fires. and then nothing...

[2018-11-20 21:14] ccorcos opened #154 "Webview resize event is fired early"
## Environment
[code]

## Description
I want a `<Webview/>` that resizes when the keyboard opens. I've been able to accomplish this by using a "spacer" `<View/>` and listening to keyboard events.

However, when listening to the window resize event inside the html webpage, the event appears to fire early when dismissing the keyboard.

## Reproducible Demo

https://github.com/ccorcos/react-native-de

[2018-11-20 21:15] ccorcos opened #155 "Webview safe-area-inset-* CSS variables are not available on initial page load."
## Environment
[code]

## Description
Inside a `<Webview/>` component, the `env(safe-area-inset-*)` css variables are not available until some arbitrary time after the page is loaded. However, they are immediately available in iOS Safari.

## Reproducible Demo
https://github.com/ccorcos/react-native-demo/tree/safe-area-inset-bug

[code]

[2018-11-21 01:51] ccorcos commented on #155
This appears to be an issue with WebKit. I've created a demo without React Native [here](https://github.com/ccorcos/WkWebView-Safe-Area-Inset-Bug) and submitted a webkit bug [here](https://bugs.webkit.org/show_bug.cgi?id=191872). Please let me know if you have any ideas.

[2018-11-21 04:00] jamonholmgren commented on #155
@ccorcos Thanks for the detailed bug report! It's not often we get such a well-prepared issue. :)

So this seems to be happening even without React Native, then? We can track it here, but I'd assume unless there's some workaround that we can implement, we'll have to wait for upstream to fix it.

[2018-11-21 04:05] jamonholmgren commented on #154
Thanks @ccorcos, another excellent issue report.

[2018-11-21 04:09] jamonholmgren commented on #153
We'd definitely consider pull requests, for sure. API like this?

[code]

[2018-11-21 04:10] jamonholmgren commented on #153
See #97 for an example of how to add a property like this.

[2018-11-21 06:40] ccorcos commented on #155
Thanks 😄 Yeah, doesn't seem like we're going to fix this here. We can close it as it is tracked through webkit now.

[2018-11-21 06:40] #155 closed

[2018-11-21 06:41] ccorcos commented on #154
No problem! This be a webkit issue (like [this one](https://github.com/react-native-community/react-native-webview/issues/155#issuecomment-440498827)). I just didn't have time to test it out. Its not really blocking me right now so I probably won't get around to it...

[2018-11-21 06:46] ChaeWonKong opened #160 "Invariant"

[2018-11-21 06:49] ChaeWonKong opened #161 "Invariant Violation: requireNativeComponent: "RNCWKWebView" was not found in the UIManager"
I am using react-native-cli
I installed react-native-webview with npm not yarn.
I linked react-native-webview by this following command:
`react-native link react-native-webview`

I got this message:
`rnpm-install info Linking react-native-webview ios dependency
rnpm-install info Platform 'ios' module react-native-webview has been successfully linked
rnpm-install info Linking react-native-webview a

[2018-11-21 07:14] #160 closed

[2018-11-21 07:22] rifrayugo opened #162 "Google Auth not working (disallowed user agent)"
Hi,
i have a promblem todo google authentication using webview in android.
  React Native Environment Info:
    React Native Version: 0.57.4
    System:
      OS: Windows 10
      CPU: (8) x64 Intel(R) Xeon(R) CPU E5-1620 v4 @ 3.50GHz
      Memory: 21.29 GB / 31.91 GB
    Binaries:
      Yarn: 1.9.4 - C:\Users\Administrator\AppData\Roaming\npm\yarn.CMD
      npm: 6.4.1 - C:\Program Files\nodejs\np

[2018-11-21 08:39] Titozzz commented on #140
That is weird given that I have nearly the same podfile 🤔

[2018-11-21 10:46] #33 closed

[2018-11-21 10:48] Titozzz commented on #33
:tada: This issue has been resolved in version 2.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v2.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-21 12:19] feiooos commented on #131
We have the same problem in our codebase. Rendering multiple webviews, with heavy websites being loaded, I guess, are causing crashes for us.

I can't say for sure yet if it's because we simply load multiple webviews or if it has to have the combination of loading multiple webviews with heavy websites being loaded in them.

It would be great if someone could try out in an isolated test to see wher

[2018-11-21 16:19] AndreevskiAleksandar commented on #140
@Titozzz no, I am not using CocoaPods.. Its a direct eject from Expo, without any tinkering around with that (just followed the basic docs). After that I just linked it and made sure all the dependencies are in the gradle and settings file (I tested it for Android only). I ll take a look again at this in a few days..

[2018-11-21 20:58] fernandomatheus commented on #161
Maybe the link process is not being completed correctly for some reason on iOS.
Have you tried to link manually?

Go to ../node_modules/react-native-webview/ios and drag and drop the RNCWebView.xcodeproj to Libraries folder on Xcode, right after, Go to Build Phases tab (on Xcode) in the section "Link binary With libraries" add the `libRNCWebView.a` (inside Libraries/RNCWebView.xcodeproj/Products).

[2018-11-21 23:53] #117 closed

[2018-11-21 23:53] Titozzz commented on #117
Closing as it was released

[2018-11-22 09:54] Titozzz commented on #140
So I did :
react-native init test
yarn add react-native-webview
react-native link react-native-webview

and everythings work without cocoapods.

On my project I use cocoapods without issues too.

[2018-11-22 10:57] CubeSugar commented on #137
Need this feature as well. And I'm working on it.

[2018-11-22 10:57] ChaeWonKong commented on #161
Libraries folder on Xcode means Xcode folder in node_modules in my project??

[2018-11-22 11:15] ChaeWonKong commented on #161
I did it as I told, but still got the same error message..

[2018-11-22 11:36] fernandomatheus commented on #161
The libraries folder is not from node_modules, is inside the root project folder, if you open Yourproject.xcodeproj/Yourproject.xcworkspace you will see this folder

[2018-11-22 12:14] krishan1kamal commented on #122
its working fine with react native 0.57.5
Closing
Thanks

[2018-11-22 12:14] #122 closed

[2018-11-22 14:14] bruteforcecat commented on #140
I have this problem for android only . trying to troubleshoot

[2018-11-22 14:16] Titozzz opened #168 "Migrate Repository to Typescript"
We want to migrate the webview from flow to typescript.
This will allow easier maintaining as more and more people are now using VSCode.

Ideally we want to generate flow types from ts to allow people using flow a good experience.

@bruteforcecat @ccorcos

[2018-11-22 14:29] bruteforcecat commented on #168
did u already start setting up typescript for it @ccorcos ?
If no, I could try this weekend

[2018-11-22 21:19] Shan7anu opened #169 "iOS Release Build Failed to load Local HTML/JS/CSS Files in React Native WebView"
## Description
**I'm trying to load SPA with AngularJS and HTML in React Native WebView.**

[code]
**For Android,** I'm copying the content of **MyPackage** inside **android_asset** folder as:

[code]
**^The above is working fine for Android Debug/Release Build without any error.**

**For iOS,** I'm keeping **MyPackage** folder at root level of  the project.
**It's working fine in iOS Debug Build

[2018-11-23 12:16] ChaeWonKong commented on #161
I did it as I told. Yet my build failed.

`Build system information

error: Cycle in dependencies between targets 'gourmet' and 'RNCWebView'; building could produce unreliable results.
Cycle path: gourmet → RNCWebView → gourmet
Cycle details:
→ Target 'gourmet' has target dependency on Target 'RNCWebView'
→ Target 'RNCWebView': Libtool /Users/ChaewonKong/Desktop/dev/ReactNative/gourmet/ios/build/B

[2018-11-23 20:55] jamonholmgren commented on #140
I tried spinning up a bare Expo app and ejecting immediately with ExpoKit, but got this error:

<details>
  <summary>`Task 'installDebug' not found in root project 'android'.`</summary>
[code]
<details>

So I'll wait for a repro to clone down first.

[2018-11-25 10:15] kesha-antonov commented on #66
Cannot migrate to this component from RN's WebView because onMessage not working here from out of the box

[2018-11-25 16:14] jermaine commented on #103
@ankur-sardar Have you had the time to implement the solution for iOS? Was looking through your fork and came across this: [commit-9049d02e](https://github.com/ankur-sardar/react-native-webview/commit/9049d02e65ec2adae9d2d4ecf146c49f0df74d67
), which looks like a work in progress...

I do think it's important to have the RefreshControl be managed directly by the WebView instead of wrapping it with

[2018-11-25 21:49] ccorcos commented on #168
I can migrate the code to typescript if you guys can set things up. I tried setting it up with typescript, but what stopped me is that I don't know how to deal with the `.ios.js` and `.android.js` file endings in typescript. It can't resolve the types to two files at the same time...

[2018-11-26 01:39] ankur-sardar commented on #103
@jermaine  I have implemented for iOS version, in the Native layer. iOS version I used this approach - https://github.com/ankur-sardar/react-native-wkwebview/commit/b3577ab5e5ca30b5bd3685466363a1ebe7b7ae02
It is working fine. But the main issue I am facing is in Android WebView. It seems CloneElement `RefreshControl` ([SwipeRefreshLayout](https://developer.android.com/reference/android/support/v4/

[2018-11-26 08:46] NetPumi2 opened #172 "Videos in iFrame do not work in webview"
I have a problem with playing video wrapped to iFrame from YouTube and Instagram. A problem is in Android. Ios works fine.

So, when I put inframe into webview it looks ok. Until i click on play button. Video start load all native buttons are available and sound works fine but the movie is black. But sound and stop/play buttons works

We use react-native-cli: 2.0.1 react-native: 0.57.5 and "react-

[2018-11-26 16:35] manjuy124 commented on #169
@Shan7anu Did you find any solution for this?
I have followed [this](https://medium.com/@snehabagri.90/reactnative-webview-with-local-content-c98a09340801) approach but no luck.

[2018-11-26 16:49] Shan7anu commented on #169
Not yet @manjuy124

[2018-11-26 17:34] mosinbagban commented on #169
@Shan7anu Did you find any solution?....even I am facing the same issue.

[2018-11-26 19:04] wendelfreitas commented on #172
I can not put videos on full screen, no matter if it's youtube or vimeo. Can you put your video in full screen?

[2018-11-27 00:47] swansontec commented on #66
I realize I'm late to this conversation, but I recently wrote a [library called yaob](https://www.npmjs.com/package/yaob) that can seamlessly bridge method calls over any JSON-style messaging layer. Our [app](https://edge.app) has a lot of heavy client-side logic that we would like to run in a WebView for JIT purposes. I wrote the library to make this as seamless as possible, so I can just call me

[2018-11-27 06:01] jamonholmgren commented on #172
Thanks for reporting, anyone want to dive in and see if they can figure this out? (Might involve a bunch of Googling first to see if it's a known problem with Android webview...)

[2018-11-27 06:03] jamonholmgren commented on #169
@Shan7anu Apologies, I've been out due to the US holidays. I won't have time to debug this, but if you find a solution I'm happy to review, test, merge, and deploy a bugfix!

[2018-11-27 08:33] lassikin commented on #161
For me the react-native link did not run "pod install" in the ios folder of the project.
The main page in all practicality needs some info on this in troubleshooting part.

And a manual install section, preferably.

so a fix was to run "pod install" in the ios folder manually. If you don't have pod installed and in your project already look for some guide about it. This should really be mentioned

[2018-11-27 10:44] Titozzz commented on #66
Oh my god, this is exactly what I want and wish ❤️ ❤️ ❤️

[2018-11-27 11:01] wendelfreitas commented on #172
@NetPumi2
In some research I did, I saw something about '**setWebChromeClient**' but I do not know if it solves our problem and I do not know how to actually implement it.

[2018-11-27 11:16] iddan commented on #66
I think the beauty of a WebView custom implemented of RPC is it can share the same memory representation of objects in both the JS runtimes: RN and WebView as they use the same core. This will make performance much better than postMessage can offer at the moment.

[2018-11-27 13:18] Titozzz commented on #169
Same for me, sorry but I'm doing that on my free time so I can not spend to much time debugging features than I do not use, however I'm available to review and help.

[2018-11-27 13:53] Titozzz commented on #161
I'm currently writing an article on medium to explain iOS react-native linking. I'll probably add a link to it inside the docs

[2018-11-27 13:54] Titozzz commented on #172
@wendelfreitas please link us what you found as maybe some here can implement it

[2018-11-27 14:14] Titozzz commented on #172
Did you try using the MixedContentMode prop on android?

[2018-11-27 14:29] Titozzz commented on #172
okay :(

[2018-11-27 14:51] iddan commented on #66
Yes but primitives and base classes are shared

[2018-11-27 16:11] LambyPants commented on #10
FYI, adding a default background (in my case,`#fff`) to the body, html tags fixes the issue referenced by @kevinNejad. This appears to be a non-issue and can be closed.

[2018-11-27 16:11] NetPumi2 commented on #172
mixedContentMode do not work for me

and about `setWebChromeClient` this is already setup in this repo
https://github.com/react-native-community/react-native-webview/blob/48230e4dcff2ad234d2617026924d07e106c2022/android/src/main/java/com/reactnativecommunity/webview/RNCWebViewManager.java#L400

[2018-11-27 16:33] Titozzz commented on #10
@kevinNejad can you test and confirm ?

[2018-11-27 18:03] kevinNejad commented on #10
@Titozzz @LambyPants It works a treat.

[2018-11-27 19:58] #10 closed

[2018-11-27 23:52] iddan commented on #66
Cool

[2018-11-28 05:16] FaiChou opened #174 "android build failed with task :react-native-webview:compileDebugJavaWithJavac"
what I have done:

[code]

In android-studio after sync then I make project  failed:

[code]

- I have cleaned project
- I have removed ~/.gradle/caches
- I have removed project .gradle folder

[code]

[2018-11-28 05:33] FaiChou commented on #174
![image](https://user-images.githubusercontent.com/18500846/49131186-288b9f80-f312-11e8-9ad7-c882bcd69300.png)

[2018-11-28 08:55] Titozzz commented on #174
What is your react native and Android studio version ?

[2018-11-28 13:17] wjwarren commented on #174
@FaiChou Do you use [Jetpack and/or AndroidX](https://developer.android.com/jetpack/androidx/)? If so, that's what is causing your errors. (It was for me anyway.)

[2018-11-28 13:32] wjwarren opened #176 "Use AndroidX instead of Support Library"
AndroidX will replace the Support Libraries.

See: https://developer.android.com/jetpack/androidx/

[2018-11-28 13:36] FaiChou commented on #174
@Titozzz

Here's the environment

[code]

I fixed it by removing the `annotation` in `/android/src/main/java/com/reactnativecommunity/webview/RNCWebViewModule.java` :

[code]

[2018-11-28 13:38] FaiChou commented on #174
My demo project can build success, and I diff them, there are a little difference in `app.iml`.

In project's` app.iml` which failed built contains `support-annotations:23`, but in demo's contains `support-annotations:27`.

[2018-11-28 14:31] Titozzz commented on #176
This is cool !

[2018-11-28 14:34] Titozzz commented on #161
@ZouHanuku is this https://github.com/react-native-community/react-native-webview/issues/140?

[2018-11-28 14:44] ZouHanuku commented on #161
I'm not using expo, I've used the link command (successful). Still got the error.

[2018-11-28 14:45] Titozzz commented on #161
what about this comment: https://github.com/react-native-community/react-native-webview/issues/140#issuecomment-441046969

[2018-11-28 16:00] ZouHanuku commented on #161
These are the changes that occured after the linking:

settings.gradle:
`
include ':react-native-webview'
project(':react-native-webview').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-webview/android')
`

build.gradle:
` compile project(':react-native-webview')`

MainApplication.java:
`import com.reactnativecommunity.webview.RNCWebViewPackage;`

Podfile:
`  pod 'reac

[2018-11-28 16:02] Titozzz commented on #161
exactly.

you need to add new RNCWebViewPackage() as said in the linked comment

[2018-11-28 16:11] ZouHanuku commented on #161
Thank you! It's working now ;)

[2018-11-28 17:41] levi-beers commented on #140
Not using Expo, I still have the issue with Android even though my MainApplication.java is fixed and react-native-webview is linked.

[2018-11-28 17:41] Titozzz commented on #140
can you tell me more ?

[2018-11-28 19:11] wendelfreitas opened #178 "Question: Downloading files on android does not work"
I do not know if I've forgotten anything, but no external link downloading file works. It comes in a loading and does not come out, is it possibly a bug or something I forgot?

Observation: '**allowUniversalAccessFromFileURLs**' is enabled

Thank's everyone! ❤️

[2018-11-28 23:35] jamonholmgren commented on #168
@ccorcos I believe you can load them as straight JavaScript and not try to TypeScriptify them, right?

[2018-11-29 02:30] ccorcos opened #180 "Android-Studio: ReactBuildConfig.DEBUG = false when debug, disallowing debugging"
I'm not about to inpsect the webview from chrome://inspect on Android. Any ideas?

[2018-11-29 02:38] ccorcos commented on #180
I see this in Android Studio, but there are errors all over the place so its hard to debug.

[code]

[2018-11-29 02:46] ccorcos commented on #180
Well it turns out `ReactBuildConfig.DEBUG` is false.... Any ideas how to make that true when I press play in Android Studio?

[2018-11-29 09:07] WebDeveloper23 opened #182 "Android invoke a crash notification react native webview"

[2018-11-29 09:14] Titozzz commented on #168
It's fine, I'm on it

[2018-11-29 09:16] Titozzz commented on #178
It's not a bug nor you forgot something. The feature has just never been done.
Upload was done just a few time ago.

There is already an issue, so I'll close this one #80 .

[2018-11-29 09:16] #178 closed

[2018-11-29 09:17] Titozzz commented on #180
you should not go to chrome://inspect, but to remote devices.

We have a guide to explain all this: https://github.com/react-native-community/react-native-webview/blob/master/docs/Debugging.md

[2018-11-29 09:20] Titozzz commented on #174
The minimum supported version for the webview is react-native 0.57, your gradle files are probably messing with the webview config. You can edit the code to get it to work, but I won't have time to help @FaiChou

[2018-11-29 09:21] Titozzz commented on #174
Please link your gradle file if you want me to take a (quick) look

[2018-11-29 14:29] FaiChou commented on #174
here is my fork commit https://github.com/FaiChou/react-native-webview/commit/0c98b1acd6524bf0853f5600efd7ab6735772d77

[2018-11-29 17:30] mmaschenko opened #183 "UIWebView get covered with keyboard on iphone6/ios12.1"
For some reason UIWebview gets messed up specifically on ios 12.1 after update. I have webview with textinput in bottom, and it's getting covered with keyboard. If i use WKWebView textinput is put too much away from keyboard and can be fixed with this code, but it's a bad solution in general

[UIView animateWithDuration:0 animations:^{
      self.webView.scrollView.contentOffset = CGPointMake(0, 0

[2018-11-29 18:44] ccorcos commented on #180
It explains `WebView.setWebContentsDebuggingEnabled(true);` but it doesn't explain how to configure android studio to build the app with `ReactBuildConfig.DEBUG = true`.

[2018-11-29 21:43] afilp commented on #118
I have the same problem, in Android, using the latest React Native version (0.57).

[2018-11-29 22:04] Titozzz commented on #180
I did not need to change anything else.
Don't you see your device with Chrome remote devices?

[2018-11-29 23:51] ccorcos commented on #180
If you run from Android Studio (not `react-native start`) then`ReactBuildConfig.DEBUG = false`

[2018-11-29 23:55] capitalistdog opened #184 "Android Studio cannot find symbol class RNCWebViewPackage"
I tried @FaiChou's fix to comment out RequireAPI, but am still receiving errors building with this package not being found by Android Studio even though it appears to be properly linked and exists within node_modules.

settings.gradle contains:
`include ':react-native-webview'
project(':react-native-webview').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-webview/andro

[2018-11-30 01:56] #106 closed

[2018-11-30 02:12] Titozzz commented on #106
:tada: This issue has been resolved in version 2.14.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v2.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-30 04:56] suiyunpiaoliu opened #185 "onShouldStartLoadWithRequest don't work on Android"
onShouldStartLoadWithRequest don't work on Android when the first url load -- v2.14.0

[2018-11-30 06:21] FaiChou opened #186 "Android webview <img /> not display when img content-type is octet-stream"
Android webview don't display img tag when img source content-type : `application/octet-stream`

[code]

try above code on webview.

It displays well on iOS and PC.

[2018-11-30 06:31] MaheshNandam commented on #184
Facing the face issue

node_modules/react-native-webview/android/src/main/java/com/reactnativecommunity/webview/RNCWebViewModule.java:11: error: cannot find symbol
import android.support.annotation.RequiresApi;
                                 ^
  symbol:   class RequiresApi
  location: package android.support.annotation
node_modules/react-native-webview/android/src/main/java/com/reactnativecommun

[2018-11-30 08:12] npm-ued opened #187 "JavaScript alert not working in IOS"
Sample Code

[code]

[2018-11-30 08:13] npm-ued commented on #187
Sample Code
`
const html = '<!DOCTYPE html><html><head></head/><script>alert(11);</script><body><h1>This is a heading! test</body></html>';
    return (
      <SafeAreaView style={{flex: 1, backgroundColor: '#fff'}}>
        <View style={{flex: 1}}>
          <WebView
            source = {{html: html}}
            onLoadProgress = {e => console.log(e.nativeEvent.progress)}
          />
        </

[2018-11-30 08:58] Titozzz commented on #184
Ok let me fix that.

[2018-11-30 09:14] Titozzz commented on #184
can you test installing like that and let me know if it's fixed ?

yarn add react-native-webview@1f11f10

[2018-11-30 09:16] Titozzz commented on #184
@capitalistdog @FaiChou @MaheshNandam

[2018-11-30 09:19] Titozzz commented on #185
Yeah this was document in the pull request.
I agree that we need to find a way to match iOS functionality, but it's going to bit a bit tricky probably @maxammann

[2018-11-30 10:09] maxammann commented on #185
Will think about how we could do it.

I think we maybe should not allow to cancel the first load. Not sure what to display instead of the actual content.

[2018-11-30 18:33] capitalistdog commented on #184
Resolved my issue last night by just creating a new project and importing my screens, tried the new commit in the old project @Titozzz but no dice, I think that whole project is just hosed from all my attempts at fixing.

[2018-12-01 04:34] Shragenator commented on #140
Experiencing this issue in ejected expo after a successful link (by running react-native link react-native-webview and then confirming that RNCWebViewPackage() is imported and linked in MainApplication.java as according to @Titozzz ).

For myself the error is: "Invariant Violation: Invariant Violation: Invariant Violation: Native component for "RNCWebView" does not exist

Going to investigate the

[2018-12-01 05:45] mog3n commented on #140
How I got it to work with cocoapods:
I ran `react-native link react-native-webview`, which for some reason did not fully link the libraries. I got the error that all you guys are experiencing when recompiling the app after linking.

I went to manually link the library.
1. Drag the xcodeproj from node_modules/react-native-webview/ios/ into XCode my_app/Libraries
2. Under build phases -> link binary

[2018-12-01 05:49] lunarraid commented on #140
@mog3n You will likely need to remove the pod reference if you are linking under build phases. It didn't trigger for me, but this caused duplicate symbol errors for other people pulling down my project afterwards. Removing the pod reference fixed it for everyone.

[2018-12-02 04:53] xinfang commented on #125
+1 not work in real device and simulator for ios

[2018-12-02 16:03] biduone commented on #150
Unfortunately, I have the same problem.

ReactNative : 0.57.6
ios: 9.3

![image](https://user-images.githubusercontent.com/2018001/49341874-7bf14b00-f68e-11e8-9e1d-eb1a43c57450.png)

[2018-12-03 09:49] Titozzz commented on #174
Not really, before 0.57 most people import WebView from react-native directly.
Not supporting versions below has several advantages.

Any reasons you can't update to 0.57 that would justify this package to work on lower versions?

[2018-12-03 11:07] cuibeihong opened #189 "I hope listening to the loading fail （500 or 404 or 401 ）"
My current plan ：（iOS）
add WKNavigationDelegate in RNCWKWebView.m

- (void)webView:(WKWebView *)webView decidePolicyForNavigationResponse:(WKNavigationResponse *)navigationResponse decisionHandler:(void (^)(WKNavigationResponsePolicy))decisionHandler{
  if ([navigationResponse.response isKindOfClass:[NSHTTPURLResponse class]]) {

    NSHTTPURLResponse * response = (NSHTTPURLResponse *)navigationRe

[2018-12-04 01:54] TheAlmightyBob commented on #189
Have you tried this code already? I _think_ that the call to `decisionHandler(WKNavigationResponsePolicyAllow)` will allow the page (e.g. the 404 error page) to successfully load and thus reset the `react-native-webview` error state. So if your app is using something like `renderError` then you might see your own error screen quickly appear and disappear.

(but if your app is just handling `onErro

[2018-12-04 05:35] ChenLi0830 commented on #7
@jamonholmgren ios simulator? The author of the issue reported **Android**

[2018-12-04 07:41] JinHoSo opened #190 "Is it possible to open a browser like Chrome or Safari by javascript 'window.open'?"
Hi,
Is it possible to open a browser like Chrome or Safari by javascript 'window.open'?

[2018-12-04 09:49] davidnum opened #191 "Cannot form weak reference to instance (0x16aaf7c0) of class RNCWKWebView"
Hi. When I move to other screen from screen with web view App crash  with this error:

Iphone 4, IOS 9.3.5

[2018-12-04 10:06] Titozzz commented on #191
duplicate of #150

[2018-12-04 10:06] #191 closed

[2018-12-04 10:07] Titozzz commented on #150
I'd love to get a pull request to address that issue!

[2018-12-04 11:07] maxammann opened #192 "Simplify the handling of navigation"
Hello folks,
the goal of this issue is to simplify the handling of navigation events. I think it is a bit difficult to have `onLoadStart`, `onLoad`, `onLoadEnd`, `onShouldStartLoadWithRequest` and `onNavigationStateChange`. Maybe we can simplify this to: `onWebViewEvent` and `overrideDocumentLoading`

Also the concept of `originWhitelist` is a bit difficult to understand (Pages which do not match

[2018-12-04 11:10] AndrewJack commented on #150
I think I've seen this in crashlytics (only on ios 9):
[code]

[2018-12-04 11:13] Titozzz commented on #150
That looks like our culprit

[2018-12-05 10:38] fbacker opened #193 "iOS 12 Keyboard dismiss, viewport shifted"
I'm experience the same issue as this post. https://github.com/apache/cordova-ios/issues/417#issuecomment-431296703

Example.
I fill a login form with values. Close the keyboard (not clicking keyboard submit button).
Then clicking on the actual login button. Then the hitareas are offset and I will hit another button.

[2018-12-05 10:55] oliverdolgener opened #194 "White Screen when loading content"
I've noticed an annoying bug when loading html content. There was an issue in the RN Core WebView.
I could solve this problem using the `overflow: 'hidden'` trick but I thought this could be fixed internally.

https://github.com/facebook/react-native/issues/21939

[2018-12-05 10:58] Titozzz commented on #194
I agree with you 100% on this. I've found the hidden fix but not proud of it 😛

[2018-12-05 12:00] krishan1kamal opened #195 "Content not pushed up and keyword overlap contains(Android only)"
Content not pushed up and keyword overlap contains
![screenshot_2018-12-05-17-20-40-97](https://user-images.githubusercontent.com/19946070/49512002-b50a0500-f8b2-11e8-8794-34ea18625e01.png)
![screenshot_2018-12-05-17-20-15-78](https://user-images.githubusercontent.com/19946070/49512011-b9362280-f8b2-11e8-8f4f-4f66613d08b4.png)

Code I am using

[code]

---

Complete code if you want to look up:

[

[2018-12-05 16:45] lilosir opened #196 "Error:The module 'react-native-webview' is an Android project without build variants, and cannot be built."
I was trying to sync gradle file, it seems cannot load `react-native-webview`. And I got this error `Error:The module 'react-native-webview' is an Android project without build variants, and cannot be built.
Please fix the module's configuration in the build.gradle file and sync the project again.`

BTW, it should linked successfully.

In setting.gradle, it includes:
`include ':react-native-webvie

[2018-12-05 18:16] smathson commented on #193
Correct, this is a known bug in WKWebView on iOS 12. https://openradar.appspot.com/radar?id=5018321736957952

[2018-12-06 01:15] meiqi1992 opened #197 "[Android] Add setTextZoom property"
Android  webview need setTextZoom，need help

[2018-12-06 01:33] swansontec commented on #66
@KoenLav Awesome! I didn't realize these fixes were already in the works.

As for the structured clone algorithm, I don't have any particular ideas on the implementation. This was more of a pie-in-the-sky wishlist item for me. Using an NPM module like the one you pointed out might be a reasonable approach.

[2018-12-06 03:19] maxlew opened #198 "nullPointerException when linking react-native-webview"
Hi there, I'm getting the following error when trying to run `react-native run-android` after installing `react-native-webview`. Not sure if I've missed a very obvious step or not. The same configuration works in iOS.

**Versions**
[code]

**Error**
[code]

**Reproduction steps**
[code]

**Debug log at crash**
[code]

[2018-12-06 06:30] meiqi1992 commented on #111
same issue！ click button in webview but it can not navigae next page！

[2018-12-06 09:43] JsonAveza opened #199 "WebView with other components: Other component is not displaying in Android only"
Hi Team,

 Currently I upgrade react native version from 0.55 to 0.57 and Added the react-native-webview plugin.
This is my code:
 ` <View style={styles.container}>
           <Text style={styles.welcome}>Welcome to React Native!</Text>
           <WebView
		source={{uri: 'https://facebook.github.io/react-native/'}}
		style={{marginTop: 20}}
	      />
	 </View>`

![image](https://user-images.githu

[2018-12-06 14:15] stammbach opened #200 "WKWebView stays in loading state with injectedJavaScript"
Hello, I'm using the injectedJavaScript to inject custom CSS into my WebView to hide the default page header.

[code]
Combining that with the default useWebKit option and the WebView will stay in loading state.
The onLoadProgress event even returns progress: 1 which should be 100% if I'm assuming that correctly. I've already made sure the JS is working on Safari / WK.

When switching back to the U

[2018-12-06 15:19] Titozzz commented on #196
I use build variants and I don't have that issue, please link a reproduction

[2018-12-06 16:19] mnoandh commented on #199
I am using expo and react native version 0.52.0 .. I have also the same problem

[2018-12-06 22:53] Titozzz commented on #200
please use debbugging to inspect the webview and see what's wrong with it

[2018-12-06 22:54] Titozzz commented on #199
Please add overflow hidden, this is a duplicate of #194 I think? If not, let me know

[2018-12-06 23:05] stammbach commented on #200
@Titozzz thanks for the debugging information, thats actually really handy... but that just confirms what I already said. Nothing is loading anymore. No errors. I can even inspect my injected style tags in the head section. But the WebView component stays in loading state and renders my loading component. Disabling webkit and everything works as expected, just not as fast.

[2018-12-06 23:34] Titozzz commented on #200
Ok, can you try using react-native own webview with useWebkit={true} to see if any change to this repo broke it ?

[2018-12-06 23:57] jamonholmgren commented on #200
@stammbach You may have run into the same bug @ryanlntn ran into. Check out this PR which hasn't been merged yet: https://github.com/react-native-community/react-native-webview/pull/179

[2018-12-07 00:18] stammbach commented on #200
@Titozzz @jamonholmgren yeah, it's exactly the same thing. Working without startInLoadingState or by adding 'true' at the end of my JS injection string. Thank you all for the quick help.

[2018-12-07 00:18] #200 closed

[2018-12-07 00:49] jamonholmgren commented on #200
Glad to hear!

[2018-12-07 04:10] Sbphillips19 commented on #140
Mine works in IOS but I haven't been able to get it to work in android.  I have already followed everything above and see these in my MainApplication file:

import com.reactnativecommunity.webview.RNCWebViewPackage;
new RNCWebViewPackage()

Not really sure what else to try.  Have trying rebuilding and linking many times.

[2018-12-07 07:08] malonguwa opened #201 "[iOS] WKWebView auto-scroll to top after push screen from root StackNavigator"
@Titozzz
I was using 2.5.0, and I see the re-create issue then I talk to the @NeilChan and come up with a sultion (https://github.com/react-native-community/react-native-webview/pull/143), in 2.5.0, I just go updated WKWebView.m by following this PR, everything works well, but today after I update to the latest version, the issue is happening again, but this time seems related to the react navigat

[2018-12-07 07:46] NeilChan commented on #201
@malonguwa
It think it maybe affected by react navigation's render mechanism. The react navigation seems didn't work like the native navigation. The original webview maybe removed from superview after pushed a new screen. As the native navigation, it won't be.

You can remove the method `- (void)removeFromSuperview()` in `RNCWKWebView.m` temporary and test again.
But it maybe cause a memory leak.

[2018-12-07 07:48] malonguwa commented on #201
@NeilChan Hi Neil, many thanks to look into the issue again! Yes... you are right.. may have memory leak... Hope you can find a better way to fix this... Good luck man!

[2018-12-07 07:54] NeilChan commented on #201
@malonguwa
If you remove the method - (void)removeFromSuperview() in RNCWKWebView.m can fix the problem ?

[2018-12-07 09:50] JsonAveza commented on #199
@Titozzz
Thank you.  Its working fine now.

[2018-12-07 09:50] #199 closed

[2018-12-07 14:41] Luftzig commented on #198
Happens to me too on versions =>2.8.0 (2.8.0 and later) of the library.

[2018-12-10 10:59] naxel commented on #172
@NetPumi2 @Titozzz @wendelfreitas @jamonholmgren
HI everyone, this library https://github.com/teamairship/react-native-android-fullscreen-webview-video fixing the problem with fullscreen video on the Android (in my case). Can you check it and add functionality to this repo if everything will be ok?

[2018-12-10 14:15] AE0011 commented on #184
i resolve this by adding
`implementation 'com.android.support:support-annotations:28.0.0'`
in build.gradle of react-native-webview

[2018-12-10 17:57] smathson commented on #80
@Titozzz @ankur-sardar see PR #203 re: download support on Android.

[2018-12-10 18:57] ganesh-pprasad commented on #154
Does anyone have any solution for this one? I use webview to display mails from googleapis. APIs provide me raw html and css. In case of autogenerated emails with more css and/or images. I'm not able calculate the height in time.

[2018-12-11 01:58] malonguwa commented on #201
@NeilChan Hi sorry for the late reply, after I remove the removeFromSuperview() in RNCWKWebView.m , the re-create issue still there if I push screen from the root stackNavigator.

[2018-12-11 02:00] malonguwa commented on #201
@NeilChan interesting thing is if I use your fix for RNCWKWebView.m in react-native-webview: 2.5.0, I do not see this issue...  not sure what has been changed after 2.5.0

[2018-12-11 03:44] malonguwa commented on #201
@NeilChan @Titozzz

I find the code which caused this issue, after I commented off the following code, my issue is solved
[code]

[2018-12-11 19:03] wendelfreitas commented on #172
@naxel this work for me, thanks dude ❤️

[2018-12-11 22:31] swansontec commented on #184
@Titozzz I ran into the exact same issue. Using your branch react-native-webview@https://github.com/react-native-community/react-native-webview#1f11f10 does indeed solve it.

[2018-12-12 17:42] duyleekun commented on #139
@jamonholmgren were you able to reproduce this? Any ahref with target="_blank" won't do anything with webview

[2018-12-13 00:02] tandemloop opened #205 "Once linked breaks project and cant be uninstalled"
Produces:
"Invariant Violation requireNativeComponent RNCWKWebView" was not found in UImanager.

Have deleted the files package.json, used yarn/npm to uninstall, removed component from app. nothing works... whats causing this issue?

[2018-12-13 08:09] MrOggy85 commented on #140
I ran into the same issue as the original comment ☝️
I am using React Native `0.55.2` and Xcode 10.

I was building with the iOS Simulator (iPad 5th gen) as the build target. And got the error. When I instead switch to "Generic iOS Device" it worked.

[2018-12-13 08:53] tigo0 opened #207 "[Android] Persist cookies"
Hey. Thanks for the great work.
If I am not missing anything, currently the cookies are not persisted on Android if we kill the app. This improvement seems to be available on iOS (I am using https://github.com/react-native-community/react-native-webview/pull/138), and would be great to have it for Android as well. As of now, any workarounds for this? Thanks.

[2018-12-13 13:11] daoan1412 commented on #185
I think that we can use shouldInterceptRequest instead shouldOverrideUrlLoading.

[2018-12-13 14:12] SimonErich opened #208 "Crash on file inputs with capture="camera""
I have a web view, that contains a file input to upload files.
I I click the file input we get a crash.

       Source type must be UIImagePickerControllerSourceTypeCamera
           "4   libobjc.A.dylib                     0x0000000106ea8a97 _ZL15_objc_terminatev + 91",
           "5   Aktionsfinder                       0x0000000101644656 _ZL19CLSTerminateHandlerv + 355",
           "6   libc++a

[2018-12-14 02:38] malonguwa commented on #62
@sebk @congnd
Maybe give a try for this code?
[code]
I found the solution in here, but I have not tested myself yet... please let me know if it is working :P
https://github.com/react-native-community/react-native-video/issues/591

[2018-12-14 05:14] liemdo commented on #161
It doesn't work for me in iOS but it works fine in Android.

[2018-12-14 06:16] sebk commented on #62
Kind of...The problem is to know when to hide and when to show the StatusBar. In the App I want to show the Bar. Only when the video is in fullscreen the bar should be hidden. I have to know when the video goes into fullscreen and when it leaves it. The question is: When do I call `setHidden(false)` and when `setHidden(true)`?

On iOS I found a native solution:

`- (BOOL)application:(UIApplication

[2018-12-14 11:36] daoan1412 commented on #185
I try use shouldInterceptRequest to block advertisement host on android native and it work.
[code]

[2018-12-14 19:11] jamonholmgren commented on #201
@malonguwa Thanks, that's helpful. We're experiencing something similar with a client project so we'll take a look at this too.

[2018-12-14 19:13] jamonholmgren commented on #22
@vvusts The way the core team handles issues in this repo is we will review them, tag them, get more info, and then ask the community for help fixing them. Then we will review, test, suggest changes, and eventually merge and deploy PRs that fix issues. So it's possible someone else might fix it, but if you want to try, it's much appreciated.

[2018-12-14 22:38] ryanlntn commented on #201
@jamonholmgren This is definitely the same bug we're experiencing. Commenting that block out resolves the scroll to top on select input blur.

[2018-12-14 22:48] jamonholmgren commented on #201
@malonguwa @ryanlntn Let's revert that commit and try again with that particular bug later.

[2018-12-14 22:53] ryanlntn commented on #201
On it.

[2018-12-14 23:01] #201 closed

[2018-12-14 23:03] Titozzz commented on #201
:tada: This issue has been resolved in version 2.14.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v2.14.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-14 23:56] jamonholmgren commented on #193
This issue was originally fixed in #134 (and deployed in 2.8.0) but we reverted it in #210 (available in 2.14.3) because of #201.

If someone wants to take a stab at fixing this issue again, you can use #134 as a base, but figure out how to not break #201 again.

[2018-12-14 23:57] jamonholmgren commented on #193
cc @iamtommcc and @ryanlntn

[2018-12-15 07:42] NeilChan commented on #201
@malonguwa As you said, I don’t think it has been re-created. The code just cause the scroll offset changed.

[2018-12-15 20:21] afilp opened #211 ".mp3 sound playing in HTML cannot be heard"
The HTML and JS in the webview plays an .mp3 sound.

When loading the page in a desktop Chrome browser, we can hear the sound.

When loading it inside a WebView, we cannot hear the sound.

Is .mp3 sound playing supported? What needs to be done to hear the sound?

Thanks!

[2018-12-15 21:30] afilp commented on #211
Closing, I now realized that the sound will play only if I add this prop:

`mediaPlaybackRequiresUserAction={false}`

So, I added it and now I hear the sound.

[2018-12-15 21:30] #211 closed

[2018-12-16 00:32] cyb3rsalih commented on #78
It does not work, Is there a mistake with my code?

[code]

[2018-12-16 04:45] iamtommcc commented on #201
@malonguwa @jamonholmgren Sadly I wouldn't have any idea as to why #134 would cause this issue. Does the problem occur on all versions of iOS & Xcode?

Quite a dicey situation. The original bug my PR fixed is pretty bad, but this issue new introduced is also pretty bad so a revert was probably a good idea 😅.

[2018-12-16 09:44] daoan1412 opened #212 "Support WKUserScript"
I figured out how to inject javascript into webview at document end (DOMContentLoaded).
But seem react-native-webview  not a support yet?
https://developer.apple.com/documentation/webkit/wkuserscriptinjectiontime/wkuserscriptinjectiontimeatdocumentend?language=objc

[2018-12-17 07:55] malonguwa opened #213 "[iOS WKWebView] crash on iOS 9.x due to WKWebView bug where it tries to use scrollView.delegate while being deallocated."
@Titozzz @NeilChan
This is a old issue for WKWebView happens in iOS 9, due to WKWebView bug where it tries to use scrollView.delegate while being deallocated.

Crash log from iOS 9.x
- [WKScrollView _updateDelegate] + 229  <-- (try to use scrollView.delegate after WKWebView dealloc)
- | WebKit | -[WKWebView dealloc] + 267

I already see other people's solution for this issue by `scrollView.delegat

[2018-12-17 08:19] malonguwa commented on #150
@Titozzz any updates on this issue? basically any iOS 9 user won't able to use our app due this crash issue.

[2018-12-17 08:53] Titozzz commented on #150
I really have very little time to dig issues right now due to my work, however I'm trying to be super reactive to pull requests so please feel free to submit one @malonguwa

[2018-12-17 09:00] Titozzz commented on #213
I know this issue is painful for you but please let's keep the focus in one thread #150 !

@NeilChan Can you have a look at this issue ?

[2018-12-17 09:00] #213 closed

[2018-12-17 09:01] Titozzz commented on #150
@malonguwa In the meantime you could still use UIWebview for users < iOS 10

[2018-12-17 09:07] NeilChan commented on #213
@Titozzz OK. It's a webkit bug in iOS9. I will try to fix it and submit a PR later.

[2018-12-17 09:09] Titozzz commented on #213
Thank you so much

[2018-12-17 11:18] DaniAkash opened #214 "HTML File input causes crash in iOS if "Take Photo or Video" option is selected"
I have a webview where I have a file input option as below:

[code]

Here, if I click on the input and select *Take Photo or Video* option, it causes my application to crash in iOS. It is working fine on Android.

React Native version: 0.57.1
React Native WebView version: 2.14.3
iOS version: 12.1
Device: iPhone SE

[2018-12-17 14:34] Titozzz commented on #172
You are free to submit a PR and we will review it, but if it is working on this repo, it's a pretty good sign we can merge it here :) @naxel

[2018-12-18 10:42] ed-sparkes opened #215 "Accept headers"
Accept headers specified in source are being overwritten by the webview and therefore not being honored. I have an api which returns pdf documents and checks the accept header for application/pdf. Despite specifying the header in the source of the WebView it appears the header is being replaced before making to my api with the following values "text/html,application/xhtml+xml,application/xml;q=0.9

[2018-12-18 10:53] Titozzz commented on #198
If you can reproduce this in a small project, I'll take a look

[2018-12-18 10:54] Titozzz commented on #205
This happens when you failed to link the project correctly but should go away if you don't import webview from this package.

[2018-12-18 10:54] #205 closed

[2018-12-18 10:58] Titozzz commented on #208
Would that help: https://stackoverflow.com/a/48466875/4022333 ?

[2018-12-18 11:03] Titozzz commented on #78
You can check the console directly to see if anything went wrong. See the docs for that :)

[2018-12-18 11:30] SimonErich commented on #208
@Titozzz I've found the problem yersterday and it was a mistake on my part.
I did not add the camera permission entry to Info.plist:

So to make it work, just add an Info.plist entry for camera usage:
    <key>NSCameraUsageDescription</key>
    <string>You can take photos to document your job.</string>

[2018-12-18 11:30] #208 closed

[2018-12-18 13:33] Titozzz commented on #214
duplicate of #208

[2018-12-18 13:33] #214 closed

[2018-12-19 00:06] mpcen commented on #215
I'm experiencing a similar issue but with cookies:

I'm specifying a cookie value but when I call get() to fetch my current cookies within onLoadStart, onLoad or onNavigationStateChange, the cookie differs from what I manually specified in source header.

[2018-12-19 00:07] mpcen commented on #207
Experiencing the same. This is super broken

[2018-12-19 04:05] Wangzihao5325 commented on #172
@NetPumi2 have you solve the sound work but movie black problem?

[2018-12-19 11:17] DaniAkash commented on #214
@Titozzz I followed the discussion in the issue #208 and added the following to my `info.plist` file

[code]

Now I'm able to access my camera and take pictures and upload them. However, if I select the video option, it is crashing the app.

[2018-12-19 11:38] DaniAkash commented on #214
Nevermind, I just found out that video requires microphone and I had to include microphone usage description to my info.plist as well,

[code]

[2018-12-19 16:48] trevorKirpaulRTS commented on #151
@petlys Did you ever resolve this issue or find a work-around for it?

[2018-12-20 06:54] Chi-AnTai opened #216 "WebView style height is not working"
When I only use WebView, the style height is not working in both iOS and Android.
However, it can work correctly when I use maxHeight or wrap Webview inside View and set View height.
Is this a bug?

For example:
render() {
    return (
        <WebView
            source={{ uri: "https://github.com/react-native-community/react-native-webview" }}
            style={{ width:300,height:300 }}

[2018-12-20 08:13] petlys commented on #151
@trevorKirpaulRTS Nope, ended up moving the network request to the native layer instead of the webpage being displayed in the WebView

[2018-12-21 14:00] lapto commented on #198
Sounds like a kotlin version conflict.

in your android/build.gradle file, do you have a dependency on kotlin? If so, try changing it to the same version as the one used in this project (1.2.71).
I belive this was added in the 2.8.1 with the refactor of the events

`buildscript {
    ext.kotlin_version = '1.2.71'
    repositories {
        google()
        jcenter()
        maven {
            url

[2018-12-21 18:21] jamonholmgren commented on #216
I just replicated this problem and it does seem like a bug.

[2018-12-21 18:30] jamonholmgren commented on #212
@daoan1412 Thanks for the issue. There is a PR in progress, although we have some questions around it. If you want, you can check that out and try it.

https://github.com/react-native-community/react-native-webview/pull/109

cc @ifsnow @Titozzz

[2018-12-21 18:33] jamonholmgren commented on #207
@tigo0 Thanks for reporting! We would love to have Android support as well but need someone to help implement it. Perhaps @mpcen would like to take a stab at it. ;)

[2018-12-21 18:35] jamonholmgren commented on #207
Actually, @ifsnow said he has an Android implementation. So once that's pushed up we can test that as well.

[2018-12-21 19:03] jamonholmgren commented on #192
@maxammann Thanks for opening this issue! I appreciate the thought you put int oit.

I think from my standpoint that I am not in favor of breaking the current API, as that will put a lot of burden on people migrating from the core WebView to this one. While I understand what you're saying about your API design being more logical, we also have an obligation to not cause a lot of extra work to code

[2018-12-21 21:49] jamonholmgren commented on #162
I'm not able to reproduce this:

<img width="357" alt="android emulator - pixel_api_26 5554 2018-12-21 13-49-04" src="https://user-images.githubusercontent.com/1479215/50364981-3dc9a780-0527-11e9-8636-dcf322199551.png">

<img width="443" alt="iphone x - 12 1 2018-12-21 13-42-42" src="https://user-images.githubusercontent.com/1479215/50364812-86cd2c00-0526-11e9-9d08-9db76fc92188.png">

Let me know

[2018-12-21 21:49] #162 closed

[2018-12-21 21:51] jamonholmgren commented on #161
Here is @Titozzz 's really great article:

https://engineering.brigad.co/demystifying-react-native-modules-linking-ae6c017a6b4a

[2018-12-22 13:30] creativemind1 commented on #139
For me as well, it doesn't do anything.

[2018-12-22 15:43] maxammann commented on #192
Oke I understand that we probably should not break the API as this package is used quite a lot in the core still.

I understand that we should not neeed as `ios={}` object but when it comes to webviews we probably will not be able to support everything on every platform. Not sure how react-native generally thinks about this. For example the styling property `elevation` is only supported on Android

[2018-12-23 03:14] jamonholmgren commented on #192
It’s a great point and something we should think about for sure!

[2018-12-23 07:43] udarts commented on #118
@jamonholmgren will try to add a minimal repo today

[2018-12-23 17:01] udarts commented on #118
@jamonholmgren, hereby the snack.expo (only it has an issue with native code for the webview, don't know why), so you have an idea on the setup and you can try it yourself on an android device: https://snack.expo.io/@udarts2/webview

[2018-12-24 15:04] ParthNandaniya commented on #216
i have same problem, any solution or this seem like a bug ?

[2018-12-25 07:53] callcter commented on #169
I load file by https like this
[code]
 and it works

[2018-12-26 11:52] manoj2166 commented on #30
@jamonholmgren
Could you please suggest me I can do it for ios but not for Android.
My release is got stuck for this issue.

[2018-12-27 06:57] kevinjom commented on #139
Setting `useWebkit={false}` worked for me.

[2018-12-27 14:59] henrymoulton commented on #161
@lfalkner Did you manage to solve this issue?

[2018-12-28 01:30] jamonholmgren commented on #139
If someone wants to tackle this problem, this seems like a good place to start: https://stackoverflow.com/a/25853806/204044

[2018-12-28 02:07] terrytianliang opened #218 "Android:react-native-webview: unable to locate React Native Android sources, ensure you have you installed React Native as a dependency and try again"
When I took the Android directory out of react native,For example:
-workspace
&emsp; -packages
&emsp;&emsp; -my-android
&emsp;&emsp;&emsp; -android
&emsp;&emsp;&emsp;&emsp; -app
&emsp;&emsp;&emsp;&emsp; -setting.gradle
&emsp;&emsp; -my-rn
&emsp;&emsp;&emsp; -node_molules
&emsp;&emsp;&emsp;-index.js

And My android setting.gradle code
include ':react-native-webview'
project(':react-native-webview')

[2018-12-28 08:58] Chi-AnTai commented on #216
@jamonholmgren
I think the problem is in WebView.ios.js, line 199

const webViewStyles = [styles.container, styles.webView, this.props.style];

styles.container give WebView flex 1, that's why height is not work.
It can work properly when you changed it to

const webViewStyles = [styles.webView, this.props.style];

[2018-12-28 17:10] punksta commented on #131
we have similar problem in company I am working. Rendering many webview in flatlist with html is not working properly. List scrolls slow and sometimes it takes few seconds for flat list item to appear.
it happens only on low price android devices.

[2018-12-28 20:13] Overtorment commented on #198
Can confirm issue with latest  `react-native-webview` and clean project after init.
The only workaround for me is to downgrade `npm install --save react-native-webview@v2.8.0`

[2018-12-29 21:01] jamonholmgren commented on #198
![image](https://user-images.githubusercontent.com/1479215/50542122-d08ec580-0b69-11e9-9c8a-8669c492f780.png)

It seems to work for me with react-native-webview 2.14.3.

[2018-12-29 21:18] jamonholmgren commented on #131
I was able to load 40 instances of WebView with source set to the https://www.mathjax.org/ website as mentioned above before I started having problems.

<img src="https://user-images.githubusercontent.com/1479215/50542183-1d739b80-0b6c-11e9-8286-38fd3f884385.png" width="200" />

It would be nice to have a way to replicate this issue reliably.

[2018-12-29 21:51] jamonholmgren commented on #216
@Chi-AnTai I commented on your PR. Thanks so much for contributing.

I think the solution will be to document adding `style={{ flex: null }}` to your webview if you wish to provide a point height instead. Would you want to add that documentation?

We actually need a `style` attribute added to the docs, if you want to add it and give that tip there:

https://github.com/react-native-community/react-

[2018-12-29 22:02] jamonholmgren commented on #218
@terrytianliang I'm not sure, I've never tried to do that before.

[2018-12-29 22:04] jamonholmgren commented on #180
Did you figure this out @ccorcos ?

[2018-12-29 22:04] jamonholmgren commented on #182
Hi @WebDeveloper23, can you provide a minimal app that reproduces this bug?

[2018-12-29 22:06] jamonholmgren commented on #183
We're tracking this problem in #193 now -- closing in favor of that.

https://github.com/react-native-community/react-native-webview/issues/193#issuecomment-447513485

[2018-12-29 22:06] #183 closed

[2018-12-29 22:07] jamonholmgren commented on #108
@spaceye Would you want to make a PR for this?

This seems reasonable to me.

[2018-12-29 22:49] ccorcos commented on #180
Nope

On Sat, Dec 29, 2018 at 2:04 PM Jamon Holmgren <notifications@github.com>
wrote:

[2018-12-30 06:12] Lizhooh commented on #184
in build.gradle of react-native-webview, update code.

[code]

[2018-12-30 11:52] Chi-AnTai commented on #216
@jamonholmgren You are right, use flex: null is a better solution.

I can try to add the docs a few days later since I didn't bring my PC and I need to learn how to write markdown, thanks you for your PR comment.

[2018-12-30 14:55] tapir opened #221 "postMessage works on emulator but not on phone"
[code]

Above is my script block in the page I'm viewing from webview which is defined as below:

[code]

Works perfectly in emulator but does not work nor gives any error on my One Plus 5T (Oreo)

Any ideas?

[2018-12-30 17:30] stephane-r opened #222 "Don't stop Youtube video if device screen locked"
Hi guys !

I've see on other issue about Youtube video is not stoping when the device is lock or on other app. But my small test stop all video if i lock my device.

You can see my component :

[code]

And my HTML file :

[code]

I would like not stop video is device is locked or on other device.

Anyone have already this use case ?

Thank you community !

[2018-12-31 09:32] Shivendra30 opened #223 "Popups Do Not Appear in React Native WebView"
I've seen multiple questions regarding this on StackOverflow but unfortunately, none of them have been solved.

In my case, I'm using PayuMoney inside a WebView to execute a transaction. Payumoney by default opens up a new window while processing a transaction which is not visible inside the react native's webview but is apparently visible in mobile browsers.

According to this answer - Enable Pop

[2018-12-31 10:12] NikitaSubbotin opened #224 "White screen on Android"
Hi, we are trying to migrate from RN 0.55.2 to 0.57.8. It was suggested to use community library instead of the one within  react-native.

However we have hit a problem where our file viewer is no longer working and was hoping you can help. On iOS all works just as expected, however on Android (8.1) when we try to load our resource we see a blank page. The files which we show are xls and pdf files

[2018-12-31 15:20] romk1n commented on #224
same issue

[2019-01-02 09:58] Titozzz commented on #192
maybe name the props iOSShadow / androidElevation to avoid confusion ?

[2019-01-02 10:03] Titozzz commented on #198
What is your java / android studio version please ?

[2019-01-02 10:06] Titozzz commented on #218
@salakar This is the thing I had to change right ?

[2019-01-02 10:32] Titozzz commented on #221
i'm not sure, I have a Oneplus 3T and everything is fine. Can you give me any more informations ?

[2019-01-02 10:33] Salakar commented on #218
@Titozzz, correct. Will send over the change that was needed shortly as a PR

[2019-01-02 10:33] Titozzz commented on #222
Youtube cannot play videos when your screen is locked, unless you pay for their red subscription so if you find a way to do it it will probably be hacky and not official

[2019-01-02 10:33] #222 closed

[2019-01-02 10:35] Titozzz commented on #223
I'm not able to help you developing new features right now, but if you find a way I will gladly help to review and merge.

[2019-01-02 10:36] Titozzz commented on #224
is there any logs on the JS / Native side or when you use web debugging?

[2019-01-02 10:42] Titozzz commented on #218
Wait, @terrytianliang, why do you have that weird directory structure? React-native libraries need to be in a react-native setup, if you decide to change your project architecture that much it will probably break a lot of things and we can't support it.

Sorry about that!

[2019-01-02 11:07] tapir commented on #221
Bad news, it's not only One Plus 5T. I've tried with Galaxy S8 and it's the same.
Here is the smallest possible reproducable file and screenshots of both OnePlus 5T, Galaxy S8 and Emulator.
How can I better help debug this?
[code]
![screenshot from 2019-01-02 14-01-52](https://user-images.githubusercontent.com/223984/50589434-a6097900-0e97-11e9-85af-ab2dfbdeca50.png)
![photo_2019-01-02_14-05-41](h

[2019-01-02 11:19] romk1n commented on #224
@Titozzz nothing on my side, and I tried everything whitelists, https, http different xls files.

[2019-01-02 11:19] Titozzz commented on #224
Can you look at the html code loaded by chrome and paste it here ?

[2019-01-02 11:20] romk1n commented on #224
@Titozzz not sure what you mean, can you give an example?

[2019-01-02 11:21] Titozzz commented on #224
Using this: https://github.com/react-native-community/react-native-webview/blob/master/docs/Debugging.md . You can hook your chrome to the device and see potentials bugs with the web inspector

[2019-01-02 11:24] x86kernel commented on #224
same issue here

[2019-01-02 14:04] Titozzz commented on #224
@x86kernel same question then 😄

[2019-01-02 14:11] Titozzz commented on #221
Can you try window.postMessage('test-data-as-string', '*'); ?

[2019-01-02 14:15] tapir commented on #221
Already did. Doesn't work either.

On Wed, 2 Jan 2019, 17:11 Thibault Malbranche <notifications@github.com
wrote:

[2019-01-02 14:58] kesha-antonov opened #226 "[ios] Can't change track title & image with MPNowPlayingInfoCenter"
Hey!

I'm using RNWebview with ```useWebkit={true}``` with https://github.com/tanguyantoine/react-native-music-control/

I could show title, image and handle actions with UIWebView, but when switched to WKWebView it stopped to work.

Do you have any solutions for this?

Issue in RNMC https://github.com/tanguyantoine/react-native-music-control/issues/217

[2019-01-02 15:09] paulxuca opened #227 "injectJavaScript prop support"
Hi there! Thanks for maintaining this repo~

Is there planned support for the `injectJavaScript` prop? (this is different than the `injectedJavaScript` prop). I think there is work on it with #212

Thanks for the help! I'm currently using https://github.com/CRAlpha/react-native-wkwebview, which supports that prop but I think going with the Webview in this repo is better for long term support.

[2019-01-02 15:14] paulxuca opened #228 "[ios] injectJavaScript in componentDidMount not working as expected"
Code sample:

[code]

Expected:
Should `alert` with "Hello world"

Current:
Nothing is `alert`-ed

[2019-01-02 15:16] paulxuca opened #229 "Injecting javascript prior to document load"
Is there any way to inject javascript prior to the document loading? I think this would be related to #227

Thanks!

[2019-01-02 15:55] Titozzz commented on #229
Prior to document loading I don't think it's possible

[2019-01-02 22:37] paulxuca commented on #229
I have a super simple POC at https://github.com/paulxuca/react-native-webview:

on iOS:
Uses WKUserScript with `atStart`

on android:
Uses `shouldInterceptRequest` and injects the value of `injectJavaScript` into the response.

[2019-01-03 02:44] terrytianliang commented on #218
I used the workspaces of yarn and Integrate Android projects into react native,So the Android project is not under react native.I tried to modify 65 lines in the react-native-webview android directory build.gradle like this and it's OK :
 def reactNativeAndroid = new File(
                projectDir,
                'node_modules/react-native/android'
        )
I don't know if you can change it to

[2019-01-03 08:20] liweijieok commented on #24
I has the same requirement too, I have a WebView which is a single-page application. And `onNavigationStateChange` only work in android, iOS has not reaction. So in the iOS device , the user browse the web page and click the left-top button, it will close the whole webview not that page.
if `onNavigationStateChange` work , i can be control the webview close or back to last page.
This is my problem

[2019-01-03 08:53] tapir commented on #221
Changed the example to window.postMessage as well to avoid confusion

[2019-01-03 09:01] Titozzz commented on #221
I've been able to reproduce the issue with your code. But the thing is it's working perfectly fine inside my app and I do a lot of postMessage stuff. So I'm a bit confused.

Here's how I do:

[code]

Then to send to web (web is free to listen by overriding window.WebViewBridge.onMessage):
[code]

And web can send stuff to native by:
[code]

[2019-01-03 09:20] tapir commented on #221
Unfortunately your example doesn't work for me at all. Not even in emulator. I've noticed you didn't the the workaround delay thing where RN-Webview bridge is not live yet. But even then it doesn't fire up a message for me. Here is how I've tried to run it.

[code]

[2019-01-03 10:56] tapir commented on #221
Had to use react-native-webview-bridge for now which is using an older version of WebView.

Hoping this gets fixed soon. Maybe a common working client side JS should be injected by default before everything else. Leaving this open. Let me know if you want me to test something.

[2019-01-03 11:20] Salakar commented on #218
@terrytianliang hmm can you replace the section in the webview build.gradle that you've partially mentioned above with the following updated version:

https://github.com/invertase/react-native-firebase/blob/9b79259d63e68c341ba30ce18a8b0c1a21fd3473/android/build.gradle#L87-L133

And let me know how you get on?

[2019-01-03 11:50] maxammann commented on #192
I think this would work too. Maybe its better to keep the props flat.

[2019-01-03 13:59] NikitaSubbotin commented on #224
@Titozzz I tried to debug webview but didn't see any errors

[2019-01-03 14:39] tigo0 commented on #207
Thanks @jamonholmgren, sounds awesome. Looking forward to @ifsnow solution. Thanks

[2019-01-03 15:13] HerrX2000 opened #230 "iframe within webview with wrong src crashes app"
When the source of the iframe starts with // instead of https:// it crashes the app with the error massage: [GPhoto Image](https://photos.app.goo.gl/pyrbBFUwscxQpHUy9)

This is an example code:

[code]

package:

[code]

Seams like a bug to me.

[2019-01-03 15:43] WestFR commented on #8
Same problem on react-native 0.57

[2019-01-04 03:38] terrytianliang commented on #218
@Salakar I tried to replace that part, but it still didn't work, In the webview build.gradle  rootProject.projectDir.parentFile is 'my-android' directory in my project, However, the node_modules directory is under 'my-rn', so the new File(rootProject.projectDir.parentFile,'node_modules/react-native/anroid') is doesn't exist

[2019-01-04 04:06] Javascript-Ninja opened #231 "[Android] WebRTC permission request"
Android WebView is missing `onPermissionRequest` handler, when the webpage call `navigator.mediaDevices.getUserMedia()` function, you will get a `PermissionDenied` error, even though all necessary permissions set on AndroidManifest.xml.

[2019-01-04 07:00] KouSyurei opened #233 "Webview displays fonts"
The webview does not have any effect on fonts set in HTML pages, a problem that is currently found on android phones.

[2019-01-05 17:21] levi-beers commented on #28
Issue doesn't appear to be resolved for me either.

[2019-01-05 20:21] jamonholmgren commented on #221
@tapir I've replicated the problem using your steps as well. Made this a bug.

If anyone wants to tackle it, there's a good replication step posted above.

[2019-01-06 14:21] Nermin-K opened #234 "webview doesn't resize images in the content to fit the mobile screen"
I use WebView from "react-native-webview" and I'm trying to make the web content fit into the mobile screen but images don't fit at all causing horizontal scrolling.
I used `scalesPageToFit={true}` but it didn't help.
I also tried `style={{ flex: 1, width: Dimensions.get('window').width}}` and `style={{ flex: 1, width:'100%', alignSelf: 'stretch' }}` but I didn't get any changes.
I tried `scrollEn

[2019-01-07 12:22] Nermin-K commented on #113
@jarredt Could you please mention how to modify ReactWebViewManager.java file to make this solution work?!
 I tried to modify [ReactWebViewManager.java](https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/views/webview/ReactWebViewManager.java) file by adding this line `setting.setLoadWithOverviewMode(true);` inside `protected WebView createViewInstan

[2019-01-07 13:17] udarts commented on #118
@jamonholmgren any idea on this issue?

[2019-01-07 13:18] maxammann commented on #8
@WestFR maybe you can workaround this problem with: https://github.com/react-native-community/react-native-webview/pull/107

[2019-01-07 13:39] Titozzz commented on #118
from your example:

[code]

You cannot just set HTML like that. If you want to retrieve code from your server, I guess you want to use it as an URI ? Else you need to use actual HTML code with the <img> tag and all.

[2019-01-07 13:39] Titozzz commented on #118
By the way you cannot use that repository with expo so it's not possible to make reproductions using snack

[2019-01-07 13:42] Titozzz commented on #226
I'm not sure how we would achieve that, but if you find a solution, I'll be happy to review it.

[2019-01-07 13:44] Titozzz commented on #229
There are a lot of pull request // issues about injectJS and other scripts, if feel like we need a pull request that would achieve all that.

[2019-01-07 13:48] Titozzz commented on #224
I would need a small reproduction to understand 👍

[2019-01-07 13:49] Titozzz commented on #218
Can you screenshot your folder architecture, I'm still not sure I get it right.

[2019-01-07 13:50] Titozzz commented on #233
I think the issue come from your website not providing fonts in case user is missing them. I'm using custom fonts without issues. I'll reopen if you add more details 😃

[2019-01-07 13:50] #233 closed

[2019-01-07 13:51] Titozzz commented on #28
Please feel free to submit a PR

[2019-01-07 13:53] Titozzz commented on #221
Well we are already working on postMessage implementation, as we now the current implementation is really bad. #104

[2019-01-07 13:57] udarts commented on #118
@Titozzz Sorry I forgot the html markup. Originally the data I get from Firestore is html (saved like that). So basically what the above code with be is something like:

[code]

And that code doesn't display the image on an android device, it does on iOS.

Cheers

[2019-01-07 17:37] fempyrean commented on #234
I solved this issue adding this to what I was rendering in the webview.

`<style>
    img {
	display: block;
	max-width: 100%;
	height: auto;
	}
</style>`

[2019-01-07 19:04] smathson commented on #80
This has been implemented and released in 2.15.0. @Titozzz or @jamonholmgren, this issue can be closed.

[2019-01-07 21:37] TheAlmightyBob commented on #113
@Nermin-K The current workaround isn't to modify ReactWebViewManager.java directly, it's to subclass it in your project and put the change there. https://github.com/facebook/react-native-website/blob/master/docs/custom-webview-android.md outlines the process for subclassing the webview on Android (written before the webview was split out into this community project, but I assume it still works)

[2019-01-07 22:34] jordansexton commented on #198
I encountered this issue in our app and reproduced just now. I launched an existing AVD using:
[code]

Steps from OP:

[code]

#### Log
[code]

#### Android Studio

[code]

#### Emulator
[code]

I can also confirm that the issue doesn't occur when following the above commands with

[code]

#### Log
[code]

[2019-01-07 22:40] tandemloop opened #235 "Linking does not work"
"Invariant Violation: requireNativeComponent RNCWKWebView" was not found in the UIManager"

ran react-native build
ran npm clear cache

What is the manual process of linking this as react-native link command works sporadically.

[2019-01-07 23:12] petekp opened #236 "decelerationRate should be 'normal' by default"
The default acceleration rate in iOS webviews was changed to 'normal' a couple major versions ago or so (see [UIScrollViewDecelerationRate docs](https://developer.apple.com/documentation/uikit/uiscrollviewdecelerationrate?language=objc) and [webkit changelog](https://trac.webkit.org/changeset/211197/webkit),

`react-native-webview`'s current default is `decelerationRate: 'fast'`, which is the slow

[2019-01-07 23:21] petekp commented on #236
This is an issue upstream in RN itself. Closing and opening issue there.

[2019-01-07 23:21] #236 closed

[2019-01-08 03:41] terrytianliang commented on #218
This is my  folder architecture:
![image](https://img1.crystalbeauty.cn/ok0jqndcrp.png)

[2019-01-08 05:52] renishdeveloper commented on #140
Invariant Violation: requireNativeComponent: "RNCWebView" was not found in the UIManager
Not getting thr solution for this.

[2019-01-08 09:04] Titozzz commented on #118
Can you try with that prop : allowUniversalAccessFromFileURLs

[2019-01-08 09:33] Titozzz commented on #113
on iOS with the WKWebview this is not possible either by the way

[2019-01-08 09:35] Titozzz commented on #198
Alright let me try that right now.

[2019-01-08 09:47] Titozzz commented on #198
Can you please run 'java -version' and give me the output ? If it's 10 this is your issue and you need to use 8

[2019-01-08 09:53] Titozzz commented on #140
For iOS and cocoapods, I wrote an article on how to properly and easily setup if you guys want : https://engineering.brigad.co/demystifying-react-native-modules-linking-ae6c017a6b4a.

[2019-01-08 09:53] jordansexton commented on #198
[code]

Interesting. So I'm running the same Android Studio build and JRE as you then.

Why is Java 10 an issue? I'll try switching to 8.

[2019-01-08 09:55] Titozzz commented on #198
Ok so I'm super glad, cause this is probably the issue. I don't know why java 10 fucks up, and since it was working before, we should investigate, maybe @Salakar would have an idea.

[2019-01-08 09:56] Titozzz commented on #198
Just so you know:
https://stackoverflow.com/questions/40108471/java-lang-nullpointerexception-no-error-message-apk-building
https://github.com/fastlane/fastlane/issues/12646
https://github.com/react-community/create-react-native-app/issues/603

[2019-01-08 09:56] jordansexton commented on #198
Found this -- https://stackoverflow.com/questions/49484700/unable-to-run-react-native-project-due-to-java-version-10

Suggesting that updating to Gradle 4 might work. I'll try that as well, seems like it might be less annoying than downgrading Java.

[2019-01-08 09:58] Titozzz commented on #198
on my personal project i use this gradle-wrapper.properties

[code]

[2019-01-08 10:10] jordansexton commented on #198
Success! I used this _extremely_ lazy way to get to Gradle 4.6 on my project:

[code]

`react-native run-android` builds, and Android Studio no longer bugs me to update Gradle. Win-win.

[2019-01-08 10:17] #198 closed

[2019-01-08 10:18] Titozzz commented on #198
TLDR: either use java 1.8 or update gradle

[2019-01-08 10:20] #234 closed, assigned to nobody

[2019-01-08 11:31] Salakar commented on #218
@terrytianliang I've not seen a folder structure like that before :see_no_evil: Are you able to provide a clone of your project for me to debug and see if I can get it working for your folder structure scenario (a private copy would be fine, or a reproducible example if your project is sensitive)

Thanks

[2019-01-08 11:53] udarts commented on #118
Already have that set to true, no difference.

[2019-01-08 14:38] paulxuca commented on #235
Did you run ‘react-native link’?

[2019-01-08 15:22] punksta commented on #131
https://snack.expo.io/H1FUi4ffV
Here is demo. Webviews just render `hello` message.

I tested it on core webview and react-native-webview with react-native 0.57.8 and 0.57.0

On google emulators and nexus 5x screen is blinking sometimes, but it's rending somehow.
But on some devices the whole screen is just blank when you open it. you have to scroll down few webviews and up to make ui appear or pa

[2019-01-08 19:06] paulxuca commented on #229
@Titozzz Do you mind linking the related PRs to this issue? Having a hard time finding them other than https://github.com/react-native-community/react-native-webview/pull/109. Reading through the comments there, it seems like the progress has been paused pending a resolution to the discussion re: injectJavaScript vs injectedJavaScript.

[2019-01-08 21:17] tjengland commented on #140
Received this error today, resolved by simply adding the following line to Podfile:
[code]
then:
[code]

[2019-01-09 01:57] jordansexton opened #237 "Instructions on building from source?"
I performed a clone and yarn install. I opened the project from `RNCWebView.xcodeproj` (I didn't see the .xcworkspace file at first), and I got an error when building:

[code]

I then opened `﻿RNCWebView.xcworkspace` and got this:

<img width="532" alt="screen shot 2019-01-08 at 7 46 45 pm" src="https://user-images.githubusercontent.com/1173161/50870571-28090e80-137e-11e9-92be-81a06ec8d595.png">

[2019-01-09 06:12] vovkasm commented on #237
Is this what you want? https://github.com/react-native-community/react-native-webview/blob/master/docs/Contributing.md#how-to-test-changes

[2019-01-09 08:53] Titozzz commented on #131
@punksta So are you having issues with the core webview or with the one from this repository. You can not demonstrate bugs with our webview on expo(snack) as this is a native module.

Are you talking about a possible regression between react-native 0.56 and react-native 0.57?

[2019-01-09 09:08] Titozzz commented on #196
Can you guys try https://stackoverflow.com/a/50595320/4022333

[2019-01-09 09:13] Titozzz commented on #229
so there are your 2 others issues:
#228, #227

#108
https://github.com/react-native-community/react-native-webview/issues/185#issuecomment-447299694
#212
#4

[2019-01-09 09:14] Titozzz commented on #237
Do not open the xcworkspace but use xcodeproj instead. We need to remove the workspace I think

[2019-01-09 09:14] #237 closed

[2019-01-09 09:33] terrytianliang commented on #218
@Salakar OK  You can clone my demo from https://github.com/terrytianliang/RNDemo.git
and If you open this project with android studio,it will throw an error: react-native-webview: unable to locate React Native Android sources, ensure you have you installed React Native as a dependency and try again

[2019-01-09 09:41] punksta commented on #131
@Titozzz I am having problems with both webviews. https://snack.expo.io/H1FUi4ffV this example works same on core and repo's versions.
Downgrading from 0.57 to 0.56 with solved all issues.

[2019-01-09 10:13] punksta commented on #131
@Titozzz https://github.com/punksta/rn-webview-performance-issue I just created native examples.

https://raw.githubusercontent.com/punksta/rn-webview-performance-issue/master/webview.webm demonstration video. You can notice that on react-native 0.57 screen is blinking and sometimes it's just blank. On devices from my list screen is blank most of the time.

[2019-01-09 13:11] Titozzz commented on #131
oh ok I understand your issue if think. Use overflow: 'hidden' around the webviews, there is a bug since android 0.57 that makes webviewLoadingScreen overflow all over the screen.

[2019-01-09 13:33] punksta commented on #131
@Titozzz hmm, that fixed my example. Thanks! Will check production app tomorrow.
Could you share this bug reference if you know it?

[2019-01-09 13:34] Titozzz commented on #131
https://github.com/react-native-community/react-native-webview/issues/194

[2019-01-09 13:36] punksta commented on #131
@Titozzz Thanks. This bug is very annoying .

[2019-01-09 13:49] timraybould commented on #140
I was also getting this error on 0.57.8. Not using Expo. I _am_ using RNFirebase, which I suspect might be a common theme.

It might not be an issue of react-native-webview. Running `react-native link` almost never works for me and I have to resort to manually linking everything via Xcode. However, it might be nice for the project to include manual install instructions (which really aren't _that_

[2019-01-09 14:03] Titozzz commented on #140
cf https://github.com/react-native-community/react-native-webview/issues/235#issuecomment-452382921 😄 . I'll add that to the docs hopefully soon

[2019-01-09 16:16] vitorreis commented on #110
I'm also suffering with this problem since the migration to this package... would be cool to have this as part of the package, since the previous implementation would already handle this with the scalesPageToFit property

[2019-01-10 09:10] vishal9950 commented on #73
@fernandomatheus Can you share the alternative way. I kind of have the same use case.

[2019-01-10 10:50] Titozzz commented on #110
WKWebview does not have such property, but if you find a solution, please provide a PR

[2019-01-10 21:26] ArminKardan opened #240 "Webview doesnt work at all"
webview installed exactly on android, and native webview works well but this doesnt show anything at all, loading progress is also show that content is downloading, but finally nothing to show!, please test with an empty new project built with react-native init... and then install and link the component, you will see it doesnt work at all.

[2019-01-10 23:52] pmontesinos commented on #224
This is happening to me too. Here is the file which loads the Webview. Is this what you're asking for?

`import React, {
  Component
} from 'react';
import {
  View,
  StyleSheet,
  Platform
} from 'react-native';
import PropTypes from 'prop-types';
import { connect } from 'react-redux';
import { API } from '../../constants/api';
import Cookie from 'react-native-cookie';
import { requestAnonymousU

[2019-01-11 08:59] blackinitial commented on #224
same here, white screen..
i was installed and link the react-native-webview

dependencies:
[code]

my app.js
[code]

[2019-01-11 09:08] Titozzz commented on #240
I'm on it

[2019-01-11 09:44] #240 closed

[2019-01-11 09:47] Titozzz commented on #240
:tada: This issue has been resolved in version 3.0.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-webview)
- [GitHub release](https://github.com/react-native-community/react-native-webview/releases/tag/v3.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-11 09:47] Titozzz commented on #224
fixed in v3.0.3 cf #241

[2019-01-11 14:34] NikitaSubbotin commented on #224
@Titozzz I still have white screen. Android is downloading file instead of show it in the webview. Any ideas?

[2019-01-11 14:37] Titozzz commented on #224
Would this help : https://stackoverflow.com/a/11894771/4022333?

[2019-01-12 02:40] blackinitial opened #242 "loader can't stop after download"
i was used react native webview with loader is fine, but when after download a file, the loader cant stop. how to handle it??? what api can i use?

[code]

[2019-01-12 08:45] chaudhryjunaid commented on #229
+1 I need this as well. Need to create a cookie before document load.

[2019-01-12 19:19] Skilltrades commented on #21
Any solution to this...I need to resolve this urgent, was working fine in react-native 0.48.0, upgraded to 0.57.8. Not webView content shows up in simulator but not in release mode..

[2019-01-14 02:20] 152016726 commented on #229
em..., if I go back during the document loading, injectedJavaScript will throw error('**This is possibly due to an unsupported return type.Try adding true to the end of your injectedJavaScript string**')

[2019-01-14 02:37] SanjiHo commented on #229
This is possibly due to an unsupported return type.Try adding true to the end of your injectedJavaScript string  how to fix???bro ,help please

[2019-01-14 03:13] nonotest commented on #184
yep same here

[2019-01-14 03:53] paulxuca commented on #229
I've resolved this by formatting the javascript as `${YOUR_SCRIPT_HERE};true`

[2019-01-14 06:44] sja1n commented on #21
None of the solutions worked for me so I setup an endpoint from backend which return the same page with all cdn code and it worked fine.

[2019-01-14 14:57] jackyshek commented on #18
My case is that the header does not implement to the request at all. I have saw the RNCWebViewManager.java which the header should be implemented to the webview. Is there any workaround on that
`<WebView
      source={{uri:"http://localhost:8080/index.jsp", headers:{"test":"header"}, method:"GET"}}
/>`

[2019-01-14 21:19] iv47 commented on #184
This is an okay fix but I think its not acceptable because now every developer needs to add the **support-annotations** dependency to this projects build.gradle file inside node_modules. Thats a whole lotta of unnecessary copy and paste, especially when you have to delete node_modules and run "npm i" again.

Maybe there should be a note somewhere reminding developers not to forget to add
**impleme