[2019-03-23 19:24] harrisrobin commented on #445
Hi @GreatAuk,
thanks for submitting an issue!

Is loading the js file the only issue?
Can you run any JS at all?

[2019-03-24 04:34] GreatAuk commented on #445
Yes, loading the js file is only issue. The global variable(F2) is undefined

[2019-03-24 13:02] punksta commented on #436
may be related to https://github.com/react-native-community/react-native-webview/issues/131
adding `overflow: 'hidden'` around web-view helped me

[2019-03-25 07:13] malonguwa commented on #429
@Titozzz Many thanks for keep us updated!! Just wondering how does chromium team will release their fix? Does android user will need to click anything to update in their android device?

[2019-03-25 10:52] export-mike commented on #360
@Titozzz yes i'm using iOS 12+

[2019-03-25 11:22] sbeca opened #452 "WebViewSourceHtml.baseUrl changed to be a required field"
As part of commit 453b7dd3a0b821de6dd0578c5df7d4004d74f46c, both `WebViewSourceHtml.html` and `WebViewSourceHtml.baseUrl` were changed from optional to required. The change to the `html` variable makes sense to me as not setting it probably points to a bug but not passing any value to `baseUrl` can be useful. In fact, both the iOS and Android native code is set to handle the case of an empty `base

[2019-03-25 12:47] Titozzz commented on #429
Well, it is tied to update to Chrome version so people that updated to the broken one should also update without you having to worry too much about it :).

[2019-03-25 17:28] tijs commented on #429
We have found that the fix does not seem to be in the Chrome 74 release (beta) but the 75 (canary) version on the app store does seem to fix it! No idea when that usually lands in stable though.

[2019-03-25 18:08] ArtemSerga commented on #355
@junjun16818 I have the same issue.
Try this solution https://github.com/facebook/react-native/issues/6405#issuecomment-263262677
It works for me.

[2019-03-25 22:31] XpressElectricals commented on #301
Thanks a lot. Saved my day.

[2019-03-26 00:18] malonguwa commented on #429
@tijs hi, I thought Google team gonna fix it in the current buggy version 73 ? Whats the version this crash issue will be fixed? @nfischer @Titozzz Is there any more news ? :) Thanks a lot~

[2019-03-26 00:28] Titozzz commented on #429
This should land on 73. If you read the thread it was tested on 73.0.3683.90 which hasn't been released 'yet'. No more info on my side 🙂

[2019-03-26 00:32] malonguwa commented on #429
@Titozzz Many thanks for the reply! please keep us update if you got anything ~ :)

[2019-03-26 09:57] fdobre commented on #312
@Titozzz I have a big amount of problems with styles when I enable the webkit:
https://github.com/react-native-community/react-native-webview/issues/447

I still cannot find a way to make the styles scale and work ok. I updated the webview to it's latest version 5.4.2 and still cannot find solutions even for the basic css styles like font-size and font-family.

[2019-03-26 10:02] adrienharnay commented on #312
@fdobre Hey, could you try this and tell me how it goes `<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"} />`?

[2019-03-26 10:05] #452 closed

[2019-03-26 10:12] Titozzz commented on #2
Dup of #312

[2019-03-26 10:12] #2 closed

[2019-03-26 10:21] #168 closed

[2019-03-26 10:22] #82 closed

[2019-03-26 10:34] soumyamishra89 commented on #310
adding kotlinVersion=1.3.11 to gradle.properties works for me

[2019-03-26 11:50] fdobre commented on #312
This seems to work perfect on simulator. I will run some tests on real device and come back with more feedback.

[2019-03-26 14:58] elnygren commented on #449
try reinstalling and check the package isn't symlinked from somewhere else by npm (yep....)

at least that was my problemo and reinstalling solved the issue

[2019-03-26 17:09] radiosilence opened #456 "Doesn't export the Props interface"
Say we are creating a wrapper around a WebView and we want to pass in `{...props}` , we want our parent component's interface to inherit from `WebViewProps`, which was available when it was in `react-native`.

[2019-03-26 17:44] gshenar opened #458 "App Crashes on iOS and Android when clicking on file upload input in webview"
Has anybody seen an error like this before. When clicking on a file input to upload a file from within the webview, the app just crashes immediately. This wasn't happening on every decide but I couldn't identify and trends between ios/android or any specific versions of android.

I believe I've added the appropriate permissions including
`<uses-permission android:name="android.permission.CAMERA" /

[2019-03-26 18:24] jonasantonelli commented on #458
It is happening here too!

[2019-03-26 19:31] jonasantonelli commented on #458
On version 5.0.0 it works!

[2019-03-26 19:40] gshenar commented on #458
We are on 5.3.0, could there have been a regression?

[2019-03-27 01:59] JoeLeung32 commented on #458
- react-native-webview@5.4.4 👎
- react-native-webview@5.4.1 👎
- react-native-webview@5.4.0 💯
- react-native-webview@5.3.0 💯

react: 16.8.2
react-native: 0.58.6

[2019-03-27 04:46] malonguwa commented on #429
@nfischer hi, I just checked the whole thread in https://bugs.chromium.org/p/chromium/issues/detail?id=944020

Is there any update on the issue? I saw at the end, there is "Labels: ext-reporter-73", does this mean it is still waiting to be released? Could you mind to share some information to us when the fix for this issue will be released to current buggy version 73?

[2019-03-27 08:26] #456 closed

[2019-03-27 08:27] #449 closed

[2019-03-27 08:30] Titozzz commented on #458
@sjchmiela looks like your commit might be the culprit. Can you have a look ?

If anyone else has time to investigate please do

Please stick with 5.4.0 until then.

[2019-03-27 09:01] benhartouz commented on #294
I have the same issue here, I can't go fullscreen.

[2019-03-27 09:08] punksta commented on #326
@Titozzz Hi, you don't now workaround for ios? it seems you are ios developer.

[2019-03-27 09:10] punksta commented on #326
the problem I have is: our app has multiple fonts for different languages. and I want webview to read them from native assets. Nether from from base64, nor from api to minimize app size and improve performance.

[2019-03-27 09:11] 1111mp commented on #9
@Titozzz How to solve it in IOS

[2019-03-27 09:17] zarcode commented on #326
+1

[2019-03-27 09:46] AndrzejSala commented on #458
Using 5.4.4 version and have the same problem.

Instant crash on file upload.

[2019-03-27 09:52] #458 closed

[2019-03-27 15:11] fdobre commented on #447
So setting `<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />` seems to work on both simulator and device.

[2019-03-27 15:36] fdobre commented on #172
Any news about this? Will it be fixed in the future version?

I am currently having `  "react-native-webview": "5.4.2",` and the issue is still present.

[2019-03-27 17:31] smathson commented on #294
@drbarto Sorry, missed your message. Check out the linked PR above, looks like we're close to having this issue resolved.

@benhartouz Keep an eye on when #325 lands. It adds fullscreen video support on Android.

[2019-03-27 17:41] Titozzz commented on #447
Please note that this disallows users to zoom in so it might not be what you want. You might want to try the simpler
[code]

Closing now as there is a solution.

[2019-03-27 17:41] #447 closed

[2019-03-27 17:48] Titozzz commented on #429
Looks like it was released today. Tested and fixed. Thank you @nfischer 🎉

[2019-03-27 18:13] smathson commented on #172
@fdobre Unless we can isolate a reproducible test case, this issue is unlikely to be fixed in its current state. Right now it seems to exist in that strange intersection between "only in the emulator / only on device in actual app / only on specific physical devices" which makes it exceedingly difficult to determine if the root cause is actually something that can be solved in `react-native-webvie

[2019-03-27 18:21] smathson commented on #401
@dj-hedgehog Just an idea but that documentation link mentions `Additionally presentation of download can be configured with the contentDisposition attribute that takes either "attachment" or "inline" as a value.` Have you tried using that to make the contentDisposition "attachment"?

[2019-03-27 22:50] #441 closed

[2019-03-28 00:51] indapublic opened #460 "Referer header is not passing to request"
I have private vimeo video. It restricted by [domain-level privacy](https://vimeo.zendesk.com/hc/en-us/articles/115015677227-Troubleshoot-player-error-messages)

It works if request contains `Referer` header, but seems like `react-native-webview` not pass it

<img width="569" alt="Screenshot 2019-03-28 at 12 48 32" src="https://user-images.githubusercontent.com/856260/55127235-37b51980-515b-11e9-9

[2019-03-28 00:57] malonguwa commented on #429
@Titozzz Thanks for the test and update! I just give a try, it is also fixing my problem as well!!
But user need to upgrade their android chrome to the latest 73.03683.90 version. (the buggy version is 73.0.3683.75), just a remainder make sure you update the android chrome before doing the test~~

@Titozzz Maybe we should still pin this issue at the top just for little while?

@nfischer thanks so

[2019-03-28 02:37] indapublic commented on #460
Unfortunetaly I can't provide access to working area, so I just put my code here.

[code]

Btw, it reproducible only for Android. IOS working well

[2019-03-28 06:45] fishkingsin commented on #407
in my experience, it only occurs on simulator

React Native Environment Info:
    System:
      OS: macOS 10.14.3
      CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
      Memory: 704.05 MB / 16.00 GB
      Shell: 3.0.0 - /usr/local/bin/fish
    Binaries:
      Node: 8.15.0 - ~/.nvm/versions/node/v8.15.0/bin/node
      Yarn: 1.13.0 - /usr/local/bin/yarn
      npm: 6.4.1 - ~/.nvm/versions/

[2019-03-28 08:42] Titozzz commented on #365
2 solutions:
https://stackoverflow.com/a/6394497/4022333
---
https://stackoverflow.com/a/13706151/4022333

[2019-03-28 08:42] #365 closed

[2019-03-28 08:44] Titozzz commented on #30
Will be fixed by #197

[2019-03-28 08:44] #30 closed

[2019-03-28 08:49] Titozzz commented on #413
Yeah sorry you can render, then resize it by sending the rendered size but it might flicker

[2019-03-28 08:49] #413 closed

[2019-03-28 08:51] Titozzz commented on #426
Need more details, nothing happens? It's crashing?

[2019-03-28 08:53] Titozzz commented on #409
Closing as no answer was provided

[2019-03-28 08:53] #409 closed

[2019-03-28 08:55] Titozzz commented on #341
When I inject stuff inside the webview i'll always wrap it inside a function and instantly execute it. It allows me to avoid wrong return types:

[code]

[2019-03-28 08:55] #341 closed

[2019-03-28 08:56] Titozzz commented on #445
Please connect to the webView by following the docs in the debugging session and see if there are any errors.

[2019-03-28 08:59] Titozzz commented on #407
This is working on my end. Are you sure the network you are connected to is safe? Please try with another network connection.

[2019-03-28 10:05] dwyanelin opened #461 "After stopLoading, the whole webView can't trigger any press, only can scroll, on Android."
I write stopLoading in onNavigationStateChange to prevent redirect in webView, and do what I want. But After stopLoading, the whole webView can't trigger any press, only can scroll, on Android, recently.

please help me. thanks.

Below is what I do simplest:
command line:
expo init app
cd app
yarn run eject
yarn add react-native-webview
react-native link react-native-webview

package.json:
<pre>"d

[2019-03-28 10:44] MayoudP commented on #407
It appears that it didn't works on Simulator on another network connection, however it worked on a real device (iOS), weird and quite contraining but ok on the end... You can close the issue !

[2019-03-28 13:07] #407 closed

[2019-03-28 13:07] Titozzz commented on #407
maybe you are using some weird VPN or something :)

[2019-03-28 17:54] ShashankMalviya1994 commented on #8
Same problem on react-native 0.57.4, Issue still persists.

[2019-03-28 18:07] gshenar commented on #458
Thanks for the help. Unfortunately this doesn't seem to have fixed the issue for us when upgrading to 5.4.6 with react native 0.58.5. Still crashing on android when clicking the file input, I'm not seeing any errors when running react-native android log or anything

[2019-03-28 23:29] Titozzz commented on #458
Please make sure to reinstall the native side and not only the js

[2019-03-29 02:35] malonguwa commented on #448
@AdamZaczek hey just wondering if your Samsung Galaxy S9+ with Android 9 crash issue got fixed in Android Chrome latest release?

need to upgrade the android chrome to the latest 73.03683.90 version. (the buggy version is 73.0.3683.75).

Have you tried this walk around?

<View style={{..., overflow:'hidden'}}>
<WebView
    .......,
    style={{flex:1, opacity:0.99}}
/>
</View>

This is working in

[2019-03-29 05:39] Albert0405 commented on #294
Please do update us when it's done. Thanks

[2019-03-29 07:04] sahdev0 opened #462 "Require purpose string for iOS "TestFlight"build"
Hello Team,

I am using "**react-native-webview**" to render html on Android and iOS. I have created the application and ready to create build, On Android I have successfully created the debug-build but on iOS, we can generate the ipa file and unable to upload into "**TestFlight**". As we can see this plugin using "**geolocation**" in background to fetch current location of web page on mobile web

[2019-03-29 07:25] longnk1301 opened #463 "OnMessage webview not called in physical device android"
Hi guys, please give me solution, my webview have javascript code so
1. iOS working
2. emulator working
3. physical device android **not working**

4. physical device android 8.1
5. RN version 57.0.1. I try upgrade 0.59.1 but not working

This is my code:

[code]

and `file template.js`

[code]

Please help me, Thanks!

[2019-03-29 07:25] longnk1301 commented on #463
My solution:
I'm assign a references in Webview and setTimeout 3s call this references, but sometime working error!

[code]

[2019-03-29 08:14] benhartouz commented on #294
@smathson I have this #325 merge to the master soon.

[2019-03-29 08:24] Titozzz commented on #462
This is not related to Webview. However they added that to the latest RN template so you might need to add it.

[2019-03-29 08:24] #462 closed

[2019-03-29 08:26] Titozzz commented on #463
You are not using Webview from this repository. You are importing it from react-native. Please install this one , try again, be careful of the changes in the 5.0 version about postMessage and feel free to open another issue.

[2019-03-29 08:26] #463 closed

[2019-03-29 08:54] Titozzz commented on #462
https://github.com/facebook/react-native/issues/20879#issuecomment-421328071

[2019-03-29 09:44] sahdev0 commented on #462
Thanks @Titozzz , Let me check i this could solve my problem.

[2019-03-29 12:00] AdamZaczek commented on #448
New chrome version works perfectly on my device @malonguwa .

[2019-03-29 14:26] bosshog commented on #124
even with chrome debugger off I see a lot of these warnings (on iOS)

[2019-03-29 15:10] alexanderby commented on #229
@paulxuca Could you please give a hint, I'm trying to follow your [sample](https://github.com/paulxuca/react-native-webview-demo), but getting `The module ./lib/WebView could not be found`. How to create a `lib` folder?

[2019-03-29 15:16] paulxuca commented on #229
Weird! The package is using the github repo at a specific branch. Does the demo project run for you?

[2019-03-29 15:44] alexanderby commented on #229
@paulxuca I didn't try to run the demo yet, I copied the `react-native-webview` path from `package.json`. There seems like tasks in the source repository have changed, now there is a `build` task.

[2019-03-29 17:02] Salakar commented on #22
Hey @jamonholmgren @vvusts @mehulmpt @masako-yamada 👋,

I've just tried to reproduce with the provided example and also slightly tweaked it but cannot reproduce on the latest webview:

**Here's the code I tried:**
[code]

**Here's a Video of Android & iOS scrolling:**

https://imgur.com/a/HGZ1Kye

----

I'll go ahead and close this issue for now; but if you can provide a repro I'll be happy to ope

[2019-03-29 17:04] Salakar commented on #8
Hey all; would someone be able to provide an up to date reproduction for this, the one in the original issue is from React Native 0.44 😫

Thanks

[2019-03-29 17:06] alexanderby commented on #229
@paulxuca Your sample works.

[2019-03-29 17:11] Salakar commented on #15
Hey @ksegla 👋 and anyone else with this issue - if this is still a big issue for yourselves please you could help us out and send up a PR based on [facebook/react-native#18548](https://github.com/facebook/react-native/pull/18548).

I'll go ahead and close this issue given its age and lack of activity. But if you'd like me to re-open please let me know.

Thanks

[2019-03-29 17:11] #15 closed

[2019-03-29 17:16] paulxuca commented on #229
When you copied the package url for your own project, did you do a fresh native build? It will need to rebuild the native app since the native code has changed.

[2019-03-29 17:18] Salakar commented on #25
Hey @abdelhakimkotti I'm going to go ahead and close this given that progress is being in #181 for this and the age of this issue.

If you need this to remain open for whatever reason please let me know, otherwise please follow along with the PR mentioned above.

[2019-03-29 17:18] #25 closed

[2019-03-29 17:24] Salakar commented on #28
@levi-beers could you perhaps try this with this line commented out in your webview from node_modules: https://github.com/react-native-community/react-native-webview/blob/82fe6e2c3d5a600d585f2e27c50d484090308eba/android/src/main/java/com/reactnativecommunity/webview/RNCWebViewManager.java#L213

I'm not sure this line is needed given that the `geolocationEnabled` prop sets this already - so it may

[2019-03-29 17:29] Salakar commented on #12
@ewhitebloom I'll go ahead and close this issue given that there's been no further activity for a few months. If you want this re-opened please let me know.

[2019-03-29 17:29] #12 closed

[2019-03-29 17:30] Salakar commented on #13
@PvanHengel I'll go ahead and close this issue given that there's been no further activity for a few months. If you want this re-opened please let me know.

[2019-03-29 17:30] #13 closed

[2019-03-29 17:33] Salakar commented on #21
Hey all :wave: thanks for reporting this issue. Unfortunately, without a reproduction (a repo we can clone and see the unexpected behaviour) we're pretty limited in how we can help sorry.

I'll go ahead and close this issue given that there's been no further activity for a few months.

If you want this re-opened please let me know and help us out with a reproduction.

[2019-03-29 17:33] #21 closed

[2019-03-29 18:19] alexanderby commented on #229
@paulxuca I deleted `node_modules` folder and run `npm install` again. Now it works great and scripts are injected as expected. Thank you!

[2019-03-30 03:53] paulxuca commented on #229
Great! I’m glad it worked :) working on getting the mainstream branch merged. Thanks for testing!

[2019-03-30 10:29] ceerqingting opened #466 "Blank screen on android"
RN version: 0.58.6
react-native-webview version: ^5.3.1

show correct on emulator but bank screen on android phone

"overflow: hidden" not working

[code]

[2019-03-30 12:53] mydesweb commented on #365
@Titozzz are you sure that there is a no flag/option for the web view to disable scaling? and why if if I explicitly set useWebKit={false} works different ?

[2019-03-30 14:00] kirill578 opened #467 "[DISCUSSION] inter process function invocation"
I am working on a project where there is a requirement to reuse `react-native` code inside a `webview`. this was quite simple on a small scale. The webview post a message asking for a `token`, we get the message in react-native, find the token and send it back as a message.

This become quite a hassle, as more data has to be pulled from the react-app. I created a library that allows you to referen

[2019-03-31 15:36] GreatAuk commented on #445
Js file downloaded successfully，get a error : "ReferenceError: Can't find variable: F2"

[2019-03-31 22:05] KoenLav commented on #467
This has been discussed and proposed before.

I also created a POC for this functionality (as a wrapper package): https://github.com/KoenLav/bridged-webview

In my opinion the seamlessness, as you names your package, we could offer is the most important thing to consider.

I'm all for adding this as it enables an easier integration between existing PWAs, or really any webapp, with React Native.

H

[2019-04-01 03:48] Wilson-Lim commented on #278
We need this feature too.

[2019-04-02 01:50] CocoaZX opened #468 "webview auto jump to previous heigh"
When open web first and scroll ,then navigation pop.
Then open web , no matter is the same web url or not ,the webView will scroll to last height.
I want webView not auto scroll .

import { WebView } from 'react-native-webview';

`class MyWeb extends BaseComponent {
componentDidMount() {
this.webView = React.createRef();
}

render() {
const { url, title = 'title' } = this.props.navigation.state.pa

[2019-04-02 04:53] demirhancosku opened #469 "[Question] Prevent keyboard dismiss on tapping a button"
Current Behavior

When a button or link is tapped in a WebView, the keyboard dismissed regarding the javascript process.

Expected Behavior

If the tapping or clicking event is handled/prevented by javascript, the keyboard should not be dismissed.

Attempted Solution

Wrapping the WebView in a ScrollView with the keyboardDismissMode and keyboardShouldPersistTaps parameters, but this not disable th

[2019-04-02 06:16] rangav opened #470 "Video Url returning as blob: in Android WebView"
Hi I need to get video url from the webpage.

i am injecting the javascript and getting the video src partial code below

[code]

i am getting below blob url on Android
`
blob:https://www.dailymotion.com/2e668999-b208-462a-b45d-c9db71cd0435
`

where as on iOS i get actual url.
`https://www.dailymotion.com/cdn/manifest/video/x7547yj.m3u8?sec=a4zuF4CDMmfcYvzuxfoP2aDNwS_Wxjb7gdV-E74PQ18QxSyjdLc9s18xO

[2019-04-02 08:06] Amenocy commented on #469
i have same problem,.

[2019-04-02 13:09] EstebanBP opened #471 "[iOS] Load image downloaded previously"
I have two types of local files:
- Files of the app. Route is like `/var/containers/Bundle/Application/8B28041B-1575-46D5-A884-E817818FB7E9/MyApp.app/viewer/index.html` (RNFS.DocumentDirectoryPath)
- Files downloaded and stored by the user in the app. Route is like `/var/mobile/Containers/Data/Application/74C447A6-65DE-44FF-8CB0-79D4E09D59CC/Documents/myImage.jpg` (RNFS.MainBundlePath)

As soon as

[2019-04-02 14:04] Titozzz commented on #440
Chrome has been fixed so you should not worry about this anymore :)

[2019-04-02 14:04] #440 closed

[2019-04-02 14:06] #466 closed

[2019-04-02 14:10] #194 closed

[2019-04-02 14:52] robertying commented on #312
I use cookies to open PDF in WebView.

First I use `fetch` to get my cookies and open WebView afterwards.

It took me hours before finding this issue and realize `WebView` does share cookies with `fetch`, since they are implemented both in native stacks... But not for `WKWebView`!

Changing to `UIWebView` successfully resolved the problem. Guess we may still be stuck at UIWebView for a while.

[2019-04-02 17:02] socca1157 commented on #194
This issue should not be closed, it's still very much an active issue. Closing it is disingenuous.

[2019-04-03 06:18] EstebanBP commented on #396
Your PR didn't work for my case but I think it's related too (#471)
And also this http://www.openradar.me/45346962

[2019-04-03 06:23] gagan144 commented on #387
So, is there any way to set cookies for webview before the page actually loads? I need to set a cookie before the call to remote page is made, so that the server can use that cookie, do some processing and then return the html.

[2019-04-03 07:41] ryanypm opened #473 "'display:none' causes some attribute values to be delayed for a certain period of time to get"
This is a question of HTML and JavaScript.

Sometimes it will cause getBoundingClientRect, offsetWidth and other property values of 0, I reproduced in the Vue framework, by deferring a certain time can get the real value.

![image](https://user-images.githubusercontent.com/7519919/55461154-549f9000-5626-11e9-9ad3-06ba2b8742de.png)

Delete 'display:none' to solve this problem.

version: 5.6.0

[cod

[2019-04-03 08:19] #473 closed

[2019-04-03 12:20] winkelsdorf opened #474 "[iOS] startInLoadingState with useWebKit breaks initial position on website"
Using `startinLoadingState` used together with `useWebKit` currently breaks the initial position of a loaded website on **iOS**:

Expected and actual screenshots both reflect the initial state after loading.

**Expected**
![Screen Shot 2019-04-03 at 14 14 55](https://user-images.githubusercontent.com/1413291/55478037-e43f4180-561a-11e9-8965-8af6b8b12d73.png)

**Actual**
![Screen Shot 2019-04-03 at

[2019-04-03 12:50] winkelsdorf commented on #474
Probably related to http://www.openradar.me/22855188.

Putting a breakpoint in `RNCWKWebView.m` shows the frame to be zero. Loading content while offscreen might trigger the bug. I'm just wondering why this does not happen when `startInLoadingState` is false, as there is no relation at all.

In `RNCWKWebView.m`:
[code]

<img width="1408" alt="Screen Shot 2019-04-03 at 14 49 43" src="https://user-i

[2019-04-03 13:35] winkelsdorf commented on #474
Works when commenting out the line with `UIScrollViewContentInsetAdjustmentNever` (L151 in `RNCWKWebView.m`).

That was or is probably needed as a workaround for something else like mentioned in the radar report from above comments.

### But
In https://stackoverflow.com/a/46466883/844907 the Apple Engineer **smileyborg** mentiones regarding the `UIScrollViewContentInsetAdjustmentNever` hotfix:

Em

[2019-04-03 18:34] AndrewHenderson commented on #341
@legion-zver is right. Try running that same code in a Web browser console and verify that it can execute. There is likely a minor syntax error.

[2019-04-03 19:53] maxschmeling opened #475 "[iOS] Unable to set transparent background"
After upgrading to `5.6.1` from `5.4.1` I'm no longer able to set a transparent background on a `WebView`.

I think it broke in 319a86e2361ac0161cbe2897a907d43b085029fc

The background is always white.

[2019-04-03 19:58] rbscott opened #476 "Android SEGV started happening on new Chrome with Emojis"
It looks like there is another crash inside of the Android Webview in Chrome that is related to Emojis. I have created a pretty simple repro case [here](https://github.com/rbscott/WebviewBug). This crash doesn't happen every time, but it happens pretty reliably if you close the app and reopen it about 5 or six times. I am testing on a Pixel 2 running Android 9, Security Patch Level April 5, 2019.

[2019-04-03 19:59] maxschmeling commented on #475
I have confirmed that the commit I referenced is the cause and the specific line is https://github.com/react-native-community/react-native-webview/commit/319a86e2361ac0161cbe2897a907d43b085029fc#diff-a32cd1cea4d19bbfff56369224e62299R18 where the webview's container style has `backgroundColor` set to white.

[2019-04-03 21:01] Ehesp commented on #8
Closing as no reproduction. If someone can provide a reproduction on the latest RN version that'd be helpful 👍 Happy to reopen with a reproduction.

[2019-04-03 21:01] #8 closed

[2019-04-03 21:03] Ehesp commented on #9
Closing as fixed in https://github.com/react-native-community/react-native-webview/issues/66 - if this is still an issue let us know and we'll re-open.

[2019-04-03 21:03] #9 closed

[2019-04-03 21:07] Ehesp commented on #14
This is currently out of our control. Closing for now, however if a fix is discovered please let us know when a reproduction/PR and we'll investigate further 👍

[2019-04-03 21:07] #14 closed

[2019-04-03 21:07] rbscott commented on #476
Here is a link to the chromium bug: https://bugs.chromium.org/p/chromium/issues/detail?id=949295

[2019-04-03 21:10] Ehesp commented on #16
Given the age of this issue, please could we have a reproducible issue on the latest RN & Webview versions. Closing, will re-open once this is confirmed.

[2019-04-03 21:10] #16 closed

[2019-04-03 21:16] Ehesp commented on #19
Given the age of this issue I'm going to close it. If you're able to reproduce on the latest RN & webview versions, please let me know and the issue will be reopened 👍

[2019-04-03 21:16] #19 closed

[2019-04-03 21:26] Ehesp commented on #28
Closing due to inactivity. Please could someone try the change suggested above with a PR if it works - if so I'll re-open, thanks!

[2019-04-03 21:30] Ehesp commented on #475
Thanks for the report. Please could you send in a PR to remove this. @Titozzz do you know the reason for making the style change?

[2019-04-03 21:41] Ehesp commented on #351
Hello - I'm not sure this is in scope for this module. PRs are welcome however it's not something we'll be able to proactively look into.

[2019-04-03 21:41] #351 closed

[2019-04-03 21:42] Ehesp commented on #346
Due to inactivity I'll close this issue. Please feel free to continue the conversation, or submit a PR and we'll review 👍

[2019-04-03 21:42] #346 closed

[2019-04-03 21:46] Ehesp commented on #331
This would need to be handled within the website loaded inside of the webview - the website needs to detect the long press and use [event](https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#onmessage) handler.

[2019-04-03 21:46] #331 closed

[2019-04-03 21:47] Ehesp commented on #330
Closing due to inactivity. Please provide a PR and we'll happily review 👍

[2019-04-03 21:48] Ehesp commented on #366
Closing due to inactivity. Feel free to carry on the conversation and we'll happily reopen. Sending a PR over would be super helpful too 👍

[2019-04-03 21:48] #366 closed

[2019-04-03 21:53] Ehesp commented on #283
Please could you provide a reproduction for this issue and we'll take a look. Closing for now.

[2019-04-03 21:53] #283 closed

[2019-04-03 21:54] Ehesp commented on #276
Closing due to inactivity. Please provide a reproduction / PR and we'll investigate 👍

[2019-04-03 21:54] #276 closed

[2019-04-03 21:56] Ehesp commented on #227
Closing due to inactivity. Please provide a reproduction and we'll investigate further. Thanks!

[2019-04-03 21:56] #227 closed

[2019-04-03 21:58] Ehesp commented on #262
Due to inactivity I'll close this issue. Please provide a PR / example of how this can be achieved and we'll investigate further.

[2019-04-03 21:58] #262 closed

[2019-04-03 21:59] maxschmeling commented on #475
I hadn't sent a PR yet because I wasn't sure of the reason for the change. I'm not sure if it's needed for something on Android.

If it's safe to remove, I'll submit a PR to remove the `backgroundColor` style.

[2019-04-03 22:02] Ehesp commented on #344
I don't think we can support this given it's a singular view/window. Closing, however feel free to send a PR if you think there's a viable fix for this.

[2019-04-03 22:02] #344 closed

[2019-04-03 22:04] Titozzz commented on #437
Probably fixed please try again

[2019-04-03 22:04] #437 closed

[2019-04-03 22:04] Ehesp commented on #230
Using `//` will load the protocol as file I believe. Any external requests should be with http/https. Your image is also no longer working. Feel free to carry on the conversation if you have anymore updates.

[2019-04-03 22:04] #230 closed

[2019-04-03 22:06] Ehesp commented on #128
Closing - please see the above PR for the `cacheEnabled` prop.

[2019-04-03 22:06] #128 closed

[2019-04-03 22:07] Ehesp commented on #271
Closing due to inactivity. Please provide a reproduction and we'll investigate further if the issue is within this library.

[2019-04-03 22:07] #271 closed

[2019-04-03 22:10] Ehesp commented on #58
Closing due to inactivity. If you have a viable solution as mentioned please let us know and we'll take a look 👍

[2019-04-03 22:10] #58 closed

[2019-04-03 22:12] Ehesp commented on #176
We'll look into this feature request once React Native lands support Android X. Thanks, will close for now due to the volume of open issues.

[2019-04-03 22:12] #176 closed

[2019-04-03 22:32] Titozzz commented on #126
Closing as too vague for now. Feel free to submit PRs tho.

[2019-04-03 22:32] #126 closed

[2019-04-04 02:03] CocoaZX commented on #468
Some url will auto jump like https://mp.weixin.qq.com/s/U_H6wkbi1X54_sPIR6sRoQ

[2019-04-04 06:35] lhh-sofy opened #477 "The android is Flash back when i use webview in scrollview"
rn:0.59.2
react-native-webview: 5.6.0

the log is :

[code]

[2019-04-04 10:10] Rinkuk1993 commented on #437
The issue persist in -
react-native-webview: 5.3.0
react-native: 0.57.8

[2019-04-04 15:16] Titozzz commented on #437
Can you try with the latest webview version please :)?

[2019-04-04 16:16] zackzachariah commented on #387
@gagan144 there is in native code but not (yet) in this package or in any that I know of. This issue is a request to build bridging to the native code to enable that.

[2019-04-04 17:44] #475 closed

[2019-04-04 22:38] mailyokesh opened #480 "WKWebView sound continues to play when ios app is in background"
Hi,

My wkwebview sound in ios continues to play when app goes to background. This is not happening in android or when i use the inbuilt webview as part of react-native 0.58.6. I am converting my app to use this library for the first time as per the react native upgrade notes. Is there any setting I need to turn on to not allow sound playback in background? Am not able to find information either i

[2019-04-05 06:03] Rinkuk1993 commented on #437
Sorry. Since Readme is not updated I thought **5.3.0** is the latest one.
Tested in **5.6.2**. It is working great!!!

Can you please update ReadMe? I hope there are no breaking changes. Everything works correctly at my end.

[2019-04-05 07:08] Rinkuk1993 commented on #437
I have started getting below error if I am opening multiple webviews :

[2019-04-05 10:46] winkelsdorf commented on #474
Addendum: Same error when using `webView.reload()`. Seem it is related to the implementation of the loading activity view.

[2019-04-05 10:50] humphriest commented on #375
Getting the same error. Any progress?

Using React Native 58.2
React Native Webview: 5.6.1

[2019-04-05 11:29] winkelsdorf opened #481 "[iOS] Bug in handling of stopLoading (isLoading stays true)"
I am providing users with a refresh button which allows reloading _or_ stopping current loading.

During testing I discovered, that on iOS a WebView stopped with `stopLoading()` during a load process will never leave the `isLoading` state anymore (with or without using webKit).

## Steps to reproduce
- Load a larger website (or throttle your network connection)
- During this load call `stopLoading

[2019-04-05 11:44] winkelsdorf commented on #426
Works as expected here. As a note to @mhmtsrfglu: Some SPA websites mess up with the WebView history.

To narrow the problem down: Check with a breakpoint if your line `this.webView.ref.goBack();` is reached at all.

[2019-04-05 11:50] mithunmo opened #482 "Text overlaps when an url is opened via webview"
We have used react-native 0.59.3 and react-native-webview 5.6.2 and we are opening a link
in the webview . But the text is getting overlapped . this is not seen in all phones.

https://sway.office.com/avNiCY17DWGNC8iz?ref=Link

Attached screenshot
![Screenshot_20190405-171830](https://user-images.githubusercontent.com/5292670/55625663-1097c100-57c7-11e9-857c-1463ba53cee5.png)

Can some one guide

[2019-04-05 14:24] rbadr opened #483 "[Question] Why isn't scalesPageToFit supported in WKWebView ?"
Hello,

Coming from the legacy implementation of the webview in react native, I used to use scalesPageToFit prop to make the content scale to fit the view, unfortunately this behavior is no longer supported with the new WKWebView.

Is there a reason it is not supported ? I can still use UIWebView but it is deprecated.

Thanks

[2019-04-05 14:48] breadadams commented on #407
We've just updated to the community webview over that from react-native directly and started to get this issue.

It may only be on the simulator but it's a huge blocker as in one case we use a webview for some authentication in the 1st step of an app - and can't get around it without some hackish code inserting credentials to redux 😓

[2019-04-05 20:44] basudz commented on #469
I am having the same issue.
When filling out a form in the webview and trying tap the Continue button, I have to tap it twice. First tap dismisses the keyboard and then have to tap again to actually tap the button.

Are there any plans to add keyboardDismissMode?

[2019-04-05 20:59] MalcolmScruggs commented on #358
I was able to download the same file multiple times, and have multiple downloads of the same file running without issue. The download manager was adding `-#` as a suffix (ex: `filename-2.zip`) on subsequent downloads.

I tested on the following:
Android 9, Pixel XL
Android 9, Pixel 2 XL
Android 8, Samsung Galaxy S9
Android 7, Samsung Galaxy S7

Perhaps @atilaqi could provide more details on the st

[2019-04-05 22:59] garrettm commented on #288
Any updates on this @Titozzz?

[2019-04-06 01:03] HerrX2000 commented on #230
I know it should be http(s) but crashing the app with maliciously placed code on some website via XSS isn't good. I don't know if this behaviour is fixed in a more recent webview version.

[2019-04-06 01:59] marcesdan opened #484 "[help wanted] [first issue] Adjusts the webview height according to the content"
Hello,

I has other contents above (flatlist) and up (app bar) my webview. And I'm not getting the webview to adjust to the height of the content. The webview shows nothing, unless manually set the height, in the webview style...

My root container

[code]

The component Intro with webview

[code]

How could I achieve it? Any help would be appreciated.

[2019-04-07 04:39] Monte9 commented on #407
I ran into this too. On simulator it gave me that ^^ error, but when I ran it on a iOS device the url loaded fine.

[2019-04-08 09:22] Martyneris opened #486 "thirdPartyCookiesEnabled on iOS"
Is there a way to enable third party cookies on iOS for Webview?
My particular problem is that it is impossible to embed a twitter video inside a Webview unless all third party cookies have been accepted.

The prop thirdPartyCookiesEnabled is for android only and it states in documentation that iOS should enable the third party cookies by default.

Stack overflow doesn't provide much info on this

[2019-04-08 09:45] MayoudP commented on #407
Glad to see that I'm finally not the only one ;)

[2019-04-08 12:08] bsnelder commented on #22
@Salakar I think the provided example is incomplete. The webviews are only not scrollable when the ScrollView itself has a scrollbar.

This only happens on Android. On iOS the webviews are still scrollable.

See this example:

[code]

[2019-04-08 12:30] TMomemt commented on #460
As my solution, edit `RNCWebViewManager.java` like this

[code]

and in js code `onShouldStartLoadWithRequest` callback you can't return any true or false still cause your losing refer.

[2019-04-08 14:41] JanosSarkezi opened #487 "[Android] WebView crashing when scrolled out of (or initialised) visible area"
react-native: 0.59
react-native-webview: 5.6.1

use below code to create a very simple view in App.tsx.

This will load fine, then scroll down below the yellow Webview

Result: App crashes.

IMPORTANT: Android only

[code]

[2019-04-08 14:42] Titozzz commented on #487
Can you add the android version please ?

[2019-04-08 15:08] JanosSarkezi commented on #487
Android Q Beta 2, Android 8.0.0

Additional: this crash occurs for any version of react-native-webview: >5.3.1

[2019-04-08 15:11] Titozzz commented on #487
Can you also provide google chrome version? I'm trying to make sure it's not a duplicate of https://github.com/react-native-community/react-native-webview/issues/429

[2019-04-08 15:12] JanosSarkezi commented on #487
74.0.3729.11

[2019-04-08 15:48] Titozzz commented on #487
Can you provide some logs from Logcat?

[2019-04-08 20:29] gbferreira commented on #198
This is a good tutorial to downgrade java:
https://stackoverflow.com/questions/46513639/how-to-downgrade-java-from-9-to-8-on-a-macos-eclipse-is-not-running-with-java-9

[2019-04-09 04:04] sunkaigoon commented on #428
same problem with Android
`render() {
        let html = require('./tpl.html');
        if (!__DEV__ && global.ANDROID) {
            html = { uri: 'file:///android_asset/tpl.html' };
        }
        return (
            <WebView
                ref={(ref) => { this.chart = ref; }}
                javaScriptEnabled
                scrollEnabled={false}
                injectedJavaScript={renderC

[2019-04-09 05:49] JanosSarkezi commented on #487
2019-04-09 07:43:12.163 18663-18663/? I/<applicationId>: Late-enabling -Xcheck:jni
2019-04-09 07:43:12.196 18663-18663/? E/<applicationId>: Unknown bits set in runtime_flags: 0x8000
2019-04-09 07:43:12.256 18663-18663/? I/<applicationId>: The ClassLoaderContext is a special shared library.
2019-04-09 07:43:12.262 18663-18663/? I/chatty: uid=10309(<applicationId>) identical 1 line
2019-04-09 07:43:

[2019-04-09 07:38] Titozzz commented on #487
@nfischer do you think this might be a regression on the fix applied during 73?

[2019-04-09 13:10] marcesdan commented on #484
I solved it using [react-native-autoheight-webview](https://github.com/iou90/react-native-autoheight-webview)

[2019-04-09 13:10] #484 closed

[2019-04-09 13:22] TomerRon opened #488 "[Android] Prevent deeplinking from triggering the Webview"
Hello,

I am currently trying to implement deeplinking into my react-native app, so users can get directed to the app when they click a link in an email.

My app uses a mix of webviews and native components. Essentially, there are two navigation routers (native and webview), and the app takes care of the navigation logic (should I redirect this page on the app level or on the webview level, should

[2019-04-09 16:23] breadadams commented on #407
After having added the following to `NSAppTransportSecurity` in our target's Info.plist file:

[code]

And rebuilding the project, it seems to be working on the simulator again 🤞

[2019-04-09 16:57] mithunmo commented on #482
Hello,
How do i set the following property  in react native as per the following link
https://stackoverflow.com/questions/16417614/android-webview-html-content-is-overlapping

webSettings.setLayoutAlgorithm(LayoutAlgorithm.TEXT_AUTOSIZING);

[2019-04-09 22:09] gberg1 opened #489 "Inject javascript code in onNavigationStateChange listener"
Hi, I'm pretty stuck as I need to get the html body off of the webview but only after a redirection occurs triggering the onNavigationStateChange. When the webview initially loads, code flow goes into the onMessage listener, however its too early as I need to wait for user input before redirecting, which after user input then goes into my onNavigationStateChange listener and checks for the redirec

[2019-04-09 22:34] annietsai opened #490 "Cannot find module './lib/WebViewTypes'"
When I run `yarn tsc`, I'm getting this error:

[code]

I think it might be related to this PR comment: https://github.com/react-native-community/react-native-webview/pull/171#discussion_r237049523

If I change `lib` to `src`, the error disappears, so I believe it has something to do with how `tsc` transpiles (or rather, isn't transpiling) the `src/` dir into `lib/`. At the end of the linked comme

[2019-04-09 22:37] Titozzz commented on #490
Hello, why are you trying to run this command?

This is supposed to be run when you clone from git, not when installing from npm

[2019-04-09 22:41] annietsai commented on #490
Hello @Titozzz I'm running `yarn tsc` inside my repo where the `node_modules` that contains the `react-native-webview` package lives. We recently upgraded to React 16 and are in the process of upgrading the necessary types packages as well, so I just want to make sure that there aren't any type errors with this upgrade

[2019-04-09 22:44] Titozzz commented on #490
How did you install react-native-webview into your project?

[2019-04-09 22:48] annietsai commented on #490
We followed the steps in the guide here: https://github.com/react-native-community/react-native-webview/blob/master/docs/Getting-Started.md (essentially, the first two commands)

[2019-04-09 22:51] Titozzz commented on #490
what are the folders inside of node_modules/react-native-webview 🤔 ?

[2019-04-09 22:53] annietsai commented on #490
There are:

- .circleci
- .vscode
- android
- bin
- docs
- ios
- node_modules
- src

[2019-04-09 22:54] Titozzz commented on #490
This makes no sense 🤔 can you give me the contents of your package.json?

[2019-04-09 22:57] Titozzz commented on #490
When I install I have only
-ios
-android
-lib
which is the expected behavior. Looks like you somehow got the content of github instead of the npm package

[2019-04-09 22:59] annietsai commented on #490
So inside our dependencies of the package.json we have:

[code]

Maybe this is why we got the content of Github? Should this be different? 🤔

[2019-04-09 23:12] Titozzz commented on #490
yeah that's what I thought.
Please run `yarn add react-native-webview@5.6.2`

[2019-04-09 23:12] #490 closed

[2019-04-09 23:12] Titozzz commented on #490
It will update the current version to use latest instead of pulling code from github

[2019-04-10 00:26] annietsai commented on #490
Thank you! @Titozzz

[2019-04-10 01:05] swansontec commented on #467
I have also written a library that does this, called [yaob](https://github.com/EdgeApp/yaob). This library allows you to send arbitrary objects in both directions over any JSON-like interface, so you can implement rich API's.

We are using the library to run a full crypto-currency wallet inside the WebView, so we have a pretty massive API with hundreds of methods and dozens of objects zipping back

[2019-04-10 03:10] OrangeFlavoredColdCoffee opened #491 "webView show only half screen"
![image](https://user-images.githubusercontent.com/15223345/55848782-b27d2c00-5b80-11e9-8d50-e02d9a8ed74d.png)

 "react-native-webview": "^5.2.1",
 "react-native": "^0.56.0",

![image](https://user-images.githubusercontent.com/15223345/55848852-038d2000-5b81-11e9-97d9-ce581e4e191b.png)

android work fine after add userAgent   but ios  not ,

I triedto add  useWebKit props , not work
can you give m

[2019-04-10 03:56] nfischer commented on #487
I would think the system's debuggerd should show some sort of crash stack. I'm not sure if anything changed in Android Q, but if you can repro on non-Q and include a logcat, that would be helpful.

If that logcat **is** from non-Q, and you believe WebView really is to blame, please file a crbug at https://goo.gl/9qkbdn. It's also helpful if you can share your app's package name, so we can check ou

[2019-04-10 04:02] nfischer commented on #487
The fix for #429 landed (for the M74 branch) in 74.0.3729.37, so maybe you just don't have the fix yet? You can [switch your WebView implementation to chrome beta](https://www.chromium.org/developers/androidwebview/android-webview-beta), make sure you have the latest version, and try again (we've since released 74.0.3729.61 to the public).

[2019-04-10 10:01] Titozzz commented on #487
It's probably that they don't have the fix yet then. Closing as Chrome update should be enough to fix. Thanks @nfischer

[2019-04-10 10:01] #487 closed

[2019-04-10 10:15] Titozzz commented on #467
Hello @kirill578, I really like the idea of a wrapper package as this is not everyone using webview would need and I'm trying to remove as much code as possible from this package to keep it maintainable.

However, it is completely possible to reference your packages @swansontec @kirill578  from the docs if you wish.

Btw I like the way your package hooks around webview :)

[2019-04-10 12:00] nikolakanacki opened #492 "Remove console.warn statement(s)"
This line should be removed. It pops up on the display in development and it already can be handled by the `onError` and `onLoadEnd` props.

https://github.com/react-native-community/react-native-webview/blob/ee3a7c4d3430009c5c10db5cec1d09f683361b91/src/WebView.android.tsx#L165

[2019-04-10 13:23] maamounapprise commented on #190
is there an actual solution? The script above doesn't open a safari view.

[2019-04-10 16:47] jacob-israel-turner commented on #398
Hey @psamd - did you every figure out why including the debug fallback broke this?  We're having this exact issue, but in a different project.

[2019-04-10 17:08] edpaget opened #494 "[iOS] different behaviour sharing cookies between WKWebView and fetch on simulator vs real device"
I've noticed a difference in behaviour when using WKWebView with `useWebKit={true}` between the simulator and real device (an iPhone 5s running iOS 12.2 in this case).

Basically my App's initialization flow is:
* Login on a webview.
* After successful logon webview sends an message to the App that it has logged in
* App uses React-Native's `fetch` to load some additional data

I'm expecting the c

[2019-04-10 17:21] thiswhy commented on #415
I had the same problem , It's hard for me to upgrade the version of react-native

[2019-04-10 21:19] Titozzz commented on #288
Now that #243 has been merged feel free to submit PRs

[2019-04-10 21:19] Titozzz commented on #288
Now that #243 has been merged feel free to submit PRs

[2019-04-11 01:49] michaelcfl opened #495 "[Android] Geolocation takes longer time to return in WebView than native or browser"
# Environment
- RN v0.58.6
- react-native-webview v5.3.0

# Android version tested (All real devices):
- 7.0
- 9.0

# Description
Used a WebView to wrap a page with html5 API `navigator.geolocation.getCurrentPosition` function call. It is working fine (return in <0.1s) in both `browser`, `iOS` (both `UIWebView` and `Safari`) and `android` (browser(chrome)). However, it takes noticeable long time (

[2019-04-11 02:33] fangasvsass commented on #341
i have the same issue , The same code was working with WebView imported from react-native,Who has a good solution?

[2019-04-11 03:46] hejun041 commented on #477
+1

[2019-04-11 03:49] hejun041 commented on #477
in my case ,when WebView in a ScrollView,Other views in the ScrollView need to be touched to be displayed and scrolled

[2019-04-11 04:24] hejun041 commented on #477
Android 9.0 has this problem ,the rest is ok

[2019-04-11 09:58] Rinkuk1993 commented on #437
I guess this issue needs to be reopened. The fix does not work in all Android phones. Also there is some memory leak as said in my previous comment

[2019-04-11 09:59] songxiaoliang commented on #375
Getting the same error. Any progress?

[2019-04-11 14:05] nar213 commented on #18
@mausworks have you started working on a PR for either of your two design proposals?

[2019-04-11 15:11] jamonholmgren commented on #18
We would love help on fixing this issue as both @Titozzz and I have very busy day jobs. Our role here is mainly to review, merge, and deploy pull requests, and respond to issues as we can. The community's role is to push the webview forward. Thanks to everyone who has contributed already!

[2019-04-11 15:27] jamonholmgren commented on #437
@Rinkuk1993 Can you file a new issue with an easy repro for the memory leak and Android phone issue?

[2019-04-11 15:58] mausworks commented on #18
@nar213

God no &mdash; I'm just here to complain, and I'll continue to complain until somebody else solves _my problem_. 🙃

Jokes aside, I have never worked with "real native app development", and frankly &mdash; I don't want to. I'm a web / back-end guy, which occasionally (reluctantly) have to do some native app development.

AFAIC, the problem is solved (or worked around). We figured it was ea

[2019-04-12 04:56] psamd commented on #398
Hi @jacob-israel-turner - I did not try to figure it out as including debug fallback was not important to our app. So we just used the release fallback

[2019-04-12 04:58] harryharihar opened #497 "WebView onNavigationStateChange url not updated"
onNavigationStateChange = (navState) => {
    console.log(navState);
    if(navState.url===initialUrl.DOMAIN_URL){
      this.setState({
        canGoBack: navState.canGoBack,
        canGoForward: navState.canGoForward,
        changedUrl:false
      })
    }else{
      this.setState({
        canGoBack: navState.canGoBack,
        canGoForward: navState.canGoForward,
        changedUrl : true

[2019-04-12 09:56] nar213 commented on #18
@mausworks your solution seems like a reasonable workaround. For developers creating a react-native application that is closely linked to a website the ability to pass custom headers is fairly important for maintaining consistent experience between native and non-native screens.

PR #181 looks like it is a good starting point for solving the problem

[2019-04-12 17:41] andrevvalle commented on #341
This works for me!

`this.webref.injectJavaScript(this.onLoadGetStore);`

![Screen Shot 2019-04-12 at 14 37 09](https://user-images.githubusercontent.com/7549986/56055715-97e9b500-5d30-11e9-82cf-e7fad9d889ff.png)

[2019-04-13 05:43] robinv8 opened #499 "How to prevent url scheme from jumping to third-party applications"

[2019-04-13 08:14] defghy opened #500 "[iOS] ios12.2 click video to play not work, throw DomException"
Our User update ios latest version, found video not work; I found when I click video throw a Error, like this

![image](https://user-images.githubusercontent.com/5386958/56076728-e073a200-5e06-11e9-8824-f991d6804815.png)

the error stack is console tool's log function,

only found the Error on ios 12.2(16e227)
ios 12.1 is ok; other app's webview on 12.2 is ok; xcode simulator is ok;
`react-native-

[2019-04-13 10:11] defghy commented on #500
I found a solution myself, with property
`useWebkit={true}`
I thought webview use wkwebview as default. I'm wrong.

[2019-04-14 09:25] MoudiZd commented on #484
@marcesdan But [react-native-autoheight-webview](https://github.com/iou90/react-native-autoheight-webview) is old and have bugs in stopLoading, so we need autoheight feature with this plugin instead of using another outdate plugin

[2019-04-14 10:22] mrmorphic commented on #28
Tried commenting out setGeolocationEnabled(webView, false) as suggested, but still does not work.

I can see that inside the web view context navigator.geolocation exists, but when navigator.geolocation.getCurrentPosition is called, the callback is never invoked.

[2019-04-14 18:28] mhmtsrfglu commented on #426
nope. There is no error, or no crash. Even not log to console anything

[2019-04-15 02:12] Jimmy-YMJ commented on #169
It is awesome!

[2019-04-15 08:21] #500 closed

[2019-04-15 08:21] #499 closed

[2019-04-15 08:23] TomerRon commented on #488
bump

[2019-04-15 08:25] Titozzz commented on #497
Duplicate of #291

[2019-04-15 08:25] #497 closed

[2019-04-15 08:29] Titozzz commented on #488
Have you tried onShouldStartLoadWithUrl instead?

[2019-04-15 08:31] Titozzz commented on #375
Guys, we asked for a reproduction..? No need to +1

[2019-04-15 08:33] Titozzz commented on #495
If this is related to android webview there is nothing we can do here, but submit a bug to android webview directly goo.gl/9qkbdn, please :)

[2019-04-15 08:33] #495 closed

[2019-04-15 08:35] Titozzz commented on #190
You can send a message to react-native and use Linking module to do that if you want

[2019-04-15 08:35] #190 closed

[2019-04-15 08:49] Titozzz commented on #483
https://forums.developer.apple.com/thread/112191 This is an Apple limitation. You can overcome it by adding https://github.com/react-native-community/react-native-webview/issues/447#issuecomment-477201365

[2019-04-15 08:49] #483 closed

[2019-04-15 08:50] TomerRon commented on #488
Sure, I just added this to the Webview:

[code]

However it doesn't seem to ever fire. I expect to see the `console.log` whenever a request is made, and I also expect the Webview to not load the request since I `return false`. However neither of these things happen.

[2019-04-15 08:50] Titozzz commented on #110
Have you tried playing with tags like https://github.com/react-native-community/react-native-webview/issues/447#issuecomment-477201365?

[2019-04-15 08:51] Titozzz commented on #488
I have no idea how you did your linking, but I don't think the webview would try to do this on its own 🤔

[2019-04-15 08:54] TomerRon commented on #488
Yeah, it's a very strange behavior, and it happens even if I remove all my Linking logic... I'm still trying to find the piece of code that causes this to happen but I can't. My guess is this is a sneaky side effect caused by something totally unrelated. I guess I'll try doing this on a physical device and see if it also happens (I've only tried on the emulator so far).

[2019-04-15 09:11] TomerRon commented on #488
Just tried it and I get the same result on a real device.

[2019-04-15 09:34] jinzunyue opened #501 "[Support] Can you support injectting js before the page loads?"
For now, js can only be injected after the html loaded.But sometimes we need the js executes before the html loads.There is a [a fork](https://github.com/paulxuca/react-native-webview) which has made this,but the man can not flower the master in time and it gets some bugs the master don't have.
It's will be easy for you guys and will not affect others functions.The most import is that this is a re

[2019-04-15 09:39] Adherentman opened #502 "Error evaluating injectedJavaScript: This is possibly due to an unsupported return type. Try adding true to the end of your injectedJavaScript string."
this is my code:
[code]

I try

[code]

get this error too.

How can I send a postMessage?

[2019-04-15 09:46] jinzunyue commented on #229
@Titozzz crying for this feature.
@paulxuca your repo should update.There some pages i cannot open in your repo,but it's ok with the master

[2019-04-15 09:47] #501 closed

[2019-04-15 10:00] jerrychong25 commented on #18
Same issue.

I am looking for a Basic Authentication for WebView solution too.

[2019-04-15 12:05] paulxuca commented on #229
@jinzunyue can you give me an example of a page I should test with?

[2019-04-15 13:39] bashen1 opened #503 "Add injectedJavaScriptBeforeDocumentLoad"
This is very important to me. When will release be released? [#397](https://github.com/react-native-community/react-native-webview/pull/397)

[2019-04-15 15:15] paulxuca opened #504 "onNavigationStateChange is called with different arguments"
When called by another function on the JS side, it's called with `event.nativeEvent` <- Correct

https://github.com/react-native-community/react-native-webview/blob/master/src/WebView.ios.tsx#L205

When called by native side, it's called with `event` <- Incorrect

https://github.com/react-native-community/react-native-webview/blob/master/src/WebView.ios.tsx#L327

We should pass `this.updateNavigat

[2019-04-15 19:09] ericlathrop commented on #381
I'm having a problem with `onShouldStartLoadWithRequest` acting differently on iOS vs Android.

I'm using `source={{html: myHtml}}` to inject my HTML and then `onShouldStartLoadWithRequest` to open any links the user clicks on in an external browser like this:

[code]

My problem is that on iOS this function gets called for embedded Youtube videos, which I believe are iframes. On Android, this fun

[2019-04-16 03:07] jinzunyue commented on #229
https://big.game/
http://slots777.dapp365.io/
@paulxuca

[2019-04-16 03:41] ggdegreat commented on #315
worked well in Android but failed in Ios

[2019-04-16 03:43] paulxuca commented on #229
![Simulator Screen Shot - iPhone X - 2019-04-15 at 23 42 46](https://user-images.githubusercontent.com/7885473/56180644-32b7ed00-5fd8-11e9-8e8c-c3e6ba38fa1d.png)
![Simulator Screen Shot - iPhone X - 2019-04-15 at 23 42 22](https://user-images.githubusercontent.com/7885473/56180645-32b7ed00-5fd8-11e9-87c1-6eae510cc524.png)

Both work for me.

[2019-04-16 03:51] paulxuca commented on #229
https://github.com/react-native-community/react-native-webview/pull/397 PR here

[2019-04-16 04:03] paulxuca commented on #229
@jinzunyue I'm unable to access one of the links due to error attached below. Switching the URL to https works.

![Screenshot_1555387385](https://user-images.githubusercontent.com/7885473/56181334-0f427180-5fdb-11e9-9c9a-0ca33b7e6253.png)

[2019-04-16 07:05] jinzunyue commented on #229
@paulxuca ok,i'll review the code, maybe there is other reason causes my bug.

[2019-04-16 07:14] tusharmutreja commented on #428
same error , Opening html file as text in IOS. Any updates???

[2019-04-16 08:51] Titozzz commented on #503
When it's ready and reviewed... Please comment on the PR instead of creating issues

[2019-04-16 08:51] #503 closed

[2019-04-16 11:48] filiptdz commented on #428
@tusharmutreja wait, this is happening to you on iOS? Care to show your code?

[2019-04-16 12:15] hypergeometric opened #505 "Memory leak in iOS WebView communication"
I'm investigating using a WebView for a long-lived worker process. However, I've noticed that the message passing via `injectJavaScript`/`window.ReactNativeWebView.postMessage` seems to leak memory.

I've created a simple repro at https://github.com/hypergeometric/WebViewLeak with the following App code.

[code]

I'm sending ~6MB using `postMessage` every second but this seems to allocate memory t

[2019-04-16 12:47] TMomemt commented on #504
Same problem for `onLoadingStart` / `onLoadingFinish` / `onLoadingProgress` , in WebViewTypes.d.ts their parameter's type is `WebViewNativeEvent` but actually `NativeSyntheticEvent<WebViewNativeEvent>`

[2019-04-16 12:55] TMomemt commented on #504
Same problem for `onLoadingProgress`.

In WebViewTypes.d.ts it's parameter is WebViewProgressEvent but actually NativeSyntheticEvent< WebViewProgressEvent >

[2019-04-16 19:23] tapir opened #507 "Commit a661df1ffcfdd4b2eb1b82dd05005541897b784e breaks page view"
So this is an old commit.
It basically changes how scalesPageToFit works. After this commit some of my pages became bigger than they should and horizontal/vertical scrolls have been enabled on the page. It took me hours to understand why this was happening until I've finally noticed I've updated the react-native-webview unwillingly.
Setting scalesPageToFit to false fixes it but I'm guessing defaul

[2019-04-17 02:11] KamilGromov1122 opened #508 "How to use camera through Webview?"
Hi.

I am a new React Native developer.
Now, I am implementing some function using React Native.

I want to use Camera and Mic through Webview.
My site works well on Mobile Browser, but when I call that url in Webview, I can't use Camera and Mic.

Please help me.

Thanks.

[2019-04-17 02:15] KamilGromov1122 commented on #508
I can't find any proper answer for this question.

[2019-04-17 03:58] jinzunyue commented on #229
![image](https://user-images.githubusercontent.com/16634729/56259889-53cb2b80-6107-11e9-860f-1cda1e4c345a.png)
@paulxuca I notice that you have changed something about ts,then i get the error above.I create a new react-native project with the command "react-native init",and got the error too.Would you like to figure out it's the problem of mine or your repo?

[2019-04-17 04:11] paulxuca commented on #229
I think the error above is due to using `npm` to install and using `yarn` to run the command. The build process works fine on my local machine. If you have a code sample that you expect to work but does not, I'm happy to take a look :)

[2019-04-17 06:36] janicduplessis commented on #24
I was able to get this working pretty cleanly by monkey patching the `history` api which `injectedJavaScript`.

[code]

[2019-04-17 06:42] Beats0 commented on #307
@laukaichung thanks for your help

and here's my solution:

react native
[code]

webView vue
[code]

[2019-04-17 06:56] jinzunyue commented on #229
@paulxuca I come again.
1. I have solved the error above by using 'yarn install' instead of 'npm install',but it is for the initial project,i haven't figoured out how to use it in my real project.For my real project, it just got the npm error after you changed ts in yesterday,i'll continue to work on it.
2. When the url is not correct like "https://www.google.co m',the app will crash.I found it wa

[2019-04-17 07:43] CodeHunterDhi opened #510 "Some videos not playing in webview, but it allows to play on mute state."
Some Videos are not playing in webview. But, when we mute and then click play button.
It starts playing the video.If we unmute, it pauses and prevents further click to play button.

**The code which I used is mentioned below.

<WebView source={{ uri: 'https://partner.aprrow.com/#/content?id=d5b4484fd95347f8a0c959f46152a3bca899' }} />**

Note : Youtube videos are playing perfectly

Please help me t

[2019-04-17 10:31] gabrielhpugliese commented on #161
Does this still work on RN 0.59.x? I'm creating a project from scratch and facing this issue.

[2019-04-17 13:44] paulxuca commented on #229
@jinzunyue For 2) I don't think react native webview supports urls without a protocol (http, https, etc). It should then be `https://google.com`, not `google.com` for `source.uri`.

[2019-04-17 15:02] giacomoalonzi commented on #466
Same issue here. "react-native": "0.55.2", "react-native-webview": "^5.7.0"

[2019-04-17 18:51] persisgrio commented on #486
This is already enabled on iOS by default (according to docs [here](https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#thirdpartycookiesenabled)).  Do you have your `originWhiteList` set to accepting all (`[*]`)?

[2019-04-17 18:51] persisgrio opened #511 "thirdPartyCookiesAndroid not working, possibly?"
react-native: 0.57.8,
react-native-webview: ^5.2.1

Also working on embedding tweets using WebView but encountering trouble on Android (opposite of #486).  After accepting cookies within the WebView on Android, the video part becomes blank (the bottom half of the tweet is still visible).  Reported issues related to embedded tweets not playing on browsers have been related to ad-blocks, but that is

[2019-04-18 03:26] jinzunyue commented on #229
I agree with you.But what i mean is that when the users input some incorrect url,the webview can show the error info for the users instead of making apps crash for now.In my example,there just an extra blank in the right url(https://google.c om),it will make the app crash while the master just warn this in development.I think it's better to show the errors fro users rather than app crashing.

[2019-04-18 10:30] F-Moody opened #512 "Center content"
Hello there,
i have a webview with an svg image as source uri. The image is shown at the top of the webview and i'm trying to center it with no success.

`<WebView
                        ref={ref => this.webViewref = ref}
                        style={{
                            alignSelf:'center',
                            flex: 0,
                            height: '100%',

[2019-04-18 11:04] devk1d commented on #229
I had the same error.

[2019-04-18 11:14] mnsrv opened #513 "contentInset property not working"
React Native 0.59.3
React Native WebView 5.6.2

I've been used WebView from React Native Core, contentInset was working. After updating WebView to React Native Community version, contentInset property not working.

[2019-04-18 13:13] paulxuca commented on #229
@devk1d Can you confirm that the error does not occur on `master`? My changes to the typescript code did not touch the build process, which is what the error above is referring to.

[2019-04-18 14:04] Martyneris commented on #486
@persisgrio its supposed to be so, yes , I've read the documentation as well.
It did not work without your suggested originWhiteList prop and it still doesn't work after I added it and tested it out.

[2019-04-18 16:15] adamrainsby commented on #24
@janicduplessis Am I missing something? It doesn't look like you can check `state.canGoBack`

[2019-04-18 17:49] persisgrio commented on #486
Are you seeing the twitter render at all?

At minimum to have the tweet render at all (note: I tested on an iPhone X and iPhone 6), I needed to add some width to the parent container and a height to the WebView.  So the only props I absolutely needed on the WebView were `source`, `originWhiteList`, and `style`.

Do you have a code snippet?

[2019-04-18 19:01] janicduplessis commented on #24
@adamrainsby state is `({ nativeEvent: state })`. Are you on iOS, I did not test this on Android yet so it might be why.

[2019-04-19 02:45] jinzunyue commented on #229
@paulxuca
![image](https://user-images.githubusercontent.com/16634729/56402220-02e63f00-628f-11e9-8cdb-8101382028a2.png)
![image](https://user-images.githubusercontent.com/16634729/56402481-ff9f8300-628f-11e9-86fe-5e88e6041865.png)
![image](https://user-images.githubusercontent.com/16634729/56402489-0c23db80-6290-11e9-98d8-77c25476bb70.png)

I have said it got errors on totally new project after y

[2019-04-19 03:02] paulxuca commented on #229
Hi @jinzunyue - Sorry you're having trouble with this feature! I noticed you're using the git url. For now, before the PR gets merged in I recommend using `@paulxuca/react-native-webview`. Please let me know if the fork works!

[2019-04-19 03:41] Kstar0722 opened #514 "Can't display xls file instead of downloading on android."
Hey there! Thanks for your hard work on this package.

I want to display excel file instead of downloading on android.
so I tried to solution that @Titozzz mentioned to https://github.com/react-native-community/react-native-webview/issues/224#issuecomment-453536765 issue.

but I can still download file. not display.
Is there any solution?

Here's the example
`
<WebView
          ref={(ref) => (thi

[2019-04-19 04:16] devk1d commented on #229
I try

`npm install @paulxuca/react-native-webview`

then get this error

[code]

[2019-04-19 06:18] devk1d commented on #229
@jinzunyue

I resolved it by use `injectJavaScript `，the the injectJavaScript code run `InitVue`

injectJavaScript:

`injectJavaScript  = "window.localStorage.setItem(TokenKey, appToken); window.InitVue && window.InitVue()"`

web:

[code]

[2019-04-19 09:35] jinzunyue commented on #229
@devk1d Why you code with "Vue" which is a framework for web?Actually the npm reaylly don't have the new repo @paulxuca gave, the [the url](https://www.npmjs.com/package/@paulxuca/react-native-webview) get error of 404.

[2019-04-19 10:07] krzysztof-miemiec opened #515 "postMessage is missing in typings"
`postMessage` does not exist on `WebView` instance in `react-native-webview@5.7.0` while it works on `react-native-webview@5.2.1`.

[2019-04-19 10:58] andreiChis70 commented on #198
What worked for me is running this before 'run-android':
`adb devices`

[2019-04-19 11:36] Martyneris commented on #486
Yes, the render can be seen :
- the Video player with a thumbnail
- The play button, after pressing it I get the message about  twitter's use of cookies
- After pressing OK there's another Play button and after pressing it nothing happens, the player just freezes.
- the twitter post below the video player window

The snippet :

`<WebView
          ref={(webview) => {
            this.webview = web

[2019-04-19 18:51] paulxuca commented on #229
@jinzunyue Sorry about that! The package was private. Made it public, please let me know if it works!

[2019-04-19 22:53] timomeara opened #517 "some urls load in iframe, others do not"
this works:
[code]
this does not:
[code]
why is that?

[2019-04-20 03:21] Marcello168 commented on #386
can you show me the code? I had the same problem，thanks

[2019-04-20 11:54] Titozzz commented on #517
No idea. Did you start debugging to understand what's happening?

[2019-04-20 11:56] Titozzz commented on #470
This depends only on the website and not really on the webview, there is nothing that can be done from this package. The webview only gives you what loaded inside.

[2019-04-20 11:56] #470 closed

[2019-04-20 11:57] Titozzz commented on #387
#175 should address the issue

[2019-04-20 11:57] #387 closed

[2019-04-20 12:00] Titozzz commented on #481
How would you differentiate redirects or new URL load from navigation cancellation then?

[2019-04-20 12:03] Titozzz commented on #469
Feel free to submit a PR @basudz

[2019-04-20 12:07] Titozzz commented on #489
I'm not sure I properly understand your problem 🤔

[2019-04-20 12:20] winkelsdorf commented on #481
@Titozzz good catch if you want to prevent flickering of the activity view 👍  To do this `isLoading` must be eventually stopped in one of the other iOS event handlers, e.g. `didFail` or `didFinish` for `WKWebView` which are the endpoint delegate methods for any navigation.

[2019-04-20 14:30] Titozzz commented on #474
@winkelsdorf feel free to submit a PR

[2019-04-20 14:35] winkelsdorf commented on #474
@Titozzz Would love to, but I'm an iOS (Swift) Developer and have no clue where to start with such bugs in RN components.

[2019-04-20 14:37] Titozzz commented on #474
Well the part broken is in the iOS code it seems so you should be able to update it :)

[2019-04-20 14:41] Titozzz commented on #482
You need to add a prop for the webview that will take effect on android only. Please see how overScrollMode is implemented and do kindof the same :smile:

[2019-04-20 14:44] Titozzz commented on #502
first, window.postMessage has been changed to another name in 5.0.1

Then you can wrap all the code you are trying to inject in a function that you'll execute. Do something like
[code]

[2019-04-20 14:44] #502 closed

[2019-04-20 14:48] Titozzz commented on #505
This is very worrying. Have you tried profiling with chrome?

[2019-04-20 14:49] Titozzz commented on #505
If the leak is on the native side you need xcode to debug this ofc

[2019-04-20 14:50] Titozzz commented on #504
Please submit PRs :)

[2019-04-20 14:52] Titozzz commented on #507
Are you using any meta tags to adapt your page layout? If not maybe you should add some. Such as initialScale and others

[2019-04-20 14:54] Titozzz commented on #508
#231 is maybe related?

[2019-04-20 14:54] Titozzz commented on #161
Everything should be working fine.

[2019-04-20 14:57] Titozzz commented on #512
Your code is sizing the webview to the size of its parent, it has no impact on the content loaded inside the webview. Either resize your webview, change the source svg file, or inject custom javascript inside the webview to style it

[2019-04-20 14:57] #512 closed

[2019-04-20 14:57] Titozzz commented on #513
Please reopen this issue following the issue template

[2019-04-20 14:57] #513 closed

[2019-04-20 14:59] Titozzz commented on #24
Interesting @janicduplessis! We might want to add this to the docs

[2019-04-20 15:00] Titozzz commented on #515
Feel free to submit PR for types

[2019-04-20 15:00] #515 closed

[2019-04-20 15:02] timomeara commented on #517
a bit.
i can load any url at the top of the webview i.e. source={{uri: [everything.works.here]}}
but inside an iframe there's a strange selectivity going on

it's not easy to debug anything within the webview, but i did a bit of poking around:

by injecting some js on onLoadEnd i see that:
1 - document.getElementById("playerFrame").src = whatever i set it too
2-  overriding the console.log, warn a

[2019-04-20 15:06] Titozzz commented on #514
I don't know any solution to do that as even chrome browser would download the file. You might want to use another package to use an XLMS viewer

[2019-04-20 15:06] #514 closed

[2019-04-20 15:08] timomeara commented on #517
just ran a quick test, i get the same behavior on android :|

[2019-04-20 15:19] Titozzz commented on #517
If you can try to understand if the bugs comes from RN or from the native webview that might be interesting. Are you sure everything is using httpS inside the iFrame?

[2019-04-20 15:30] winkelsdorf commented on #474
@Titozzz Sorry, looks like it's not that easy. That needs some help of a _component aware_ RN/iOS developer. That's why I stopped after several hours of debugging and reported this issue.

E.g. the handling of `_shouldStartLoadLock` and the unusual construction of `WKWebView` in `didMoveToWindow` need explanation. Whats the reason for those, as in the wrapped `UIWebView` the usual constructor is u

[2019-04-20 20:14] tapir commented on #507
I have this on my pages
[code]

[2019-04-20 22:54] goldfire commented on #195
Has anyone found a workaround for this? It works great on iOS with the content moving up to show the input over the keyboard, but on Android the keyboard just goes over the content and no property I change seems to have any impact.

[2019-04-21 00:56] vmarquet opened #518 "TypeError: Cannot use 'in' operator to search for 'method' in 9"
I had this code working in version 5.0.1:

[code]

and in 5.7.0, it crashes on Android (still works on iOS):

<img width="392" alt="Capture d’écran 2019-04-20 à 23 26 58" src="https://user-images.githubusercontent.com/6226610/56463982-9d559800-63df-11e9-8179-dbda4ca5c70d.png">

I'm assuming that it happens because of [this line](https://github.com/react-native-community/react-native-webview/blob

[2019-04-22 00:37] hartatovich commented on #508
i'm also having the same issue...
tried to review #231  as well but didn't find a clear answer about how to solve that

"react-native-webview": "^5.7.0"

@Titozzz @KamilGromov1122

[2019-04-22 03:55] timomeara commented on #517
i can't really tell if it's a rn issue or the webview, i do see the same behavior using the webview from the rn package.
everything is https
here's an example that demonstrates the problem:

[code]

[2019-04-22 03:56] timomeara commented on #517
sorry, i meant to reply... see comment above :)
cheers

[2019-04-22 03:59] timomeara commented on #517
package.json for that test is:
[code]

[2019-04-22 05:25] jinzunyue commented on #229
@paulxuca It's ok.But there are two problems.
1. I get an error below while build with "react-native run-ios" which is ok building with xcode.I have to use xcode to run on ios devices now.
![image](https://user-images.githubusercontent.com/16634729/56484199-ea7d5b00-6500-11e9-9d7f-c4825a4b41f9.png)
2. I suggest whatever uses input shouldn't make app crash.The repo can show the errors to the use,bu

[2019-04-22 05:39] jinzunyue commented on #229
For ios,i only changed wkwebview,because i only use this.But maybe you should also change uiwebview even it's useless.

[2019-04-22 08:54] junshengpierre commented on #195
I had the same issue, using `KeyboardAvoidingView` worked well for me.

[code]

[2019-04-22 12:56] taimoorimran opened #519 "TypeError: undefined is not a function (evaluating '_react2.default.createRef()')"
I am getting the following error while implementing a simple webView with red screen on android:

**TypeError: undefined is not a function (evaluating '_react2.default.createRef()')**

**Environment:**
 - OS: Android
 - OS version: Nougat - 7.0
 - react-native version: react-native: 0.52.0
- react-native-webview version: 5.7.0

[2019-04-22 13:58] xrareselX commented on #140
@Titozzz
I read this issue and these 2
[https://github.com/react-native-community/react-native-webview/blob/master/docs/Getting-Started.md](url)
[https://engineering.brigad.co/demystifying-react-native-modules-linking-964399ec731b](url)
but when I use the link command, nothing shows, so I tried the manual linking but I do not have the files and folders that you mention in that article. For example

[2019-04-22 14:01] Titozzz commented on #518
@vmarquet Docs never specified you syntax should have worked which is why you encountered that issue.
See (docs)[https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#source].

Regarding

If you think changes need to be done in a repository, please submit a pull request, since you already spent time to track the bug, it's even more enjoyable.

[2019-04-22 14:01] #518 closed

[2019-04-22 14:04] Titozzz commented on #517
I probably won't have time to investigate myself but if you find a solution, I'd be happy to help you submit a PR, in the meantime let's tag this as 'need help / good first issue'.

[2019-04-22 14:06] Titozzz commented on #519
This package needs react-native@0.57 at least to work properly. If you are below that, just import {WebView} from 'react-native' directly.

[2019-04-22 14:06] #519 closed

[2019-04-22 18:22] persisgrio commented on #486
Ah, I see that you are using uri/url, I thought you were using embedded HTML.  I have not had much luck using the uri, but these issues might be of use
- https://github.com/react-native-community/react-native-webview/pull/181.  Probably something about headers.

I am observing the same behavior you described, but on android.

[2019-04-22 22:45] ShooterArk commented on #466
I got the same blank view as well:
"react-native": "0.58.5",
"react-native-webview": "^5.7.0"

[2019-04-23 07:12] IlinIgor commented on #124
Are there any fixes of that?

[2019-04-23 09:42] jinzunyue opened #523 "Android splash a blank screen when switch tabs in BottomTabNavigator"
**Bug description:**
I'm using BottomTabNavigator of "react-navigation" as my UI fragment.One tab is a screen contains only webview,the others only contains a Text.But when i switch the tab from the others to the tab contains webview,the webview will always splash a blank screen,then show the html.The more complex the html is,the more the blank screen continue.

**To Reproduce:**

1. react-native

[2019-04-23 10:30] winkelsdorf commented on #474
As said it's not that easy. Spent 4 hours already, current observations:

- The initial frame of the `superView` and `_webView` is `0,0,0,0` (origin x, y, width, height)
- A size of `0,0,375,0` follows - so we have a non-null rect with zero height
- Finally the size is correct with `0,0,375,641` (size for an iPhone X with TabBar)

As the frame of the `_webView` is always set to superView size in `

[2019-04-23 10:32] Andreyco commented on #491
Make sure `BaseView` fills screen height and `WebView` fill wrapping `BaseView` (e.g. `flex: 1` for both of them)

[2019-04-23 11:56] mharis161 commented on #508
@hartatovich  did you find any solution yet?

[2019-04-23 12:02] hartatovich commented on #508
@mharis161 not yet...
my guess we just need some one to merge a pull request from #231
but waiting for someone to reply :)

cc - @Titozzz

[2019-04-23 12:11] mharis161 commented on #508
@hartatovich i commited @Javascript-Ninja's file 'RNCWebViewManager.java' to my code but got this error:

D:\Android\workspace\demoApp\node_modules\react-native-webview\android\src\main\java\com\reactnativecommunity\webview\RNCWebViewManager.java:157: error: incompatible types: String cannot be converted to WritableMap
      dispatchEvent(view, new TopShouldStartLoadWithRequestEvent(view.getId(),

[2019-04-23 20:05] taimoorimran commented on #508
My current RN Version is : 0.59.6 and i am getting Permission Denied error for camera and mic too. Did you guys find any workaround yet?

[2019-04-23 22:27] zek opened #525 "How to read Cookies"
I am trying to read cookies from webview.

Is that possible?

[2019-04-24 06:25] mmohtta opened #526 "Not able to play embedded video of twitter and instagram in android"
Hi,
 I was trying to embed twitter and instagram feeds into my application. It works fine in IOS but not in Android.
Reproduce bug steps:
1. Take any feed of twitter or instagram which consists of video.
2. Provide this feed as html to Webview.
3. It would render perfectly in both IOS and Android.
4. But when you try to play that video in Android. It won't.

Please provide solution

[2019-04-24 08:22] vvusts opened #527 "symbol(s) not found for architecture x86_64 - libRNCWebView.a(RNCWKWebView.o)"
**Bug description:**
Android work fine.
IOS build fine from xCode but if I run react-native run-ios from terminal I get:
[code]
I tried build clean, clear deriveData folder, kill metro, relink library, reinstall library.

**Expected behavior:**
That I can build project by react-native run-ios

**Environment:**
 - OS: Mojave
 - OS version: 10.14.2
 - react-native version: 0.57.8
 - react-native-web

[2019-04-24 10:12] Chengchcc commented on #229
Hi @paulxuca , injectedJavaScriptBeforeLoad is not work in the latest version

[2019-04-24 19:19] alex-mironov opened #528 "Cookies are lost on iOS after application closing"
Cookies seems to be lost after closing an application. Is it expected behaviour?

**Environment:**
 - OS: iOS
 - react-native version: 0.57.7
 - react-native-webview version: 5.2.4

[2019-04-24 22:11] Titozzz commented on #474
I've thought about this many times. I could try to do that. I'll make a branch you can test

[2019-04-25 01:54] co0redump opened #529 "Cache expires before it should"
**Bug description:**
When loading a url with a cache protocol in the response headers like:
[code]
The files will be cached for only several hours, not  a week as indicated in the response header.

**To Reproduce:**
Add a webview:
[code]
Make sure to load a source uri that has a long cache period setup.

Start the app, website will be loaded correctly
Set device to Airplane mode
Reload app, site w

[2019-04-25 05:59] jinzunyue commented on #229
It is "injectJavaScript" rather than "injectedJavaScriptBeforeDocumentLoad".I think you can read the source code.

[2019-04-25 07:03] danielgindi commented on #518
@Titozzz This answer is a bit weird, as the code clearly tries to accept an Image identifier, but a bug precedes that piece of code and prevents it. So it clearly is a bug, no matter what the docs say...

[2019-04-25 07:19] arghyaExicube commented on #526
+1

[2019-04-25 07:38] danielgindi commented on #428
Does not happen in iOS, happens in Android as no Content-Type header is returned for the asset.

[2019-04-25 13:59] Kstar0722 commented on #514
@Titozzz, thanks for your reply.
but you know it opens in iPhone. please let me know why it's different working on iOS and Android

[2019-04-25 14:23] NMVikings commented on #417
Has the same issue on android as well. Reproduce every time on android on any device

[2019-04-25 14:30] ahmermunaf opened #530 "this.webview.injectJavaScript method not redirecting the page"
this.webview.injectJavaScript method not redirecting the page

code :

const newURL = 'https://facebook.github.io/react-native/';
const redirectTo = 'window.location = "' + newURL + '"';
this.webview.injectJavaScript(redirectTo);

I have also tried with true in the end of the script but no luck.

"react-native": "0.57.3"
"react-native-webview": "^5.6.2"

[2019-04-25 14:46] heineiuo opened #531 "Support WKURLSchemeHandler"
**Is your feature request related to a problem? If so, Please describe.**
On real iOS device, local js/css files cannot be loaded.

**Describe the solutions you came up with**
Load local js/css files by WKURLSchemeHandler.

**Additional context**
none.

[2019-04-25 15:09] campsafari opened #532 "BackgroundColor in loadingState is always white"
The backgroundColor does not set the backgroundColor of the loadingView.
This color is hardcoded to white. It works only when i set useWebKit={false}. Which leads to a white flash when the WebView is initializing.

**To Reproduce:**
<WebView
                        style={{ backgroundColor: '#000000' }}
                        ref={(ref) => this.webview = ref}
                        source={{ htm

[2019-04-25 20:03] AndrewHenderson opened #533 "Invalid URI prop doesn't trigger onError or renderError callbacks"
**Bug description:**
Providing an invalid [`source.uri`](https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#source) prop does not result in [`renderError`](https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#rendererror) or [`onError`](https://github.com/react-native-community/react-native-webview/blob/master/docs/R

[2019-04-26 02:47] james1888 opened #534 "Invariant Violation: requireNativeComponent: "RNCWebView" was not found in the UIManager."
**Bug description:**

It's fine on iOS but on Android it's not working. I've check all the files from this [article](https://engineering.brigad.co/demystifying-react-native-modules-linking-964399ec731b). It's correct.

MainApplication.java
![image](https://user-images.githubusercontent.com/8617506/56780017-d2128680-6807-11e9-8c86-d74d96ecfeba.png)

build.gradle
![image](https://user-images.githubu

[2019-04-26 06:24] httol opened #535 "window.addEventListener('message') can not be triggered after using react-native-webview"
"react": "16.8.3",
"react-native": "0.59.5"

after upgrade rn to 0.59.5, I use the react-native-webview which the office recommends.
the code below nested in a React project.
The issue is when React debug mode, the message event can be triggered, but when release mode nested in the react-native project, can not trigger the event.

please help me, thank you

[code]

[2019-04-26 08:11] RmondJone opened #536 "classpath 'com.android.tools.build:gradle:3.2.1' Slow download in China"
It is recommended to change to configurable，E.g
[code]

[2019-04-26 11:17] winkelsdorf commented on #474
@Titozzz Great idea!

As this would also fix the issues with the Android Error Page, feel free to close this issue and put it on a roadmap. On the other hand I'm going to sort some smaller issues out with the native implementation (e.g. unneeded forced enum casting) and try to understand the old logic and do a bit of a rewrite for the iOS Part.

As RN support iOS 9+ only, some of the keyboard hand

[2019-04-26 11:29] Royalsspirit opened #537 "Custom webview not work with flash website"
**Bug description:**
Hello Guys,

My main goal is consume a third party flash website with bad ssl certifcate.
So i decided to override react-native-webview to add `onReceiveSslError` into my customWebView to keep it in my side. I do it like that because if i add this method in `RNCWebViewClient`, i know that will be overrided if i update sources whereas it works well

**To Reproduce:**

So to do

[2019-04-26 12:21] MateusAndrade commented on #248
You can find more about this key here: https://developer.apple.com/documentation/bundleresources/information_property_list/nsapptransportsecurity/nsallowsarbitraryloadsinwebcontent

[2019-04-26 13:22] Salakar commented on #536
@RmondJone hey 👋

Are you able to provide a full example of how it should be configurable, or even a Pull Request (💛)

[2019-04-26 14:21] ronhe commented on #66
I have previously implemented an RPC bridge based on the postMessage api and the [Comlink ](https://github.com/GoogleChromeLabs/comlink) library.
I'm using it in my own react-native project. You may check it out here:
[rn-webview-rpc](https://github.com/ronhe/rn-webview-rpc).

[2019-04-26 19:14] michaelopes opened #539 "Google play console show error com.facebook.react.common.JavascriptException: null is not an object (evaluating 'n.webView.injectJavaScript')"
**Bug description:** Google play console show errors on Failures area.

**To Reproduce:** I can not reproduce the error on my smartphone in developer mode.
Complete mesage google play console:
**com.facebook.react.common.JavascriptException: null is not an object (evaluating 'n.webView.injectJavaScript'), stack:
s@355:4641
value@355:4741
<unknown>@355:3447
<unknown>@337:976
value@46:1362
value@25:

[2019-04-26 21:25] jamonholmgren commented on #278
There's a pull request in progress now for this, #540. Help testing it would be amazing @Wilson-Lim, @Slapbox , @jaulz, @alidcastano ! Thanks to @ericlewis

[2019-04-26 21:29] Slapbox commented on #278
Unfortunately I can't test this (using Expo still at the moment) but thanks so much to @ericlewis for the PR to @jamonholmgren for keeping on top of everything!

[2019-04-27 14:38] mxsxs2 commented on #534
Did you run ```react-native link```?

[2019-04-27 21:07] SnaiNeR commented on #428
[code]
`source={require('../index.html')}`
Android Debug

[2019-04-28 00:59] RmondJone commented on #536
like this
[code]

[2019-04-28 02:05] james1888 commented on #534
Yes, I did.

[2019-04-28 02:46] aristofanio commented on #534
I am with the same problem!
react-native-cli: 2.0.1
react-native: 0.59.5
react-native-webview: 5.7.1

[2019-04-28 03:03] httol commented on #445
same issue.

[2019-04-28 03:45] httol commented on #445
请问楼主，最后怎么解决的。

[2019-04-28 04:32] Chengchcc commented on #229
In Android:
   remote uri such as ```www.google.com``` -> it works
   local uri such as ```file:///xxxx/index.html``` -> app crash

[2019-04-28 08:33] kpaulus1997 opened #541 "Prevent deep linking to third party applications"
Is it possible to disable deep linking to other app, for instance if I have amazon installed on my device and open an amazon url with the web view it's pushing me to the amazon app, however I would like to open the amazon website inside the web view ?
Thanks for the help

[2019-04-29 01:12] james1888 commented on #534
I found the problem in build.gradle there is a duplication implementation

![image](https://user-images.githubusercontent.com/8617506/56872722-6d993680-6a56-11e9-9181-1b10b10b85d4.png)

[2019-04-29 01:12] #534 closed

[2019-04-29 01:48] jinzunyue commented on #229
It was the because the url was not correct,then the request got null,then tiggerred 'Null Point Exception'.Same error as url such like "www.google.c om".Like i suggest above,the repo should intercept it like the master do.

[2019-04-29 01:49] jinzunyue commented on #523
Anyone can help this?

[2019-04-29 06:53] jaulz commented on #278
@ericlewis @jamonholmgren thanks! I'm not an expert in Objective C so please excuse my question but would this piece of code also be reusable for a `focus` method on the WebView?

[2019-04-29 07:13] Titozzz commented on #529
Thanks for the insights. If you find more infos I'm interested

[2019-04-29 07:17] Titozzz commented on #518
You usually want to base your code on how it is documented, not implemented because the implementation can change any time

[2019-04-29 07:18] Titozzz commented on #514
iPhone are capable of doing this natively, Android doesn't. I guess it's because apple didn't want you to install an app to do that and Google prefers you to choose

[2019-04-29 07:20] Titozzz commented on #526
Saying "please provide solution" isn't going to help sadly. You have to investigate more than that

[2019-04-29 07:22] Titozzz commented on #417
You can't show PDFs on Android in the Webview
https://www.quora.com/Why-does-Chrome-on-Android-not-open-PDF-files-like-Chrome-on-Windows-Linux-can

[2019-04-29 07:22] #417 closed

[2019-04-29 07:42] Titozzz commented on #530
Please open the Webview console following the debugging guide and check if there are any errors

[2019-04-29 07:42] Chengchcc commented on #229
I think you are right; I got adb log as follow:
[code]

[2019-04-29 07:43] Titozzz commented on #532
Can you adjust the loading behavior with the renderLoading prop ?

[2019-04-29 09:55] TMomemt commented on #536
Maybe you need a VPN.

[2019-04-29 10:49] LazzySloth opened #542 "No audio on iphone but have on the ios simulator"
I'm using Consruct 2 to make a html5 game and uses react native webview to run the game on iOS. The game's audio works perfectly on the iOS simulator but it's not working when running on an iphone. It was working fine a few weeks ago but suddenly fail after I update my iphone to iOS12.2.

[2019-04-29 11:26] campsafari commented on #532
@Titozzz ah i see, yes this does the trick (loading view is now green):
startInLoadingState={true}
renderLoading={() => <View style={{flex: 1, backgroundColor: 'green'}}></View>}

[2019-04-29 12:23] vmarquet commented on #518
@Titozzz Because the documentation cannot change?

<img width="1183" alt="Capture d’écran 2019-04-29 à 14 06 06" src="https://user-images.githubusercontent.com/6226610/56895203-9fc38c00-6a88-11e9-9c7f-496ba8ad549d.png">

Do you really expect people to read the entire documentation and notice the api changes at every update? No, that's why you should not drop features silently, that's why properl

[2019-04-29 12:25] Titozzz commented on #518
https://github.com/react-native-community/react-native-webview/releases

[2019-04-29 13:43] ericlewis commented on #278
Do you mean UIWebView? Technically, you should only need to expose this already existing prop. If you mean androids webview, then no it’s not reusable there. 

Sent via Superhuman iOS ( https://sprh.mn/?vip=ericlewis777@gmail.com )

On Mon, Apr 29 2019 at 2:53 AM, < notifications@github.com > wrote:

[2019-04-29 15:59] ericlewis commented on #278
@jaulz or do you mean a method you can call to “focus” the webview? There is no method to call in this case (I’m not sure how that would work either) what this allows is for the *javascript* in the webview to call focus on a text element and the keyboard will display without user interaction. This isn’t enabled by default on iOS.

[2019-04-29 16:59] Slapbox commented on #278
@ericlewis - I can programatically focus _within_ a Webview as is, but that's not enough to get the keyboard to appear unless the user has already focused the Webview itself. Both the Webview AND a text editable element on the page must be focused for the keyboard to show. Once a Webview has been focused once, focusing an inner element seems to be enough to show the keyboard.

All of that is the c

[2019-04-29 18:16] ericlewis commented on #278
Gotcha. Yeah, on iOS this allows the User to skip the step of needing to focus (tap) the WebView. I will see if I can get this to work on droid too.

Sent via Superhuman ( https://sprh.mn/?vip=ericlewis777@gmail.com )

On Mon, Apr 29, 2019 at 12:59 PM, Slapbox < notifications@github.com > wrote:

[2019-04-29 19:27] filiptdz commented on #428
@danielgindi I found this in my investigation as well, but either that isn't the only problem, or I wasn't successful in adding the Content-Type

[2019-04-30 08:08] #62 closed

[2019-04-30 08:30] mmohtta commented on #526
I have investigated.
Events are not fired when we click on video player of embedded in android. Same work for iOS.

[2019-04-30 08:40] Charlie-Hua commented on #526
@mmohtta have you try to mute the video and play? like mentioned in #510 ?

[2019-04-30 09:31] mmohtta commented on #523
+1

[2019-04-30 12:24] xploSEoF opened #545 "iOS WKWebView local file trust issues"
**Bug description:**
There is no way to embed WKWebView on iOS devices with a local source from the document directory and allow for references to pull through.

Specifically, the issue can be seen in: https://github.com/react-native-community/react-native-webview/blob/master/ios/RNCWKWebView.m#L375
Here, the baseURL hasn't been authorised for access, so each request to a supporting file results i

[2019-04-30 18:37] tyleralves opened #546 "[Android] RenderLoading does nothing if userAgent is set on Android"
**Bug description:**
If `userAgent` is set, `renderLoading` doesn't show the passed in component. Works great on iOS, and works great if `userAgent` property is commented out on Android.

**To Reproduce:**
Set `userAgent` to a string, set `renderLoading` to a component.
[code]

**Expected behavior:**
Shows `Loading` component on initial webview load on Android.

**Environment:**
 - OS: Android Emu

[2019-04-30 19:09] tyleralves commented on #546
This was caused by the server redirecting when a userAgent is supplied. The redirect causes a `onLoadEnd` to be called which makes the `renderLoading` stop rendering almost immediately. Creating a new issue to point out that redirects in iOS don't cause `onLoadEnd` while they do in Android.

[2019-04-30 19:09] #546 closed

[2019-04-30 19:23] tyleralves opened #547 "[Android] renderLoading doesn't work with redirects"
**Issue:**
When a redirect occurs, the [onLoadingFinish](https://github.com/react-native-community/react-native-webview/blob/319a86e2361ac0161cbe2897a907d43b085029fc/src/WebView.android.tsx#L173) method is triggered.

**Bug description:**
On Android, the `renderLoading` property stops rendering the loading component as soon as the redirect occurs instead of waiting until the final page loads.

**T

[2019-05-01 03:03] stylehuan commented on #169
@caphun thanks! How do local files update dynamically?

[2019-05-01 07:30] fungilation commented on #502
@Titozzz consider my patch (with `patch-package`). Even after your function wrapping, I'm still seeing the same error in latest, and with RN 0.59.5. I don't need this to be red box error, and in my case I've tested that I can ignore this as a yellow box warning:

[code]

[2019-05-01 10:47] caphun commented on #169
@stylehuan you will need to run `react-native run-ios` again to see the local files update. If you are using CRA for your SPA then you can do this:

[code]

In production, copy the contents of your distribution `build` folder to `Web.bundle/site`.

[2019-05-01 18:36] nandiniparimi1107 commented on #6
@tehOPEologist could you please share the code?

[2019-05-02 03:54] SnaiNeR opened #549 "[Android] Local html file don't work on debug"
Works on core RN's webview, but this package make this error:

with local file in source prop
`source={require('../index.html')}`

But works correctly with url in source prop
`source={{uri: 'http://mysite.com' }}`

Android Debug

[2019-05-02 03:57] gorvinsky commented on #528
Having the same problem on Android.

**Environment:**

- OS: Android
- react-native version: 0.59.5
- react-native-webview version: 5.7.0

[2019-05-02 03:59] gorvinsky commented on #207
Hi, any progress on this feature? Because the cookies are still erased after the app is closed.

**Environment:**

- OS: Android
- react-native version: 0.59.5
- react-native-webview version: 5.7.0

[2019-05-02 07:31] F-Moody opened #550 "Zoom at a specific point"
Hello there,
first of all i want to thank you all for this awesome project.

I have an svg image that loads from a back end and i placed it inside the webview.

A list of points with coordinates ( relative to the svg ) come with it.
I'd like to zoom in a specific point with a specific coordinates. I don't think that it's possible right now without using a custom panresponder.
Do you have any sugge

[2019-05-02 07:31] JeremyBradshaw7 commented on #13
So is this still a bug?

[2019-05-02 11:25] timhonders commented on #369
For future reference, this is how we fixed this using injectJavaScript:

const javascript = `(function() {
	try {
	 var event = new MessageEvent('message', {
			"data": "Youre data here",
			"origin": "*"
		});
		document.dispatchEvent(event);
	} catch (e) {

	}
})()`;

this.webview.injectJavaScript(javascript);

[2019-05-02 12:26] sangyakhare commented on #534
I don't have any duplicate implementation in build.gradle, still I see the same error.

<img width="359" alt="Screen Shot 2019-05-02 at 8 25 32 AM" src="https://user-images.githubusercontent.com/49403660/57075154-fc56bf00-6cb3-11e9-9012-ff777d430727.png">

[2019-05-02 12:32] sangyakhare commented on #534
I don't have any duplicate implementation in build.gradle, still I see the same error.
<img width="359" alt="Screen Shot 2019-05-02 at 8 25 32 AM" src="https://user-images.githubusercontent.com/49403660/57075406-bc440c00-6cb4-11e9-8721-ccf4ec7ed77e.png">

[2019-05-02 19:51] rayronvictor commented on #525
See https://github.com/joeferraro/react-native-cookies

[2019-05-03 14:10] edo1493 commented on #300
How did you resolve?

[2019-05-05 11:07] svdo commented on #445
I’m seeing a problem that is maybe the same. I have a web view with inline html source and injectedJavaScript. The functions that I declare in that injected JavaScript are not available when I then try to call them using `injectJavaScript`. But when I assign them to `document` as a work around (`document.myFunction = myFunction`) I can call them on `document`...

[2019-05-05 20:10] svdo opened #554 "Variables and functions from injectedJavaScript not available on Android"
**Bug description:**
On Android, variables and functions declared in `injectedJavaScript` are not available in code run by `injectJavaScript`, whereas on iOS they are. Please note that I'm using `source={{ html: ... }}`, not loading an external URI. I believe the behaviour on iOS is correct, that on Android is not.

**To Reproduce:**
I created a repo that demonstrates this issue. I was careful to

[2019-05-05 22:46] jamonholmgren commented on #24
I added it to the docs ^^

[2019-05-06 00:12] jamonholmgren commented on #248
From what I understand, you're not able to load http (insecure) web pages without this key. I could be wrong.

[2019-05-06 02:23] zttina opened #556 "On RN webView , click function not working 。"
**Bug description:**

On RN webView , click function not working 。
**To Reproduce:**

h5 Code：
[code]
[code]
**Expected behavior:**

**Screenshots/Videos:**

![image](https://user-images.githubusercontent.com/15662693/57204776-5aeda700-6fec-11e9-861b-1b939296648f.png)

**Environment:**
 - OS:
 - OS version:
 - react-native version:0.59.5
 - react-native-webview version:5.8.1

[2019-05-06 08:50] stefanusdiaz opened #557 "Webview Bugs"
**Bug description:** Webview not working on react native accordion, nothing show inside accordion when i use webview inside accordion, and somehow i cant put my code here, because it will mess up when previewed

**To Reproduce:**

**Expected behavior:**

**Screenshots/Videos:** i cant put my code here, i dont know why, can someone help me?

**Environment:**
 - OS:
 - OS version:
 - react-native ve

[2019-05-06 09:02] Johncy1997 commented on #124
I am getting the same warning and can't able to view the web page.Is there any fixes?

[2019-05-06 16:08] scarlac commented on #124
Error is caused by app being slow. It attempts to execute the callback defined for `onShouldStartLoadWithRequest`, an event handler that should return a boolean (aka `YES`/`NO`) indicating if loading of a given URL should actually happen, but if that function does not return within 250ms, it'll still load the page. Even if you define `onShouldStartLoadWithRequest={() => true}` it will still give t

[2019-05-06 23:43] jamonholmgren commented on #278
I assume #540 solves your problem, @alidcastano ? If so, we can close this.

[2019-05-06 23:45] jamonholmgren commented on #169
Would someone want to add the workaround to the docs?

[2019-05-06 23:51] jamonholmgren commented on #13
@JeremyBradshaw7 I'm not sure -- want to check it and see if it is?

[2019-05-07 04:27] Slapbox commented on #278
@jamonholmgren #540 doesn't yet resolve the problem in my view.

[2019-05-07 04:47] rxhivzero commented on #510
Try set webview mediaPlaybackRequiresUserActio={false}

[2019-05-07 06:17] zttina commented on #556
I've got it。RN webView can't load local html jquery。I change the url
[code]
to
[code]
Now,it's ok

[2019-05-07 06:17] #556 closed

[2019-05-07 09:46] HaloWang opened #559 "Content inset is incorrect in iOS device"
**Bug description:**

Content inset is incorrect in iPhone.

**To Reproduce:**

I upload this [repo](https://github.com/HaloWang/rnwebviewbug)

**Expected behavior:**

React-Native and Native have same behavior.

**Screenshots/Videos:**

**Environment:**
[code]

[code]

[2019-05-07 11:30] burak-koksal-jotform opened #560 "WebView redirects into iFrame on Android"
**Bug description:**

WebView Component redirects into iFrame(s) when serving from static resources on Android.
Used props are:
[code]
However it was working correctly on v.2.10.0. And [here is a fork](https://github.com/burak-koksal-jotform/react-native-webview/commits/2.10.0-jf) of working version that we're stuck to use in our original app in order to get the right behavior.

**To Reproduce:**

[2019-05-07 12:58] alidcastano commented on #278
i, unfortunately, haven't had a chance to check but will go ahead and close this issue - thanks @amonholmgren (and @ericlewis!)

[2019-05-07 12:58] #278 closed

[2019-05-07 13:06] alancwoo commented on #545
Strangely this seems to work in the simulator but not on hardware.

[2019-05-07 13:42] ericlewis commented on #278
@Slapbox if you want to open an android specific issue- go ahead! #540 was iOS only.

[2019-05-07 17:17] xploSEoF commented on #545
Based on all the searching of the web I did, there seems to be a common simulator issue when it comes to representing the permissions of a WKWebView.

Developing with a device has its advantages, even if it is a bit costly.

[2019-05-08 04:04] lovekobe24 opened #561 "injectJavaScript can run only once?"
injectJavaScript can run only once?when i use postMessage,html can receive message many times,but when i use injectJavaScript twice.error comes:
`Error evaluating injectedJavaScript: This is possibly due to an unsupported return type. Try adding true to the end of your injectedJavaScript string`

[2019-05-08 04:12] acrogenesis commented on #28
I'm also having this problem

[2019-05-08 04:49] acrogenesis commented on #28
I got it working commenting out `setGeolocationEnabled(webView, false)`. I'm also using `https://github.com/mauron85/react-native-background-geolocation` not entirely sure if it helped.

[2019-05-08 04:55] gorvinsky commented on #407
I'm having similar problem on both the simulator and the device. Below is the error that I get:
[code]
Let me know if you need more info from me to debug this.

[2019-05-08 06:16] #561 closed

[2019-05-08 06:18] Drnutsu commented on #502
I agreed with @fungilation, this should be a warning instead of an error.

[2019-05-08 08:15] cjpete opened #563 "Android: Vanilla android error page shown, despite setting renderError()"
**Bug description:**

When using WebView with Android, there is a basic Android error page shown, alongside the content returned by renderError.

[code]

**To Reproduce:**

**Expected behavior:**

Render only the content returned by the renderError prop.

**Screenshots/Videos:**

![image](https://user-images.githubusercontent.com/13134961/57360131-4e468b80-7171-11e9-841d-c08df6ab33c1.png)

**Envir

[2019-05-08 08:21] Taym95 commented on #563
Do you think it should return `errorMessage` without the vanilla android error page??

[2019-05-08 08:31] cjpete commented on #563
I don't want this to be in the UI:

![image](https://user-images.githubusercontent.com/13134961/57361289-0a08ba80-7174-11e9-8e31-48c1c2e63157.png)

I would have expected that suppling a renderError prop would be a way to totally override any UI shown when there is an error.

[2019-05-08 08:41] junjun16818 opened #564 "React Native webview source target twitter.com . Can't load twitter homepage timeline"
It's work!

    <WebView
        source={{ uri: 'https://mobile.twitter.com' }}
    />
Not work!

    <WebView
        source={{ uri: 'https://mobile.twitter.com' }}
        onMessage={(event) => { console.warn(event.nativeEvent.data) }}
    />

![image](https://user-images.githubusercontent.com/955472/57361844-f67b4500-71af-11e9-8fc4-6e016a05cd1d.png)
I can't load the homepage just by adding the

[2019-05-08 08:43] Taym95 commented on #563
Yes got it, @Titozzz what do you think about this?

[2019-05-08 14:51] Johncy1997 commented on #312
[code]

Here, I am trying to display the website where Amazon payment gateway integrated. But the thing is after logged in to amazon account, it always shows *The session has ended.Please click amazon pay button to sign in again.*. So i thought it may be webview not passing cookies. Someone tell me some possible solution.

[2019-05-08 17:42] mobitar commented on #295
On iOS, navigating to a blob via `window.location.href = blobUrl` will show the file within the webview, but I haven't found a way to get the file to actually download and save to the user's photos or files. (Using the method to create a temporary `a` tag and and then `a.click()` has no effect.)

This answer has a workaround, although not too elegant:
https://stackoverflow.com/questions/45065085/h

[2019-05-08 18:46] karvulf commented on #526
Same problem, it would be awesome to fix that

[2019-05-08 19:00] kirill578 commented on #508
You need to prompt the user to give you the camera permission. I believe that should be done by this library

[2019-05-08 20:43] karvulf commented on #557
Use " ``` "
Without code, its difficult to say, what happens

[2019-05-09 09:17] sandywk opened #565 "Errors encountered at the beginning of use"
**Bug description:**
I'm sure I searched before I asked, but I couldn't find a solution.
I try to use it.Everything is OK before the following operation.

npm install react-native-webview --save
react-native link react-native-webview
react-native run-android

Next you make a mistake：
Android dependency 'com.android.support:appcompat-v7' has different version for the compile (23.4.0) and runtime (2

[2019-05-09 15:19] Shan7anu commented on #169
@jamonholmgren: I've a work around for this issue.
I'll be updating it here in couple of hours.

[2019-05-09 17:40] digitaldavenyc opened #566 "Ticketmaster webpage third-party content causing NSURLErrorDomain -1002"
**Bug description:**
Some sites have content that does not follow proper web standards and are causing our component to fail hard. There needs to be a way to let these errors fail silently so the entire page doesn't crash.

I have `Allow Arbitrary Loads` & `NSAllowsArbitraryLoadsInWebContent` enabled in our Info.plist file

[code]

I also have set `mixedContentMode="always"`

**To Reproduce:**
Loa

[2019-05-09 22:03] shawnarneygit commented on #527
try changing to the legacy build system in your ios project settings if you are using xcode 10+.

[2019-05-10 05:09] Dante-dan commented on #259
I have the same problem, then i found the solution like [this](https://zhuanlan.zhihu.com/p/33033496).
[code]

but i can't found this code in `react-native 0.57`  and `react-native-webview  5.7`

[2019-05-10 05:15] Dante-dan commented on #259
you can custom the android webview like [this](https://github.com/react-native-community/react-native-webview/blob/master/docs/Custom-Android.md) and someone try [it](https://github.com/react-native-community/react-native-webview/issues/537)

[2019-05-10 08:02] mausworks commented on #4
@harryharihar there is none.

[2019-05-10 09:03] DovletAmanov commented on #259
Overriding sslError makes it work but, it is NOT secure way to solve this issue. By the way, Google refuses to upload your app if you overrided sslError like that.

[2019-05-10 09:26] Dante-dan commented on #259
right! thanks

[2019-05-10 10:31] chellongCoder commented on #564
same issue

[2019-05-10 12:47] StefanWallin opened #568 "RNCWKWebView crashes with an NSInvalidArgumentException for didFinishNavigation"
**Bug description:**

RNCKWKWebView crashes our app with an `NSInvalidArgumentException` for `didFinishNavigation` event.

Our app uses Webviews to display HTML adverts and thus do not have control over the code executing inside the Webview.

Here is a stacktrace with some information from sentry:
https://sentry.io/share/issue/1fb0a36375244d7d9cf94f13921427cd/

**To Reproduce:**

Unable to reprodu

[2019-05-10 13:40] Titozzz commented on #568
Can't load the sentry link

[2019-05-10 13:52] sibelius commented on #460
@TMomemt can you send a PR fixing this?

[2019-05-10 13:55] sibelius commented on #460
@indapublic how did you debug this network request?

how are you passing `Referer` to WebView component?

[2019-05-10 14:05] StefanWallin commented on #568
Sorry for that! Link updated and should work.

[2019-05-10 14:12] rturk commented on #537
Kudos for this epic effort. But looks like this will never work

As far as I know `Flash` is not supported in mobile browsers, and given that `flash` was banned from mobile devices maybe it will never will

[2019-05-10 16:07] atlatosBast commented on #24
@janicduplessis workaround works perfectly on iOS, but unfortunately not on Android, where the nativeEvent only has the "data" property like stated in the docs. It only has all the other event properties on iOS.

[2019-05-10 17:47] sibelius commented on #4
you need to implement `shouldInterceptRequest` on android

[2019-05-10 18:20] sibelius commented on #460
to make this work on android we need to hack on `shouldInterceptRequest`, and always add these custom headers

[2019-05-10 18:33] mcrowe commented on #24
This issue seems to also occur whenever `pushState` is used to navigate, not just when the anchor changes.

[2019-05-13 02:51] TMomemt commented on #460
@sibelius My solution which needs custom code in java code is not a general solution.

I tend to change `shouldOverrideUrlLoading` to always return false , and remove [this function call](https://github.com/react-native-community/react-native-webview/blob/master/src/WebView.android.tsx#L206) or mark it as iOS only because it can not control webView's loading actually on Android like the early vers

[2019-05-13 03:24] lovekobe24 opened #569 "injectJavaScript method missing escape character"
when i use injectJavaScript  ，webView inject loadzn function，loadzn function accept json string contains escape character。
`  var testspaiceJson={name: "zhangsan", age: "23", email: "<svg width=\"100%\" height=\"100%\" version=\"1.1\"\n" +
                    "xmlns=\"http://www.w3.org/2000/svg\">"};
           var jsonstr1=JSON.stringify(testspaiceJson);
           this.refs[WEBVIEW_REF].injectJa

[2019-05-13 03:56] indapublic commented on #460
@sibelius I debugged this via React Native Debugger. `Refererer` header passed with `source.headers` or from parent page with vimeo link.

My solution was is force rerender if Webview should open vimeo player:

[code]

[2019-05-13 13:41] oliverdolgener commented on #488
Yes, I can confirm that! We do the link handling ourselves but deeplinks like `mailto:` or `tel:` seem to ignore the `false` return value from `onShouldStartLoadWithRequest`

[2019-05-13 23:05] montaserfzy commented on #162
the same issues

[2019-05-14 06:15] sbayd commented on #560
Still reproducible with,

- react-native: 59.8
- react-native-webview: 5.8.2

[2019-05-14 09:00] vvusts commented on #527
@shawnarneygit it works when I set it to legacy.
But is is stable solution or just a workaround?

[2019-05-14 09:27] mhingston opened #570 "Allow CORS"
**Bug description:**
Unable to configure CORS.

**To Reproduce:**

_App.js_
[code]

_android/app/src/main/assets/index.html_

[code]

_android/app/src/main/assets/test.json_

[code]

**Expected behavior:**

Able to request cross origin resource.

**Environment:**
 - OS: Windows
 - OS version: 10 Pro (1809)
 - react-native version: 0.59
 - react-native-webview version: 5.8.1

[2019-05-14 09:36] Taym95 commented on #570
Try to add `mode:'cors'` to request.

[2019-05-14 09:46] mhingston commented on #570
Thanks @Taym95

I've added the mode to the request as below, still getting `TypeError: Failed to fetch`

_android/app/src/main/assets/index.html_

[code]

[2019-05-14 15:00] veermangat commented on #207
Facing the same issue. My observation has been that if I browser around a little bit on the webview then the webview remembers cookies when the app is killed and launched again.

[2019-05-14 17:12] davidcort commented on #124
For a while:
onShouldStartLoadWithRequest={false} do the trick :)

[2019-05-15 08:00] jinzunyue commented on #229
@paulxuca I got in troubles again. The property "injectJavaScript" don't work on iOS 10.0.0.I know it is an old enough version,but there a lot people they think the iphone's upgrade will make mobiles slower,so they don't upgrade for evet three years.

[2019-05-15 09:21] BennyTian commented on #460
the same problem ...

[2019-05-15 09:47] elirangoshen commented on #124
happen to me as well..
since i added: startInLoadingState={true} to my webview  and only in that webview

[2019-05-15 09:59] kesha-antonov opened #572 "[Bug] StatusBar disappears on WebView unmount"
Hey!
After upgrading from ```5.7.2``` to ```5.8.2``` I have this bug.
I think it's introduced in ```5.8.1``` (https://github.com/react-native-community/react-native-webview/commit/c2914a8)

**Bug description:**

When WebView unmounts the StatusBar disappears. Even though I don't play any videos. Just showing images.

**Expected behavior:**

WebView should not affect StatusBar.

**Environment:**
 -

[2019-05-15 12:52] yassinecc commented on #398
I would avoid changing the matchingFallbacks that might affect other dependencies.

In my case, I ended up replacing
`implementation project(':react-native-webview')`
by
`implementation project(path:':react-native-webview', configuration: 'default')`

[2019-05-15 14:45] GokulDharumar commented on #528
having the same problem on both android and ios

react native - .57.8
react-native-webview version - 5.3.0

[2019-05-15 19:00] tonmanayo commented on #4
Is this in the timeline for the future?

[2019-05-15 19:02] tonmanayo commented on #315
Is there a timeline POST headers in Android?

[2019-05-15 20:15] GokulDharumar commented on #312
@jamonholmgren Cookies are not getting transferred if we don't use useWebKit={false}. We even updated to the latest version 5.8.2. We trying to read the cookies from login page into the home page but it is not working

[2019-05-16 06:59] M45ter opened #573 "check camera permission"
**Bug description:**
html use camera , in android log error
java.lang.SecurityException: Permission Denial: starting Intent { act=android.media.action.IMAGE_CAPTURE...

**To Reproduce:**
html code like
<input type="file" accept="image/*" capture="camera">

**Expected behavior:**
open camera , take a pic and return pic to html

**Environment:**
 - OS: android
 - OS version: 9
 - react-native versio

[2019-05-16 10:27] niranjan-b-prajapati opened #574 "Record Audio permissions for android not working as expected"
**Bug description:**
I have a weblink which i need to integrate for recording audio, even after allowing recording permissions in android it gives error. The same link works properly on mobile chrome.
Wondering what is happening differently in webview that it is not allowing to record audio. It gives `Error getting audio` as the error message.

Following is the url for testing audio recorder :
`ht

[2019-05-16 17:03] JuanDavidLopez95 commented on #22
I can attest to this issue. I have a React Native App which I test with an iPhone XS and a Samsung Galaxy S5 (on Android  6.0 Marshmellow) running Expo. WebViews inside ScrollViews are not scrollable on Android if the `scrollEnabled` property is set to `{true}` on the `WebView`. This not an issue on iOS, only on Android.

[2019-05-16 22:22] #294 closed

[2019-05-16 22:25] #28 closed

[2019-05-16 22:28] danielang opened #575 "Android 9: App crashes if hardware acceleration is enabled"
**Bug description:**
Our app crashes on Android 9 if the hardware acceleration was used in the webview.
If I disable the hardware acceleration on the embedded webviews the app works fine.
If I disable the acceleration in the AndroidManifest the app also works without crashes.
So I think it has something to do with the webview implementation and their usage of the hardware acceleration on Android 9

[2019-05-17 06:31] jinzunyue commented on #229
@paulxuca Haven't see you for a long time.And i got an another bug.It only shows on some special android devices such as "HUAWEI PRA AL00 android 7.0".Your repo will crash when invoke "reload" for 100%,but the master will not.
`export default class App extends Component<Props> {
  componentDidMount(): void {
    setTimeout(() => this.webview.reload(), 5000);
  }

  render() {
    return (
      <V

[2019-05-17 06:41] JakeRawr commented on #529
I'm actually interested in knowing how long the webview caches the files.
Is it default to 7 days? and is there a way to set the limit?

[2019-05-17 09:36] Hmoulvad commented on #198
Yup it works to downgrade to 2.8

[2019-05-17 16:10] nicolasdet opened #579 "error: method getJSEventName in enum ScrollEventType cannot be applied to given types;"
**Bug description:**

In my package.json i have a dependency :
"react-native-webview": "^5.3.0".

Since "version": "5.8.1" all was OK and i got no problem with this package.
Now we are in "version": "5.9.0" and i got a breaking Bug.

**To Reproduce:**

- npm install
- react-native link
 - react-native run-android

**Error message:**

RNCWebViewManager.java:452: error: method getJSEventName in enum

[2019-05-17 16:30] Josephdias92 commented on #579
This is already been resolved in https://github.com/react-native-community/react-native-webview/releases/tag/v6.0.1

[2019-05-17 16:33] Josephdias92 commented on #579
Is there a way you'll can create a patch with 5.9.1 cos I don't want breaking changes.

[2019-05-17 16:38] nicolasdet commented on #579
Thanks. I should have paid attention to the most recent release. My npm took 5.9.0 when npm install. Sorry.

[2019-05-17 16:39] nicolasdet commented on #579
i'm not

[2019-05-17 16:42] nicolasdet commented on #579
I am not really a java developer and do not know how this package is made. But If I have time this weekend, I will look into it.
Thank you for the help, i should have been more careful and pay more attention to the latest version..

[2019-05-17 17:04] Josephdias92 commented on #579
Thanks. I was waiting for the full screen PR to be merged for more then two months. ☹️

[2019-05-17 18:47] luanbon opened #580 "error: package androidx.core.content does not existimport androidx.core.content.FileProvider;"
**Bug description:**

New React Native Project.
"react-native-webview": "6.0.1"

Error when build (react-native run-android)

(omited)\node_modules\react-native-webview\android\src\main\java\com\reactnativecommunity\webview\RNCWebViewFileProvider.java:3: error: package androidx.core.content does not exist
import androidx.core.content.FileProvider;

**To Reproduce:**
1. New React Native Project Wit

[2019-05-17 19:15] ycai2 commented on #580
I currently have the same problem, but I was able to find that you can add
[code]
to make your project compatible with AndroidX. However, I still get
[code]
This is very frustrating as even the fresh install of the app from scratch wouldn't work...

[2019-05-17 19:18] luanbon commented on #580
So frustrating ! I did a poc last week with version 5.8.1 and it worked fine, starting the new project today from scratch with new version not working anymore...

[2019-05-18 03:10] muhamad-rizki commented on #580
#520 try using rn webview lower than v6.0.0 like v5.9.0

[2019-05-18 06:44] pranavpandey1998official commented on #580
lower versions shows #579

[2019-05-18 06:47] muhamad-rizki commented on #580
try v5.8.0

[2019-05-18 06:55] pranavpandey1998official commented on #580
same behaviour not working :(

[2019-05-18 07:16] muhamad-rizki commented on #580
it's weird, try to remove it first with `react-native uninstall react-native-webview`, then install it again with `react-native install react-native-webview@5.8.1` maybe your local still caching the last installed

[2019-05-18 09:30] chrischenyc commented on #580
thanks to @muhamad-rizki, `5.8.0` works for me after several attempts.

remember to `react-native unlink react-native-webview`, install `5.8.0` version, and `react-native link react-native-webview` again.

I even used command `watchman watch-del-all && rm package-lock.json && rm -rf node_modules && rm -rf $TMPDIR/metro-* && rm -rf $TMPDIR/haste-map-* && npm install` to nuke anything cached.

were

[2019-05-18 12:47] flyinghawker commented on #580
with total refresh project,
I did try
react-native uninstall react-native-webview
react-native install react-native-webview@5.8.1    or 5.8.0
still not work,
waiting for later lib fix or other solution.

[2019-05-18 16:37] codoffer opened #581 "Not able to compile or build apk with Android"
I am facing this issue with Android only.

When I am trying from Android studio. Its generating apk AVD but not working with command. Getting below error

**To Reproduce:**
RUN with react-native run-android OR ./gradlew app:assembleDebug

**Expected behavior:**

**Screenshots/Videos:**

/Projects/codoffer-hero/codofferhero/node_modules/react-native-webview/android/src/main/java/com/reactnativecomm

[2019-05-18 18:29] laf1greg commented on #581
I have a similar problem (not sure if it's the same problem).

**Tried with:**
- react-native version: 0.59.8
- react-native-webview version: ^6.0.1

[2019-05-18 18:30] codoffer commented on #581
I have downgraded the version but it's creating crash with ios.

[2019-05-19 03:13] Slowl commented on #581
I'm having the same error as you, I've been following the resolution of this issue #325 for a few weeks  so I tried to upgrade react-native-webview but now I can't build my app anymore, even with an older version

Tried on :
Ubuntu 19.04
React-Native 0.59.1
React-Native-Webview 6.0.1

[2019-05-19 12:12] abhijithvijayan commented on #580
I did as said and build was successful but this error pops up on the emulator.

![Screenshot from 2019-05-19 17-41-30](https://user-images.githubusercontent.com/34790378/57982061-79788700-7a5d-11e9-945e-e4067c5042b6.png)

[2019-05-19 18:16] LorandP commented on #581
The project does build by installing from that repository but how do you import the webview? It doesn't work like `import WebView from 'react-native-webview'`

[2019-05-19 18:22] oihandover opened #582 "Execution failed in run-android"
**Bug description:**

I am run:
$ yarn add react-native-webview
$ react-native link react-native-webview
$ react-native run-android

**To Reproduce:**

In run-android returns this:

:react-native-webview:reactNativeAndroidRoot /home/handover/Documents/handover/tests/paypalRN/node_modules/react-native/android

/home/handover/Documents/handover/tests/paypalRN/node_modules/react-native-webview/androi

[2019-05-19 19:45] dvicory commented on #581
You need to import using `import { WebView } from 'react-native-webview'`.

Then I removed "import com.airship.customwebview.CustomWebViewPackage;" and "new CustomWebViewPackage()," from android > app > src > main > java > com > yourapp > MainApplication.java and now my app can run.

You need to set the `allowsFullscreenVideo` prop to `true`, as by default it is off due to some people in #325 expe

[2019-05-19 20:37] dvicory commented on #581
Just verified 5.9.0 doesn't work. #577 was made and released as 6.0.1, but 6.0.0 comes with its own breaking changes. Perhaps we can get a 5.9.1 release with this fix.

[2019-05-19 21:44] Titozzz commented on #581
@LorandP both named and default import are supported so youre issue lies somewhere else
@Slowl @codoffer @laf1greg can you show me your build.gradle files ?

[2019-05-19 21:46] Titozzz commented on #581
@dvicory as said in the other thread do you have a reason to use custom buidtools that would make 6.0 not usable for you ?

[2019-05-19 21:47] Titozzz commented on #582
Duplicate of #580

[2019-05-19 21:47] #582 closed

[2019-05-19 21:47] dankobaia commented on #581
"dependencies": {
    "react": "16.8.3",
    "react-native": "0.59.8",
    "react-native-webview": "5.8.0"
  }

working here

[2019-05-19 21:49] Titozzz commented on #580
Hello everyone, Android X was supposed to be completely invisible as a change. I'll check everything tomorrow and come back to you with a solution. Meanwhile please use 5.8.1 if 6.0.x is broken for you !

[2019-05-19 22:36] #580 closed

[2019-05-19 22:36] #581 closed

[2019-05-19 22:46] Titozzz commented on #579
Hello I fixed 6.0.2 and also released 5.9.1 if you don't want to upgrade!

[2019-05-19 22:46] #579 closed

[2019-05-19 22:50] Titozzz commented on #582
Hello I fixed 6.0.2 and also released 5.9.1 if you don't want to upgrade!

[2019-05-19 22:50] Titozzz commented on #581
Hello I fixed 6.0.2 and also released 5.9.1 if you don't want to upgrade!

[2019-05-19 22:51] Titozzz commented on #580
Hello I fixed 6.0.2 and also released 5.9.1 if you don't want to upgrade!

[2019-05-19 22:51] Titozzz commented on #294
Hello there was some issues with 5.9.0, 6.0.0 and 6.O.1

I fixed 6.0.2 and also released 5.9.1 if you don't want to upgrade!

[2019-05-20 01:08] chrischenyc commented on #580
@Titozzz just upgraded to 6.0.2, did clean up node_modules, still can't get Android project to compile:

1. Android Studio would complain following files are missing
[code]

2. Enabled AndroidX following this [guide](https://developer.android.com/jetpack/androidx/migrate)

3. error mentioned in step 1 is gone, but `react-native-gesture-handler` is failing because of using the support library v4, s

[2019-05-20 07:15] olcayertas opened #584 "java.lang.ClassCastException"
We have getting crash reports on Google Play:

[code]

**Environment:**
 - OS: Android
 - OS version: 9
 - react-native version: 0.59.8
 - react-native-webview version: 5.7.0

[2019-05-20 08:00] Titozzz commented on #580
@chrischenyc
There is going to be a transition period from old libraries to AndroidX, I also use RNGH in my personal project.
I keep publishing on the 5.X branch, I'll add the incompatibilities to readme and discuss with other libraries maintainers.

[2019-05-20 08:01] Titozzz commented on #584
What is inside your source prop?

[2019-05-20 08:22] Titozzz commented on #580
I've changed the latest to be 5.9.1

[2019-05-20 09:22] affanhashone opened #585 "WebView Renders 2 times"
WebView Is rendering 2 times

[2019-05-20 10:11] xcxooxl commented on #24
Waiting for a fix on android =\ Our website is made in Vue (SPA)
it uses pushState to navigate but there's no state property on Android.

[2019-05-20 10:32] olcayertas commented on #584
I am setting source as:
[code]
and my sample source is like:
[code]

[2019-05-20 11:35] briankoey commented on #579
v5.9.1 still experienced the same issue.

[2019-05-20 12:55] Josephdias92 commented on #581
Hello @Titozzz I see that 6.0.2 has been released but 5.9.1 is still not released.

[2019-05-20 12:57] gamingumar commented on #430
This solved the issue for me. I was getting a random crash only on android when I navigate back from a screen that was using webview in react navigation.

Only thing I was getting from error log in Android Studio was ```W/google-breakpad```

[2019-05-20 18:11] Josephdias92 opened #586 "fullscreen landscape mode support"
Hello im currently using version 5.9.1. i was waiting for fullscreen-video support for webview so when the user clicks on embedded youtube link it suppose to open fullscreen in landscape mode. currently it opens youtube in fullscreen in portrait mode.

[2019-05-20 18:37] janicduplessis commented on #24
Is the workaround also needed on Android? I haven't tested it yet.

[2019-05-20 18:57] dvicory commented on #586
If a user rotates their device it will switch to landscape mode. Originally, I did have it force landscape, but some people wanted fullscreen portrait videos, so I left it up to users to rotate.

Do you have some ideas that will please both camps?

[2019-05-20 19:10] Josephdias92 commented on #586
I tried turning on the auto rotota and pressing the full-screen button on YouTube player it didn't rotate. Also tthere is no way for the user to exit the full-screen except pressing the back button.
We can set a flag in webview options to force auto rotate, just like how we have to allow fullscreen

[2019-05-20 19:15] dvicory commented on #586
What device/OS are you on? Auto rotation worked for me on quite a few combinations.

There's quite a few possibilities we could allow... forcing landscape or portrait, "suggesting" landscape or portrait (user could still rotate to a different orientation), or do nothing (like it is currently).

I saw in some other react-native WebView forks that handled fullscreen they emitted events instead. What

[2019-05-20 19:20] Josephdias92 commented on #586
I'm using one plus 5t. Android version 9.
I feel declarative is more suitable in this case. Otherwise I will have to select full-screen button of YouTube add click handler and then call force rotate API. It will make mine and others life alot difficult 🙈☹️

[2019-05-20 20:19] dvicory commented on #586
I can look into this in the next week.

[2019-05-20 21:54] Titozzz commented on #585
Please reopen an issue following the issue template

[2019-05-20 21:54] #585 closed

[2019-05-20 21:54] Titozzz commented on #581
It is on npm just not visible on GitHub sorry for the inconvenience

[2019-05-21 02:12] ouabing commented on #586
I use [react-native-orientation-locker](https://github.com/wonday/react-native-orientation-locker) to change the orientation when the webview changes to fullscreen mode. What I'm seeking for is how to get notified when it enters/exits fullscreen mode.

[2019-05-21 02:34] ouabing commented on #586
@Josephdias92  My current workaround is changing the Java code to emit events in onShowCustomView and onHideCustomView ([see code here](https://github.com/ouabing/react-native-webview/commit/606a24c97b0328488750ff78f37d0c0ea7490a12)). Then you can listen to it to call rorate API.

I think exposing callbacks for exiting/entering instead of providing solutions for rotating will be more reasonable. T

[2019-05-21 05:46] co0redump commented on #529
It's definitely not 7 days. I tested on both Android and iOS now and I get 1 day, even if the response headers are set to 7 days. I haven't found a solution yet to be able to keep cache for 7 days.

[2019-05-21 14:00] eXist-FraGGer commented on #259
Any solution?

[2019-05-21 14:43] hedikasmanto commented on #312
@GokulDharumar and @Johncy1997

I had found this cookies problem too, and had solved with add params like this :
<WebView
useWebKit
sharedCookiesEnabled
... />

Source : https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#sharedcookiesenabled

[2019-05-21 15:19] GokulDharumar commented on #312
@Johncy1997 Thanks for the message... i think we figured out the issue. we are using https://github.com/joeferraro/react-native-cookies... looks like we have to set up a different way for reading cookies. It works now... thanks for the response

[2019-05-21 15:49] jamonholmgren commented on #580
FYI -- the relevant change is to add this to your `./android/gradle.properties` file:

[code]

[2019-05-21 20:52] danielang commented on #575
Hello @Titozzz,
could you please take a look at this issue. Is our app an individual case or does other users also have problems on Android 9?
Thank you!

[2019-05-22 06:56] tenzinngodup commented on #172
Same issue here. Iframe did not worked, but the html object tag worked for me in IOS.

  <object width="420" height="315"
data="https://www.microsoft.com/es-es/videoplayer/embed/RWfmWf?pid=ocpVideo0-innerdiv-oneplayer&postJsllMsg=true&maskLevel=20&market=es-es">
</object>

[2019-05-22 08:02] cocoafuel commented on #287
have you found any solution

[2019-05-22 08:04] MaxMaes commented on #287
Unfortunatly not. I worked around this by having a website render the HTML and embedding that.

[2019-05-22 09:25] gorvinsky commented on #570
I'm actually having CORS issue on iOS only. Android is fine.

[2019-05-22 09:45] mhingston commented on #570
I had to use a work around to get it working. I wrapped fetch and utilized `window.ReactNativeWebView.postMessage` in the webview to pass a message to RN when the resource is local and then use RNFS to read the local file and encode it as base 64 before passing it back to the webview using a callback via `injectJavaScript`.

[2019-05-22 10:00] gorvinsky commented on #570
Some more details for my case. I followed this [guide](https://medium.com/@snehabagri.90/reactnative-webview-with-local-content-c98a09340801) to load a local React web bundled with the React Native app.

It works fine on Android but on iOS, it encountered CORS error when the React web tried to call a cross origin API. The error is as follow:

[code]

And this is what the code looks like:

[code]

[2019-05-22 12:45] laf1greg commented on #581
Maybe there is something I didn't get but I have this error when I upgraded to 5.9.1 (or 5.8.0). It work with 5.2.0.

"react": "16.8.3",
"react-native": "0.59.8",
"react-native-webview": "5.9.1"

![Screenshot_2019-05-22-08-39-07-537_com igetwind](https://user-images.githubusercontent.com/3586754/58175238-b61acd00-7c6d-11e9-8cf7-5a43b60ad644.png)

[2019-05-22 13:14] mjfiandaca opened #588 "Event Listener does not trigger any events"
**Bug description:**
Events are never triggered when attaching an event listener to a webview via <script>, or injecting javascript.

**To Reproduce:**
Associate a script to a webview.
This can be done by: a) adding the <script> tag to the html being output.
b) using injectjavascript.
c) using injectedjavascript (I am not using this as it is not reliable to know where it will be hit in the render

[2019-05-22 13:36] MaxMaes commented on #575
Same issue here, works fine on older android versions but crashes on Android 9.

The content i have on my screen are 3 youtube iframes. Tried with 5.10.0

[2019-05-22 15:18] shawnarneygit commented on #527
that is the recommended solution.

[2019-05-22 20:39] davux commented on #215
Does this issue still exist in recent version?

[2019-05-23 09:32] tariqsidd opened #593 "onMessage did not triggering in release apk but worked in debug mode"
When Its is in debug mode OnMessage function triggered but when I build the Apk file it does not  triggered

onWebviewLoaded = () => {
        if(this.props.storeName) {
            let storeName = this.props.storeName.toLowerCase();
            storeName = storeName.replace(/ +/g, "");
            console.log("storeName: ", storeName);

            let storeAttribute = this.props.scrapingAttribut

[2019-05-23 20:08] dvicory commented on #586
@ouabing I'm curious what kind of things you would want to do with custom back handling. Without doing anything special, back button closes the fullscreen video. If you intercepted that and it works as expected, users would be prevented from minimizing the video unless they press the fullscreen button. Unless that's your goal or you also want a method to be able to minimize the video on-demand (wh

[2019-05-23 20:28] tmaly1980 commented on #229
@paulxuca I get an error when I try to install:

[code]

I've looked under node_modules and it doesn't install the package via "npm install @paulxuca/react-native-webview"

[2019-05-24 00:55] gorvinsky commented on #407
So I have fixed my own issue following this [guide](https://medium.com/@snehabagri.90/reactnative-webview-with-local-content-c98a09340801). What I did wrong in the first place was creating the external folder and put in the web files physically via finder instead of adding them via Xcode.

[2019-05-24 07:48] hand-shengwang opened #594 "WKWebView can't load resource in ios9.0,but it is ok in 10.0+."
IOS 9.0
iphone 6s
errorMessage：
Error Domain=NSPOSIXErrorDomain Code=2 "No such file or directory" UserInfo={_WKRecoveryAttempterErrorKey=<WKReloadFrameErrorRecoveryAttempter: 0x7fd3ed7f0a60>, NSErrorFailingURLStringKey=http://10.211.97.28:3000/#/make?passProps=%7B%22lang%22%3A%22en%22%2C%22countryCode%22%3A%22cn%22%2C%22stampOnly%22%3Afalse%2C%22activeItem%22%3A%5B%7B%22init%22%3Atrue%7D%2C%7B%22

[2019-05-24 10:04] gaohan1994 commented on #118
try this

mixedContentMode="compatibility"

[2019-05-24 10:09] gaohan1994 commented on #118
hi there
if you use html
It's better to set up a complete HTML like this
[code]

[2019-05-24 15:25] fungilation opened #595 "keyboardDisplayRequiresUserAction acts as if it's always false"
**Bug description:**
I've tested `keyboardDisplayRequiresUserAction` set to true, false or unset. On test uri https://www.macrotrends.net/2616/president-trump-stock-market-performance, input box is always focused and keyboard always opens without user interactivity.

I tested this to be true on iPhone X on 12.3, iOS simulators 12.2 and 11.4.

**To Reproduce:**
[code]

**Expected behavior:**
`WebVi

[2019-05-24 15:30] mjfiandaca opened #596 "WebViewNavigation event for phoneNumber not created in iOS"
**Bug description:**
According to the documentation, iOS automatically creates events for phone numbers embedded into the html.  With my code, it appears no event.url is created when a phone number is detected (note: with the same code, Android properly detects the phone number and handles the click to link to the native phone).

**To Reproduce:**
Load the following code:
[code]
When onShouldStart

[2019-05-24 15:30] fungilation commented on #595
Related: https://github.com/react-native-community/react-native-webview/pull/540

[2019-05-24 15:34] mjfiandaca commented on #588
For some reason, the link does not go to my github even though pasting it into the browser works fine, so here is the code:
[code]

[2019-05-24 15:44] namhd1992 opened #597 "Do not display data in Android"
I use code demo  show web 'https://infinite.red' but it not show

![60805761_2124635657649333_5727260622026964992_n](https://user-images.githubusercontent.com/33983591/58340171-69a1de00-7e75-11e9-9e78-a0db5ffecb81.jpg)
![image1](https://user-images.githubusercontent.com/33983591/58340227-85a57f80-7e75-11e9-89a3-97e74f322667.png)

**Environment:**
 - OS: samsung A50
 - OS version: Android 9.0
 - "r

[2019-05-24 17:23] mjfiandaca commented on #597
I believe you need the prop to whitelist the website; it worked once I put in
 originWhitelist={['*']}

[2019-05-24 17:42] HyperNovax commented on #579
Same issue with the version 6.X.X. It's working good with 5.8.2.
My project use react native 0.57.2.

[2019-05-25 00:02] namhd1992 commented on #597
@mjfiandaca I install react-native-webview and react-native-admob happening an error.
![abcs](https://user-images.githubusercontent.com/33983591/58361750-08046280-7ebb-11e9-822e-1866db3da3e7.png)

[2019-05-25 18:12] laf1greg opened #599 "webview javascript navigator.geolocation.getCurrentPosition never resolve"
My android app successfuly ask for geolocation permission and it is granted but when javascript code from website in webview calls navigator.geolocation.getCurrentPosition nothing happens, neither resolve nor reject.

"react": "16.8.3",
 "react-native": "0.59.8"
 "react-native-webview": "5.9.1"

[2019-05-26 13:19] hedikasmanto commented on #386
@Marcello168

[code]

[2019-05-26 17:08] karvulf opened #600 "Video in fullscreen - multiple rotations causes blackscreen (Android)"
**Bug description:**

If I have a video in fullscreen in Android and I rotate my phone, sometimes the screen gets black, but I can still hear the sound of the video.

**To Reproduce:**

Just put a YouTube-video in the webview and allow fullscreen. After that rotate your phone multiple time s and the screen gets black.

**Expected behavior:**

It shouldn't get blackscreen.

**Environment:**
- Samsu

[2019-05-26 17:13] karvulf opened #601 "Android: Facebook-videos are not playable in webview"
**Bug description:**

If I have Facebook-video in my webview, it isn't playable.

**To Reproduce:**

Just put a facebook-video in the webview and try to click play.

**Expected behavior:**

It should play the video instead of doing nothing.

**Environment:**
 - OS: Android
 - OS version: 8.0
 - react-native version: 0.59.8
 - react-native-webview version: 5.10.0

[2019-05-26 18:24] V3RT1AG0 commented on #534
Same here. I am running into the same issue on RN version 0.59.4.

[2019-05-26 20:21] gianpaj commented on #278
Just asking here in case a miracle is possible.
Is there any way to automatically focus on an input field inside iframe?
I don't control the iframe as it's the bank credit card iframe.

[2019-05-26 23:22] MateusAndrade commented on #248
Yes! You are right, its a common mistake on IOS. I see on some places that Android 9 will need a similar config to enable HTTP calls

[2019-05-27 03:19] fungilation commented on #595
I figured out what the bug is but not how to fix it, I don't know objc.

I have multiple webviews. First webview had `keyboardDisplayRequiresUserAction={false}`, subsequent webviews have `keyboardDisplayRequiresUserAction={true}`. The first webview is the culprit, that if 1 has the prop set to false, any subsequent webviews would behave as if it's false regardless of what `keyboardDisplayRequiresU

[2019-05-27 07:07] hand-shengwang commented on #594
our local resouce is designed by react.js, we use wkwebview to loading local js resouce,it was ok on 10.0+,but not usable on 9.0.please help us,thanks.

[2019-05-27 13:15] ericlewis commented on #278
You could inject your own JavaScript that looks for the ID or class of the desired input then have it focus once DOM is ready. Use the injectedJavascript prop. 

Sent via Superhuman iOS ( https://sprh.mn/?vip=ericlewis777@gmail.com )

On Sun, May 26 2019 at 4:21 PM, < notifications@github.com > wrote:

[2019-05-27 14:14] laf1greg commented on #599
ok seems to be a problem with RN and related to this https://github.com/facebook/react-native/issues/7495#issuecomment-287793663

[2019-05-28 02:48] laf1greg commented on #599
It seems that for geolocation we need to use this: https://github.com/Agontuk/react-native-geolocation-service
I manage to make it work on a motorola G3 and xiaomi Mi2 lite.

[2019-05-28 02:48] #599 closed

[2019-05-28 09:31] Kelvin9393 opened #602 "location.reload() not working in Android"
**Bug description:**
return location.reload() in javascript code not trigger / responding in Android webview. It works fine in react-native official webview. Am I missed out something?

**To Reproduce:**

**Expected behavior:**
It webview should reload itself.

**Screenshots/Videos:**

**Environment:**
 - OS: Android
 - OS version: 7
 - react-native version: 0.59.8
 - react-native-webview version:

[2019-05-28 09:34] ptrocki commented on #410
Can you provide this special characters? Because I can't reproduce it.

[2019-05-28 10:03] musicode commented on #410
It's a chinese character, maybe you have to choose chinese as your system language at first.

then you select the punctuation keyboard, click `”“` or `‘’` or `（）`

[2019-05-28 10:55] ptrocki commented on #559
Probably the same related issues:
https://github.com/facebook/react-native/issues/23988
https://github.com/facebook/react-native/issues/23480

I checked code, and probably scrollview does not update contentInset properly.

[2019-05-28 11:01] ptrocki commented on #559
Changing import to `import { WebView } from 'react-native';` it works correctly for version:
[code]

[2019-05-28 13:05] ptrocki commented on #596
Did you try to use ` Linking.openURL("tel://888999000");` instead of ` call({ number: callNumber, prompt: true }).catch(console.error);`

[2019-05-28 13:09] mjfiandaca commented on #596
It will never get to that line, as the 'tel' event isn't created.
The call function works fine elsewhere in iOS (I am using it for other native phone linking).
Thank you!

[2019-05-28 13:09] ptrocki commented on #557
Please provide more info.

[2019-05-28 14:24] tijs commented on #526
@Titozzz i have setup a test repo showing this same issue: https://github.com/tijs/twitterVideoTest

To reproduce:

- clone repo, install deps, etc
- start the RN app on an android phone
- a tweet with a video will be shown
- if you tap play it will most likely show a screen to accept privacy & conditions
- if you agree it will display a blank screen

Could be specific to twitter but i've seen oth

[2019-05-28 14:55] tijs commented on #526
I can reproduce the exact same issue in a pure native android project as well so might be an android/twitter limitation.. test repo here: https://github.com/tijs/twitterWebviewNative

[2019-05-28 16:34] mhingston commented on #570
Possibly another workaround... [https://github.com/futurepress/react-native-static-server](react-native-static-server).

[2019-05-28 18:06] mhingston opened #604 "Invariant Violation: Element type is invalid"
**Bug description:**
Invariant Violation: Element type is invalid

**To Reproduce:**
[code]

Follow steps 1-3 [in the readme](https://github.com/react-native-community/react-native-webview/blob/v6.1.0/docs/Getting-Started.md)

`react-native run-android`

![screenshot](https://user-images.githubusercontent.com/9764437/58501186-af172180-817b-11e9-9599-cd3154662f82.png)

**Expected behavior:**
App di

[2019-05-28 19:20] hiennguyen92 commented on #593
I have the same problem with you, Android debug and iOS are all running smoothly. only android release is never called onMessage. any solution?

[2019-05-29 01:33] HaloWang commented on #559
`<WebView useWebKit={false} ...` is not working for me.

[2019-05-29 02:44] ghsdh3409 opened #605 "WKWebView sometimes freezes on loading YouTube video"
**Bug description:**

* WKWebView sometimes freezes on loading video from YoutTube website.
* In this case, all of the touch event on webview are ignored and then the video is loading (buffering) infinitely.
* After a few seconds later (about 20~30secs?), pending touch events(ignored before) work suddenly.
* This case is also raised on static HTML using YouTube iFrame.
* This case is raised more f

[2019-05-29 02:56] ouabing commented on #586
@dvicory Sorry for the mess to introduce another problem. On some device supporting navigation gesture, swiping back in fullscreen mode will lead to black screen, so I have to disable the back handler in the callbacks.

I agree with you that callbacks may lead to some unexpected behavior. The current iOS rotation behavior is not declarative, will it make people confused If the Android rotation API

[2019-05-29 03:32] ghsdh3409 commented on #605
I implemented the same app by using swift (ios native app). It has the same issue. So, I think that this repository has no responsibility for an issue.

[2019-05-29 04:22] #605 closed

[2019-05-29 07:49] pjmazenot commented on #22
I'm also experiencing the same issue, only on Android devices. All good on iOS as @JuanDavidLopez95 mentioned.

[2019-05-29 09:09] tijs commented on #526
Found a fix. Actually quite simple; adding the baseUrl for the widget (twitter, facebook, etc) will make the player work as expected, e.g.

`source={{ html: '<your embed snippet>', baseUrl: 'https://twitter.com' }}`

[2019-05-29 09:20] tijs commented on #601
@karvulf you might want to try this fix; https://github.com/react-native-community/react-native-webview/issues/526#issuecomment-496853121

[2019-05-29 09:34] suhaotian commented on #602
[code]

[2019-05-29 10:25] karvulf commented on #601
Yes that seems to work, thank you @tijs

[2019-05-29 10:25] #601 closed

[2019-05-29 12:57] alz10 opened #607 "Disable Text Selection"
**Is your feature request related to a problem? If so, Please describe.**

I'm using react-navigation to do drawer navigation unfortunately everytime i swipe right to open the drawer, the text in Webview gets selected and it is annoying because the selection text (Copy, Share, Select All) overlap to the drawer. I'm asking if you can implement a disableTextSelection feature

**Describe the solution

[2019-05-29 14:38] davidnuvolar commented on #579
@Titozzz in my case I tried with 5.10.0 and the issue is still there. Impossible to have this running on Android.

[2019-05-29 15:51] andrei-m-code opened #608 "v5.10.0 mixedContentMode='always' no effect"
**MixedContentMode='aways' doesn't allow unsecure HTTP websites**

**To Reproduce:**
Try any http website source with mixedContentMode='always' attribute.  Actual: ERR_CLEAR_TEXT_NOT_PERMITTED error.

**Expected behavior:**
Website opens just fine.

**Screenshots/Videos:**
![Screenshot_1559144893](https://user-images.githubusercontent.com/5212280/58571569-006cf280-8208-11e9-8d25-1fbc287010b7.png)

[2019-05-29 18:12] pimentahodl commented on #560
We are also having the same problem

[2019-05-30 07:07] cereme opened #610 "Preventing videos playing when app is background (Especially Android, Youtube video)"
**Is your feature request related to a problem? If so, Please describe.**
My Android app displays youtube videos with react-native-webview, and is rejected from Google Play Store. The reason was "Device and Network abuse" and it appears when Youtube video can be played when the app is background.

**Describe the solutions you came up with**
I wrote the code in ```RNCWebViewManager.java```:
[code]

[2019-05-30 07:20] webexpert4rv commented on #373
I am still getting this error after upgrade  project  from 0.55.3 to 0.59.8 react native version

[2019-05-30 07:31] XingXiaoWu opened #611 "How to enforce embedded scripts in wkwebview in ios"
The fonts have been shrunk in the wkwebview on ios
Can be modified by ios source code
injectedJavaScript
[code]

#### Does rn expose relevant properties to ios wkwebview to inject scripts?
#### (I mean ios,injectedJavaScript is an attribute I've tried and it hasn't worked as expected)

[2019-05-30 10:01] manfwh commented on #24
@Titozzz

state.canGoBack == undefined

[2019-05-30 11:02] cyril94440 commented on #398
Same issue for me, not able to fix it as I don't find any matching lines :(

[2019-05-30 11:53] adbs1 commented on #137
Not sure if this is helpful to others but as a quick solution we changed the following line in RNCWKWebView.m's visitSource method. It opens access to the whole directory where the source.uri html file resides. We can then cache files in that directory and access them from the WebView:

We changed this:
[_webView loadFileURL:request.URL allowingReadAccessToURL:request.URL URLByDeletingLastPathComp

[2019-05-30 13:22] ohtangza commented on #605
@ghsdh3409 Why was this issue closed?

[2019-05-30 13:43] Josephdias92 commented on #586
Hello. Any update on this issue ?😃

[2019-05-30 16:21] cjpete commented on #563
@Taym95 @Titozzz any thoughts on this issue?

[2019-05-30 16:46] Carl0395 commented on #367
I worked with `window.ReactNativeWebView.postMessage(JSON.stringify({ loading: true }));`

[2019-05-30 16:56] iagorm commented on #367
@Carl0395 You can do this either, I was just following the code inside of the library.

[2019-05-30 18:44] JakeRawr commented on #137
@adbs1

Would you mind showing how your code for your `<WebView ... />`?

I changed to your `[_webView loadFileURL:request.URL allowingReadAccessToURL:[request.URL URLByDeletingLastPathComponent]];` but it's still not working

I used react-native-fs to download all the assets to `Documents`, and then display html by
[code]

[2019-05-30 21:45] adbs1 commented on #137
Below is an untested stripped down version of my working code. It achieves the same as:

```<WKWebView source={{ file: RNFS.MainBundlePath + '/data/index.html', allowingReadAccessToURL: RNFS.MainBundlePath }} />`

It would be much better to pass the allowingReadAccessToURL value through (as per line above) so we can specify a different directory for our downloads and keep our html in the main bund

[2019-05-31 01:31] ghsdh3409 commented on #605
@ohtangza Please see comment above.

[2019-05-31 02:04] brandonmoon commented on #341
This is really late, but for anyone else stuck on this issue and having problems finding a solution, for me the issue was that in the original react-native WebView I could just call `postMessage()`, but this library changed it to `window.ReactNativeWebView.postMessage()`. Since `postMessage` is now undefined, your existing code will throw an error, and the new library responds with the generic (an

[2019-05-31 07:10] osvald0 opened #613 "Android open some links in incognito mode and other in 'normal' mode"
When I try to open some link inside a WebView(Android) a browser in incognito mode is opened.
I want to open link always in 'normal' mode.
Tested urls are https.

**Code:**
[code]

**Environment:**
 - OS: Android
 - OS version: 8.1
 - react-native version: 0.58.4
 - react-native-webview version: 5.2.1

[2019-05-31 09:16] HyperNovax commented on #579
It's fixed for me, I upgraded react native in lastest version (0.59.8).

[2019-05-31 09:34] dinhtu0802 commented on #22
+1

[2019-05-31 14:13] entropitor commented on #575
This is probably related to https://github.com/facebook/react-native/issues/24261

[2019-05-31 14:26] danielang commented on #575
No, I don't think so.
I currently use realm in my app, which doesn't support x64 when this bug appears. So the 64 Bit buiild was disabled as I submitted this issue. In the mean time realm supports x64 and the issue is still there.

I've used react-native-navigation [v1]. In my desperation I convert my app to the newer v2 version of rnn.  Sadly the bug is still there, **BUT** if I disable the navig

[2019-06-01 17:56] nyalsadiq commented on #295
I'm having the same problem, any update on this?

[2019-06-02 04:04] jamonholmgren commented on #373
I would recommend cleaning all caches and rebuilding.

[2019-06-02 07:54] eai301 opened #617 "The development server returned response error code: 500"
The development server returned response error code: 500

[code]

my package.json

[code]
screen shot
https://prnt.sc/nwji8t

any one?

[2019-06-02 11:57] lihxhit opened #618 "ios bounces didn't work"
export default class App extends Component<Props> {
  render() {
    return (
      <SafeAreaView style={{flex: 1,backgroundColor: '#0E004A'}} forceInset={{ bottom: 0 }}>
        <StatusBar backgroundColor="#0E004A"/>
        <WebView style={{flex: 1}}
          source={{ uri: 'http://www.noxinfluencer.com' }}
          bounces={false}
          useWebKit={true}
        />
      </SafeAreaView>

[2019-06-02 13:59] lihxhit commented on #618
I change the source code  in RNCWKWebView.m line 217 to
_webView.scrollView.bounces =NO;
, and it works

so there should be sth wrong,

[2019-06-02 14:03] #618 closed

[2019-06-02 14:03] lihxhit commented on #618
it seems like my css mistake, so sorry about it

[2019-06-02 18:58] Titozzz commented on #559
fixed by #603

[2019-06-02 18:58] #559 closed

[2019-06-02 21:29] Titozzz commented on #617
I don't think this error would be related to Webview, please try to isolate your problem by creating a small reproduction. If your issue persists I can reopen this

[2019-06-02 21:29] #617 closed

[2019-06-02 21:33] Titozzz commented on #575
@danielang I'm very sorry that your app is affected by this bug. If you find a solution, I'll be glad to review and merge it. 😍

[2019-06-02 21:37] Titozzz commented on #557
Closing as stale issue. Feel free to submit a new one

[2019-06-02 21:37] #557 closed

[2019-06-02 21:38] Titozzz commented on #526
Thanks for the solution. If someone wants to document this I can merge a pr

[2019-06-02 21:38] #526 closed

[2019-06-02 21:42] Titozzz commented on #593
How do you know it is not triggered ? Have you tried logging and using logcat ?

[2019-06-03 03:55] wildkatana commented on #528
Same :/

[2019-06-03 08:06] suryasakthi92 commented on #216
I used math function in auto height web view solution height is hiding.And i used set the width by using onLayout in this width is working , but am getting height as 0. Can anyone please help me to find solution.
Thanks in advance

![edited](https://user-images.githubusercontent.com/50450236/58785316-f6316680-8602-11e9-9b8e-821718508d53.png)

<View>
                            <Card style={{backgr

[2019-06-03 08:17] Titozzz commented on #474
should be fixed

[2019-06-03 08:17] #474 closed

[2019-06-03 08:19] Titozzz commented on #539
This means there is a code path where your ref is not defined yet when you call this function, this is not a bug specifically with webview

[2019-06-03 08:19] #539 closed

[2019-06-03 08:35] #532 closed

[2019-06-03 10:19] MaxMaes commented on #575
react-native-navigation, latest release (but also happens with earlier minors of v2).

[2019-06-03 14:33] veermangat commented on #207
I use react-native-cookies to store cookies after a fetch call. And have set sharedCookiesEnabled on.

This works on iOS but on android webview the user is logged out.

[2019-06-03 16:07] jamonholmgren commented on #207
I ran a simple test and wasn't able to replicate:

Screencast: https://www.loom.com/share/422c73ec01354edc846608e9f09671a7

App.js:

[code]

Steps I took:

1. Loaded the app in a Pixel2 emulator
2. Logged into that discourse forum
3. Killed the app
4. Opened the app
5. Observed I was still logged in

Can you tell me how I might replicate this behavior?

React Native: 0.59.8
React Native WebView: 5

[2019-06-03 17:56] Gutyn commented on #588
Did you figure this out?

[2019-06-03 19:55] Gutyn commented on #149
Same issue, have you solved it @ccorcos ?

[2019-06-04 07:46] ptrocki opened #620 "Add example project"
This repository does not provide any example of lib usage. I would like to have it, because :
- Testing fixes/features will be faster
- Users will have a playground to test

**Describe the solutions you came up with**
Example should react-native app, which contain iOS/Android project. iOS/Android should linked local library as dependency, because it will be better to write new features/fixes in on

[2019-06-04 08:41] nuriye commented on #528
I have the same Issue, I guess.
The Cookies are not lost directly after closing the App (swiping the App up in iOS) or after a restart of the Phone. But after some Time. The Cookie Lifetime is set to 10 Yrs, but the User gets logged out after Days/Weeks.

I wrote about the Problem here: https://stackoverflow.com/questions/56440239/react-native-webview-user-gets-logged-out-despite-10-year-login-coo

[2019-06-04 09:23] AndreyPatseiko commented on #73
@JasonXiang2014 used the same approach. But have problem with IOS platform. Because in iOS stored data from LocalStorage can be removed by the OS, when running out of memory. And if you try get data from local storage you can get null in IOS.

[2019-06-04 09:57] veermangat commented on #207
My scenario is slightly different, I am authenticating the user in the react-native part of the app using a fetch call and then loading the WebView.

Which now seems to be working. Sorry about the confusion. Will carry on testing the same. Might be specific to an android version or phone.

[code]

[code]

Does seem to work pretty well on iOS. And on the limited android devices and simulators I hav

[2019-06-04 17:49] Metroidaron commented on #312
Hello,  I too am experiencing this bug where useWebKit does not share its cookies with the react-native instance; Please see the code below for an example of my use case.

Are there plans to resolve this bug?  It appears that the library mentioned by GokulDharumar (https://github.com/joeferraro/react-native-cookies) may solve the issue but I have not attempted to implement it; and also that librar

[2019-06-04 22:57] jpodpro opened #622 "renderLoading only shows for initial load."
**Bug description:**
the render loading template shows on initial webview load. however when navigating within the webview i would expect to see it again while the webview is again in a loading state. instead no loading indication happens.

**Environment:**
 - OS: Android and iOS, multiple versions tested.
 - react-native version: 0.57.8
 - react-native-webview version: 5.2.1

[2019-06-05 02:26] gasolin commented on #22
reproducible with this example https://snack.expo.io/r1E6viX0N

Note when the height is large enough to exceed the current screen size, the webpage is not scrollable, when the height is small and within the current screen size, the webpage is scrollable.
And it only happens in Android devices

[2019-06-05 03:50] emeraldsanto opened #623 "Rendering multiple Webviews with injected JS causes a crash on Android"
**Bug description:**
My app loads data from an API that is shared with the web version of our app which is why I am using webviews to directly render the HTML contents. Each paragraph of an article has its own webview as I need to render ad banners between them. Sometimes the webviews will load correctly and the app will only crash once I try to go back to the previous screen (using React Navigati

[2019-06-05 11:17] emomooney commented on #294
Is this working? I've updated to 5.11.0, still doesn't seem to work for Android fullscreen video.

[2019-06-05 21:09] donnellycolton opened #624 "Certain websites result in invariant violation in custom webview"
**Bug description:**
Attempting to load certain websites from a custom webview results in an invariant violation:

    Invariant Violation: requireNativeComponent: "RNCWebView" was not found in the UIManager.

    This error is located at:
        in RNCWebView (at WebView.android.js:205)
        in RCTView (at View.js:45)
        in View (at WebView.android.js:208)
        in WebView (at App.js:1

[2019-06-06 00:52] winkelsdorf commented on #474
@Titozzz Thanks for the update!

Initial position works as expected now.
The overlay is working, too - but the Android Error page still flashes shortly.

[2019-06-06 03:26] gorvinsky commented on #570
As the error is about Origin header being null, I tried to set the Origin header in the ``source`` property but it didn't work. I even tried setting a custom header and still it didn't show.

This is the sample code of setting the custom header:
[code]

And it seems that there a few open issues regarding the headers as well:
#4
#215
#315
#460

[2019-06-06 06:50] yozman opened #625 "loadsImagesAutomatically props for block image loading"
**Is your feature request related to a problem? If so, Please describe.**

I want to use webview to show a site with no image

**Describe the solutions you came up with**

**Additional context**

[2019-06-06 08:22] MasahiroMorita opened #626 "Undefined symboll: RCTUnsafeExecuteOnMainQueueSync [iOS only]"
Does anyone face this linking error?

[code]

**Environment:**
 - OS: MacOS 10.14.5
 - react-native version: 0.59.8
 - react-native-webview version: 5.11.0

[2019-06-06 08:31] MrJYJ opened #627 "When I run : rect-native run-android ， FAILURE: Build failed with an exception."
When I run :   rect-native run-android

:react-native-webview:reactNativeAndroidRoot C:\Users\Administrator\Desktop\reactNative\supervisor\node_modules\react-native\android

C:\Users\Administrator\Desktop\reactNative\supervisor\node_modules\react-native-webview\android\src\main\java\com\reactnativecommunity\webview\RNCWebViewManager.java:452: 错误: 无法将枚举 ScrollEventType中的方法 getJSEventName应用到给定类型;

[2019-06-06 08:40] dhrupalG commented on #356
issue the code

[2019-06-06 10:18] ShrihariBhat commented on #627
same error cant able build

[2019-06-06 10:24] colorgmi commented on #137
source ={{ uri:     `${RNFetchBlob.fs.dirs.DocumentDir}/xxx/index.html`  }}
It works.

[2019-06-06 10:26] ShrihariBhat opened #628 "rect-native run-android build fail with exception"
Note: /home/shrihari/ezrealtor/node_modules/react-native-webview/android/src/main/java/com/reactnativecommunity/webview/RNCWebViewManager.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
Note: /home/shrihari/ezrealtor/node_modules/react-native-webview/android/src/main/java/com/reactnativecommunity/webview/RNCWebViewManager.java uses unchecked or unsafe

[2019-06-06 13:35] MayoudP commented on #628
Same here !

[2019-06-06 14:46] subhendukundu opened #629 "[Questions]: How can get cookie which is set in webview in react-native?"
I am trying to retrieve user entered zipcode which is added to the cookie in the webview. How do I get it? I have tried react-native-cookies which is getting an empty object not the user entered zipcode.
[code]
I am trying out in iOS simulator. I see https://github.com/react-native-community/react-native-webview/pull/175 as merged but cant figure out how to use it.

[2019-06-06 16:42] donnellycolton commented on #624
This exact same error appears to happen when redirecting to another page (i.e. opening another url via a button in the source url). Not sure if related.

[2019-06-07 06:57] SeokHoBu commented on #72
I write version 6.0.2 and the same issue arises. Is it fixed? @Titozzz

[2019-06-07 08:55] SeokHoBu commented on #81
`if (self.window != nil) {`
into
`if (self.window != nil && _webView == nil) {`

It works by changing it like this.

[2019-06-07 14:54] maxammann commented on #383
@Titozzz in which way is it possible to support this on the react native side? Is there a flag you can set in the webkit webview to allow loading fonts from the documents directory?

I'm thinking of doing a PR to load fonts, but I'm not really sure where the bug here is.

[2019-06-08 08:22] gaykov commented on #541
I was having a similar problem when WebView was trying to open `plaidlink://*` and I wasn't able to control it. And I noticed that if you add the 3rd party protocol to the `originWhitelist`, you'd be able to control it inside the `onShouldStartLoadWithRequest` function:

Something like:

[code]

[2019-06-08 09:35] orhanveli commented on #22
Auto height WebView example can be useful

https://gist.github.com/epeli/10c77c1710dd137a1335#gistcomment-2938357

[2019-06-09 16:20] osvald0 commented on #628
Delete the build folder and try again.

[2019-06-10 07:23] paranoiagu commented on #623
i have the same problem.

[2019-06-10 14:05] linnett commented on #628
Yep, same error on `5.11.0`. Deleted build folder and still not working

[2019-06-11 05:38] dyphen12 opened #630 "WebView does not load local HTML file"
I'm attempting to load a local HTML file to webview and sometimes does not find the file and sometimes does not have access.

This is the error ERR_ACCESS_DENIED
or ERR_FILE_NOT_FOUND

This is the code of the app.js if it works:

`/**
 * Sample React Native App
 * https://github.com/facebook/react-native
 *
 * @format
 * @flow
 */

import React, {Component} from 'react';

import { StyleSheet, Text

[2019-06-11 05:40] #613 closed

[2019-06-11 10:11] Titozzz commented on #628
@linnett did you delete android/build or android/app/build?

I just ran:
[code]

Closing this as there is no clear reproduction and is probably related to build cache and not the library. If you provide a reproduction we can reopen and look into it.

[2019-06-11 10:11] #628 closed

[2019-06-11 10:29] linnett commented on #628
@Titozzz Sure, that works for new projects. But what about upgrading the existing package? I'm upgrading from `5.2.1` to `5.11.0` and despite deleting the build folders, I'm still getting the following error.

[2019-06-11 13:25] thomasarogers opened #631 "Android Cookies not being deleted"
**Bug description:**
I am implementing an OAuth2 flow for users and upon re-loading the react-native-webview with the login url after logging out on iOS devices the authorization form is displayed as it should be however incorrectly on Android devices users are taken straight into the application as if already logged in as if the Auth cookie is present. I have all the props I can see as relevant s

[2019-06-11 13:58] rochapablo commented on #580
```"react-native-webview": "^5.11.0",``` still getting the error. Now I'm going test with `5.9.1`.

... and yes, I have add

[code]

[UPDATE]

`5.9.1` still giving the error

[code]

[2019-06-11 17:47] memelie commented on #295
I am facing the same issue! @jamonholmgren any help?

[2019-06-11 18:09] JeremyBradshaw7 commented on #627
I got this too with 5.11.0 and 5.10.0 but 5.9.0 didn't seem to have the same issue.

[2019-06-11 19:09] siddhantbenadikar commented on #135
Would this fix opening of iPhoneURLScheme_Reference/MapLinks? For example, right now `http://maps.apple.com/?q=<query>` does not open in apple maps.

[2019-06-11 19:48] siddhantbenadikar opened #632 "Apple URL schemes do not work as expected on ios"
**Bug description:**
[Apple URL schemes](https://developer.apple.com/library/archive/featuredarticles/iPhoneURLScheme_Reference/Introduction/Introduction.html#//apple_ref/doc/uid/TP40007899-CH1-SW1) do not work as expected when opening urls in the webview.

**To Reproduce:**
Set the uri of the Webview to be `http://maps.apple.com/?q=United+States`

**Expected behavior:**
It should open Apple Maps

[2019-06-11 20:15] jpodpro commented on #631
YES! i have been fighting with this for week and was just about to finally file a but report when this came up. When i logout of my app (which clears the cookies) and then terminate, reopening shows that the cookies are still there. I tried setting the value too and came up with the same result.

Oddly enough, if i inspect the webview after logout (doing nothing but opening and closing the inspect

[2019-06-12 03:07] 2linziyi2 commented on #593
same

[2019-06-12 05:58] rshaikhcornerstone commented on #574
I am also getting same problem. App is opening file manager for fetching audio files. It should open audio recorder. Please reply this soon.

[2019-06-12 08:17] JeremyBradshaw7 opened #633 "FontAwesome support"
The old react-native WebView had FontAwesome support baked in (on iOS at least), this repo doesn't seem to. This CSS rule used to overlay my videos with a nice FontAwesome play icon, but now I've moved to this WebView it doesn't:

[code]

It would be nice to get it back.

[2019-06-12 09:09] 2linziyi2 commented on #593
due to uglily

[2019-06-12 09:45] wellcode commented on #547
Same issues

[2019-06-12 09:52] wellcode opened #634 "onLoad is not called after download a file"
**Bug description:**

When download a file, onLoadStart is called, but onLoad is not called

**Environment:**
 - OS: Android
 - react-native version: 0.57.8
 - react-native-webview version: ^5.8.1

[2019-06-12 12:04] mackbrowne commented on #195
I'm having the same issues.  I've had mild success with the position behavior but will require manual control of 'height offsets' to make sure the keyboard is never covering a text input

[2019-06-12 16:08] CuppaLabs opened #635 "Jquery ajax in webview javascript file not working"
**Bug description:**

When i try to make a jquery ajax call inside a javascript file in the webview html page, it throw an error as below

<img width="318" alt="Screenshot 2019-06-12 at 9 38 07 PM" src="https://user-images.githubusercontent.com/3957664/59367771-6e61ff80-8d5a-11e9-9040-75c0a9a75177.png">

**To Reproduce:**

**Expected behavior:**

**Screenshots/Videos:**

**Environment:**
 - OS:
 -

[2019-06-12 21:15] tmaly1980 commented on #629
Any luck with this? I'm noticing that I can't delete cookies on iOS, even though sharedCookiesEnabled is set.

[2019-06-12 21:22] emeraldsanto commented on #623
After a little more digging, I have found a solution (or at least a workaround ?). Turns out there is this `hardwareAccelerationDisabledAndroid` prop which is a `boolean`. I tried setting it to `true` and it seems to have fixed the problem for now!

[code]

[2019-06-12 21:22] #623 closed

[2019-06-13 00:00] gwmccull commented on #508
I was able to confirm a workaround. I have two screens that use the camera: one is a React Native screen that uses `react-native-image-picker` and the other is a webview where you can take/upload a pic.
1. If the user goes to the webview first, they cannot take or pick a photo.
2. if the user goes to the React Native screen, accesses the image picker (which asks about permissions), and then goes t

[2019-06-13 00:52] gwmccull commented on #508
I confirmed that you can use a library like `react-native-permissions` to grant the necessary permissions when the webview is loaded. I'm just asking when the webview is mounted but I guess you could get tricky and watch the webview's URL to pop the permission dialog when the url is set to the page where you access the camera

[2019-06-13 01:28] kirill578 commented on #508
I'd recommend to use patch package to patch the file selection intent
creation and call the native permission API.

On Wed, Jun 12, 2019, 7:52 PM Garrett McCullough <notifications@github.com>
wrote:

[2019-06-13 10:03] BettyJJ commented on #528
Seems like cookie used to be persisted. Maybe this bug appeared just recently?
https://github.com/react-native-community/react-native-webview/issues/207#issuecomment-498321766

[2019-06-13 14:16] ishwartolanicts opened #636 "Telephone numbers are not autodetected in WebView"
**Bug description:**

If we try to access webview by **import { WebView } from 'react-native';**  can able to auto detect telephone number .

But When we **import {WebView} from 'react-native-webview';** like this its no longer to access telephone numbers detection .

**To Reproduce:**

**Expected behavior:**

It should auto detect telephone numbers .

**Screenshots/Videos:**

**Environment:**
 -

[2019-06-13 15:29] SMJ93 opened #637 "onMessage prop overrides / breaks iframe "message" event listener"
**Bug description:**

`onMessage` prevents the iframe "message" event listener from firing. If we comment out the `onMessage` prop the iframe event listener fires.

**To Reproduce:**

_App_

[code]

[code]

_iframe_

[code]

**Expected behavior:**

Both `onMessage` and the iframe message event fire

[2019-06-13 15:55] SMJ93 commented on #637
Diving in the react-native code, it looks like this event is overridden with by `onMessage`:

[code]

https://github.com/facebook/react-native/blob/0.59-stable/React/Views/RCTWebView.m#L329.

Might be worth adding to the docs?

It looks like the only solution

[2019-06-13 16:24] SMJ93 commented on #637
Fixed! Using `window.originalPostMessage` to post the message solved the problem.

[2019-06-13 16:24] #637 closed

[2019-06-13 19:29] StevenPurn commented on #630
I have also been having problems getting android to load local files (images & html in my case) in the webview. I am always getting the same error, ERR_ACCESS_DENIED. I've confirmed that the file paths are correct and the files exist by rendering the image in an <Image /> component. I've also confirmed it isn't a permissions issue as I've seen suggested in some other discussions. Everything seems

[2019-06-14 01:16] gorvinsky commented on #486
**I believe that thirdPartyCookiesEnabled is not enabled by default on iOS.**

I've been building a web app using React and while testing on Safari browser on Mac, I will face cross origin (CORS) issues when fetching an API from another domain say example.com. I can resolve this by unchecking "Prevent cross-site tracking" setting in Safari > Preferences... > Privacy. Unchecking it is essentially e

[2019-06-14 05:55] AndreyPatseiko commented on #593
The same problem!!!! If I run "debug Js remotely" - I getting messages from site, but if I disabled this option, don't getting events!

[2019-06-14 06:41] laurent22 commented on #312
Please don't remove UIWebView just yet as it is needed to go around this bug: https://github.com/react-native-community/react-native-webview/issues/376

In my case, with `useWebKit={false}` and `scalesPageToFit={false}`, the view looks as expected:

<img width="164" alt="Capture d’écran 2019-06-14 à 07 35 02" src="https://user-images.githubusercontent.com/1285584/59488496-9d21c800-8e77-11e9-8511

[2019-06-14 06:45] laurent22 commented on #376
@jamonholmgren, we also have this problem in [Joplin](https://github.com/laurent22/joplin). I don't have a minimal repro to provide unfortunately, as I think it might be a combination of the CSS applied to the body and text content of the view.

For us it happens consistently in Joplin: if you try to build the app in iOS, and add `useWebKit={true}` [here](https://github.com/laurent22/joplin/blob/7

[2019-06-14 06:51] hedikasmanto commented on #312
@laurent22

I have solved my problem about using this component, and here are how to solve.. Hope them works on your case

1. Please make sure your cookie have right domain and path. I have found RN WebView on Android can't get cookie if domain is null. On my case.. I have to inject "Set-Cookie" on my backend script for same cookie name with no domain (null) and defined domain for make web, ios, a

[2019-06-14 06:59] AndreyPatseiko commented on #593
I can't use your component with this bug. I stay use default RN webView.
RN implementation :

    <WebView
            injectedJavaScript={patchPostMessageJsCode}  <-- FIX for IOS
            source={{ uri: url }}
            onMessage={({nativeEvent}) =>  {
                       console.log('messageObj ',
                          decodeURIComponent(decodeURIComponent(nativeEvent.data)));  <-- M

[2019-06-14 08:14] laurent22 commented on #312
Thank you @hedikasmanto, this has indeed fixed the issue, at least on iOS. I will check on Android too.

[2019-06-14 08:23] Iamhere commented on #341
In my case I replaced `injectedJavaScript` prop with injectJavaScript() method and it fixed the error.

[2019-06-14 10:13] RBrNx commented on #428
Currently having the same issue with Expo SDK 33 as they have now added support for this package. Did anyone find a proper solution for Dev + Prod?

[2019-06-14 11:34] JesperBry commented on #295
I'm facing the same issue, any update on this?
I've noticed that files represented as a blob, don't get a path and the app crashes. However it works with image-files represented as blobs, but not with pdf's.

[2019-06-14 12:57] kamiky commented on #593
try adding originWhitelist={['*']} to your <WebView>. i had the same problem few days ago.

[2019-06-14 15:01] XingXiaoWu opened #639 "Cannot refresh Echart with this webview"
I can't do a refresh operation on Echart with react-native-webview, but I can refresh in the react-native webview.

## Version:
react-native:0.59.8
react-native-webview:5.10.0

## platform:
iOS

I wrote two files, and I can run these two files to reproduce the bug.

## In the JS.zip/Echart/Echart.js, change the webview from react-native or react-native-webview can reproduce the bug

[JS.zip](https

[2019-06-14 21:21] swansontec opened #640 "`window.history` API does not generate events on iOS"
# Problem

Web pages can use the `window.history` API to manipulate the back button & browser location without reloading the page. This is a popular technique in modern apps, and should work correctly in the `WebView` component.

On iOS however, navigating this way doesn't generate any events. This means there is no way for the host application to update the document URL or back button behavior, l

[2019-06-14 22:43] ljuborados commented on #326
Had the same issue, managed to get around it by using base64 fonts, not really the same as the bundled assets but it works!

[2019-06-14 23:56] swansontec commented on #640
## Possible solution 1: Match Android behavior

If iOS were to generate the appropriate `onNavigationStateChange` events for non-navigation history changes, this would allow existing apps to keep working.

The current way to implement a smart back button is to capture a `canGoBack` flag using the `onNavigationStateChange` callback:

[code]

Now, the back button handler can use `this.canGoBack` to

[2019-06-15 00:51] tyleralves opened #642 "[Android] `onLoadProgress` doesn't have url property, and is called a few extra times"
**Bug description:**
On Android, `onLoadProgress` is missing the `url` property.
Furthermore, when `url` is added, `onLoadProgress` is fired a few times with the current page url and `progress` up to 1 then is fired again with initial progress and the new url (see screenshots).

**To Reproduce:**
Spin up a sample react-native app, using any source uri.

**Expected behavior:**
1. `onLoadProgress` s

[2019-06-15 05:24] chinavane commented on #466
I got the same blank view as well:
"react-native": "0.59.5",
 "react-native-webview": "5.12.0",

[2019-06-15 05:25] ru88s opened #644 "I can not download the image in the page with Android webview."
I can not download the image in the page with Android webview.
I want you to be able to save by long tap.
I am using Expo SDK33.

[2019-06-15 05:32] chinavane commented on #466
I get the answer,should set webview width and height
`<WebView
          style = {{ width: Dimensions.get('window').width, height: Dimensions.get('window').height }}
          useWebKit
          allowUniversalAccessFromFileURLs
          mixedContentMode = "always"
          originWhitelist  = {['*']}
          source           = {{ uri: 'http://www.baidu.com' }}
        />`

[2019-06-15 13:51] SnaiNeR commented on #630
set `allowFileAccess={true}`
[(https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#allowfileaccess)]

[2019-06-15 22:20] SnaiNeR commented on #549
#428 same thing

[2019-06-16 01:07] woodpav commented on #563
To solve this issue make your `LoadingView` and `ErrorView` have `StyleSheet.absoluteFillObject`.

This is what the code looks like that renders the `WebView` on both iOS and Android:

    <View style={styles.container}>
      {webView}
      {otherView}
    </View>

The reason they do this is because `webView` handles the loading and error callbacks and then the `otherView` is generated based on

[2019-06-16 12:21] Dror-Bar commented on #280
@smathson
When I try to view the link you submitted [https://www.irs.gov/pub/irs-pdf/f1040.pdf](https://www.irs.gov/pub/irs-pdf/f1040.pdf) it tried to download it without showing the content. Is there a way to view it instead?

[2019-06-16 12:25] Dror-Bar commented on #417
@Titozzz

From this [comment](https://github.com/react-native-community/react-native-webview/issues/280#issuecomment-458663977). Is there a miscommunication here?

[2019-06-16 18:46] mhingston opened #645 "serviceWorker API not available?"
**Bug description:**
navigator.serviceWorker API unavailable within webview. User agent reported by the webview: Mozilla/5.0 (Linux; Android 9; ONEPLUS A3010 Build/PQ2A.190305.002; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/72.0.3626.121 Mobile Safari/537.36

**To Reproduce:**
[code]
**Expected behavior:**
navigator.serviceWorker API should be available from [Android Webview 40]

[2019-06-17 08:04] poltak opened #647 "Display custom context menu entries for text selection"
**Is your feature request related to a problem? If so, Please describe.**

I'd like to be able to run my own code for the text I select on different webpages within the webview via the popup context menu. Currently the possible options there seems to be limited to whatever the default system options are.

**Describe the solutions you came up with**

Solutions would be to either:
- enable adding of

[2019-06-17 08:31] Embraser01 commented on #575
Hey! Disabling hardware acceleration seems to fix it but embedded videos doesn't work anymore 😢

The app also uses RNN so, I'll try disabling animations and see if it work...

[2019-06-17 10:32] Embraser01 commented on #623
Related to #575

[2019-06-17 10:57] Embraser01 commented on #575
So disabling the animations in `react-native-navigation` seems to fix the issue. Thanks @danielang!

I used this in order to fix the crash (and keep animations if supported):
[code]

I don't know if it works in Android Q (API 29) so maybe a `DeviceInfo.getAPILevel() > 28` would be better

[2019-06-17 11:22] babeone opened #648 "sensorDisabled with HTML"
**Bug description:**
window.deviceOrientation it's not supported with the html object in the source:
`<WebView
           originWhitelist={["*"]}
           scrollEnabled={false}
           automaticallyAdjustContentInsets={false}
           source={{ html: pureHtml }}
           style={styles.scene}
           onMessage={m => this.onMessage(m)}`

The HTML  file have all the js and css inside, i'm

[2019-06-18 00:10] swansontec commented on #640
Duplicate of #24.

[2019-06-18 00:10] #640 closed

[2019-06-18 00:54] swansontec commented on #24
I actually submitted a pull request, #641, to fix this in the WebView itself. The pull request doesn't interfere with the `onMessage` mechanism, since I was able to hook the event in at a lower level.

I closed the pull request because it didn't look like it would work, but perhaps the `window.addEventListener('popstate', ...)` bit is the ticket I need to success.

I am dedicated to getting a prop

[2019-06-18 02:51] gorvinsky commented on #486
So I was able to solve my own issue by modifying some of the files in **"node_modules/react-native-webview"**. Basically I created a new method called **"setCustomCookie"** to set the third party cookie or any cookie of your choice. Below are the changes made for **version 5.12.0** as well as a sample code to use the method at the bottom.

**index.d.ts**
[code]

**ios/RNCWKWebView.h**
[code]

**io

[2019-06-18 07:18] ilotte99 opened #650 "Error code always show -2"
Hello,  we are trying to implement the static html pages based on the error on the webview and show the error codes. However we found that the error code always give -2 although the error is different, but the description is correct. Is there any way to get the more exact error code onError method in this webview?

![image](https://user-images.githubusercontent.com/41051836/59660372-8ad6bf80-91d2-

[2019-06-18 10:30] linnett commented on #628
Is anyone going to acknowledge this?

[2019-06-18 10:43] linnett opened #651 "Android: Upgrade from 5.2.1 to 5.12.0 build error"
**Bug description:**
When upgrading this package from `5.2.1` to `5.12.0` by using `yarn upgrade react-native-webview@5.12.0`, iOS works fine but Android has build errors. These are the errors:

Note: <EDITED-PATH>/node_modules/react-native-webview/android/src/main/java/com/reactnativecommunity/webview/RNCWebViewManager.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecati

[2019-06-18 11:02] rokebrand commented on #407
If anyone else comes across this with error -1202, my problem was my antivirus was issuing invalid certificates to the simulator, open safari and surf to the website, if it has an issue, view certificate, if it says it's not trusted and you can see the certificate is by your antivirus, turn your antivirus off, hope this helps someone out there
![image_2019_06_18T10_47_36_947Z](https://user-images.

[2019-06-18 18:32] praveenkumarc86 commented on #360
Same issue iOS 12+

[2019-06-18 22:10] ddenisen commented on #573
Dealing with the same issue here. The problem is that Android dictates that _if_ your app declares the "CAMERA" permission in its manifest, _then_ you must explicitly request camera permission from the user before using the IMAGE_CAPTURE intent, which the web view does. See more details [here](https://stackoverflow.com/questions/32789027/android-m-camera-intent-permission-bug) and [here](https://d

[2019-06-19 06:53] orzhtml opened #653 "androld kotlin-stdlib-1.3.11.jar"
**Bug description:**

Warning:Methods with invalid locals information:
  java.lang.Object kotlin.sequences.SequencesKt__SequencesKt$ifEmpty$1.invokeSuspend(java.lang.Object)
  Attempt to read local this but no local information was associated with the value being read.
Warning:Methods with invalid locals information:
  java.lang.Object kotlin.collections.SlidingWindowKt$windowedIterator$1.invokeSu

[2019-06-19 07:14] #653 closed

[2019-06-19 08:10] zmangola commented on #627
upgrade react-native to 0.57.8

[2019-06-19 13:19] femiveys opened #654 "Add support for AllowFileAccessFromFileURLs (Android)"
There is support for [allowUniversalAccessFromFileURLs](https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#allowUniversalAccessFromFileURLs), but not for allowFileAccessFromFileURLs.

Opening a local file (file://) works fine on iOS, but not in Android. On Android it is needed to set this flag. See [Android API](https://developer.android.com/reference/andr

[2019-06-19 13:31] femiveys commented on #654
@all-contributors please add @femiveys for code

[2019-06-19 15:52] femiveys opened #656 "Unable to load local file on Android"
When trying to open a local webpage from tyhe local file system (using `file://`) it works on iOS, but on Android we get an error:

[code]

This is my code:

[code]
I believe this has something to do with AllowFileAccessFromFileURLs but I can't get it to work.
Should any other permission be set?

[2019-06-19 21:31] laurent22 commented on #312
Another reason to keep UIWebView is that it is able to load local images on both iOS and Android, while WebKit cannot on iOS (but it can in Android).

For example, this code works fine in UIWebView:

	const source = {
		html: '<img src="./image.jpg"/>',
		baseUrl: 'file://' + documentDir + '/',
	};

	return <WebView
		useWebKit={false}
		source={source}
		originWhitelist={['file://*', './*', 'http

[2019-06-19 22:29] d-vincent commented on #280
I am able to properly download files from webviews, but I would like for them to automatically open once they have finished downloading. Could someone point me in the right direction for accomplishing this?

[2019-06-19 22:56] gasolin commented on #22
@jamonholmgren as above comment, the issue is only happening in Android, I believe this is a bug

[2019-06-20 02:06] ilotte99 commented on #593
I already use window.ReactNativeWebView.postMessage and add originWhitelist={['*']}  but still have same issue

[2019-06-20 04:52] colorgmi commented on #628
[code]
I don't exactly understand what's going on, but above code make it away.

[2019-06-20 07:39] tamurayk commented on #628
I had the same problem.

In my case it was solved in the following.

add `googlePlayServicesVersion = '16.+'` In `android/build.gradle`

[code]

See: https://github.com/facebook/react-native/issues/25293#issuecomment-503157853

[2019-06-20 08:07] CGTKanika commented on #310
How are we to add this

[2019-06-20 09:15] mayursarode4 commented on #391
Hi,
I'm getting error as **"Uncaught TypeError: Cannot read property 'postMessage' of undefined"**
when calling from url where the response is inside php as,
<html>
      <head></head>
      <body>
        <script>
                      window.ReactNativeWebView.postMessage("Hello!")
         </script>
      </body>
      </html>

in RN:
return ( <View style = {{flex: 1}} >
      <WebView source =

[2019-06-20 09:15] mayursarode4 commented on #391
Hi,
I'm getting error as **"Uncaught TypeError: Cannot read property 'postMessage' of undefined"**
when calling from url where the response is inside php as,
<html>
      <head></head>
      <body>
        <script>
                      window.ReactNativeWebView.postMessage("Hello!")
         </script>
      </body>
      </html>

in RN:
return ( <View style = {{flex: 1}} >
      <WebView source =

[2019-06-20 09:27] mayursarode4 opened #657 "Uncaught TypeError: Cannot read property 'postMessage' of undefined at test.php:8"
Hi,
I'm getting error as **"Uncaught TypeError: Cannot read property 'postMessage' of undefined"**
when calling from url where the response is inside **php** as,
<html>
      <head></head>
      <body>
        <script>
                      window.ReactNativeWebView.postMessage("Hello!");
         </script>
      </body>
      </html>

**in RN:**
return ( <View style = {{flex: 1}} >
      <WebView

[2019-06-20 10:52] dsemenov commented on #318
react-native version 0.59.9
react-native-webview version 5.12.0

@CubeSugar Thank you for the solution! But for me it always starts with the white background before becoming transparent, resulting in an unpleasant flickering. Especially annoying on dark backgrounds. Is there anything I can do to avoid it?

[code]

![Jun-20-2019 12-41-13](https://user-images.githubusercontent.com/27815/59843731-6eb

[2019-06-20 12:33] Titozzz commented on #654
I can't find the Pull request related to this?

[2019-06-20 12:36] OvsTim opened #658 "onShouldStartLoadWithRequest and onMessage didn't work together in iOS"
Hello, i try to implement autoheight WebView with custom link handling. I forked old libriary and replaced old WebView with this WebView. My repo is here [https://github.com/OvsTim/react-native-webview-autoheight](url) and it's folly worked in Android.  Example code :

    import AutoHeightWebView from 'react-native-webview-autoheight';
    ...some views here
    <AutoHeightWebView
    originWhite

[2019-06-20 13:16] femiveys commented on #654
I tried to push it but I don't have permission

Op do 20 jun. 2019 om 14:33 schreef Thibault Malbranche <
notifications@github.com>: